h2, h3 {
    font-weight: normal;
    line-height: 1.11em;
    padding: 20px;
}

h2 {
    font-size: 22px;
    text-transform: none;
    font-weight: bold;
    color: #3F5E7D;
}

img {
    padding: 0px;
    margin: 0px;
}

p {
    padding: 10px 20px;
    line-height: 1.4;
    color: #444;
    font-size: 16px;
    text-align: justify;
}

p span {
    color: #3AA7AC;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 20px 0 0 50px;
    line-height: 1.4;
    font-size: 16px;

    display: inline-block;
}

ul li span {
    font-size: 16px;
    color: #333;
    padding-bottom: 15px;
    display: block;
}

.pojemnik header {
    background: url("../images/0_7810ef_394c3ccb_orig.jpg") top left no-repeat;
}

.gora {
    width: 595px;
    height: 437px;
    float: right;
    z-index: 2;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.4);
}

.gora p {
    color: #444;
    font-size: 15px;
    line-height: 1.5;
    padding: 20px 20px 10px 100px;
    font-weight: normal;
    text-align: justify;
}

.gora p.podpis {
    padding-top: 0;
    padding-bottom: 50px
}

.gora a {
    color: #0181A8;
    font-weight: bold;
}

.gora h3.naglowek {
    color: #375A84;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 10px 0px;
    line-height: 37px;
}

.imgtest {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 20px;
}
.imgtest2 {
    display: inline-block;
    width: 110%;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 20px;
}

.txttest {
    display: inline-block;
    width: 55%;
    margin-left: 5%;
    vertical-align: top;
    font-size: 16px;
}

.txttest strong {
    padding-top: 20px;
    display: block;
}

.zawartosc2 > img {
    display: inline-block;
    width: 35%
}

.zawartosc2 p.z2 {
    display: inline-block;
    width: 62%;
    text-align: justify;
    vertical-align: top;
}

.zawartosc2 p img {
    margin-top: 30px;
    display: block;
}

h3.kup, h3.kup2, .orderbt2 {
    background: #abe342;
    background: -moz-linear-gradient(top, #abe342 0%, #84b631 100%);
    background: -webkit-linear-gradient(top, #abe342 0%, #84b631 100%);
    background: linear-gradient(to bottom, #abe342 0%, #84b631 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#abe342', endColorstr='#84b631', GradientType=0);
    border-bottom: solid 5px #046309;
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
    text-shadow: 1px 1px 5px #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    position: relative;
    margin: 50px auto;
    width: 96%;
}

.orderbt2 {
    border-top: none;
    border-left: none;
    border-right: none;
}

h3.kup img {
    position: absolute;
    left: -10px;
    top: -40px;
}

h3.kup a, h3.kup2 a {
    color: #fff;
    text-decoration: none;

}

h3.kup a span, h3.kup2 a span {
    display: block;
    text-transform: uppercase;
    font-size: 0.9em;
}

h3.kup2 {
    width: 30%;
    display: inline-block;
}

h3.kup2 img {
    position: absolute;
    right: -50px;
    top: -23px;
}

h3.cta {
    color: #79C7DE;
    font-size: 21px;
    display: inline-block;
    width: 61%;
    font-weight: bold;
}

h3.cta span {
    font-size: 19.3px;
    display: block;
}

h3.cta2 {
    padding-top: 20px;
    vertical-align: middle;
}

.ziola {
    width: 39%;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
}

.ziolatxt {
    width: 60%;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    font-size: 15px;
}

.paczka {
    width: 15%;
    display: inline-block;
    vertical-align: top;
}

.paczkatxt {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

.kochankowie {
    width: 32%;
    display: inline-block;
    vertical-align: top;
}

.cta.c2 {
    width: 100%;
}

.borderbotom {
    border-bottom: solid 3px #ccc;
}

.borderbotom div.zawartosc {
    margin-bottom: 0;
}

#pedido {
    background: url("../images/bg_form.jpg") top center /cover;
    width: 100%;
}

#pedido h4 {
    font-size: 3.4em !important;
}

.bottle {
    max-width: 404px !important;
}

.lang {
    position: absolute;
    top: 29px;
    left: 50%;
    margin-left: 294px;
    width: 195px;
}

.lang .lang_bg {
    text-align: right;
}

.lang a {
    background: #000;
    color: #FFF;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #000;
    border-bottom: 0;
}

.lang p {
    font-size: 11px;
    line-height: 23px;
    color: #000;
    float: left;
    padding-top: 15px;
    padding-right: 5px;
    text-transform: uppercase;
}

.lang dl {
    position: absolute;
    right: 0px;
    top: 20px;
    z-index: 1000;
    width: 225px;
    background: #000;
}

.lang dl dd {
    float: left;
}

.lang dl dd a {
    display: block;
    padding: 4px 3px;
    background: none;
    margin: 0;
}

.lang dl dd a img {
    border: 1px solid #FFF;
}

.lang dl dd a:hover img {
    border: 1px solid #999;
}

#fr-form .entry .city .label {
    display: none
}

#fr-form li.text.none, #fr-form select.none, #fr-form ul li.select.w100.none {
    display: none;
    -webkit-appearance: none
}

#fr-form ul li:nth-child(2), #fr-form ul li:nth-child(5), #fr-form ul li:nth-child(7) {
    width: 48.5%;
    float: left;
    margin-top: 0;
}

#fr-form ul li:nth-child(3), #fr-form ul li:nth-child(6), #fr-form ul li:nth-child(8) {
    width: 48.5%;
    float: right;
    margin-top: 0;
    z-index: 10;
}

#fr-form .inline {
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    background: #fff;
    width: 100%;
    margin: 7px 0
}

#footer * {
    color: #d2d2d2;
    padding: 0;
}

#footer .col1 {
    float: right;
    text-align: right;
}

#footer .col2 {
    float: left;
}

#footer ul.menu {
    display: block;
    padding: 0;
}

#footer ul.menu li {
    display: inline-block;
}

#footer ul.menu a {
    text-decoration: none;
}

.iform_data {
    height: 250px;
}

@media screen and (max-width: 480px) {
    .mobile-hide{
        display:none
    }
    h3.kup2 {
        width: 60%!important;
        margin-left: 20% !important;

    }

    .gora p {
        padding: 10px;
        text-align: left
    }

    .gora {
        background-color: rgba(255, 255, 255, 0.6);
    }

    div.zawartosc.mobile_zaw {
        padding: 0
    }

    p.paczkatxt {
        width: 100%;
        text-align: left
    }

    p {
        text-align: left
    }

    .txttest {
        display: inline-block;
        width: 90%;
        vertical-align: top;
        font-size: 16px;
        text-align: left
    }
}

@media (min-width: 1024px) {
    .iform_data {
        height: 250px;
        padding-left: 150px
    }

}
