﻿

body {

    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    position: relative;
    font-size: 10px;
    line-height: 1;
    text-align: center;

}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    clear: both;
    height: 100%;
}

header, footer {
    height: 100%;
}
.header-head { font-size: 2em; }
ul li {
    list-style: none;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
}



input, button, .button {
    border: none;
    background: transparent;
}


    input, button:focus, .button {
        outline: none;
    }


        button, input[type=submit], input[type=button], input[type=search], .button {
            cursor: pointer;
        }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}




p {
    text-transform: none;
    font-size: 1.12em;
}

article {
    clear: both;
}

/*RELATIVE*/

.main_container, nav, li, form, .row, section {
    position: relative;
}
.prices {
    font-size: 20px;
    line-height: 1.5;
    text-transform: none;
    font-weight: normal;
    text-align: center;
    color: #111;
    margin: 0 0 20px;
}


/*CONTAINERS*/

.main_container {
    max-width: 320px;
    margin: auto;
}
.main_container h3{
    line-height: 1.2;
}
.col_2, .col_3, .col_4 {
    display: inline-block;
    vertical-align: top;
}

.col_2 {
    width: 49%;
}

.col_3 {
    width: 32%;
}

.col_4 {
    width: 24%;
}

.row {
    padding: 0;
    display: inline-block;
    width: 100%;
}

/*FLOATS*/

.left_float {
    float: left;
}

.right_float {
    float: right;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.pull_bottom {
    vertical-align: bottom;
}

.left_align {
    text-align: left;
}



input::-webkit-input-placeholder {
    color: #b3514d;
}

input::-moz-placeholder {
    color: #b3514d;
}

/* Firefox 19+ */
input:-moz-placeholder {
    color: #b3514d;
}

/* Firefox 18- */
input:-ms-input-placeholder {
    color: #b3514d;
}


/*timer*/

.clock_cols {
    background: #6b201f;
    padding: 2px 5px;
    padding-top: 0;
    margin: 4px;
    font-size: 3em;
    color: white;
}

    .clock_cols:nth-child(1) {
        padding-left: 13px;
    }

    .clock_cols:nth-child(3) {
        padding-right: 13px;
    }


.timer_delimiter:after {
    content: ':';
    position: absolute;
    left: 87px;
    top: -1px;
    padding: 5px;
    padding-top: 0;
    background: #6b201f;
    color: #ffcc33;
}

.timer_delimiter:nth-child(2):after {
    left: 136px;
}

/*HEADER*/

header {
    background: rgb(254,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,255,255,1) 16%, rgba(254,255,255,1) 62%, rgba(74,218,212,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(254,255,255,1) 16%,rgba(254,255,255,1) 62%,rgba(74,218,212,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(254,255,255,1) 16%,rgba(254,255,255,1) 62%,rgba(74,218,212,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#4adad4',GradientType=0 );
}

.header_wrapper {
    background: url('../images/header-bg.jpg') no-repeat top center;
    padding: 15px 0;
}

.warning {
    color: white;
    font-size: 2.6em;
}

.warning_ph {
    color: #ffcc33;
    line-height: 15px;
}

.logo {
    position: absolute;
    left: 0;
    top: -15px;
    z-index: 111;
        width: 31%;
}

#slider {
    position: relative;
}

    #slider img {
        width: 100%;
    }

.on_slider {
    position: absolute;
    top: 0;
    width: 100%;
}

h1 {
    font-size: 2.6em;
    color: black;
    padding-left: 30%;
    text-align: right;
    font-weight: 400;
    padding-right: 10px;
}

h2 {
    background: url('../images/back-header.png') no-repeat 84%;
    background-size: 94%;
    color: black;
    text-align: right;
    padding: 35px 30px;
    margin-top: 160px;
    margin-bottom: 30px;
}

    h2 span:nth-child(1) {
        font-size: 3rem;
        font-style: italic;
        text-transform: none;
        font-weight: 400;
    }

    h2 span:nth-child(2) {
        font-size: 3rem;
        color: white;
    }

    h2 span:nth-child(3) {
        font-size: 2rem;
        font-style: italic;
        text-transform: none;
        font-weight: 400;
    }

    h2 span:nth-child(4) {
        color: #ffcc33;
        font-size: 2.2rem;
        text-transform: none;
    }

.header-list {
    padding-left: 50px;
    text-align: left;
}

    .header-list li {
        position: relative;
        font-size: 1.6em;
        font-style: italic;
        margin: 30px 0;
        padding: 3px 20px 3px;
        text-transform: none;
        color: white;
        background: url('../images/header-li1.png') no-repeat;
        background-size: 100% 100%;
        width: 233px;
    }

        .header-list li:before {
            position: absolute;
            content: url('../images/check.png');
            left: -30px;
            top: 50%;
            margin-top: -14px;
        }



.product {
    padding: 80px 0 20px;
    width:130px;
}

.offected {
    color: black;
    padding-bottom: 40px;
}

    .offected p {
        font-size: 1.8em;
        font-style: italic;
        line-height: 32px;
    }

    .offected h3 {
        font-size: 2.8em;
        font-weight: 700;
        padding: 30px 0;
    }

        .offected h3 span {
            color: #d04f45;
        }

.button {
    background: rgb(229,74,62); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(229,74,62,1) 0%, rgba(184,55,44,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(229,74,62,1) 0%,rgba(184,55,44,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(229,74,62,1) 0%,rgba(184,55,44,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e54a3e', endColorstr='#b8372c',GradientType=0 );
    padding: 15px 35px;
    border-radius: 8px;
    color: white;
    font-size: 2.2em;
    font-style: italic;
    text-transform: none;
    font-weight: 600;
    transition: .3s;
    display: block;
    width: 84%;
    margin: auto;
}

    .button:hover {
        background: white;
        color: rgba(184,55,44,1);
    }

.components {
    background: #ffcc33 url('../images/components-bg.jpg') repeat-x top center;
    color: black;
    padding: 55px 0;
}

    .components .col-sm-12 {
        padding: 10px;
        margin: 10px 0;
    }

        .components .col-sm-12:after {
            content: '';
            width: 300px;
            height: 1px;
            background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 10%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 81%, rgba(255,255,255,0.8) 91%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,1) 19%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 81%,rgba(255,255,255,0.8) 91%,rgba(255,255,255,0) 100%);
            background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,1) 19%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 81%,rgba(255,255,255,0.8) 91%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
            position: absolute;
            bottom: -20px;
            left: 5px;
        }

    .components h4, .opinion h4, .customers h4 {
        font-size: 3.6em;
        font-weight: 700;
        padding-bottom: 20px;
    }
.components h4{
    padding-bottom: 0;
}
        .components h4 span {
            color: white;
        }

    .components h5, .customers h5 {
        font-size: 1.8em;
        font-weight: 700;
        padding: 7px;
    }

    .components article p {
        font-size: 1.4em;
    }
.components .img-wrap{
    padding-top: 15px;
}
#last {
    padding: 0px 58px;
    padding-bottom: 30px;
    font-size: 2.4rem;
    line-height: 40px;
}

    #last span:nth-child(1) {
        color: #139d9a;
    }

    #last span:nth-child(2) {
        color: #ec4b3e;
    }

    #last span:nth-child(3) {
        color: white;
    }

.opinion {
    background: #26c8c4;
    padding: 30px 5px;
    color: black;
}

    .opinion p {
        font-size: 1.6em;
        line-height: 38px;
        text-align: left;
        font-style: italic;
        margin: 15px 8px;
    }

    .opinion article p:nth-child(2) {
        color: white;
    }

.customers {
    padding: 50px 0;
}

.age {
    color: #974543;
    font-size: 1.8em;
    padding: 10px;
}

.history {
    text-align: justify;
    line-height: 25px;
    font-size: 1.4em;
    padding: 13px;
}

footer {
    background: url('../images/foot1.png') no-repeat top center, url('../images/foot2.png')repeat-y center;
    padding: 45px 0 20px;
}
footer img{
    margin: 0 0 20px;
}
    footer form {
        margin-top: -95px;
        padding: 0 10px;
    }

        footer form p {
            color: black;
            font-size: 2em;
            line-height: 38px;
        }

            footer form p span {
                font-size: 5rem;
            }

      .pricer{
          position: relative;
          background: #FFCC33;;
      }


form input[type=text], select {
    display: block;
    width: 100%;
    padding: 15px;
    background: white;
    border-radius: 5px;
    margin: 0 0 15px;
    font-size: 1.8em;
    color: #b3514d;
    border: 1px solid #A64C49;
    text-align: left;
    height: 52px;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
select{
    background: url("../images/sel.png")no-repeat center right #fff;

}

select {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

form .button {
    background: rgb(255,208,66); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,208,66,1) 0%, rgba(255,204,51,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,208,66,1) 0%,rgba(255,204,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,208,66,1) 0%,rgba(255,204,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd042', endColorstr='#ffcc33',GradientType=0 );
    color: black;
}
.pricer{
    padding: 10px 0;
    position: relative;
    top: -325px;
}
.new {
    text-transform: none;
    font-size: 2.8em;
    color: black;
    display: block;
    text-align: center;
}
.new i{
    font-style: normal;
    font-size: 40px;
}
.standart {

    color: #D6554C;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    text-transform: none;
}


