
body {
    font-family: 'Lato', serif!important;
    color: #663300;

}

.container-fluid{
    font-family: 'Arial Pogrubiony','Arial Normalny','Arial', serif!important;
    color: #663300;
    font-size:16px;



}

h2{
    font-weight:bold !important;

}

h3{
        font-size:28px;
    font-weight:bold !important;

}


p{
    font-size:18px;
}

.paragraf1 p{
    padding-left:20px;
    padding-bottom:10px;


}
.no_padding{
   padding-right:0px !important;
    padding-left:0px !important;
}

.pom_box{
    font-family: 'Axure Handwriting Regular','Axure Handwriting';
    font-weight:400;
    font-size:24px;
    color:#ff9900;



}

.standard_price{
    font-size:20px;
    color: #ff9900;


}

.aktual_price{
    font-family: 'Arial Pogrubiony', 'Arial Normalny', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #FF0000;

}

.btn-cto {
    color: #ffffff;
    background-color: #E61515;
    border-color: #BA0F0F;
}
.btn:hover{
    color:#fff!important;
}

.btn-cto:hover,
.btn-cto:focus,
.btn-cto:active,
.btn-cto.active,
.open .dropdown-toggle.btn-cto {
    color: #ffffff;
    background-color: #F00849;
    border-color: #BA0F0F;
}

.btn-cto:active,
.btn-cto.active,
.open .dropdown-toggle.btn-cto {
    background-image: none;
}

.btn-cto.disabled,
.btn-cto[disabled],
fieldset[disabled] .btn-cto,
.btn-cto.disabled:hover,
.btn-cto[disabled]:hover,
fieldset[disabled] .btn-cto:hover,
.btn-cto.disabled:focus,
.btn-cto[disabled]:focus,
fieldset[disabled] .btn-cto:focus,
.btn-cto.disabled:active,
.btn-cto[disabled]:active,
fieldset[disabled] .btn-cto:active,
.btn-cto.disabled.active,
.btn-cto[disabled].active,
fieldset[disabled] .btn-cto.active {
    background-color: #E61515;
    border-color: #BA0F0F;
}

.btn-cto .badge {
    color: #E61515;
    background-color: #ffffff;
}
.navbar-right{
    text-transform: uppercase;
}

.h2{
    font-size: 36px!important;
    color: #663300;
}
.circle_block_1{
    /*background:rgba(150,0,0,0.08);
    border: 2px solid rgba(150,0,0,0.1);
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;*/
}

.top_block {
   /* background-color: #ece1cc;
    background-image: url('./images/bg-1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*./

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#723c1c+47,c47f3a+50 */
    background: #723c1c; /* Old browsers */
    background: -moz-linear-gradient(left,  #723c1c 47%, #c47f3a 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #723c1c 47%,#c47f3a 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #723c1c 47%,#c47f3a 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#723c1c', endColorstr='#c47f3a',GradientType=1 ); /* IE6-9 */


}
.pedido_block{
    background: url('./images/tlo.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.last_list{
    padding-top:20px;
    padding-bottom: 20px;
}
.last_list li {
    color: #fff;
    font-size:26px;
    padding-bottom:20px;
}

.item-title{
    font-family: 'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
    font-weight: 700;
    font-style: normal;
    color: #515151;
    font-size:18px!important;
}
.item-desc{
    color: #663300;
    font-size:15px!important;
}

.choco-items{
    padding-top:30px;

}
.box_top2{
    background: url('./images/napoj.png') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.organic{
    padding-top: 25px;
    font-family: 'Arial Pogrubiony', 'Arial Normalny', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #515151;
    text-align: center;
}

.black_box{
background: rgba(0,0,0,0.4);
}
.user_desc{
    min-height:450px;
    padding:20px;
    width:80%;
    color:#000;
    background: rgba(255,255,255,0.6);
    font-family: 'Arial Pogrubiony', 'Arial Normalny', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #333333;
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
}

.top_info{
    padding-left:100px;
    font-weight: bold;
    color:rgba(0,0,0,0.7);
}

.work_color{
    color:rgba(0,0,0,0.55);
}

.price_old{
    font-size:26px;
    text-decoration: line-through;
}
.price_new{
    color:white;
    font-size:40px;


}
.price_old span{

    font-size:20px !important;


}
.price_new span{

    font-size: 26px !important;


}
.prices{
    padding-left:100px;
    padding-top:20px;
}
.faq{
    background: rgba(227,150,150,0.8);
    padding: 10px;
    border-radius: 7px;

}
.faq_title{
    color:#fff;
    font-weight:bold;
    font-size:20px;
}
.faq_desc{
    color:#fff;

    font-size:16px;
}

.u170_div{
border-width:0px;

   margin-left:40%;
width:30%;
height:10%;
margin-top:30px;
    margin-bottom:30px;
background:inherit;
background-color:rgba(255, 255, 255, 0);
box-sizing:border-box;
border-width:2px;
border-style:solid;
border-color:rgba(102, 51, 0, 1);
border-radius:0px;
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
font-weight:700;
font-style:normal;
font-size:20px;
color:#663300;
}
.u171_div{
    border-width:0px;

    margin-left:20%;
    width:60%;
    height:25%;
    margin-top:30px;
    margin-bottom:30px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    box-sizing:border-box;
    border-width:2px;
    border-style:solid;
    border-color:rgba(102, 51, 0, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:20px;
    color:#663300;
}
.brown{
    background: rgba(66,33,00,0.7);
}
.panel-default{
    border-color:rgba(66,33,00,1)!important;
}
.panel-heading{
    background: rgba(66,33,00,0.9)!important;
    border-color:rgba(66,33,00,1)!important;
}
.panel-title{
    font-weight:bold;
    color:#fff !important;
}
.bordered{
    width:100%;
    border:1px dashed #99ff00;
    border-radius: 25px;
}


.user_name{
    padding-left:30px;
    font-weight:bold;
    color:#fff;
}
.choco-desc{
    border:3px dashed;
    padding-top:10px;
    margin-top:-10px;
    width:80%;
    border-radius: 25px;
}
.berries{
    float:right;
    margin-top:-50px

}
.berries img{
    width:170px;
}

a.deco-none {
    color:#fff !important;
    text-decoration:none;

}

.adnotacja{
    font-size: 11px!important;
    color: #663300;
}
.spec_list{
    list-style: none;
    padding-bottom:10px;
    padding-top:10px;

}
.spec_list li {
    font-size:18px;
    padding-bottom: 8px;
}


.brow_line{


    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #663300;
}
.bg-menu:hover {
    background-color:#0079C1;
    color:#FFFFFF;
}

.clickable {
    cursor:pointer;
}

.old_price{
    font-size:20px;

    margin:0 auto;
}
.new_price{

    font-weight:bold;
    font-size:32px;
    margin:0 auto;
}
.rabat{
    color:red;
    font-weight:bold;
    font-size:32px;

}

.block_1{
    font-size:16px;
    background: url('./images/bg-content-1.jpg') repeat center top;
}


.block_2{
    margin-top:50px;
    font-size:18px;
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;
}
.przypis{
    padding-top:20px;
    font-size:14px;
    font-style:italic;

}

.block_2 .row{
    margin-right:0px;
    margin-left:0px;
}
.block_3{
    background:rgba(200,0,0,0.1);
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;
    padding:20px 30px;
    border: 1px solid rgba(200,0,0,0.2);

}

.block_4{
    background: url('./images/bg-2.jpg') no-repeat top center;
    position: relative;
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.krok{
    font-weight:bold;

}
.text-krok{
    padding-bottom:10px;
}

.name_block_6{
    font-size:16px;
}

.block_8{
    background: url('./images/footer1.jpg') no-repeat top center;
    min-height:480px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.block_8 h2{
    color: #ecdedd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    position: relative;
    line-height: 43px;
}
.upper{
    text-transform: uppercase;
}
.white{
    color:rgba(255,255,255,0.9);
}

.top_desc{


    padding:20px;


    background: rgba(255,255,255,0.6);
    font-family: 'Arial Pogrubiony', 'Arial Normalny', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;

    border-radius: 30px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);

}

.bg_white{
    background:rgba(0,0,0,0.2);
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;

}
.star_cena{
    color: #700000;
    font-size: 20px;
    margin-top: 26px;
    text-transform: none;
    width: 336px;
    line-height: 27px;
    font-weight: bold;
}
.new_cena{
    font-size: 30px;
    color: #a7b839;
    line-height: 50px;
    margin-top: 13px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.form_wrap input {
    background: transparent;
    font-size: 18px;
    color: rgba(0,0,0,0.5);
    border: 1px solid #ecdedd;
    width:75%;
    height: 37px;
    margin-bottom: 11px;
    margin-left:0px;
}
.form_wrap select{
    background: transparent;
    font-size: 18px;
    color: #ecdedd;
    border: 1px solid #ecdedd;
width:75%;
    height: 37px;
    margin-bottom: 11px;
    position: relative;


    list-style-type: none;
}
.form_wrap{
    /*background: url('./images/form_wrap.png') no-repeat top center;*/

    height: auto;
    text-transform: uppercase;
    padding-left: 23px;
    padding-top:20px;


}
.green_btn{
    background: url('./images/green-btn-3.png') no-repeat top center;
    width:100%;
    height: 60px;
    font-size: 25px;
    color: #788515;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 11px;
    margin-bottom: 10px;
}

.ac_footer {
    position: relative;
    top: 10px;
    height: 0;
    text-align: center;
    margin-bottom: 70px;
    color: #A12000;
}

.ac_footer a {
    color: #A12000;
}



.btn-danger{
    color: #fff;
    background-color: #d9030E !important;
    border-color: #d43f3a
}
.price-old--top{
    width: 33%;
}
.price-old--top{
    position: relative;

    color: #8b8b8b;
}
.price-new--top{
    color: #aed304;
}
.price-old--top,.price-new--top{
    display: inline-block;

    vertical-align: top;
}
.price-text--top{
    font-size: 12px;
    line-height: 18px;
    font-family: "RobotoRegularItalic", sans-serif;
    text-align: center;
}
.price-text--top{
    letter-spacing: -1px;
}
.price-x--top{
    margin: 10px 0 0 0;
    font-size: 30px;
    line-height: 28px;
    font-family: "RobotoBoldItalic", sans-serif;
    letter-spacing: -1px;
    text-align: center;
}
.section1-right-wrap{
    margin-bottom: 30px;
    padding-top: 25px;
    background: #323437;
    border: 2px solid #fed203;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.section1-right{
    float: none;

    margin-right: auto;
    margin-left: auto;
    margin-top: 10px !important;
}
.price-old--top:after{
    content: " ";
    position: absolute;
    bottom: -2px;
    left: 60px;
    width: 60px;
    height: 33px;
    background: url('./images/price-old.png') no-repeat 0 0;
}

.total-price {
    font-size: 28px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}

.submit-form {
    width: 100%;
    margin-top: 5px;
    padding: 18px 0;
    font-size: 27px;
    line-height: 27px;
    font-family: "PTSansBold", sans-serif;
    color: #343639;
    text-transform: uppercase;
    background: #ffd203;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffd203 0%, #f5ae00 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd203), color-stop(100%, #f5ae00));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffd203 0%, #f5ae00 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffd203 0%, #f5ae00 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffd203 0%, #f5ae00 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffd203 0%, #f5ae00 100%);
    /* W3C */
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd203', endColorstr='#f5ae00', GradientType=0);
    /* IE6-9 */
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.submit-form:hover {
    background: #f5ae00;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f5ae00 0%, #ffd203 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5ae00), color-stop(100%, #ffd203));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5ae00 0%, #ffd203 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5ae00 0%, #ffd203 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5ae00 0%, #ffd203 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f5ae00 0%, #ffd203 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5ae00', endColorstr='#ffd203', GradientType=0);
    /* IE6-9 */
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.nav-container {
    background: #323437 !important;
}
.nav-container .container .navbar{
    background: #323437 !important;
}
.navbar{
    margin-bottom:0px!important;
    border: 0px !important;
}

.nav.navbar.navbar-default{
    border: 0px !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color:#fff!important;
    background-color: transparent;
}
.product-big_title{


    font-size: 20px;
    line-height: 28px;
    font-family: "RobotoBoldItalic", sans-serif;
    color: #ffd303;
    text-transform: uppercase;
}
.product-big_sale {
    position: absolute;

    top: -30px;
    right:2px;
    z-index: 4;
    width: 111px;
    height: 111px;
    padding-top: 28px;
    font-size: 11px;
    line-height: 22px;
    font-family: "RobotoBoldItalic", sans-serif;
    text-align: center;
    color: #323437;
    text-transform: uppercase;
    background: url('./images/bg-sale.png') no-repeat 0 0;
}

.product-big_sale > span {
    display: block;
    font-size: 34px;
    font-family: "RobotoBold", sans-serif;
    font-style: italic;
}
.block_21{
    padding-top: 10px;
    background: url('./images/bg-section3.jpg') repeat center top;
}

.symptoms_text {
    min-height: 43px;
    margin-bottom: 12px;
    padding-top: 3px;
    padding-left: 60px;
    font-size: 23px;
    line-height: 35px;
    color: #ffffff;
    background: url('./images/smile-img.png') no-repeat left center;
}
.symptoms{
    list-style-type: none ;
}

.img-circle {
    border-radius: 50%;
    width:140px;
    height:140px;
}
.last_panel{

    background: url('./images/bg-section12.jpg') repeat center top;
}
.form-wrap {
    position: relative;
    padding: 18px 0 18px 25px;
    background: #323437;
    border: 2px solid #ffd200;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}



.form-top {
    padding: 10px;
}

.form-main {
    position: relative;
}



.label-form {
    padding-left: 10px;
    font-size: 15px;
    line-height: 16px;
    color: #ffffff;
}

.input-form {
    width: 100%;
    height: 30px;
    margin: 5px 0;
    padding: 0 10px 0 10px;
    font-size: 15px;
    line-height: 16px;
    font-family: "RobotoRegular", sans-serif;
    color: #8b8b8b;
    background-color: #ffffff;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


.price {
    padding-top: 70px;
}

.price-old, .price-new {
    display: inline-block;
    vertical-align: top;
}
.price-old2 {
    display: inline-block;
    vertical-align: top;
}




.currency-small {
    font-size: 25px;
}
.form_left--sh {
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
}

.form_left--sh-bottom {
    font-size: 16px;
    line-height: 18px;
    font-family: "RobotoRegularItalic", sans-serif;
    color: #ffffff;
}

.form_left--sh-top {
    position: absolute;
    top: -6px;
    left: 340px;
    display: none;
    width: 77px;
    height: 77px;
    padding-top: 16px;
    font-size: 22px;
    line-height: 24px;
    font-family: "RobotoBold", sans-serif;
    text-align: center;
    color: #323437;
    text-transform: uppercase;
    font-style: italic;

}

.form_left--sh-top > span {
    font-size: 14px;
}
.form_left--title {
    font-size: 20px;
    line-height: 28px;
    font-family: "RobotoBoldItalic", sans-serif;
    color: #ffd303;
    text-transform: uppercase;
}

.form_left--sale {
    position: absolute;
    top: -48px;
    left: 265px;
    width: 134px;
    height: 134px;
    padding-top: 32px;
    font-size: 14px;
    line-height: 27px;
    font-family: "RobotoBoldItalic", sans-serif;
    text-align: center;
    color: #323437;
    text-transform: uppercase;
    background: url('./images/bg-sale.png') no-repeat 0 0;
    background-size: 134px;
}

.form_left--sale > span {
    display: block;
    font-size: 40px;
    font-family: "RobotoBold", sans-serif;
    font-style: italic;
}

@media (max-width: 800px) {
.center_right{
    text-align: center;
}
    .center_left{
        text-align: center;
    }


    .mobile_hide  {
        display:none;
    }
    .mobile_show  {
        display:block;
    }

    .form-wrap:before {
        content: " ";



    }
    .text_on_text{
        text-align: right;
        margin-top:0px;left:0px
    }

}
@media (min-width: 801px) {

    .center_right{
        text-align: right;
    }
    .center_left{
        text-align: left;
    }

    .mobile_show  {
        display:none;
    }
    .text_on_text{
        text-align: right;margin-top:-80px;left:-30px
    }
}

.form{
    border: 2px solid #ffc236;
    margin-top: 55px;
    margin-bottom: 20px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #fff;
    overflow: hidden;
}

.form p{
    margin: 0 0 0 0px;
    font-size: 28px;
    color: #d31812;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    padding: 15px 0;
    background: #ffe536;;
}
.form ul{
    display: block;
    text-align: center;
    line-height: 1;
    position: relative;
    overflow: hidden;
    padding: 10px 0 40px;
    margin-bottom: 40px;
}

 .form ul:after{
    background:#ffc236;
    bottom:5px;
    z-index:1;
}
.form ul{
    list-style-type: none;
    display:block;
    text-align:center;
    line-height:1;
    position:relative;
    overflow:hidden;
    padding:10px 0 40px;
    margin-bottom:40px;
}
 .form ul:before,
 .form ul:after{
    content:'';
    position:absolute;
    background:#ffcd36;
    width:500px;
    height:500px;
    bottom:0;
    left: 50%;
    transform-origin: left bottom;
    transform: rotate(-45deg) skew(30deg, 30deg);
    z-index:0;
}
 .form ul:after{
    background:#ffc236;
    bottom:5px;
    z-index:1;
}
 .form ul li{
    display:inline-block;
    vertical-align:middle;
    font-size:20px;
    text-align:right;
    width:28%;
    position:relative;
    z-index:2;
}
 .form .new_price{
    font-size:56px;
    color:#d31812;
    font-style:italic;
    font-weight:700;
    text-align:center;
    width:40%;
    padding:0 10px;
}
 .form .old_price{
    text-align:left;
}
 .form .old_price span{
    font-style:italic;
    position:relative;
}
 .form .old_price span:before {
    position: absolute;
    content: '';
    width: 100%;
    border-bottom: 2px solid #d31812;
    top: 50%;
    left: 0;
    margin-top: -1px;
    -webkit-transform: rotateZ(-7deg);
    -moz-transform: rotateZ(-7deg);
    -o-transform: rotateZ(-7deg);
    transform: rotateZ(-7deg);
}
.form .old_price b{
    color:#d31812;
    font-style:italic;
    display:block;
}
 .form  form{
    padding:0 15px 10px;
}
 .form  input,
 .form  select{
    width:100%;
    font-size:26px;
    color:#084648;
    padding:10px 15px;
    border:1px solid #c6c6c6;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-bottom:20px;
    line-height:1;
    background-color:#fff;
}
 .form button{
    display:table;
    margin:30px auto 10px;
}