body {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 100%;
    position: relative;
    line-height: 1;
    text-align: center;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    clear: both;
    height: 100%;
}

header, footer {
    height: 100%;
}

ul li {
    list-style: none;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
}

input[type=submit]:hover, button:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.button:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

h1 {
    font-size: 46px;
    font-weight: 900;
    margin-top: 30px;
    text-align: right;
}

h1 span {
    display: inline-block;
    background: #a24e83;
    padding: 5px 19px;
    border-radius: 3px;
}

h2 {
    font-size: 2.75em;
    padding: 54px 0;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.32em;
    color: #d45b6d;
    font-size: 2.25em;
    font-weight: bold;
    text-align: left;
    margin: 13.3em 0 15px 0;
}

h5 {
    font-size: 2.25em;
    color: #5b5856;
    text-align: left;
}

h6 {
    font-size: 1.5em;
    color: #974c82;
    text-transform: none;
    text-align: right;
    margin: 15px 5px 0 0;
}

p {
    text-transform: none;
    font-size: 1.12em;
}

article {
    padding: 10px 0;
    clear: both;
}

button, input[type=submit], input[type=button], input[type=search], .button {
    cursor: pointer;
}

input, button, .button, select {
    border: none;
    background: transparent;
    color: white;
}

input, button:focus, .button {
    outline: none;
}

select {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    background: url('./sel.png')no-repeat transparent;
    background-position: 260px 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

input[type=text], select {
    box-sizing: border-box;
    display: block;
    padding: .47em 2.61em;
    position: relative;
    z-index: 1;
    font-size: 1.12em;
    border: 1px solid #a0909b;
    width: 100%;
    margin-bottom: .75em;
    outline: none;
}

input[type=text]:nth-child(4) {
    margin-bottom: 24px;
}

input[type=submit], .button {
    display: block;
    margin: auto;
    width: 240px;
    height: 55px;
    box-sizing: border-box;
    line-height: 55px;
    border-radius: 30px;
    font-size: 1.12em;
    background: #db601b;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    z-index: 1000000000;
    position: relative;
}

.button {
    width: 240px;
    position: absolute;
    bottom: -24px;
    left: 39.8%;
    text-transform: none;
}

/*RELATIVE*/
.main_container, nav, li, .row, .price b, form, li:before {
    position: relative;
}

/*CONTAINERS*/
.main_container {
    width: 1181px;
    margin: auto;
}

.effects_wrapp {
    width: 909px;
    margin: auto;
}

.row {
    margin: 0;
}

.col_2 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.col_3 {
    width: 32%;
    display: inline-block;
    vertical-align: top;
}

.col_4 {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}

/*FLOATS*/
.left_float {
    float: left;
}

.right_float {
    float: right;
}

.text_l {
    text-align: left;
}

.text_r {
    text-align: right;
}

.pull_bottom {
    display: inline-block;
    vertical-align: bottom;
}

/*HEADER*/
header {
    background: url('./header-bg_01.png') no-repeat center;
}

.warning {
    background: rgba(72, 9, 48, 0.81);
    font-size: .93em;
    color: #d497c5;
    text-align: left;
    padding: 12px 0;
}

.warning p {
    text-align: center;
}

main {
    min-width: 1200px;
    overflow: hidden;
}

.warning b {
    color: #ed7a49;
    font-weight: bold;
    text-transform: uppercase;
}

.logo {
    position: absolute;
    left: -4.5em;
    top: -2em;
}

/*FORM-HEADER*/
form {
    width: 379px;
    margin-left: 10.7em;
    padding-top: 39px;
    position: absolute;
    right: 0;
}

form:before {
    content: url('./fungalor.png');
    position: absolute;
    z-index: 333333333;
    left: -10em;
    top: 80px;
}

form:after {
    content: url('./arrow.png');
    position: absolute;
    right: -3em;
    bottom: 3.9em;
}

.price, .inputs {
    padding: 39px;
    position: relative;
}

.price {
    background: rgba(199, 62, 0, 0.73);
    padding: 19px;
}

.inputs {
    background: rgba(112, 11, 87, 0.75);
    padding-bottom: 56px;
}

.price span:first-child {
    font-size: 48px;
    margin-left: 10px;
}

.price b {
    font-weight: bold;
}

.price span:nth-child(2) {
    font-size: 2.5em;
    color: #331a2a;
    text-transform: none;
    position: absolute;
    padding-left: 30px;
    top: 30px;
    right: .9em;
}

.price span:nth-child(2) i {
    font-style: normal;
    font-size: 1.12rem;
    position: absolute;
    top: -1em;
    right: 0em;
}

.inputs p {
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.4em;
    text-align: center;
    padding-bottom: 26px;
}

.inputs p span {
    font-size: 1.87rem;
    font-weight: bold;
}

.inputs_wrapper {
    padding: 1.68em 0;
}

/*HEADER-LI-ROW-FORM*/
.header_ul {
    position: relative;
    left: -17em;
    bottom: -27em;
}

.header_ul li {
    padding: 1.26em 3.93em 1.26em .66em;
    font-size: .87em;
    display: inline-block;
    vertical-align: top;
    text-transform: none;
    text-align: left;
    height: 66px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header_ul li:first-child {
    background: #d35b6d;
    padding-bottom: 1.25em;
}

.header_ul li:first-child:before {
    background: #d35b6d url('./arrow-white_03.png') no-repeat right;
}

.header_ul li:nth-child(2) {
    background: #b25f93;
}

.header_ul li:nth-child(2):before {
    background: #b25f93 url('./arrow-white_03.png') no-repeat right;
}

.header_ul li:nth-child(3) {
    background: #2680a0;
}

.header_ul li:nth-child(3):before {
    background: #2680a0 url('./arrow-white_03.png') no-repeat right;
}

.header_ul li:before {
    content: '';
    width: 47px;
    height: 66px;
    position: absolute;
    left: -3.3em;
    top: 0em;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}

.header_ul b {
    font-size: 1.2em;
}

.li_before {
    color: #b25f93;
    font-size: 1.12em;
    font-style: italic;
    text-align: left;
    text-transform: none;
    padding: 45px 55px;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.li_before li:first-child {
    padding-bottom: 19px;
}

.li_before li:before {
    content: url('./header-li-before_03.png');
    position: absolute;
    left: -3.5em;
}

/*MYCO*/
.myco {
    background: url('./bg-myco_02.png') no-repeat center;
}

.myco img {
    padding-right: 120px;
}

.myco p {
    color: #ffcc82;
    line-height: 25px;
    padding-bottom: 57px;
}

.myco p:nth-child(3) {
    padding-right: 4.2em;
}

.myco p:nth-child(4) {
    padding-right: 1.7em;
}

.myco p:nth-child(5) {
    padding-left: 2em;
}

.myco p:nth-child(6) {
    padding-left: 4em;
}

.myco b {
    text-transform: uppercase;
}

/*EFFECT*/
/*MYCO AFTER IMG*/
.effect {
    padding-bottom: 54px;
}

.effect .main_container:before {
    content: url('./legs_07.png');
    position: absolute;
    right: 2em;
}

.effect .main_container:after {
    content: url('./mint_07.png');
    position: absolute;
    left: -7em;
}

.effect h2 {
    color: #5b5856;
    padding: 60px 0;
    text-align: left;
}

.effect h2 span {
    font-weight: bold;
    color: #9c62a2;
}

.effect li {
    padding-left: 241px;
    line-height: 20px;
    color: #5b5856;
    text-transform: none;
    text-align: left;
    padding-bottom: 42px;
}

.effect li:nth-child(3), .effect li:nth-child(4) {
    padding-top: 18px;
    padding-bottom: 63px;
}

.effect li span {
    display: block;
    width: 220px;
    height: 54px;
    background: #9c62a2;
    position: absolute;
    left: 0em;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    top: .2em;
    text-align: center;
    padding-top: 17px;
    color: #fff;
    font-size: 1.5em;
}

.effect li:nth-child(2) span {
}

.effect li:nth-child(3) span {
}

.effect li:nth-child(4) span {
    font-size: 1.12em;
}

.effect li:before {
    content: '1';
    width: 48px;
    height: 54px;
    background: #f9f9f9;
    color: #9c62a2;
    position: absolute;
    left: -3em;
    top: .4em;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    text-align: center;
    padding-top: 17px;
}

.effect li:nth-child(2):before {
    content: '2';
    top: .3em;
}

.effect li:nth-child(3):before {
    content: '3';
    top: .3em;
}

.effect li:nth-child(4):before {
    content: '4';
    top: .25em;
}

/*REMOVING*/
.removing {
    background: #804185 url('./bg-removing_08.png') no-repeat center;
}

.removing h2 {
    font-size: 2.25em;
    padding: 40px 0 70px;
}

.removing p {
    color: #efbcf2;
    padding-bottom: 102px;
}

.removing .left p:first-child {
    padding-left: 16em;
}

.removing .left p:nth-child(2), .removing .left p:nth-child(3) {
    text-align: right;
    padding-right: 16em;
}

.removing .left p:nth-child(4) {
    text-align: right;
    padding-right: 12em;
}

.removing p:last-child {
    padding-bottom: 82px;
}

.removing .right p:first-child {
    padding-right: 13em;
}

.removing .right p:nth-child(2), .removing .right p:nth-child(3) {
    text-align: left;
    padding-left: 16em;
}

.removing .right p:nth-child(4) {
    text-align: left;
    padding-left: 12em;
}

/*COMMENT*/
.comment {
    background: url('./bg-comments_06.png') no-repeat center top;
    padding-top: 63px;
    text-align: left;
}

.comment h3 {
    background: #157aa2;
    padding: 22px;
    margin-right: 22.3em;
    margin-bottom: 35px;
}

.comment h3 span {
    color: #07688f;
    font-weight: bold;
}

.comment h3:nth-child(3) {
    background: none;
    padding: 30px 0;
    margin: 0;
}

.rev {
    line-height: 20px;
    border-bottom: 2px solid #7dbad2;
    padding-bottom: 34px;
}

.user_name {
    color: #07688f;
    padding-bottom: 25px;
}

.user_name span {
    color: white;
    font-weight: bold;
}

.user_com {
    font-size: .87em;
    text-transform: none;
    line-height: 1.2;
}

.textin {
    position: absolute;
    top: 191px;
    right: 0;
    width: 225px;
}

.textin span {
    display: block;
    font-size: 30px;
    margin: 0 0 5px;
    color: #45A0C7;
    text-align: center;
}

.textin span:nth-child(2) {
    color: #ffffff;
    font-size: 20px;
}

.textin span:nth-child(3) {
    color: #974C9F;
    font-size: 25px;
}

.col_3 div {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10em;
}

.image {
    width: 40%;
}

.expert {
    width: 54%;
}

/*FOOTER*/
footer {
    background: #f2f2f3 url('./bg-footer_10.png') no-repeat left;
    padding-top: 40px;
}

footer form {
    position: absolute;
    top: -12em;
}

footer form:before {
    left: -56em;
    top: 22px;
}

footer h1 {
    margin: 0;
    margin-left: 217px;
    padding: 5px 26px;
    text-align: left;
    font-size: 42px;
}

footer h1:nth-child(2) {
    margin-top: 5px;
    margin-right: 9em;
}

::-webkit-input-placeholder {
    color: #fff;
}

::-moz-placeholder {
    color: #fff;
}

:-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

footer h6 {
    text-align: left;
    margin: 1em 0 0 10em;
}

footer .warning {
    margin-top: 15em;
}

footer .price {
    padding: 20px;
    background: #E06521;
}

footer .price span:first-child {
    margin-left: 10px;
    display: block;
    text-align: left;
}

footer .price span:nth-child(2) {
}

footer .price span:first-child:before {
    top: 49px;
}
