.form-free-img{
	/*display:none*/
}
.packedOrder li .img{
	background-repeat-x:no-repeat!important;
	background-position: center center!important
}

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px){
	.ctn{
		max-width:970px;
		width:94%
	}
	#top-box .ctn{
		width:100%
	}
	header .ctn .index-free{
		text-align:center;
		margin:10px 0 10px 0
	}
	header .ctn{
		text-align:center;
		margin:0px auto
	}
	#top-box h2{
		font-size:20px;
		text-align:center
	}
	#top-box .col1{
		width:100%
	}
	#top-box .col1 img{
		margin-left:0;
		display:block;
		width:90%;
		margin:0px auto
	}
	#top-box{
		background-size: cover;
	}
	#top-box .pani_dr{
		max-width: 279px;
		right:-100px
	}
	#top-box .ctn{
		overflow:hidden
	}
	#top-box .col2{
		width:100%
	}
	#top-box .col2 ul{
		font-size:0.85em
	}
	#top-box .col2 p:nth-child(1){
		max-width: 90%;
	}
	#top-box .col2 p:nth-child(3){
		max-width: 53%;
		font-size:12px
	}
	#top-box .btn{
		z-index: 20;
    	position: relative;
	}
	#box-1 .schemat{
		position:relative;
		top:auto;
		right:auto;
		max-width:100%
	}
	#box-1 .row{
		width:100%
	}
	#box-2 .col1{
		margin:0
	}
	#box-2 .col1 img{
		max-width:100%
	}
	#box-2>article>img{
		position:relative
	}
	#box-2 .col2{
		width:100%
	}
	#box-5 img{
		margin:0;
		max-width:100%
	}
	#box-6 h3,#box-6 p{
		margin-left:0
	}
	#box-6 img{
		float:none;
		margin-left:0;
		max-width:100%
	}
	#box-6 .btn:after{
		background:none
	}
	#box-6 .btn{
		margin: 0px auto 50px auto;
	}
	#box-7 .border{
		width:100%;
		background-size:contain;
		background-repeat-y:no-repeat;
		height:280px
	}
	#box-7 .right_img{
		display:none
	}
	#box-7 .border p{
		display:none
	}
	#box-7 .border>div{
		margin: 30px auto;
		max-width:60%
	}
	#faq dt{
		font-size:0.8em
	}
	#faq dd p{
		font-size:0.9em
	}
	#pedido .descriptions ul:after{
		position:relative;
		left:50%;
		top:auto;
		background-size:contain;
		width:160px;
		height:200px;
		background-repeat-x:no-repeat;
		background-repeat-y:no-repeat;
		margin-left:-60px
	}
	#pedido header span:nth-child(1){
		font-size: 1.7em;
		line-height:1.4em
	}
	#pedido .form{
		float:none;
		width:100%
	}
	#pedido h3{
		font-size:1.6em;
		margin-bottom:30px
	}
	#pedido h3:before{
		font-size:0.6em
	}
	#pedido .descriptions{
		position:relative;
		top:auto;
		width:100%
	}
	#pedido .descriptions ul{
		-webkit-padding-start: 40px
	}
	#footer .right{
		display:none
	}
	#faq h2{
		font-size:1em
	}
	#fr-form .button{
		margin-top:0
	}
	#tabelka table{
		width:100%;
		margin: 20px auto 0px
	}
	#tabelka table td,#tabelka table th{
		font-size: 9px
	}
	#box-3 h2{
		font-size: 17px;
		margin-bottom:10px
	}
	#box-3 .row{
		margin: 10px 0;
		width:100%
	}
	#box-3 .row p{
		margin-left:0;
		width:100%
	}
	#box-3 .row img{
		margin:5px 0 10px 0
	}
	#box-3 .right_img{
		position:relative;
		bottom:auto;
		width:100%;
		left:auto;
		right:auto;
		margin:0px auto;
		display:block
	}
	#box-4 .col1,#box-4 .col2{
		width:100%;
		margin-left:0
	}
	#myVideo{
		width:100%;
		height:200px
	}
	#box-6 h2{
		font-size: 1.1em;
	}

	/*form*/
	.packedOrder.packProducts li .information{
		margin-top:110px
	}
	.packedOrder li.num3 .img{
		margin-top:10px;
		top: 35px;
	}
	.packedOrder li .infoTabs{
		margin-top:10px;
		margin-bottom:30px;
		margin-left:70px
	}

	.packedOrder.orderPay li .select{ margin:0; position:absolute; }
	.packedOrder li#MassCollectOption .information h3, .packedOrder li.otherPayment .information h3{ margin-bottom:20px; }
	.infoBox{ height:auto; }

	.packedOrder li.num2 .infoTabs, .packedOrder li.num1 .infoTabs{ margin:10px 0 0 0; }
	div.information .infoTabs p span,
	div.information .infoTabs p span.small{
		font-size:15px
	}
	.topContent p{
		display:none
	}
	.boxPay{
		margin: 30px auto
	}
	footer section .copyright{
		margin-top:0;
		margin-bottom:10px;
		display:none
	}
	footer section:before{
		margin:0px auto;
		display:block;
		position: relative
	}
	.form-free-head span{
		display:block
	}
	.form-free-head{
		font-size:10px;
		padding: 1.5% 0% 1.5% 2%
	}
	/*form*/
}
/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px){
	.ctn{
		max-width:970px;
		width:94%
	}
	#top-box .ctn{
		width:100%
	}
	header .ctn .index-free{
		text-align:center;
		margin:10px 0 10px 0
	}
	header .ctn{
		text-align:center;
		margin:0px auto
	}
	#top-box h2{
		font-size:20px;
		text-align:center
	}
	#top-box .col1{
		width:100%
	}
	#top-box .col1 img{
		margin-left:0;
		display:block;
		width:90%;
		margin:0px auto
	}
	#top-box{
		background-size: cover;
	}
	#top-box .pani_dr{
		max-width: 279px;
		right:-100px
	}
	#top-box .ctn{
		overflow:hidden
	}
	#top-box .col2{
		width:100%
	}
	#top-box .col2 ul{
		font-size:0.85em
	}
	#top-box .col2 p:nth-child(1){
		max-width: 90%;
	}
	#top-box .col2 p:nth-child(3){
		max-width: 53%;
		font-size:12px
	}
	#top-box .btn{
		z-index: 20;
    	position: relative;
	}
	#box-1 .schemat{
		position:relative;
		top:auto;
		right:auto
	}
	#box-1 .row{
		width:100%
	}
	#box-2 .col1{
		margin:0
	}
	#box-2 .col1 img{
		max-width:100%
	}
	#box-2>article>img{
		position:relative
	}
	#box-2 .col2{
		width:100%
	}
	#box-5 img{
		margin:0;
		max-width:100%
	}
	#box-6 h3,#box-6 p{
		margin-left:0
	}
	#box-6 img{
		float:none;
		margin-left:0;
		max-width:100%
	}
	#box-6 .btn:after{
		background:none
	}
	#box-6 .btn{
		margin: 0px auto 50px auto;
	}
	#box-7 .border{
		width:100%;
		background-size:contain;
		background-repeat-y:no-repeat;
		height:280px
	}
	#box-7 .right_img{
		display:none
	}
	#box-7 .border p{
		display:none
	}
	#box-7 .border>div{
		margin: 45px auto;
		max-width:60%
	}
	#faq dt{
		font-size:1em
	}
	#faq dd p{
		font-size:0.9em
	}
	#pedido .descriptions ul:after{
		position:relative;
		left:50%;
		top:auto;
		background-size:contain;
		width:160px;
		height:200px;
		background-repeat-x:no-repeat;
		background-repeat-y:no-repeat;
		margin-left:-80px
	}
	#pedido header span:nth-child(1){
		font-size: 1.7em;
		line-height:1.4em
	}
	#pedido .form{
		float:none;
		width:100%
	}
	#pedido h3{
		font-size:2em
	}
	#pedido h3:before{
		font-size:0.6em
	}
	#pedido .descriptions{
		position:relative;
		top:auto;
		width:100%
	}
	#pedido .descriptions ul{
		-webkit-padding-start: 40px
	}
	#footer .right{
		display:none
	}
	#tabelka table{
		width:100%;
		margin: 20px auto 0px
	}
	#tabelka table td,#tabelka table th{
		font-size: 9px
	}
	#box-3 h2{
		font-size: 17px;
		margin-bottom:10px
	}
	#box-3 .row{
		margin: 10px 0;
		width:100%
	}
	#box-3 .row p{
		margin-left:0;
		width:100%
	}
	#box-3 .row img{
		margin:5px 0 10px 0
	}
	#box-3 .right_img{
		position:relative;
		bottom:auto;
		width:100%;
		left:auto;
		right:auto;
		margin:0px auto;
		display:block
	}
	#box-4 .col1,#box-4 .col2{
		width:100%;
		margin-left:0
	}
	#myVideo{
		width:100%;
		height:200px
	}
	#box-6 h2{
		font-size: 1.1em;
	}
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px){
	.ctn{
		max-width:970px;
		width:94%
	}
	#top-box .ctn{
		width:100%
	}
	header .ctn .index-free{
		text-align:center;
		margin:10px 0 10px 0
	}
	header .ctn{
		text-align:center;
		margin:0px auto
	}
	#top-box h2{
		font-size:20px;
		text-align:center
	}
	#top-box .col1{
		width:100%
	}
	#top-box .col1 img{
		margin-left:0;
		display:block;
		width:90%;
		margin:0px auto
	}
	#top-box{
		background-size: cover;
	}
	#top-box .pani_dr{
		max-width: 279px;
		right:-100px
	}
	#top-box .ctn{
		overflow:hidden
	}
	#top-box .col2{
		width:100%
	}
	#top-box .col2 ul{
		font-size:0.85em
	}
	#top-box .col2 p:nth-child(1){
		max-width: 90%;
	}
	#top-box .col2 p:nth-child(3){
		max-width: 53%;
		font-size:12px
	}
	#top-box .btn{
		z-index: 20;
    	position: relative;
	}
	#box-1 .schemat{
		position:relative;
		top:auto;
		right:auto
	}
	#box-1 .row{
		width:100%
	}
	#box-2 .col1{
		margin:0
	}
	#box-2 .col1 img{
		max-width:100%
	}
	#box-2>article>img{
		position:relative
	}
	#box-2 .col2{
		width:100%
	}
	#box-5 img{
		margin:0;
		max-width:100%
	}
	#box-6 h3,#box-6 p{
		margin-left:0
	}
	#box-6 img{
		float:none;
		margin-left:0;
		max-width:100%
	}
	#box-6 .btn:after{
		background:none
	}
	#box-6 .btn{
		margin: 0px auto 50px auto;
	}
	#box-7 .border{
		width:100%;
		background-size:contain;
		background-repeat-y:no-repeat;
		height:280px
	}
	#box-7 .right_img{
		display:none
	}
	#box-7 .border p{
		display:none
	}
	#box-7 .border>div{
		margin: 45px auto;
		max-width:60%
	}
	#faq dt{
		font-size:1em
	}
	#faq dd p{
		font-size:0.9em
	}
	#pedido .descriptions ul:after{
		position:relative;
		left:50%;
		top:auto;
		background-size:contain;
		width:160px;
		height:200px;
		background-repeat-x:no-repeat;
		background-repeat-y:no-repeat;
		margin-left:-80px
	}
	#pedido header span:nth-child(1){
		font-size: 1.7em;
		line-height:1.4em
	}
	#pedido .form{
		float:none;
		width:100%
	}
	#pedido h3{
		font-size:2em
	}
	#pedido h3:before{
		font-size:0.6em
	}
	#pedido .descriptions{
		position:relative;
		top:auto;
		width:100%
	}
	#pedido .descriptions ul{
		-webkit-padding-start: 40px
	}
	#footer .right{
		display:none
	}
	/*full*/
	#tabelka table{
		width:100%;
		margin: 20px auto 0px
	}
	#tabelka table td,#tabelka table th{
		font-size: 9px
	}
	#box-3 h2{
		font-size: 17px;
		margin-bottom:10px
	}
	#box-3 .row{
		margin: 10px 0;
		width:100%
	}
	#box-3 .row p{
		margin-left:0;
		width:100%
	}
	#box-3 .row img{
		margin:5px 0 10px 0
	}
	#box-3 .right_img{
		position:relative;
		bottom:auto;
		width:100%;
		left:auto;
		right:auto;
		margin:0px auto;
		display:block
	}
	#box-4 .col1,#box-4 .col2{
		width:100%;
		margin-left:0
	}
	#myVideo{
		width:100%;
		height:200px
	}
	#box-6 h2{
		font-size: 1.1em;
	}
}


/* ----------- iPad mini ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px){

    .form-free-img { display: none;  }

	.ctn{
		max-width:970px;
		width:94%
	}
	.index-free{
		width:72%
	}
	#top-box .ctn{
		width:100%;
		overflow-x:hidden
	}
	#top-box .col1{
		width:38%;
		text-align:center
	}
	#top-box .col2{
		width:50%
	}
	#top-box .col1 img{
		max-width: 100%;
		margin-left:0
	}
	#box-1 .schemat{
		position:relative;
		top:auto;
		margin:0px auto;
		display:block
	}
	#box-1 .row{
		width:100%
	}
	#top-box .col2 p{
		max-width:80%;
		position:relative;
		z-index:4
	}
	#top-box .col2 p:nth-child(3){
		font-size:13px;
		max-width:66%;
		line-height:1.1em
	}
	#box-2 .col2 {
   	 	width: 69%;
	}
	#box-2 h2{
	margin-top:40px
	}
	#box-5 img{
		max-width:100%
	}
	#box-6 .btn{
		max-width:80%
	}
	#box-7 .right_img{
		display:none
	}
	#box-7 .border{
		margin:40px auto
	}
	#pedido .descriptions{
		position:relative;
		top:auto;
		text-align:center;
		margin:0px auto
	}
	#pedido .descriptions ul{
		-webkit-padding-start: 0
	}
	#pedido .descriptions ul:after{
		left:-140px;
		top:200px
	}
	#pedido header span:nth-child(1) {
    	font-size: 2.3em
	}
	#box-2>article>img{
		right:0
	}
	#box-3 .row {
		width:100%
	}
	#box-3 .right_img{
		position:relative;
		bottom:auto
	}
	#box-4 .col1{
		width:100%
	}
	#try{
		font-size:0.8em
	}
	#top-box{
		background-size: cover;
	}
	#top-box .pani_dr{
		right:-140px
	}
	#top-box .col2 ul{
		position:relative;
		z-index:4
	}
	#top-box .ctn .btn{
		position:absolute;
		top:350px;
		left:15px
	}
	#top-box h2{
		margin-left:30px
	}
}
