﻿

#pedido h3:before{	
    content:'Zrób jeden prosty krok'; 
    font-size: 0.4em; 	
    display:block;	position:absolute;		top:-14px;	left: 10px;	
    background:url(../../../images/Triapidix-home-v2-tne_83.png);


line-height: 1.2;
color: #fff;
font-weight: bold;
text-align: center;

font-family: "Lato";
padding: 30px 15px 0;
width: 125px;
height:119px;


 }
 
 
.index-free{ display:inline-block; width:75%; text-align:right; color:#A8C4EC; }
.index-free span{ margin-right:2%; }

#try{background: #8959A5;
    width: 100%;    text-align: center;
    color: #fff;
    font-size: 0.9em;
    padding: 0.3% 0; }
a{ text-decoration:none; }

#top-box .col2 p{
	font-size:15px
}
#top-box .pani_dr{
	right:-140px
}
