@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
/**
*============ CSS RESET ====================*
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.5em;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    display: block;
    float: left;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}/**
*============ CSS ELEMENTS ====================*
*/

h1 {
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}
h2 {
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}
h3 {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}
p {

    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    margin-bottom: 10px;
}
blockquote {
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}
pre {
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}
li {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}
a {
    color: #2200CC;
    text-decoration: underline;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}
figure {
    padding: 2px;
    border-radius: 2px;
    width: 34%;
    margin-right: 10px;
}
figcaption p{
    font-size: 12px;
    line-height: 1.3em;
    text-align: center;
}
header {

    padding: 46px 4px 150px 5px;
    background: url(../images/bg_body.jpg) 50% -2px no-repeat;
}

.clear{
    clear: both;
}
.font-bold {
    font-weight: 800;
}

strong{
    font-weight: bold;
}

/**
*============ CSS ELEMENT POSITION ===============*
*/
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.marginR10{
    margin-right: 10px;
}
.marginL10{
    margin-left: 10px;
}
/**
*=============== CSS CONTAINER ===================*
*/
.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    nav {
        width: 750px !important;
    }
    .navbar-brand{
        position: inherit !important;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    nav {
        width: 970px !important;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    nav {
        width: 1170px !important;
    }
}/**
*================= CSS COLUMNS ====================*
*/
.col-8, .col-4, .col-6, .col-12 {
    position: relative;
    min-height: 1px;

    float: left;
}
.col-12 {
    width: 100%;
    background: transparent url("../images/keys_girl2.jpg") no-repeat scroll 100% 4.6%;
    background-size: 38%;
    padding: 0;
    float: left;
}
.col-8 {
    width: 66.66666667%;
}
.col-6 {
    width: 50%;
}
.col-4 {
    width: 33.33333333%;;
}
@media (max-width: 768px) {
    .col-8{
        width: 100%;
    }
    .col-6{
        width: 100%;
        padding: 7px;
    }
    .col-4{
        width: 98%;
    }
}
/**
*=============== CSS NAVIGATION ===================*
*/
nav {
    position: fixed;
    background: black;
    z-index: 99999;
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    top: 0 !important;
}
nav img {
    width: 150px !important;
    height: 50px !important;
    bottom: 6px;
    position: relative;
}
nav li {
    display: inline-block;
    padding: 5px 15px 10px 15px;
}
nav a {
    text-decoration: none;
    color: #E7B02D;
    padding-right: 10px;
    font-weight: bold;
}
nav li a:hover{
    color: #000;
    text-decoration: none;
}
#btn-nav-toogle{
    background-image: none;
    border: none;
    background: none;
    padding: 12px 0px 10px 15px;
    opacity: 0.9;
}
#btn-nav-toogle:hover, #btn-nav-toogle:active, #btn-nav-toogle:focus{
    background-image: none;
    border: none;
    background: none;
    color: #666666;
    opacity: 1;
}
.hide-btn-nav {
    display: none;
}
.hide-nav-toogle {
    display: none;
    border-top: 1px solid #ccc;
    margin-top: 8px;
}
.icon-bar{
    border: 1px solid;
    margin: 3px;
    width: 15px;
}
@media (max-width: 768px) {
    .nav-link {
        display: none;
    }
    .hide-btn-nav {
        display: block;
        position: relative;
    }

}


/* EXTRA CSS
  ============================================================ */
.glyphicon{
    font-size: 22px;
    margin: 0 auto;
    display: inline-block;
    width: 40px;
    top:5px;
}

.figure{
    margin: -40px auto;
    max-width: 400px;
    width: 76%;
    border: none;
}
img{
    border: none;
}
footer{
    display: block;
    margin: 0 auto;
    font-size: 13px;
    width: 100%;
}
.links{
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    color:black;
}

.shoppingCard{
    text-align: center;
}
.navbar-brand2/* step2 */{
    margin: 0 auto;
    display: block;
    text-align: center;
}


.price{
    color: red;
}
.fShipping{
    color: #7499C3;
}

td{
    text-align: center;
}
.priceBox td{
    padding: 0 10px;
}

select{
    width: 100%;

    display: block;
    margin: 20px 0;
    height: 40px;
}

.rushOrder{
    width: 100%;
    max-width: 700px;
    height: 40px;
    margin: 0 auto;
    display: block;
}
.lTh{
    text-decoration: line-through;
}
.prSec{
    margin-top: 0 !important;
}
#popUp {
    background-color: rgba(0,0,0, 0.65);
    color:#FFF;
    font-size: 14px;
    display:none;
    position:fixed;
    bottom:15px;
    width:94%;
    padding: 5px 2%;
    margin: 0 3% 0 0;
    z-index:2222;
}
.rushOrder{
    background: yellow;
    background: -webkit-linear-gradient(#FFFF00, #FCDB5E);
    background: -o-linear-gradient(#FFFF00, #FCDB5E);
    background: -moz-linear-gradient(#FFFF00,#FCDB5E);
    background: green;
    border: 1px solid #565656;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 22px;
    font-weight: bold;
    height: 50px;
    text-transform: uppercase;
    margin: 10px auto;
    overflow: hidden;
    max-width: 270px;
    width: 100%;
}
.step2Title{
    margin-top: 10px;
}
/*===================================
                STEP2
====================================*/
.priceBoxContainer{
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

.alert_message {
    background-color: #ff0;
    border: 5px dashed #f02773;
    font-weight: bold;
    padding: 5px;
}

.address_alert {
    background:#FF0 !important;
    color:#000 !important;
    width:370px !important;
    border-color:#FF0 !important;
    width:358px !important;
}
.arrowColor {
    border-color: transparent transparent #ffd200 transparent !important;
}
.arrowColor:before {
    border-color: transparent transparent #ffd200 transparent !important;
}


#orderform {
    overflow: visible;
    position: relative;
    width:380px;
    margin:0 auto;
}
#orderform label, .form-index label {
    color: #000;
    display:none;
    display:block\9;
    font: bold 17px Arial, Helvetica, sans-serif;
    width: 150px;
    text-align:left;
}
#orderform input, #orderform select, #form-index input, #form-index select {
    height: 25px;
    border: 1px solid green;
    font: normal 12px/16px Arial, Helvetica, sans-serif;
    padding: 3px;
    width:370px;
    margin: 0 0 10px 0px;
    *margin-bottom:16px;
    display:block;
}
#orderform input:focus, #form-index input:focus {
    box-shadow: 0 0 5px red;
    -webkit-box-shadow: 0 0 5px red;
    -moz-box-shadow: 0 0 5px red;
    border:1px solid red;
}
#orderform select {
    width:370px;
    height:25px;
}

#form {
    visibility: hidden;
}
#orderform br {
    clear:both;
}
.tip {
    position:absolute !important;
    width: 150px;
}
.toolTip {
    background: red;
    border: thin solid red; /* change color here for the tooltip body border */
    color: #fff;
    left: 0px;
    margin-top: 28px;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 150px;
    z-index: 10;
    border-radius: 4px;
    font: bold 11px 'verdana';
}
.toolTipArrow {
    border-color: transparent transparent red transparent; /* change color here for the triangle border */
    border-style: solid;
    border-width: 11px;
    height:0px;
    width:0px;
    position:absolute;
    top:-20px;
    left:20px;
    display:block;
    content:"\00a0";
}
.toolTipArrow:before {
    border-color: transparent transparent red transparent;
    position:absolute;
    top:-11px;
    left:-12px;
    border-style: solid;
    border-width: 12px;
    height:0px;
    width:0px;
    display:block;
    content:"\00a0";
}
.backGrey {
    background-color:#929292;
    padding:5px 10px;
    margin-bottom:10px;
}

#billing_address, #billing_phone  {
    width:350px !important;
}




/* Extra CSS product site
------------------------------- */
.red {
    color: red;
}

.product-title {
    width: 100%;
}
.product-img {
    width: 100%;
    position: relative;
    bottom: 48px;
}
.without li {
    font-size: 18px;
    display: inline-block;
}
/*.mblock2 img, .eazy-to-use img, .doctors img{
    width: 100%;
    max-width: 600px;
} */
.magnit img {
    width: 50%;
    max-width: 45px;
}
.magnit-text {
    position: relative;
    top: 3px;
    left: 6px;
    font-stretch: condensed;
    font-variant-ligatures: inherit;
    font-size: 13px;
    font-weight: bolder;
}
.sub-title p{
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    margin: 20px 0px;
    text-transform: lowercase;
}
.sub-title-2 p{
    font-size: 16px;
    font-weight: 800;
    text-align: center;
}
.doctors-2 img{
    max-width: 300px;
    width: 30%;
    margin-right: 20px;
}
.circle-img {
    max-width: 200px;
    width: 99%;
}
.garancia img{
    max-width: 125px;
    width: 41%;
}
.option {
    border: 1px solid #333;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 6px;
    width:100%;
    position: relative;
    min-height: 1px;
    float: left;
}
.option img{
    margin-right: 20px;
}

/*  Success page
--------------------------------------*/
main{
    width: 100%;
}
#success {
    text-align: center !important;
}
#success p{
    padding: 0 10px;
}
.order-number {
    font-size: 18px;
}
.tableStep3 tr td{
    border: 1px solid #e7b02d;
    padding: 5px;
    margin: 0 auto;
}
#table {
    width: 50%;
    margin: 0 auto;
    font-size: 12px;
}

.strelka2{
    display: none;

}
#promoTotal{
    font-weight: bold;
}
.ib_pho_text{
    text-align:center;
    display: inline-block;
}

.phoneMobile{
    text-align: center;
    width: 100%;
}

.col{
    text-align: center;
    line-height: 1.3;
}

.style_cib1{font-size: 30px;font-weight: bold;}
.style_cib2{font-size: 30px; font-weight: bold;}
#style_cib33{border-radius: 14px; width: 213px; height: 96px; margin-left: auto; margin-right: auto; display: block;}
.style_cib4{margin: 0px auto; max-width: 280px; width: 65%; border: none; display: block; margin-right: auto; left: 43px; position: relative;}
.style_cib5{width:31%}
.style_cib6{text-align:center}
.style_cib7{font-size: 17px;}
.ico-benz{bottom: -23px; position: relative;}
.style_cib8{font-size: 17px;}
.style_cib9{font-size: 15px;}
.style_cib10{font-size: 17px;}
#style_cib11{font-size: 2em; margin-bottom: 10px; margin-top: 14px; font-weight: bold; font-style: italic;line-height: 35px;}
.style_cib12{width: 65%; margin:0 auto; display: block;}
#style_cib13{text-align: left;padding:8px;}
.style_cib14{padding:10px;font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; margin-bottom: 10px;}
.style_cib15{text-align:center ;font-size: 2em; margin-bottom: 10px; margin-top: 14px; font-weight: bold; font-style: italic;line-height: 35px;}
.style_cib16{text-align:center ;font-size: 2em; margin-bottom: 10px; margin-top: 14px; font-weight: bold; font-style: italic;line-height: 35px;}
.style_cib17{font-weight: bold;}
.style_cib18{color:red;}
.slash{color:black}
.style_cib19{font-weight: bold;}
.style_cib20{text-align:center ;font-size: 2em; margin-bottom: 10px; margin-top: 14px; font-weight: bold; font-style: italic;line-height: 35px;}
#style_cib1{width: 50%;}
#style_cib2{width: 50%;}
#style_cib34{width: 50%;}
#style_cib4{width: 50%;}
#style_cib5{width: 50%;}
#style_cib6{width: 50%;}
.style_cib22{font-size: 12px; }
.style_cib23{text-align:center ;font-size: 2em; margin-bottom: 10px; margin-top: -40px; font-weight: bold; font-style: italic;line-height: 35px;color:green;}
.bg-orange{background:red; color:white;}
.style_cib24{display: block;margin:0 auto;}

.style_cib25{display: block;margin:0 auto;text-align: center;}

.style_cib26{
    margin: 0 auto;
    display: block;
}
.formContainer{
    margin-top: 50px;
}

@media screen and (max-width: 600px) {
    .strelka2{
        width: 77px;
        margin-top: -74px;
        position: absolute;
        /* left: 120px; */
        display: inherit;
    }

    .style_cib26{
        margin: 0 auto;
        display: block;
        width:100%;
    }
    .formContainer{
        margin-top: 0px;
    }
}
a:hover, a:focus{
    color: #2a6496;
    text-decoration: none;
}

.container212 {
    width: 100%;
}
.list-ico {
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.container212 li {
    display: inline;
    list-style: none;
    display: inline-block;
    width: 130px;
}
.list-ico li i {
    margin-bottom: 10px;
}
.bg-inverse {
    background: #1f1e1c;
    color: #fff;
}

.ico-horse {
    width: 75px;
    height: 39px;
    background: url(../images/horse.png) no-repeat;
}

.ico-benz {
    width: 40px;
    height: 40px;
    background: url(../images/benz.png) no-repeat;
}

.ico-lists {
    width: 66px;
    height: 36px;
    background: url(../images/list.png) no-repeat;
}

.ico-bis {
    width: 35px;
    height: 45px;
    background: url(../images/list_special.png) no-repeat;
}

.success-orderdays{
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #05B405;
    text-align: center;
}

.step3_logo{
    text-align: center;
    width:200px;
    margin:0 auto;
    display: block;
}

@media screen and (max-width: 535px) {
    .container212 li {
        display: inline;
        list-style: none;
        display: inline-block;
        width: 145px;
    }
    #table {
        width: 100%;
        margin: 0 auto;
        font-size: 12px;
    }
}

.bold{
    font-weight: bold;
}
.step3_box{
    background:#29B829;
    padding: 10px 5px;
}



.congrats {
    display: table;
    margin: 0 auto;
    font-size: 20px;
}

.congrats strong  {
    display: table-cell;
    vertical-align: middle;
}

.tableStep3 th {
    background:#ffa800;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #e7b02d;
}

.f18 {
    font-size: 18px;
}
.style_cib2016{
    height:150px;
    width:150px;
    margin:0 auto;
    display:block;
    border-radius:100%;
}
.some_info {
    background: rgba(255, 255, 255, 0.61);
    border-radius: 10px;
}