<!DOCTYPE html>
<html>
<head>{{ head_includes|safe }}

<script type="text/javascript">
        $(document).ready(function () {
            $('.toform').click(function () {
                $("html, body").animate({scrollTop: $("form").offset().top}, 1000);
                return false;
            });
        });
    </script>
<meta charset="utf-8"/>
<title>
        Psoridex
    </title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="http://st.acstnst.com/content/Psoridex_RO_Red_footer/css/bootstrap.min.css" rel="stylesheet"/>
<!--  Перерубаем сабсет  -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic,300italic,700italic" rel="stylesheet" type="text/css"/>
<!--  Перерубаем сабсет  -->
<link href="http://st.acstnst.com/content/Psoridex_RO_Red_footer/css/animate.css" rel="stylesheet"/>
<link href="http://st.acstnst.com/content/Psoridex_RO_Red_footer/css/animation.css" rel="stylesheet"/>
<link href="http://st.acstnst.com/content/Psoridex_RO_Red_footer/css/twentytwenty.css" rel="stylesheet"/>
<link href="http://st.acstnst.com/content/Psoridex_RO_Red_footer/css/style.css" rel="stylesheet"/>
<script src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/js/jqueryplugin.js" type="text/javascript"></script>
<script src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/js/jquery.countdown.min.js" type="text/javascript"></script>
<script src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/js/jquery.onscreen.min.js" type="text/javascript"></script>
<script src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/js/jquery.event.move.js" type="text/javascript"></script>
<script src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/js/jquery.twentytwenty.js" type="text/javascript"></script>
<script src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/js/animations.js" type="text/javascript"></script>
<script src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/js/main.js" type="text/javascript"></script>
</head>
<body id="fade">
<main>
<header>
<div class="main_container">
<div class="row">
<a class="col-sm-2" href="index.html#"><img class="logo" src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/img/logo.jpg"/></a>
<div class="col-sm-2 warning align-right">
<p> Atenţie: </p>
</div>
<div class="col-sm-4 warning_ph align-left">
<p>
                            Ca urmare a popularităţii produsului în telesales, există un stoc limitat de Cleanse and Detox începând cu data de 
                            <script>
                                dtime_nums(-1, true)
                            </script>
</p>
</div>
<div class="col-sm-4">
<div class="timer hidden" data-minutes-left="15">
<span class="hours clock_cols timer_delimiter"> {h10}{h1} </span>
<span class="cl"> : </span>
<span class="minutes clock_cols timer_delimiter"> {m10}{m1} </span>
<span class="cl"> : </span>
<span class="seconds clock_cols"> {s10}{s1} </span>
<span class="clearDiv"></span>
</div>
</div>
</div>
</div>
</header>
<section>
<div id="slider">
<div class="twentytwenty-before">
</div>
<div class="twentytwenty-after">
<div class="on_slider">
<div class="main_container">
<h1><strong> PSORIAZISUL ÎŢI ÎNGREUNEAZĂ VIAŢA? </strong></h1>
<h2>
<span></span> <span> PSORIDEX  </span>
<span> te ajută să scapi </span> <span> de problemă </span>
</h2>
<ul class="header-list">
<li> eficient în diferite tipuri şi forme ale bolii </li>
<li> previne creşterea celulelor pielii deja afectate </li>
<li> elimină reapariția bolii </li>
<li> controlează inflamaţia. </li>
</ul>
<img class="product" src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/img/psoridex-header.png"/>
</div>
</div>
</div>
</div>
</section>
<section class="offected">
<div class="main_container">
<a class="button" href="index.html#form"> Comandă acum! </a>
<h3>
                 zona afectată <br/>
                 poate  <span> reapărea! </span>
</h3>
<p>
                    Psoriazisul afectează 4% din populaţia lumii. În majoritatea cazurilor, vorbim despre persoane tinere; Conform statisticilor, 70% dintre cei afectaţi de psoriazis nu au atins încă vârsta de 20 de ani. Oamenii diagnosticaţi cu această boală speră să scape
                    de privirile curioase şi de tendinţa celorlalţi de a-i evita. Poţi să îţi îmbunătățești aspectul pielii!
                </p>
</div>
</section>
<section class="components">
<div class="main_container">
<h4>
                 EFECTELE APLICĂRII <br/>
                 PRODUSULUI  <span> PSORIDEX </span>  PE PIELE!
            </h4>
<div class="row">
<div class="col-sm-4">
<article>
<div class="img-wrap"><img src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/img/component-1.png"/></div>
<h5> HELIANTHUS ANNUUS ULEI DE FLOAREA-SOARELUI </h5>
<p> Catifelează, hrănește pielea, are un efect calmant asupra mâncărimii, are efect analgezic asupra pielii şi articulaţiilor. </p>
</article>
</div>
<div class="col-sm-4">
<article>
<div class="img-wrap"><img src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/img/component-2.png"/></div>
<h5> PARAFINĂ LICHIDĂ </h5>
<p> Are efect antimicrobian, are proprietăţi regeneratoare sporite şi îmbunătăţeşte absorbţia celorlalte componente în piele. </p>
</article>
</div>
<div class="col-sm-4">
<article>
<div class="img-wrap"><img src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/img/component-3.png"/></div>
<h5> ULEI DE MIGDALE DULCI </h5>
<p> Reduce inflamaţia, controlează glandele sebacee, are efect calmant şi hidratant asupra pielii. </p>
</article>
</div>
</div>
<div class="row">
<div class="col-sm-4">
<article>
<div class="img-wrap"><img src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/img/component-4.png"/></div>
<h5> ULEI DE MĂCEȘE </h5>
<p> Menţine pielea hidratată, ajută activ la îndepărtarea pielii îngroșate și exfoliate, are efect antioxidant, oferă pielii vitaminele şi mineralele necesare. </p>
</article>
</div>
<div class="col-sm-4">
<article>
<div class="img-wrap"><img src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/img/component-5.png"/></div>
<h5> ULEI DE GERMENI DE GRÂU </h5>
<p> Tonifică pielea, încurajează procesul de regenerare a pielii, elimină senzaţia de căldură şi mâncărime, ajută la eliminarea exfolierii pielii. </p>
</article>
</div>
<div class="col-sm-4">
<article>
<h5 id="last">
<span> BHT </span> , Ascorbyl Palmitate,
                            <span>  geraniol </span> ,                             citronellol,
                            <span> eugenol </span> ,                             Isopropyl                             Myristate
                        </h5>
<p> Aceste ingrediente sunt antiseptice, elimină SIMPTOMELE, au efect purificator, normalizează metabolismul celulelor pielii, inhibă procesul de exfoliere. </p>
</article>
</div>
</div>
</div>
</section>
<section class="opinion">
<div class="main_container">
<h4>
                 OPINIA
                <img src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/img/doc.png"/>
                 EXPERTULUI
            </h4>
<article>
<p> Majoritatea persoanelor afectate de psoriazis se confruntă cu dificultăţi în ceea ce priveşte munca şi adaptarea în medii sociale. De exemplu, formele puternice de mâncărime împiedică procesul normal de odihnă, iar plăgile pot limita
                        capacitatea de muncă. Psoriazisul îngreunează semnificativ calitatea vieţii oamenilor care suferă de această boală; ei se confruntă atât cu disconfort fizic, cât şi cu disconfort mental. </p>
<p><b> Psоridex </b> poate fi utilizat cu succes de toate persoanele afectate de această boală, eficienţa apare încă de la prima utilizare, ajutând în cazurile incipienta, dar şi în cazurile avansate. </p>
<p><b> Utilizarea produsului PSORIDEX ca metodă principală de tratament elimină afecţiunea în 93% din cazuri! </b></p>
</article>
</div>
</section>
<section class="customers">
<div class="main_container">
<h4> MĂRTURIILE CLIENŢILOR </h4>
<div class="row">
<div class="col-sm-4">
<img src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/img/customer-1.png"/>
<h5> Alina Vlădescu </h5>
<p class="age"> 30 de ani </p>
<p class="history"> Din cauza psoriazisului, nu am participat la o mulţime de activităţi atât la muncă, cât şi în timpul liber. Doctorul m-a diagnosticat cu psoriazis gutos, aveam mici zone afectate, dar pe toată suprafaţa corpului. Psoridex mi-a
                            întrecut aşteptările, acum pot să revin la un stil de viaţă normal. </p>
</div>
<div class="col-sm-4">
<img src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/img/customer-2.png"/>
<h5> Camelia Prodan, </h5>
<p class="age"> 19 ani </p>
<p class="history">
                            În cazul meu, psoriazisul este prezent pe spate. Nu puteam să dorm, să mănânc, să învăţ din cauza mâncărimii insistente în zona afectată. Îi sunt recunoscătoare mamei pentru că a găsit acest produs. Psoridex m-a ajutat să lupt cu această problemă. Mâncărimea
                            a dispărut, iar aspectul pielii s-a îmbunătățit deja semnificativ.
                        </p>
</div>
<div class="col-sm-4">
<img src="http://st.acstnst.com/content/Psoridex_RO_Red_footer/img/customer-3.png"/>
<h5> Ovidiu Niculescu </h5>
<p class="age"> 25 de ani </p>
<p class="history"> Această cremă are multe avantaje. Eu sufeream de psoriazis în stadiu avansat în zona abdomenului. După ce am început să folosesc Psoridex, schimbările pozitive au apărut rapid. Inflamaţia a dispărut, petele şi erupţia au început
                            să se micşoreze sau să dispară. Crăpăturile s-au vindecat, iar pielea a devenit mai moale şi mai sănătoasă. Dacă încercaţi Psoridex, o să vă convingeţi că psoriazisul se poate vindeca. </p>
</div>
</div>
</div>
</section>
<footer>
<div class="main_container" id="form">
<div class="row">
<form action="http://st.acstnst.com/content/Psoridex_RO_Red_footer/{{&#32;order_create_url|safe&#32;}}" method="post">{{ form_hiddens|safe }}

<p> Spune-ne unde să îţi trimitem <br/>
<span> coletul </span></p>
<select id="country_code_selector" name="">
<option value="RO">
                             România
                        </option>
</select>
<input name="name" placeholder="nume" type="text"/>
<input class="only_number" name="phone" placeholder="număr de telefon" type="text"/>
<input class="button js_submit" type="submit" value="Comandă acum!"/>
</form>
<span class="new"> doar

                <b>
<i>159</i>  Lei
                </b>
</span>
<span class="standart"> vechiul <br/>  preţ

                <s>
                     318 Lei
                </s>
</span>
</div>
</div>
</footer>
</main>
</body>
</html>
