﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:508px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:3263px;
  width:526px;
  height:507px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:522px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:223px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:3358px;
  width:223px;
  height:223px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1133px;
  height:740px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2456px;
  width:1133px;
  height:740px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:177px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2456px;
  width:1133px;
  height:167px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:389px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:2752px;
  width:309px;
  height:379px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:389px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:2752px;
  width:309px;
  height:379px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:389px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:2752px;
  width:309px;
  height:379px;
  color:#FFFFFF;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:125px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:1883px;
  width:264px;
  height:125px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:110px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:2120px;
  width:223px;
  height:110px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:101px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:2345px;
  width:211px;
  height:101px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:42px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:134px;
  width:562px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#663300;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:42px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:85px;
  width:259px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#663300;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:208px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:231px;
  width:293px;
  height:208px;
  font-size:18px;
  color:#663300;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:238px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:620px;
  width:527px;
  height:238px;
  font-size:18px;
  color:#663300;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:205px;
  width:270px;
  height:16px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#663300;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:68px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:243px;
  width:504px;
  height:68px;
  font-family:'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF9900;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:22px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:340px;
  width:209px;
  height:22px;
  font-size:18px;
  color:#FF9900;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:24px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:372px;
  width:172px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:44px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:956px;
  width:857px;
  height:44px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#663300;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:1056px;
  width:62px;
  height:58px;
  color:#663300;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:1056px;
  width:53px;
  height:54px;
  color:#663300;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:74px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:1034px;
  width:58px;
  height:74px;
  color:#663300;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:97px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:1041px;
  width:184px;
  height:97px;
  color:#663300;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1138px;
  width:128px;
  height:32px;
  color:#663300;
  text-align:center;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:46px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:1134px;
  width:85px;
  height:46px;
  color:#663300;
  text-align:center;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:1132px;
  width:103px;
  height:15px;
  color:#663300;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:1138px;
  width:131px;
  height:30px;
  color:#663300;
  text-align:center;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:65px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:1474px;
  width:525px;
  height:65px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#663300;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:131px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:1586px;
  width:764px;
  height:131px;
  font-size:28px;
  text-align:center;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:19px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:1702px;
  width:244px;
  height:19px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#663300;
  text-align:center;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:45px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:2403px;
  width:398px;
  height:45px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#663300;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:40px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:2353px;
  width:344px;
  height:40px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#515151;
  text-align:center;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:33px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:2489px;
  width:269px;
  height:33px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#F2F2F2;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:66px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:2537px;
  width:938px;
  height:66px;
  font-size:28px;
  color:#F2F2F2;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:83px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:2649px;
  width:1133px;
  height:73px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:2662px;
  width:300px;
  height:65px;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:314px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:2772px;
  width:267px;
  height:314px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:32px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:3148px;
  width:1017px;
  height:32px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:2662px;
  width:300px;
  height:65px;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:329px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:2772px;
  width:285px;
  height:329px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:2662px;
  width:300px;
  height:65px;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:74px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:3206px;
  width:522px;
  height:74px;
  color:#663300;
  text-align:center;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:3277px;
  width:300px;
  height:22px;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:18px;
  color:#FFFFFF;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:33px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:3206px;
  width:254px;
  height:33px;
  font-size:28px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:19px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:3238px;
  width:300px;
  height:19px;
  font-size:16px;
  color:#663300;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:64px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:3311px;
  width:486px;
  height:64px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:3396px;
  width:115px;
  height:22px;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:18px;
  color:#FFFFFF;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:64px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:3426px;
  width:469px;
  height:64px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:3515px;
  width:300px;
  height:22px;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:18px;
  color:#FFFFFF;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:46px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:3547px;
  width:486px;
  height:46px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:22px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:3624px;
  width:480px;
  height:22px;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:18px;
  color:#FFFFFF;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:30px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:3654px;
  width:486px;
  height:30px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:45px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:3717px;
  width:480px;
  height:45px;
  font-size:12px;
  color:#FFFFFF;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:214px;
  height:5px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:481px;
  width:211px;
  height:2px;
  color:#FF9900;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:84px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:511px;
  width:586px;
  height:84px;
  font-size:36px;
  color:#663300;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:39px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:894px;
  width:495px;
  height:39px;
  font-size:10px;
  color:#663300;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:305px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1235px;
  width:537px;
  height:305px;
  font-size:16px;
  color:#FFFFFF;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:533px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:1268px;
  width:300px;
  height:48px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:241px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:1223px;
  width:241px;
  height:241px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:78px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:1896px;
  width:244px;
  height:78px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1766px;
  width:140px;
  height:140px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:1766px;
  width:140px;
  height:140px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:93px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:2120px;
  width:211px;
  height:93px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:2002px;
  width:140px;
  height:140px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:2008px;
  width:140px;
  height:140px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:101px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:2345px;
  width:211px;
  height:101px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:2240px;
  width:140px;
  height:140px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:2240px;
  width:140px;
  height:140px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1912px;
  width:191px;
  height:16px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1940px;
  width:300px;
  height:16px;
  color:#663300;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:2148px;
  width:101px;
  height:15px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:32px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:2174px;
  width:179px;
  height:32px;
  color:#663300;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:2380px;
  width:98px;
  height:15px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#663300;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:32px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:2406px;
  width:191px;
  height:32px;
  color:#663300;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:1906px;
  width:87px;
  height:16px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:64px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1934px;
  width:271px;
  height:64px;
  color:#663300;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:46px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:2167px;
  width:188px;
  height:46px;
  color:#663300;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:15px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:2376px;
  width:130px;
  height:15px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:32px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:2401px;
  width:189px;
  height:32px;
  color:#663300;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:15px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:2142px;
  width:139px;
  height:15px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:352px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:2772px;
  width:274px;
  height:352px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1133px;
  height:651px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4273px;
  width:1133px;
  height:651px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:318px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:223px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:3421px;
  width:223px;
  height:223px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:223px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:3497px;
  width:223px;
  height:223px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:573px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:4314px;
  width:351px;
  height:573px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#663300;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:3308px;
  width:198px;
  height:40px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#663300;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:163px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:4314px;
  width:577px;
  height:163px;
  font-size:36px;
  color:#FFFFFF;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:4375px;
  width:230px;
  height:22px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:42px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:4425px;
  width:307px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:263px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:4465px;
  width:598px;
  height:263px;
  font-family:'Arial Kursywa', 'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#FFFFFF;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  word-wrap:break-word;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:42px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:4763px;
  width:511px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:35px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:4331px;
  width:302px;
  height:35px;
  font-family:'Broadway Bold', 'Broadway Normalny', 'Broadway';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:33px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:4814px;
  width:187px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:32px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:4868px;
  width:602px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:4759px;
  width:50px;
  height:50px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:239px;
  height:5px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:4385px;
  width:236px;
  height:2px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1138px;
  height:10px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:927px;
  width:1133px;
  height:5px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1138px;
  height:10px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1190px;
  width:1133px;
  height:5px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:501px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:426px;
  width:393px;
  height:501px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:172px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:61px;
  width:183px;
  height:172px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:219px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:216px;
  width:206px;
  height:219px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:72px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:409px;
  width:265px;
  height:72px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:530px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:1766px;
  width:357px;
  height:530px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:257px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:230px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:3869px;
  width:1001px;
  height:230px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:107px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:46px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:3807px;
  width:1020px;
  height:46px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#663300;
  text-align:center;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:4099px;
  width:170px;
  height:33px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#663300;
  text-align:center;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:4099px;
  width:170px;
  height:33px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#663300;
  text-align:center;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:4099px;
  width:170px;
  height:33px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#663300;
  text-align:center;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:38px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:4142px;
  width:306px;
  height:38px;
  font-size:16px;
  color:#663300;
  text-align:center;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:76px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:4142px;
  width:306px;
  height:76px;
  font-size:16px;
  color:#663300;
  text-align:center;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:38px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:4142px;
  width:306px;
  height:38px;
  font-size:16px;
  color:#663300;
  text-align:center;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
