/* ::::: http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic&subset=latin,cyrillic ::::: */
body {
    min-width: 1000px;
    margin: 0;
    font: 18px/25px Georgia, "Times New Roman", Times, serif;
    color: rgb(62, 42, 50);
    background: url("./bg-page.jpg") no-repeat scroll 50% 0 rgb(142, 51, 88);
}

img {
    border-style: none;
}

a {
    color: rgb(215, 44, 124);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input, textarea, select {
    font: 100% Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: rgb(0, 0, 0);
}

form, fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

#wrapper {
    position: relative;
    width: 100%;
    padding: 99px 0 0;
    overflow: hidden;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 99px;
    overflow: hidden;
    background: url("./bg-header.jpg") repeat-x scroll 0 0 transparent;
}

#header .wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 17px 0 0;
}

.logo {
    float: left;
    width: 250px;
    height: 66px;
    font-size: 50px;
    line-height: 60px;
    text-align: right;
    color: #ffffff;
    text-indent: -9999px;
    background: url("./logo.png") no-repeat scroll 0 0 transparent;
}

#header .holder {
    float: right;
    width: 700px;
    margin: 0 -12px 0 0;
    padding: 18px 0 0;
    font: 15px/30px "Trebuchet MS", Helvetica, sans-serif;
    text-align: right;
}

#nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none outside none;
    vertical-align: top;
}

#nav li {
    float: left;
    padding: 0 0 0 35px;
}

#nav li:first-child {
    padding: 0;
}

#nav a {
    float: left;
    color: rgb(255, 255, 255);
}

#header .link-order {
    display: inline-block;
    width: 133px;
    height: 33px;
    margin: 0 0 0 21px;
    padding: 0 0 3px;
    line-height: 30px;
    vertical-align: top;
    text-align: center;
    color: rgb(255, 255, 255);
    background: url("./bg-link-order.png") no-repeat scroll 0 0 transparent;
    border: none;
    cursor: pointer;
}

.w1 {
    width: 1000px;
    margin: 0 auto;
}

.w1:after {
    content: "";
    display: block;
    clear: both;
}

.intro {
    position: relative;
    width: 100%;
    padding: 18px 0 0;
}

.intro:after {
    content: "";
    display: block;
    clear: both;
}

.intro .logo {
    position: relative;
    display: block;
    float: none;
    width: 280px;
    height: 155px;
    margin: 0 auto 56px;
    font-size: 50px;
    text-align: center;
    background: url("./logo2.png") no-repeat scroll 0 0 transparent;
}

.intro .logo span {
    position: absolute;
    top: 100%;
    left: 20px;
    display: inline-block;
    width: 100%;
    width: 250px;
    height: 100%;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-indent: 0;
}

.intro .logo .log {
    margin-top: -45px;
    font-size: 50px;
}

.intro .block {
    width: 1006px;
    height: 420px;
    margin: 0 -3px 39px;
    text-align: center;
    background: url("./bg-block.jpg") no-repeat scroll 0 0 transparent;
}

.intro .photo {
    position: absolute;
    top: 0;
    left: -76px;
}

.decoration-01 {
    position: absolute;
    top: 96px;
    right: -26px;
}

.intro .info-box {
    width: 280px;
    margin: 0 auto;
    padding: 17px 0 0;
    font: italic 18px/18px Georgia, "Times New Roman", Times, serif;
    color: rgb(28, 28, 28);
}

.intro .info-box p {
    margin: 0 0 10px;
}

.intro .info-box img {
    margin: 0 0 5px;
    vertical-align: top;
}

.panel {
    position: absolute;
    bottom: -49px;
    left: 30px;
    width: 883px;
    height: 86px;
    padding: 25px 27px 0 30px;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    background: url("./bg-panel.png") no-repeat scroll 0 0 transparent;
}

.panel .text {
    float: left;
    width: 184px;
    font-size: 35px;
    line-height: 35px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.panel .text span {
    display: block;
    margin: -5px 0 0;
    font-size: 30px;
    line-height: 30px;
}

.panel .price {
    display: block;
    float: left;
    width: 149px;
    margin-left: 69px!important;
    /* margin-right: 20px; */
    padding: 8px 0 0 0!important;
    font-size: 22px;
    line-height: 45px;
    text-align: center;
    color: #7a0039;
    text-transform: uppercase;
    text-decoration: line-through;
}

.panel .discount {
    float: left;
    width: 80px;
    padding: 12px 0 0;
    font-size: 31px;
    line-height: 36px;
    text-align: center;
    color: #7b143e;
}

.panel strike {
    float: left;
    width: 160px;
    margin-left: 14px;
    padding: 12px 0 0;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #ee4192;
    text-transform: uppercase;
    text-decoration: none;
}

.panel .link-order {
    float: right;
    width: 217px;
    height: 56px;
    margin: 5px 0 0;
    padding: 1px 0 5px;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: rgb(142, 51, 88);
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgb(255, 233, 171);
    background: url("./bg-link-order2.png") no-repeat scroll 0 0 transparent;
    transition: 0.5s;
}

.panel .link-order:hover {
    text-decoration: none;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.info-container {
    padding: 44px 0 41px;
    overflow: hidden;
    background: url("./bg-info-container.jpg") no-repeat scroll 50% 0 transparent;
}

.info-container h2 {
    margin: 0 0 53px;
    font: 40px/44px "Roboto Condensed", Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.info-container .holder {
    overflow: hidden;
}

.info-container .list {
    float: left;
    width: 510px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none outside none;
    font-size: 19px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    font-style: italic;
}

.info-container .list li {
    padding: 0 0 28px 31px;
    background: url("./bullet-01.png") no-repeat scroll 1px 4px transparent;
}

.info-container .list.alt {
    float: right;
    width: 469px;
}

.step-block {
    width: 1000px;
    height: 464px;
    margin: 0 -3px 34px;
    padding: 42px 3px;
    background: url("./bg-step-block.png") no-repeat scroll 0 0 transparent;
}

.step-block .heading {
    margin: 0 30px 25px;
    padding: 0 0 27px;
    overflow: hidden;
    font: 19px/22px "Roboto Condensed", Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(215, 44, 124);
    border-bottom: 1px solid rgb(238, 65, 146);
}

.step-block .heading p {
    margin: 0;
}

.step-block .heading h2 {
    margin: 0;
    font-weight: normal;
    font-size: 40px;
    line-height: 44px;
    color: rgb(147, 24, 82);
    text-transform: uppercase;
}

.step-list {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none outside none;
    font: 16px/25px "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    color: rgb(38, 38, 38);
}

.step-list li {
    display: inline-block;
    width: 213px;
    padding: 0 16px;
    vertical-align: top;
}

.step-list strong {
    display: block;
    padding: 0 0 3px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgb(147, 24, 82);
    font-style: italic;
}

.step-list img {
    margin: 0 0 5px;
    vertical-align: top;
}

.step-list p {
    margin: 0;
}

.about-box {
    margin: 0 0 41px;
    overflow: hidden;
    font: 16px/25px "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(243, 188, 210);
}

.about-box h2 {
    margin: 0 0 39px;
    font: 40px/50px "Roboto Condensed", Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.about-box .wrap {
    position: relative;
    padding: 0 30px 8px;
    overflow: hidden;
    background: url("./bg-about-box.jpg") no-repeat scroll 50% 100% transparent;
}

.about-box .holder {
    float: left;
    width: 350px;
}

.about-box .photo {
    position: absolute;
    left: 323px;
}

.about-box p {
    margin: 0 0 25px;
}

.about-box .text-holder {
    font: italic 18px/25px Georgia, "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
}

.about-box .text-box {
    padding: 0 70px 0 0;
    overflow: hidden;
}

.about-box .frame {
    float: right;
    width: 274px;
    padding: 0 20px 0 0;
}

.about-box .frame h3 {
    display: block;
    margin: 0 0 10px;
    font: italic bold 18px/25px Georgia, "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
}

.about-box .img-holder {
    margin: -13px 0 20px -12px;
    overflow: hidden;
}

.about-box .img-holder img {
    vertical-align: top;
}

.description {
    height: 67px;
    padding: 33px 34px;
    overflow: hidden;
    font: 16px/25px "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(237, 146, 183);
    background: url("./bg-description.jpg") no-repeat scroll 0 0 transparent;
}

.description .text {
    float: left;
    padding: 0 14px 0 0;
}

.description strong {
    display: block;
    font: italic bold 18px/25px Georgia, "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
}

.description span {
    display: block;
}

.description img {
    float: left;
    margin: 3px 0 0;
}

.reviews-block {
    width: 100%;
}

.reviews-block:after {
    content: "";
    display: block;
    clear: both;
}

.reviews-block h2 {
    margin: 0 0 35px;
    font: 40px/50px "Roboto Condensed", Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.reviews-block .box {
    margin: 0 0 30px;
    padding: 24px 30px 32px;
    overflow: hidden;
    font-style: italic;
    background: url("./bg-post.png") repeat-y scroll 0 0 rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 1px 4px rgba(50, 13, 28, 0.75);
}

.reviews-block .img-holder {
    float: left;
    width: 130px;
    margin: 5px 40px 0 0;
    font: 16px/20px "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    color: rgb(177, 130, 149);
}

.reviews-block .img-holder img {
    margin: 0 0 19px;
    vertical-align: top;
}

.reviews-block .img-holder strong {
    display: block;
    color: rgb(72, 39, 52);
}

.reviews-block .holder {
    overflow: hidden;
}

.reviews-block p {
    margin: 0;
}

.order-block {
    position: relative;
    height: 502px;
    padding: 40px 30px;
    overflow: hidden;
    background: none repeat scroll 0 0 rgb(93, 27, 54);
    border-radius: 15px;
}

.decoration-02 {
    position: absolute;
    bottom: 56px;
    left: 362px;
}

.price-block {
    float: left;
    width: 365px;
    height: 357px;
    margin: 74px 0 0;
    padding: 34px 85px 0 0;
    text-align: center;
    background: url("./bg-price-block.png") no-repeat scroll left center transparent;
}

.price-block h3 {
    margin: 0 0 13px;
    font: 20px/30px "Roboto Condensed", Arial, Helvetica, sans-serif;
    color: rgb(255, 138, 186);
    text-transform: uppercase;
}

.price-block h3 span {
    display: block;
    margin: -5px 0 0;
    font-size: 30px;
    line-height: 40px;
    color: rgb(255, 255, 255);
}

.price-block .price {
    display: block;
    width: 254px;
    height: 50px;
    margin: 0 auto 14px;
    font: 46px/50px "Roboto Condensed", Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(122, 0, 57);
    text-transform: uppercase;
    background: url("./bg-price.png") no-repeat scroll 0 0 transparent;
}

.old-price {
    display: block;
    padding: 0 0 13px;
    font: 15px/20px "Roboto Condensed", Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(255, 138, 186);
    text-transform: uppercase;
    text-decoration: line-through;
}

.old-price strike {
    display: block;
    font-size: 25px;
    line-height: 32px;
}

.timer-wrap {
    width: 240px;
    margin: 0 auto;
    padding: 0 0 0 12px;
    overflow: hidden;
    font: italic 17px/25px Georgia, "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
}

.timer-wrap p {
    margin: 0 0 12px;
}

.timer {
    overflow: hidden;
    text-align: center;
}

.timer-desc {
    width: 100%;
    overflow: hidden;
}

.timer-desc div.t {
    display: block;
    float: left;
    width: 64px;
    margin: 0 0 0 21px;
    font: italic 12px/16px Georgia, "Times New Roman", Times, serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

.timer-desc div.t:first-child {
    margin: 0;
}

.order-form {
    float: right;
    width: 450px;
}

.order-form h3 {
    margin: 0 0 24px;
    padding: 0 37px 0 0;
    font: 40px/50px "Roboto Condensed", Arial, Helvetica, sans-serif;
    text-align: right;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.order-form .box {
    padding: 55px 31px 65px 0;
    overflow: hidden;
    background: none repeat scroll 0 0 rgb(246, 240, 242);
    border-radius: 5px;
}

.order-form .frame {
    float: right;
    width: 312px;
}

.order-form .row {
    padding: 0 0 14px;
    overflow: hidden;
}

.order-form label {
    float: left;
    font: italic 18px/25px Georgia, "Times New Roman", Times, serif;
}

.order-form select {
    width: 312px;
    font: 16px/20px "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(83, 16, 43);
}

.order-form .holder {
    padding: 0 0 8px 3px;
    overflow: hidden;
}

.order-form .info {
    float: right;
    margin: 4px 0 0;
    font: italic 12px/16px Georgia, "Times New Roman", Times, serif;
    color: rgb(167, 130, 145);
}

.order-form .text {
    width: 312px;
    height: 32px;
    overflow: hidden;
    background: url("./bg-text.png") no-repeat scroll 0 0 transparent;
}

.order-form .text input, .order-form .text select {
    float: left;
    width: 100%;
    height: 32px;
    padding: 0 11px;
    font: 16px/32px "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(83, 16, 43);
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}

.order-form .block {
    margin: 0 -5px 0 -23px;
    padding: 30px 0 0;
}

select {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: radio-container;
    appearance: none;
}

.timer > span {
    display: inline-block;
    margin: 0 2px;
    text-transform: uppercase;
    font-style: normal;
}

.timer > span span {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 1px;
    font-size: 30px;
    line-height: 35px;
    font-family: "Roboto Condensed", sans-serif;
    color: #7a0039;
    background: #ffffff;
    border-radius: 6px;
}

select::-ms-expand {
    display: none;
}

.order-form dl {
    float: left;
    width: 290px;
    margin: -2px 0 0;
    font: italic 18px/25px Georgia, "Times New Roman", Times, serif;
    color: rgb(199, 119, 152);
    white-space: nowrap;
}

.order-form dl dt {
    float: left;
    clear: both;
    width: 200px;
    padding: 0 3px 0 0;
    text-align: right;
}

.order-form dl dd {
    float: left;
    margin: 0;
    color: rgb(255, 255, 255);
}

.btn-search {
    float: right;
    width: 171px;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 50px;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background: url("./btn-order.png");
    border: medium none;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}

.btn-search:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#footer {
    padding: 30px 0;
    overflow: hidden;
    font: 12px/20px "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    color: rgb(190, 104, 139);
}

#footer p {
    margin: 0;
}

#footer address {
    font-style: normal;
}

.jcf-hidden {
    position: absolute ! important;
    left: -9999px ! important;
    display: block ! important;
}

.select-area {
    position: relative;
    float: left;
    height: 32px;
    overflow: hidden;
    font: 16px/32px "Trebuchet MS", Helvetica, sans-serif;
    background: url("./bg-select.png") no-repeat scroll 0 0 transparent;
    cursor: default;
}

.select-area .center {
    padding: 0 11px;
    white-space: nowrap;
}

/* ::::: http://c.rosgrudi.com/css/timer.css ::::: */
#timer {
    position: relative;
}

.cntSeparator {
    height: 100%;
    margin: 0;
    padding: 0 10px 0 4px;
    font-size: 1px;
    color: rgb(0, 0, 0);
    background: url("./separator-01.png") no-repeat scroll 3px 10px transparent;
}

.jcf-unselectable {
    -moz-user-select: none;
}

.ac_footer, .ac_footer a {
    color: #fff;
}