/*ee*/
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
}

body {
    margin: 0;
    color: #fff;
    font: italic 17px/25px Georgia, "Times New Roman", Times, serif;
    min-width: 1000px;
}

img {
    border-style: none;
}

a {
    text-decoration: none;
    color: #d72c7c;
}

a:hover {
    text-decoration: underline;
}

input, textarea, select {
    font: 100% Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: #000;
}

form, fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

q {
    quotes: none;
}

q:before {
    content: '';
}

q:after {
    content: '';
}

.bg-order1 {
    background: #8e3358 url(./order1-bg-page.jpg) no-repeat 50% 0;
}

#wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.total {
    color: #a7195b;
    line-height: 34px
}

.total_value {
    font-size: 34px;
}

.total_curr {
    font-size: 30px;
}

.order-block1 {
    width: 1000px;
    margin: 0 auto;
    padding: 98px 0 0;
}

.order-block1 .decoration {
    position: absolute;
    left: 454px;
    top: -92px;
}

.order-block1:after {
    content: "";
    display: block;
    clear: both;
}

.order-block1 .box1 {
    background: url(./order1-bg-box.png) no-repeat;
    width: 1006px;
    height: 243px;
    margin: 0 -3px;
    padding: 53px 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    color: #1c1c1c;
    position: relative;
}

.order-block1 h2 {
    font: 40px/44px "Roboto Condensed", Arial, Helvetica, sans-serif;
    color: #7b294a;
    margin: 0 0 16px;
    text-transform: uppercase;
}

.order-block1 .box1 p {
    margin: 0;
}

.order-block1 .box2 {
    max-width: 860px;
    margin: -87px auto 32px;
    padding: 41px 20px 22px;
    background: #ee4192;
    border-radius: 14px;
    text-align: center;
    position: relative;
    z-index: 10;
    font-size: 18px;
    line-height: 28px;
}

.order-block1 .box2 h3 {
    font: 40px/44px "Roboto Condensed", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0 0 17px;
}

.order-block1 .box2 p {
    margin: 0 0 10px;
}

.order-block1 .subscribe-form {
    background: url(./order1-bg-subscribe-form.png) no-repeat;
    width: 499px;
    height: 55px;
    margin: 0 auto;
    padding: 10px 23px 10px 19px;
}

.order-block1 .subscribe-form label {
    font-size: 18px;
    line-height: 35px;
    color: #ffb4d7;
    float: left;
    padding: 0 20px 0 0;
}

.order-block1 .subscribe-form .text {
    background: url(./order1-bg-text.png) no-repeat;
    width: 202px;
    height: 35px;
    float: left;
}

.order-block1 .subscribe-form .text input {
    background: none;
    border: none;
    width: 182px;
    height: 35px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 35px;
}

.order-block1 .btn-save {
    border: none;
    background: url(./order1-btn-save.png) no-repeat;
    width: 174px;
    height: 41px;
    float: right;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
}

.order-block1 .box3 {
    background: url(./order1-bg-box3.png) no-repeat;
    width: 904px;
    height: 150px;
    margin: 0 auto 74px;
    position: relative;
    z-index: 10;
}

.order-block1 .box3 h3 {
    font: 40px/45px "Roboto Condensed", Arial, Helvetica, sans-serif;
    color: #ffb024;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 23px 0 0;
}

.order-block1 .decoration-02 {
    width: 213px;
    height: 270px;
    position: absolute;
    right: 0;
    top: -54px;
}

.order-block1 #footer {
    max-width: 898px;
    margin: 0 auto;
    padding: 42px 0 60px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    color: #d75f90;
    text-align: center;
    background: url(./order1-separator-01.png) repeat-x;
}

.order-block1 #footer p {
    margin: 0 0 18px;
}

.order-block1 #footer address {
    font-style: normal;
}

body {
    margin: 0;
    color: #444;
    font: 18px/25px Georgia, "Times New Roman", Times, serif;
    min-width: 1000px;
    color: #3e2a32;
    background: #8e3358 url(./bg-page.jpg) no-repeat 50% 0;
}

img {
    border-style: none;
}

a {
    text-decoration: none;
    color: #d72c7c;
}

a:hover {
    text-decoration: underline;
}

input, textarea, select {
    font: 100% Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: #000;
}

form, fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

q {
    quotes: none;
}

q:before {
    content: '';
}

q:after {
    content: '';
}

#wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 99px 0 0;
}

#header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    background: url(./bg-header.jpg) repeat-x;
    height: 99px;
    z-index: 101;
}

#header .wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 17px 0 0;
}

#header .logo {
    position: relative;
}

.logo {
    background: url(./logo_3.png) no-repeat;
    width: 250px;
    height: 66px;
    text-indent: -9999px;
    float: left;
    color: #fff;
    text-align: right;
    font-size: 50px;
    line-height: 60px;
}

.logo a {
    height: 100%;
    display: block;
}

#header .holder {
    width: 700px;
    float: right;
    margin: 0 -12px 0 0;
    padding: 18px 0 0;
    text-align: right;
    font: 15px/30px "Trebuchet MS", Helvetica, sans-serif;
}

#nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

* + html #nav {
    display: inline;
}

#nav li {
    float: left;
    padding: 0 0 0 35px;
}

#nav li:first-child {
    padding: 0;
}

#nav a {
    float: left;
    color: #fff;
}

#nav a:hover {
    color: #d72c7c;
    cursor: pointer;
}

#header .link-order {
    text-align: center;
    color: #fff;
    margin: 0 0 0 21px;
    padding: 0 0 3px;
    line-height: 30px;
    background: url(./bg-link-order.png) no-repeat;
    width: 133px;
    height: 33px;
    display: inline-block;
    vertical-align: top;
    border: none;
}

#header .link-order:hover {
    cursor: pointer;
}

* + html .link-order {
    display: inline;
}

.w1 {
    width: 1000px;
    margin: 0 auto;
}

.w1:after {
    content: "";
    display: block;
    clear: both;
}

.intro {
    width: 100%;
    padding: 7px 0 0;
    position: relative;
}

.intro:after {
    content: "";
    display: block;
    clear: both;
}

.intro .logo {
    background: url('./logo2.png') no-repeat scroll 0% 0% transparent;
    width: 280px;
    height: 155px;
    float: none;
    display: block;
    margin: 0px auto 56px;
    position: relative;
    font-size: 50px;
    text-align: center;
}

.intro .logo span {
    text-indent: 0;
    position: absolute;
    left: 20px;
    top: 100%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    display: inline-block;
    width: 250px;
    color: #fff;
    height: 100%;
    line-height: 26px;
}

.intro .logo .log {
    font-size: 50px;
    margin-top: -45px;
}

.channel-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 34px;
    top: 20px;
}

.channel-list li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 -12px 0 0;
}

.channel-list img {
    vertical-align: top;
}

.intro .block {
    background: url(./bg-block.png) no-repeat;
    width: 1006px;
    height: 420px;
    margin: 0 -3px 39px;
    text-align: center;
}

.intro .photo {
    position: absolute;
    left: -95px;
    top: 0;
}

.w1 .decoration-01 > img {
    width: 300px;
    position: absolute;
    right: 0;
    top: 42px;
}

.decoration-01 {
    position: absolute;
    right: 9px;
    top: 124px;
}

.intro .info-box {
    width: 280px;
    margin: 0 auto;
    padding: 17px 0 0;
    color: #1c1c1c;
    font: italic 18px/18px Georgia, "Times New Roman", Times, serif;
}

.intro .info-box p {
    margin: 0 0 10px;
}

.intro .info-box img {
    vertical-align: top;
    margin: 0 0 5px;
}

.panel {
    background: url(./bg-panel.png) no-repeat;
    width: 1093px;
    height: 86px;
    padding: 25px 27px 0 30px;
    position: absolute;
    left: -80px;
    bottom: -49px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

.panel .text {
    width: 150px;
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
    color: #fff;
    float: left;
    margin-left: 103px;
}

.panel .text span {
    display: block;
    margin: -5px 0 0;
    font-size: 30px;
    line-height: 30px;
}

.panel .price {
    width: 235px;
    float: left;
    padding: 8px 0 0;
    font-size: 0;
    line-height: 45px;
    text-transform: uppercase;
    color: #7a0039;
    display: block;
    text-align: center;
}

.panel .price > span {
    font-size: 45px
}

.panel .discount {
    width: 108px;
    padding: 12px 0 0;
    float: left;
    font-size: 28px;
    line-height: 38px;
    color: #7b143e;
    text-align: center;
}

.panel strike {
    width: 138px;
    padding: 12px 0 0;
    font-size: 26px;
    line-height: 38px;
    text-transform: uppercase;
    color: #ee4192;
    float: left;
}

.panel .timer-wrap {
    float: right;
    margin: 10px 68px 0 0;
    padding: 0;
}

.info-container2 {
    background: url(./bg-info-container2.png) no-repeat;
    width: 1006px;
    height: 264px;
    margin: -46px -3px 6px;
    padding: 73px 0 0;
}

.info-container2 .list {
    width: 260px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 2px 0 0 35px;
    overflow: hidden;
    font: 17px/18px "Roboto Condensed", Arial, Helvetica, sans-serif;
    color: #a7195b;
    text-transform: uppercase;
}

.info-container2 .list li {
    padding: 10px 0 39px 70px;
    overflow: hidden;
}

.info-container2 .list .icon1 {
    background: url(./icon-05.png) no-repeat 0 2px;
}

.info-container2 .list .icon2 {
    background: url(./icon-06.png) no-repeat 0 4px;
}

.info-container2 .list .icon3 {
    background: url(./icon-07.png) no-repeat 4px 5px;
}

.order-form2 {
    width: 653px;
    margin: 0 0 0 4px;
}

.order-form2 .row {
    padding: 0 0 10px;
}

.order-form2 select {
    width: 653px;
    background: url(./bg-text2.png) no-repeat;
    height: 34px;
    border: none;
    padding: 1px;
    color: #d0b24f;
}

.order-form2 .text {
    background: url(./bg-text2.png) no-repeat;
    width: 651px;
    height: 34px;
    padding: 1px;
}

.order-form2 .text input {
    border: none;
    background: none;
    width: 631px;
    height: 34px;
    padding: 0 10px;
    font: italic 19px/34px Georgia, "Times New Roman", Times, serif;
    color: #d0b24f;
    display: block;
}

.order-form2 .btn-holder {
    font: italic 19px/48px Georgia, "Times New Roman", Times, serif;
    color: #bb9725;
    padding: 0 23px 0 0;
}

:focus {
    outline: none;
}

.order-form2 .btn {
    border: none;
    background: url(./bg-btn.png) no-repeat;
    width: 206px;
    height: 47px;
    background-size: 100%;
    padding: 0;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.order-form2 .btn:hover {
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.order-form2 p {
    margin: 0;
}

.order-block2 {
    width: 660px;
    float: right;
    padding: 0 30px 0 0;
}

.order-block2 h2 {
    font: 25px/30px "Roboto Condensed", Arial, Helvetica, sans-serif;
    color: #a7195b;
    text-transform: uppercase;
    margin: 0 0 14px;
}

.info-container {
    padding: 44px 0 41px;
    background: url("./bg-info-container.jpg") no-repeat top center;
}

.info-container h2 {
    font: 40px/44px "Roboto Condensed", Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 53px;
    text-align: center;
}

.info-container .holder {
    overflow: hidden;
}

.info-container .list {
    width: 510px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 19px;
    line-height: 22px;
    font-style: italic;
    color: #fff;
}

.info-container .list li {
    background: url(./bullet-01.png) no-repeat 1px 4px;
    padding: 0 0 28px 31px;
}

.info-container .list.alt {
    width: 469px;
    float: right;
}

.step-block {
    background-color: #fbf7f2;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 1000px;
    height: 464px;
    margin: 0 -3px 34px;
    padding: 42px 3px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.33);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.33);
    background: url("./bg-step-block.png") no-repeat top center;
}

.step-block .heading {
    overflow: hidden;
    margin: 0 30px 25px;
    padding: 0 0 27px;
    border-bottom: 1px solid #ee4192;
    text-align: center;
    font: 19px/22px "Roboto Condensed", Arial, Helvetica, sans-serif;
    color: #d72c7c;
}

.step-block .heading p {
    margin: 0;
}

.step-block .heading h2 {
    font-size: 40px;
    line-height: 44px;
    color: #931852;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
}

.step-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font: 16px/25px "Trebuchet MS", Helvetica, sans-serif;
    color: #262626;
}

.step-list li {
    display: inline-block;
    vertical-align: top;
    width: 213px;
    padding: 0 16px;
}

* + html .step-list li {
    display: inline;
}

.step-list strong {
    display: block;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    font-style: italic;
    color: #931852;
    padding: 0 0 3px;
}

.step-list img {
    vertical-align: top;
    margin: 0 0 5px;
}

.step-list p {
    margin: 0;
}

.about-box {
    margin: 0 0 41px;
    overflow: hidden;
    font: 16px/25px "Trebuchet MS", Helvetica, sans-serif;
    color: #f3bcd2;
}

.about-box h2 {
    font: 40px/50px "Roboto Condensed", Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 39px;
    text-align: center;
}

.about-box .wrap {
    overflow: hidden;
    padding: 0 30px 8px;
    position: relative;
    background: url(./bg-about-box.jpg) no-repeat 50% 100%;
}

.about-box .holder {
    width: 350px;
    float: left;
}

.about-box .photo {
    position: absolute;
    left: 323px;
    bottom: -10px;
}

.about-box p {
    margin: 0 0 25px;
}

.about-box .text-holder {
    font: italic 18px/25px Georgia, "Times New Roman", Times, serif;
    color: #fff;
}

.about-box .text-box {
    overflow: hidden;
    padding: 0 70px 0 0;
}

.about-box .frame {
    width: 274px;
    padding: 0 20px 0 0;
    float: right;
}

.about-box .frame {
    overflow: hidden;
}

.about-box .frame h3 {
    display: block;
    font: italic bold 18px/25px Georgia, "Times New Roman", Times, serif;
    color: #fff;
    margin: 0 0 10px;
}

.about-box .img-holder {
    overflow: hidden;
    margin: -13px 0 20px -12px;
}

.about-box .img-holder img {
    vertical-align: top;
}

.description {
    background: url(./bg-description.jpg) no-repeat;
    padding: 33px 34px;
    height: 67px;
    overflow: hidden;
    font: 16px/25px "Trebuchet MS", Helvetica, sans-serif;
    color: #ed92b7;
}

.description .text {
    float: left;
    padding: 0 14px 0 0;
}

.description strong {
    display: block;
    color: #fff;
    font: italic bold 18px/25px Georgia, "Times New Roman", Times, serif;
}

.description span {
    display: block;
}

.description img {
    float: left;
    margin: 3px 0 0;
}

.reviews-block {
    width: 100%;
}

.reviews-block:after {
    content: "";
    display: block;
    clear: both;
}

.reviews-block h2 {
    font: 40px/50px "Roboto Condensed", Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 35px;
    text-align: center;
}

.reviews-block .box {
    overflow: hidden;
    border: 1px solid #fff;
    padding: 24px 30px 32px;
    background: #fff url(./bg-post.png) repeat-y;
    border-radius: 15px;
    margin: 0 0 30px;
    box-shadow: 0 1px 4px rgba(50, 13, 28, 0.75);
    -webkit-box-shadow: 0 1px 4px rgba(50, 13, 28, 0.75);
    font-style: italic;
}

.reviews-block .img-holder {
    width: 130px;
    float: left;
    text-align: center;
    font: 16px/20px "Trebuchet MS", Helvetica, sans-serif;
    color: #b18295;
    margin: 5px 40px 0 0;
}

.reviews-block .img-holder img {
    vertical-align: top;
    margin: 0 0 19px;
}

.reviews-block .img-holder strong {
    display: block;
    color: #482734;
    display: block;
}

.reviews-block .holder {
    overflow: hidden;
}

.reviews-block p {
    margin: 0;
}

.order-block {
    overflow: hidden;
    background: #5d1b36;
    border-radius: 15px;
    padding: 40px 30px;
    height: 502px;
    position: relative;
}

.decoration-02 {
    background: url(./pack.png) no-repeat;
    width: 300px;
    background-size: auto 100%;
    height: 466px;
    position: absolute;
    left: 353px;
    bottom: 76px;
}

.decoration-03 {
    background: url(./pack_2.png) no-repeat;
    width: 300px;
    background-size: auto 100%;
    height: 634px;
    position: absolute;
    right: 345px;
    bottom: 5px;
}

.no_form {
    margin-right: -200px;
}

.price-block {
    background: url(./bg-price-block.png) no-repeat;
    width: 365px;
    margin: 74px 0 0 60px;
    padding: 24px 65px 0 0;
    height: 357px;
    float: left;
    text-align: center;
}

.price-block h3 {
    font: 20px/30px "Roboto Condensed", Arial, Helvetica, sans-serif;
    color: #ff8aba;
    text-transform: uppercase;
    margin: 0;
}

.price-block h3 span {
    display: block;
    margin: -5px 0 0;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
}

.price-block .price {
    display: block;
    background: url(./bg-price.png) no-repeat;
    width: 254px;
    height: 50px;
    margin: 0 auto 14px;
    font: 46px/50px "Roboto Condensed", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #7a0039;
    text-align: center;
}

.old-price {
    padding: 0 0 13px;
    display: block;
    text-align: center;
    font: 15px/20px "Roboto Condensed", Arial, Helvetica, sans-serif;
    color: #ff8aba;
    text-transform: uppercase;
}

.old-price strike {
    display: block;
    font-size: 25px;
    line-height: 32px;
}

.timer-wrap {
    width: 240px;
    margin: 0 auto;
    padding: 0 0 0 12px;
    overflow: hidden;
    font: italic 18px/25px Georgia, "Times New Roman", Times, serif;
    color: #fff;
}

.timer-wrap p {
    margin: 0 0 12px;
}

.timer {
    overflow: hidden;
    text-align: center;
}

.landing__countdown span {
    position: relative;
    background: url(./timer_bg.png) no-repeat;
    width: 67px;
    height: 43px;
    padding: 8px 0 0 8px;
    box-sizing: border-box;
    display: block;
    float: left;
    margin-right: 17px;
    font-size: 30px;
    font-style: normal;
    color: #5d1b36;
    letter-spacing: 17px;
    font-family: Arial;
}

.landing__countdown span:not(:last-of-type):after {
    position: absolute;
    right: -16px;
    top: 0;
    content: '';
    font-size: 1px;
    color: #000;
    height: 100%;
    padding: 0 10px 0 4px;
    margin: 0;
    background: url(./separator-01.png) no-repeat 3px 10px;
}

.landing__countdown.top span:not(:last-of-type):after {
    padding: 0 0 0 10px;
    background: url(./separator-02.png) no-repeat 0 12px;
}

.landing__countdown span:last-of-type {
    margin-right: 0;
}

.timer-desc {
    width: 100%;
    overflow: hidden;
}

.timer-desc div.t {
    display: block;
    float: left;
    width: 64px;
    text-align: center;
    margin: 0 0 0 21px;
    font: italic 12px/16px Georgia, "Times New Roman", Times, serif;
    color: #fff;
}

.timer-desc div.t:first-child {
    margin: 0;
}

.order-form {
    width: 450px;
    float: right;
}

.order-form h3 {
    font: 20px/50px "Roboto Condensed", Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 24px;
    text-align: right;
    padding: 0 37px 0 0;
}

.order-form .box {
    background: #f6f0f2;
    padding: 34px 31px 14px 0;
    overflow: hidden;
    margin-top: 100px;
}

.order-form .frame {
    width: 312px;
    float: right;
}

.order-form .row {
    padding: 0 0 14px;
}

.order-form label {
    float: left;
    font: italic 18px/25px Georgia, "Times New Roman", Times, serif;
}

.order-form select {
    border: none;
    width: 312px;
    font: 16px/20px "Trebuchet MS", Helvetica, sans-serif;
    color: #53102b;
    background: url(./bg-text.png) no-repeat;
    height: 32px;
    overflow: hidden;
}

.order-form .holder {
    overflow: hidden;
    padding: 0 0 8px 3px;
}

.order-form .info {
    font: italic 12px/16px Georgia, "Times New Roman", Times, serif;
    color: #a78291;
    float: right;
    margin: 4px 0 0;
}

.order-form .text {
    background: url(./bg-text.png) no-repeat;
    width: 312px;
    height: 32px;
    overflow: hidden;
}

.order-form .text input {
    background: none;
    border: none;
    width: 290px;
    height: 32px;
    font: 16px/32px "Trebuchet MS", Helvetica, sans-serif;
    padding: 0 11px;
    float: left;
    color: #53102b;
}

.order-form .block {
    background: #f6f0f2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.order-form dl {
    width: 290px;
    white-space: nowrap;
    margin: -2px 0 0;
    float: left;
    font: italic 18px/25px Georgia, "Times New Roman", Times, serif;
    color: #c77798;
}

.order-form dl dt {
    width: 200px;
    float: left;
    text-align: right;
    clear: both;
    padding: 0 3px 0 -1px;
}

.order-form dl dd {
    color: #fff;
    float: left;
    margin: 0;
}

.btn-search {
    display: block;
    border: medium none;
    background: url('./btn-order.png');
    width: 171px;
    height: 50px;
    line-height: 50px;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    overflow: hidden;
    float: none;
    cursor: pointer;
    margin: 20px 10px 20px 176px;
    padding: 0;
    text-align: center;
    border-radius: 20px;
    font-size: 26px;
    font-weight: 700;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.btn-search:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#footer {
    overflow: hidden;
    padding: 30px 0;
    font: 12px/20px "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
    font-style: normal;
}

#footer p {
    margin: 0;
}

.ac_footer {
    color: white !important;
}

.ac_footer a {
    color: white !important;
}

#footer address {
    font-style: normal;
}

#footer a {
    color: white;
}

.jcf-hidden {
    display: block !important;
    position: absolute !important;
    left: -9999px !important;
}

.select-area {
    background: url(./bg-select.png) no-repeat;
    height: 32px;
    position: relative;
    overflow: hidden;
    cursor: default;
    float: left;
    font: 16px/32px "Trebuchet MS", Helvetica, sans-serif;
}

.order-form2 .select-area {
    background: url(./bg-select2.png) no-repeat;
    width: 653px;
    height: 36px;
    font: italic 19px/36px Georgia, "Times New Roman", Times, serif;
    color: #782e50;
}

.select-area .center {
    white-space: nowrap;
    padding: 0 11px;
}

.select-options {
    position: absolute;
    overflow: hidden;
    z-index: 2000;
}

.select-options .drop-holder {
    overflow: hidden;
    height: 1%;
    border: 1px solid #c9babf;
    background: #f4edef;
}

.select-options ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font: 16px/22px "Trebuchet MS", Helvetica, sans-serif;
}

.select-options ul li {
    width: 100%;
    float: left;
}

.select-options ul a {
    text-decoration: none;
    padding: 5px 11px;
    display: block;
    cursor: default;
    color: #53102b;
    height: 1%;
}

.select-options .item-selected a {
    text-decoration: none;
    background: #53102b;
    color: #f4edef;
}

.price_main_currency {
    margin-left: 5px;
}

#order_form1 .delivery {
    text-align: center;
    margin: 0;
}

#order_form1 .total {
    text-align: center;
    padding-bottom: 15px;
}

.mm_button_pr {
    border: medium none;
    background: url('./btn-order.png');
    width: 254px;
    height: 50px;
    line-height: 50px;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 auto 10px auto;
    padding: 0px;
    text-align: center;
    border-radius: 20px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    font-size: 28px;
}

.ac_footer {
    color: white;
!important; }

.ac_footer a {
    color: white;
!important; }

.w-h__left .item .zstick {
    top: -10px !important;
    left: -27px !important;
}

.w-h__left .item .item__left .img-wrapp img {
    max-width: 238px !important;
}

.intro .photo {
    top: 0px !important;
}

.intro .photo img {
    width: 460px;
    height: auto;
}

.second-clips-header {
    background: #8e3358 url(./bg-page.jpg) no-repeat 50% 0 !important;
}

