@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic-ext,latin-ext';
@import 'https://fonts.googleapis.com/css?family=Exo+2:300,700&subset=cyrillic,latin-ext';
*::-webkit-input-placeholder {
    color: #616161;
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
}

*::-moz-placeholder {
    color: #616161;
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
}

*:-moz-placeholder {
    color: #616161;
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
}

*:-ms-input-placeholder {
    color: #616161;
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
}

*:focus::-webkit-input-placeholder {
    opacity: 0;
}

*:focus::-moz-placeholder {
    opacity: 0;
}

*:focus:-moz-placeholder {
    opacity: 0;
}

*:focus:-ms-input-placeholder {
    opacity: 0;
}

*, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

[hidden] {
    display: none
}

a {}

a:active, a:hover {}

ul, ol {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 290px;
}

.container:before, .container:after {
    content: " ";
    display: table;
    clear: both;
}

body {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #000;
    background-color: #fff;
}


select::-ms-expand {
    display: none;
}

.main {
    overflow: hidden;
}

[class^="block_"] {
    position: relative;
}
.white_stuff{
    background-color: rgba(255,255,255,0.85);
    border: 2px solid;
    border-radius: 25px;
    padding:10px;
    border-color:darkgreen;
}
.block_1 {
    padding: 15px 0 15px;
    background: #fff;
    background: -moz-linear-gradient(left, #bbd475 0%, #ffffff 35%, #ffffff 65%, #fdaab6 100%);
    background: -webkit-gradient(v, left top, right top, color-stop(0%, #bbd475), color-stop(35%, #ffffff), color-stop(65%, #ffffff), color-stop(100%, #fdaab6));
    background: -webkit-linear-gradient(left, #bbd475 0%, #ffffff 35%, #ffffff 65%, #fdaab6 100%);
    background: -o-linear-gradient(left, #bbd475 0%, #ffffff 35%, #ffffff 65%, #fdaab6 100%);
    background: -ms-linear-gradient(left, #bbd475 0%, #ffffff 35%, #ffffff 65%, #fdaab6 100%);
    background: linear-gradient(to right, #bbd475 0%, #ffffff 35%, #ffffff 65%, #fdaab6 100%);
}
.block_1 ul li:after {
    content: "";
    display: block;
    height: 1px;
width:80%;
    margin: 5px;
    background: #f00;
}
#second_one {
    z-index: 10;
    background: rgba(173,222,134,0.5) !important;
    padding: 25px 0;
}
#second_two {
    z-index: 10;
    background:  rgba(173,222,134,0.5) !important;
    padding: 25px 0;
}

.block_1 .title p {
    text-align: center;
}

.block_1 .title p:first-child {
    font-size: 22px;
    color: #fa4863;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.block_1 .title p:first-child b {
    display: block;
}

.block_1 ul li:before {
    content: '';
    background: url(images/mob/chek.png) center no-repeat;
    width: 25px;
    height: 21px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: inline-block;
    vertical-align: bottom;
    margin-left: -25px;
}

.block_1 ul {
    z-index: 10;
    position: relative;
    margin-left: 25px;
}

.block_1 ul li {
    font-size: 18px;
    font-weight: 700;
    color: #8eb81e;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.logo {
    position: relative;
    display: table;
    margin: 15px auto;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #fa4863;
    text-transform: uppercase;
    -webkit-background-size: 100% 4px;
    -moz-background-size: 100% 4px;
    background-size: 100% 4px;
    background-repeat: no-repeat;
    background-image: -moz-linear-gradient(left, #63a703 15%, #fa4862 85%), -moz-linear-gradient(left, #63a703 15%, #fa4862 85%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, #63a703), color-stop(85%, #fa4862)), -webkit-gradient(linear, left top, right top, color-stop(15%, #63a703), color-stop(85%, #fa4862));
    background-image: -webkit-linear-gradient(left, #63a703 15%, #fa4862 85%), -webkit-linear-gradient(left, #63a703 15%, #fa4862 85%);
    background-image: -o-linear-gradient(left, #63a703 15%, #fa4862 85%), -o-linear-gradient(left, #63a703 15%, #fa4862 85%);
    background-image: -ms-linear-gradient(left, #63a703 15%, #fa4862 85%), -ms-linear-gradient(left, #63a703 15%, #fa4862 85%);
    background-image: linear-gradient(to right, #63a703 15%, #fa4862 85%), linear-gradient(to right, #63a703 15%, #fa4862 85%);
    background-position: 0 0, 0 100%;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    border-radius: 65px;
    padding: 0 15px 5px;
    line-height: 1;
}

.logo:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    -webkit-border-radius: 65px 0 0 65px;
    -moz-border-radius: 65px 0 0 65px;
    border-radius: 65px 0 0 65px;
    border: 4px solid #64a703;
    border-right: none;
}

.logo:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    height: 100%;
    -webkit-border-radius: 0 65px 65px 0;
    -moz-border-radius: 0 65px 65px 0;
    border-radius: 0 65px 65px 0;
    border: 4px solid #fa4863;
    border-left: none;
}

.logo b {
    color: #64a703;
    font-weight: 700;
}

.product {
    position: relative;
    text-align: center;
    z-index: 1;
    margin-top: 20px;
}

.prices {
    color: #fff;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.form_title {
    color: #fff;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}

.prices span {
    font-weight: bold;
}

.product img {
    position: relative;
    z-index: 5;
    margin-left: 70px;
    height: 200px;
}

.product:before {
    content: '';
    position: absolute;
    background: url(images/mob/block_1_berries1.png) center no-repeat;
    width: 299px;
    height: 249px;
    z-index: 0;
    bottom: -15px;
    left: -130px;
}

.product:after {
    content: '';
    position: absolute;
    background: url(images/mob/block_1_woman.png) center no-repeat;
    width: 149px;
    height: 219px;
    z-index: 5;
    bottom: 0px;
    left: 0px;
}

.form_pr {
    background: #8eb817;
    margin-top: 20px;
}

.form {
    padding: 10px;
}

.form input, .form select, button {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #616161;
    padding: 10px 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    margin-bottom: 10px;
}

button {
    position: relative;
    background: #fe7aa8;
    background: -moz-linear-gradient(top, #fe7aa8 0%, #f6161e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe7aa8), color-stop(100%, #f6161e));
    background: -webkit-linear-gradient(top, #fe7aa8 0%, #f6161e 100%);
    background: -o-linear-gradient(top, #fe7aa8 0%, #f6161e 100%);
    background: -ms-linear-gradient(top, #fe7aa8 0%, #f6161e 100%);
    background: linear-gradient(to bottom, #fe7aa8 0%, #f6161e 100%);
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 #ffa9b6, 0 5px 12px 0 rgba(0, 0, 0, .7);
    border: 1px solid #fa4863;
    letter-spacing: 2px;
    margin: 0;
    z-index: 20;
}

button span {
    position: relative;
    z-index: 2;
}

button:before {
    content: '';
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    background: #f6161e;
    background: -moz-linear-gradient(top, #f6161e 0%, #fe7aa8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6161e), color-stop(100%, #fe7aa8));
    background: -webkit-linear-gradient(top, #f6161e 0%, #fe7aa8 100%);
    background: -o-linear-gradient(top, #f6161e 0%, #fe7aa8 100%);
    background: -ms-linear-gradient(top, #f6161e 0%, #fe7aa8 100%);
    background: linear-gradient(to bottom, #f6161e 0%, #fe7aa8 100%);
    box-shadow: inset 0 1px 0 0 #ffa9b6;
    border: 1px solid #fa4863;
    opacity: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    z-index: 1;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

button:hover:before {
    opacity: 1;
}

.form select {
    padding-right: 55px;
}

.form form p {
    font-size: 26px;
    color: #fff;
    margin-bottom: 10px;
}

.form form p span {
    font-family: 'Exo 2', sans-serif;
}

.price {
    padding-top: 20px;
}

.price>span {
    display: block;
    text-align: center;
}

.price .new_price {
    font-size: 50px;
    color: #fff;
    margin-bottom: 15px;
    letter-spacing: -2px;
}

.price .new_price span:last-child {
    font-size: 45px;
}

.price .precent, .price .shipment {
    color: #354700;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.price .old_price {
    padding-top: 10px;
    color: #fff;
    font-size: 20px;
    line-height: .7;
    text-decoration: line-through;
}

.block_2 {
    z-index: 10;
    background: #8eb81e;
    padding: 25px 0;
}

.block_2 p {
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
}

.block_2 ul {
    width: 100%;
    display: table;
    margin-top: 25px;
}

.block_2 ul li {
    display: table-row;
}

.block_2 ul li span {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
}

.block_2 ul li:before {
    content: '';
    display: table-cell;
    vertical-align: middle;
    width: 99px;
    height: 94px;
    background-position: right center;
    background-repeat: no-repeat;
}

.block_2 ul li:nth-child(1):before {
    background-image: url(images/mob/block_2_li1.png);
}

.block_2 ul li:nth-child(2):before {
    background-image: url(images/mob/block_2_li2.png);
}

.block_2 ul li:nth-child(3):before {
    background-image: url(images/mob/block_2_li3.png);
}

.block_2 ul li:nth-child(4):before {
    background-image: url(images/mob/block_2_li4.png);
}

.block_2 ul li:nth-child(5):before {
    background-image: url(images/mob/block_2_li5.png);
}

.block_3 {
    padding: 20px 0;
    z-index: 9;
}

.block_3 .why {
    font-size: 16px;
    line-height: 1.2;
}

.block_3 .why h3 {
    font-size: 22px;
    color: #f00;
    margin-bottom: 15px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

.block_3 .warning h3 {
    line-height: 1.2;
    text-align: center;
    color: #f00;
    font-size: 19px;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

.block_3 .warning h3 b {
    display: block;
    color: #000;
    font-size: 24px;
}

.block_4 .top {
    background: #bad475;
    padding: 20px 0;
}

.block_4 .top h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.block_4 .letter p {
    line-height: 1.2;
    font-size: 18px;
}

.block_4 .signature {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: table;
    height: 84px;
    width: 100%;
    padding-left: 90px;
    background: url(images/mob/doc.png)left center no-repeat;
    margin-bottom: 20px;
}

.block_4 .signature span {
    display: table-cell;
    vertical-align: middle;
}

.block_4 .bottom, .block_5 .bottom {
    background: #8eb817;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    padding: 10px 0;
}

.block_4 h3, .block_5 .bottom h3 {
    font-size: 36px;
}

.block_5 .top {
    padding: 15px 0;
}

.block_5 h3 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.block_5 h3 font {
    display: block;
    color: #fa4863;
}

.block_5 ul {
    display: table;
    position: relative;
    width: 100%;
}

.block_5 ul li {
    display: table-row;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    height: 97px;
}

.block_5 ul li:before, .block_5 ul li span {
    display: table-cell;
    vertical-align: middle;
}

.block_5 ul li:before {
    content: '';
    width: 97px;
}

.block_5 ul li span {
    padding-left: 10px;
}

.block_5 ul li:first-child:before {
    background: url(images/mob/block_5_li1.png)right center no-repeat;
}

.block_5 ul li:nth-child(2):before {
    background: url(images/mob/block_5_li2.png)right center no-repeat;
}

.block_5 ul li:nth-child(3):before {
    background: url(images/mob/block_5_li3.png)right center no-repeat;
}

.block_5 ul li:nth-child(4):before {
    background: url(images/mob/block_5_li4.png)right center no-repeat;
}

.block_5 ul li:nth-child(5):before {
    background: url(images/mob/block_5_li5.png)right center no-repeat;
}

.block_5 ul li:nth-child(6):before {
    background: url(images/mob/block_5_li6.png)right center no-repeat;
}

.block_5 ul li:nth-child(7):before {
    background: url(images/mob/block_5_li7.png)right center no-repeat;
}

.block_5 ul li:last-child:before {
    background: url(images/mob/block_5_li8.png) right center no-repeat;
}

.block_5 .bottom {
    padding: 20px 0;
    background: #8eb817;
}

.block_8 {
    padding-top: 20px;
}

.block_8 h3 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.block_8 h3 font {
    color: #8eb81e;
}

.block_8 ul {
    display: table;
    width: 100%;
    font-size: 0;
    position: relative;
    margin-bottom: 55px;
}

.block_8 ul:not([class]) li {}

.block_8 ul:not([class]) li span {
    display: block;
}

.block_8 ul:not([class]) li span:first-child {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px
}

.block_8 ul:not([class]) li span:first-child b {
    display: block;
    font-size: 24px;
    color: #8eb81e;
    margin-top: 5px;
}

.block_8 ul:not([class]) li span:last-child {
    font-size: 16px;
    line-height: 1.2;
    text-align: justify;
}

.block_8 .bottom {
    margin-top: 30px;
    padding: 20px 0;
    background: #cde09c;
}

.block_8 .bottom .product3 {
    text-align: center;
    margin: 10px 0;
}

.block_8 .left p, .block_8 .right p {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
}

.block_8 .left p b, .block_8 .right p b {
    font-size: 20px;
    color: #006212;
}

.block_9 {
    padding: 20px;
}

.block_9 p {
    color: #fa4863;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #bad475;
    text-indent: -9999px;
    display: block;
    width: 23px;
    height: 23px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #8eb817;
}

#faq {	 }
#faq h2 { text-align: left; color: #7d7d7d;  margin: 30px 8px 10px;  }
#faq dt {	padding: 8px 16px;	background-color: #8FB81E;	color: #fff;	text-align: left;	font-size: 1.2em;	font-weight: normal;	margin: 3px 8px; }
#faq dt.open {	background-color: #8FB81E; }
#faq dd {	padding: 8px; 	background-color: #e7e7e7; 	color: #494949;	text-align: left;	font-size: 1em;	font-weight: normal;	margin: 3px 8px;  }
#faq dt:after {		font-family: FontAwesome;	font-size: 26px;   	  	display: block;   	float: right; margin-top: -3px; }
#faq dt.open:after {	    /* fa-caret-down  */ }

