a{color:#0FAFE5;text-decoration:none;line-height:inherit;}
a:hover,a:focus{color:#0394FC;}
a:hover{color:#008EFF;cursor:pointer;text-decoration:underline;}
body{text-align:left;font-family:Calibri,'PT Sans',Trebuchet MS,Arial;font-size:13pt;color:rgb(58, 60, 59);background-color:#E8E8E8;background-color:#ffffff;}
h1, h2, h3, h4, h5{margin-bottom:-9px;}
.header{display:block;margin:0 auto;height:520px;}
.wrapper{display:block;margin:0 auto;width:1000px;}
.linethrough{text-decoration:line-through;}
.bold{font-weight:bold;margin-bottom: 0;}
.center{text-align:center;line-height:1;overflow:hidden;font-weight:bold;font-size:31px;}
.italic{font-style:italic;}
.clearfix:before, .clearfix:after, .cf:before, .cf:after{display:block;clear:both;content:" ";}
.clearfix{zoom:1;}
.footer{padding:20px 0px 20px 0px;text-align:center;font-size:12pt;}
.footer a{display:inline-block;font-size:14px;font-style:normal;font-weight:normal;margin-left:4px;text-decoration:none;color:rgb(58, 60, 59);}
.footer span{margin-left:4px;}
.wrapper{margin:0 auto;display:block;width:998px;}
.step2{margin-top:0;padding-top:30px;margin-bottom:20px;position:relative;width:100%;}
.title{display:none;}
.holder-form{margin-bottom:10px;}
.priceBox td{padding:2px 10px;}
.priceBox{margin:0 auto;display:block;width:280px;}
.center{text-align:center;}
.figure{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.price{color:red;}
.fShipping{color:#323430;}
.lTh{text-decoration:line-through;}
.priceSelect{display:block;height:40px;margin:10px auto;max-width:300px;width:100%;font-weight:bold;}
.priceSelect option{font-size:16px;}
.billing_country{font-size:14px !important;height:30px !important;font-weight:bold !important;}
#full_price, #promoTotal{font-weight:bold;}
.col-4, .col-6, .col-8, .col-12{box-sizing:border-box;float:left;min-height:1px;padding-left:10px;padding-right:10px;position:relative;margin-right:auto;margin-left:auto;}
.col-4{width:33%;}
.col-8{width:65%;}
.col-6{width:50%;}
.col-12{width:100%;display:block;margin:0 auto;}
.subblock-step2{margin:10px auto;padding:10px;border-radius:10px;border:1px solid black;background-color:#E5E6E6;display:block;position:relative;color:#000000;vertical-align:middle;max-width:860px;}
.subblock-step2 h4{text-transform:uppercase;font-size:22px;}
.subblock-step2 img{float:left;}


.fixedDoctor{bottom:10px;position:fixed;right:10px;width:160px;}
::-webkit-input-placeholder{color:#222228;}
:-moz-placeholder{color:#222228;}
::-moz-placeholder{color:#222228;}
:-ms-input-placeholder{color:#222228;}
{color:#222228;}
img:hover{-webkit-filter:saturate(2.2);}
.rushOrder {
    border: none;
    position: relative;
    display: inline-block;
    font-size: 21px;
    background: green;
    font-weight: 600;
    color: #fff;
    outline: none;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    text-align: center;
    min-width: 80%;
    padding: 8px 20px;
    -webkit-box-shadow: #9b1600 0 7px 0;
    box-shadow: #0C4714 0 7px 0;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}
.rushOrder:hover{color:#ffffff;background-color:#17B022;border-color:#398439;box-shadow:#398439 0 7px 0;}
.productImg{width:74%;}
.exclusive{background-color:#FF9000;background-color:#f4f79b;font-weight:bold;}
.footer{padding:0px 0px;text-align:center;font-size:12pt;color:#ccc;}
.footer a{font-size:14px;color:#fff;text-transform: uppercase}
.footer a:hover{font-size:14px;color:#fff;text-decoration:none;}
.footer span{margin-left:4px;color:#ccc;}
.tip{position:absolute !important;width:330px;}
.toolTip{background:red;border:thin solid red;color:#fff;left:0px;margin-top:43px;padding:6px;position:absolute;text-align:center;z-index:10;border-radius:4px;font:bold 11px 'verdana';width:200px;}
.toolTipArrow{border-color:transparent transparent red transparent;border-style:solid;border-width:10px;height:0px;width:0px;position:absolute;top:-20px;left:20px;display:block;content:"\00a0";}
.toolTipArrow:before{border-color:transparent transparent red transparent;position:absolute;top:-11px;left:-12px;border-style:solid;border-width:12px;height:0px;width:0px;display:block;content:"\00a0";}
.clearfix:before, .clearfix:after, .cf:before, .cf:after{display:block;clear:both;float:none;content:" ";}
.clearfix, .cf{zoom:1;}
.bold{font-weight:bold;}
.logo-icon{display:inline;vertical-align:bottom;margin-right:10px;display:inline;vertical-align:top;}
.success-logo{display:inline;vertical-align:bottom;margin-right:10px;}
.tableStep3{margin:0 auto;border-collapse: collapse;}
.tableStep3 td, .tableStep3 tr{border:1px solid #FFBB14;padding:11px 30px;vertical-align:middle;border-collapse: collapse;}
.block5{margin:0px auto;padding:10px;background-color:#ffffff;}
.success-form{border:2px solid #FCB813;text-align:center;}
.success-congrats{margin-top:16px;font-size:22px;font-weight:bold;}
.success-orderdays{margin:10px auto;padding:10px 20px;background-color:#05B405;text-align:center;line-height: 0.9;}
#step2_ib{padding:20px 0;background:url(../images/img_banner.jpg) 50% -2px no-repeat;height:635px; background-size: cover;}
.new_logo{position:absolute;width:120px;right:295px;bottom:97px;}
.new_logo2{position:absolute;width:120px;right:410px;bottom:97px;}
.new_logo3 {
    position: absolute;
    width: 120px;
    left: 303px;
    bottom: 176px;
}
.new_logo4{position: absolute; width: 37px;
    right: -90px;}


.step2_ib3{margin-top:-14px;}
.step2_ib {
    padding: 0px;
    margin: 0px;
    background: transparent url("../images/keys_girl.jpg") no-repeat scroll 1300px 437px;
	display:block;
margin: 0 auto;
	margin-left:0px;
}
.step2_ib1{display:inline-block;background:#cc1d00;color:#fff;padding:0px 21px;}
.priceBoxContainer{background:rgba(221, 221, 221, 0.87);border-bottom:12px solid rgba(231, 229, 225, 0.12);margin-top:262px;right:60px;position:relative;margin-right:126px;border-radius:20px;}
.col-6{left:153px;}
.subblock-step2{width:100%;background:#E5E6E6;display:block;border:2px dashed #040001;}
.step2_ib2{font-size:30px;}
.step3_logo{width:300px;margin-bottom: -75px;}
#codeib_2{position:relative;left:51px;width:75%;}
#page-wrap{
	line-height: 0.7;
}
.new_2016_class{
	    font-size: 27px;
    font-weight: bold;
    line-height: 48px;
}
.attention {
  color: #b79800;
  font: bold 14px Verdana,Geneva,sans-serif;
  text-align: center;
  margin:10px 0;
}
.displayNone {
    display:none;
}

.alert_message {
    background-color: #ff0;
    border: 5px dashed #f02773;
    font-weight: bold;
    padding: 5px;
}

.address_alert {
    background:#FF0 !important;
    color:#000 !important;
    width:370px !important;
    border-color:#FF0 !important;
    width:358px !important;
}
.arrowColor {
    border-color: transparent transparent #ffd200 transparent !important;
}
.arrowColor:before {
    border-color: transparent transparent #ffd200 transparent !important;
}


#orderform {
    overflow: visible;
    position: relative;
    width:380px;
    margin:0 auto;
}
#orderform label, .form-index label {
    color: #000;
    display:none;
    display:block\9;
    font: bold 17px Arial, Helvetica, sans-serif;
    width: 150px;
    text-align:left;
}
#orderform input, #orderform select, #form-index input, #form-index select {
height: 30px;
    border: 1px solid green;
    font: normal 12px/16px Arial, Helvetica, sans-serif;
    padding: 3px;
    width: 370px;
    margin: 0 0 14px 0px;
    display: block;
}
#orderform input:focus, #form-index input:focus {
    box-shadow: 0 0 5px red;
    -webkit-box-shadow: 0 0 5px red;
    -moz-box-shadow: 0 0 5px red;
    border:1px solid red;
}
#orderform select {
    width:379px;
    height:25px;
}

#form {
    visibility: hidden;
}
#orderform br {
    clear:both;
}
.tip {
    position:absolute !important;
    width: 150px;
}
.toolTip {
    background: red;
    border: thin solid red; /* change color here for the tooltip body border */
    color: #fff;
    left: 0px;
    margin-top: 28px;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 150px;
    z-index: 10;
    border-radius: 4px;
    font: bold 11px 'verdana';
}
.toolTipArrow {
    border-color: transparent transparent red transparent; /* change color here for the triangle border */
    border-style: solid;
    border-width: 11px;
    height:0px;
    width:0px;
    position:absolute;
    top:-20px;
    left:20px;
    display:block;
    content:"\00a0";
}
.toolTipArrow:before {
    border-color: transparent transparent red transparent;
    position:absolute;
    top:-11px;
    left:-12px;
    border-style: solid;
    border-width: 12px;
    height:0px;
    width:0px;
    display:block;
    content:"\00a0";
}


.prod_s2{
	    position: absolute;
    top: 34px;
    left: -51px;
} 
.some_info {
    font-size: 13px;
    text-align: center;
    color: white;
}
.more_text_privacy {
    font-size: 11px;
    text-align: center;
}