﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1448px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(7, 128, 184, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:4504px;
  width:610px;
  height:201px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(7, 128, 184, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:4504px;
  width:610px;
  height:201px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:214px;
  height:5px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:481px;
  width:211px;
  height:2px;
  color:#FF9900;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:91px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:23px;
  width:310px;
  height:91px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:56px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:63px;
  width:793px;
  height:56px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#0780B8;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:523px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:100px;
  width:854px;
  height:523px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:254px;
  width:850px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:42px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:169px;
  width:717px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0780B8;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:366px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:244px;
  width:559px;
  height:366px;
  font-size:18px;
  color:#000000;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:30px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:538px;
  width:561px;
  height:30px;
  font-size:12px;
  color:#000000;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:62px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:600px;
  width:209px;
  height:62px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:133px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:600px;
  width:490px;
  height:133px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:2px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:612px;
  width:38px;
  height:1px;
  font-size:16px;
  color:#000000;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:341px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:855px;
  width:504px;
  height:341px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:500px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:2px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:718px;
  width:1196px;
  height:1px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:42px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:767px;
  width:717px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0780B8;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:366px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:900px;
  width:588px;
  height:366px;
  font-size:18px;
  color:#000000;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:194px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1356px;
  width:293px;
  height:194px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:89px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:45px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1574px;
  width:324px;
  height:45px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:183px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1356px;
  width:313px;
  height:183px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:84px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:45px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1574px;
  width:221px;
  height:45px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:194px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:1356px;
  width:334px;
  height:194px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:89px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:42px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1257px;
  width:901px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0780B8;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:45px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:1574px;
  width:334px;
  height:45px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:92px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:1870px;
  width:944px;
  height:92px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#000000;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:2px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:1698px;
  width:1196px;
  height:1px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:395px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:1724px;
  width:173px;
  height:395px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:190px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:2px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:2176px;
  width:1196px;
  height:1px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:42px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:2222px;
  width:901px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0780B8;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:192px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:2292px;
  width:683px;
  height:192px;
  font-size:18px;
  color:#000000;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:334px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:2178px;
  width:500px;
  height:334px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:159px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:42px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:2549px;
  width:901px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0780B8;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:192px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:2619px;
  width:683px;
  height:192px;
  font-size:18px;
  color:#000000;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:15px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:2012px;
  width:794px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:42px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:2928px;
  width:901px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0780B8;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:45px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:3259px;
  width:273px;
  height:45px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:45px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:3266px;
  width:158px;
  height:45px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:45px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:3266px;
  width:158px;
  height:45px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:42px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:3398px;
  width:717px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0780B8;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:2px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:2893px;
  width:1196px;
  height:1px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:2px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:3370px;
  width:1196px;
  height:1px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:57px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:3461px;
  width:1224px;
  height:57px;
  font-size:18px;
  color:#000000;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:358px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:3560px;
  width:371px;
  height:358px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:171px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:358px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:3560px;
  width:374px;
  height:358px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:171px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:345px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:3947px;
  width:371px;
  height:345px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:164px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:345px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:3947px;
  width:377px;
  height:345px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:164px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:3737px;
  width:150px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000066;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:24px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:3737px;
  width:212px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000066;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:24px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:4123px;
  width:255px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000066;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:24px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:4114px;
  width:212px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000066;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:57px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:3775px;
  width:235px;
  height:57px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:15px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:2837px;
  width:790px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:32px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:4326px;
  width:790px;
  height:32px;
  font-size:14px;
  color:#000000;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:57px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:3784px;
  width:235px;
  height:57px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:57px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:4174px;
  width:235px;
  height:57px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:57px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:4156px;
  width:235px;
  height:57px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:42px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:4434px;
  width:717px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0780B8;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:2px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:4406px;
  width:1196px;
  height:1px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:144px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:4521px;
  width:580px;
  height:144px;
  font-size:18px;
  color:#000000;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:142px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:4521px;
  width:580px;
  height:142px;
  font-size:18px;
  color:#000000;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:16px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:4741px;
  width:995px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:2px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:4852px;
  width:1196px;
  height:1px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:365px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:4767px;
  width:589px;
  height:365px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:174px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:42px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:4904px;
  width:717px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0780B8;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:57px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:4992px;
  width:785px;
  height:57px;
  font-size:18px;
  color:#000000;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:184px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:5289px;
  width:669px;
  height:184px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#000000;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:2px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:5186px;
  width:1196px;
  height:1px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:113px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:5304px;
  width:514px;
  height:113px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:561px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:5471px;
  width:249px;
  height:561px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:272px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:573px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:5471px;
  width:351px;
  height:573px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:22px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:5532px;
  width:224px;
  height:22px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:42px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:5582px;
  width:307px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:38px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:5488px;
  width:302px;
  height:38px;
  font-family:'Broadway Bold', 'Broadway Normalny', 'Broadway';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:33px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:5969px;
  width:187px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:239px;
  height:5px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:5542px;
  width:236px;
  height:2px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:42px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:5211px;
  width:323px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0780B8;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:254px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:2986px;
  width:381px;
  height:254px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:119px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:254px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:2986px;
  width:339px;
  height:254px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:119px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:254px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:2986px;
  width:322px;
  height:254px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:119px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
