<div class="footer-text"><a href="policy.html"> Privacy policy</a>  | <a href="terms.html">Terms of Use </a>| <a href="https://www.facebook.com/Vital-Offercom-1846073569002006/">Find us on Facebook </a> <br>© 2016 vital-offer.com </div>
