/* ::::: http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic&subset=latin,cyrillic ::::: */
body {
    margin: 0px;
    font: 18px/25px Georgia, "Times New Roman", Times, serif;
    min-width: 1000px;
    color: rgb(62, 42, 50);
    background: url('./bg-page.jpg') no-repeat scroll 50% 0px rgb(142, 51, 88);
}

img {
    border-style: none;
}

a {
    text-decoration: none;
    color: rgb(215, 44, 124);
}

a:hover {
    text-decoration: underline;
}

input, textarea, select {
    font: 100% Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: rgb(0, 0, 0);
}

form, fieldset {
    margin: 0px;
    padding: 0px;
    border-style: none;
}

#wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 99px 0px 0px;
}

#header {
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background: url('./bg-header.jpg') repeat-x scroll 0% 0% transparent;
    height: 99px;
    z-index: 100;
}

#header .wrap {
    width: 1000px;
    margin: 0px auto;
    padding: 17px 0px 0px;
}

.logo {
    background: url('./logo.png') no-repeat scroll 0% 0% transparent;
    width: 250px;
    height: 66px;
    text-indent: -9999px;
    float: left;
    color: #fff;
    text-align: right;
    font-size: 50px;
    line-height: 60px;
}

.logo a {
    height: 100%;
    display: block;
}

#header .holder {
    width: 700px;
    float: right;
    margin: 0px -12px 0px 0px;
    padding: 18px 0px 0px;
    text-align: right;
    font: 15px/30px "Trebuchet MS", Helvetica, sans-serif;
}

#nav {
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
}

#nav li {
    float: left;
    padding: 0px 0px 0px 35px;
}

#nav li:first-child {
    padding: 0px;
}

#nav a {
    float: left;
    color: rgb(255, 255, 255);
}

#header .link-order {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0px 0px 0px 21px;
    padding: 0px 0px 3px;
    line-height: 30px;
    background: url('./bg-link-order.png') no-repeat scroll 0% 0% transparent;
    width: 133px;
    height: 33px;
    display: inline-block;
    vertical-align: top;
    border: none;
    cursor: pointer;
}

.w1 {
    width: 1000px;
    margin: 0px auto;
}

.w1:after {
    content: "";
    display: block;
    clear: both;
}

.intro {
    width: 100%;
    padding: 4px 0px 0px;
    position: relative;
}

.intro:after {
    content: "";
    display: block;
    clear: both;
}

.intro .logo {
    background: url('./logo2.png') no-repeat scroll 0% 0% transparent;
    width: 280px;
    height: 155px;
    float: none;
    display: block;
    margin: 0px auto 56px;
    position: relative;
    font-size: 50px;
    text-align: center;
}

.intro .logo span {
    text-indent: 0;
    position: absolute;
    left: 20px;
    top: 100%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    display: inline-block;
    width: 250px;
    color: #fff;
    height: 100%;
    line-height: 26px;
}

.intro .logo .log {
    font-size: 50px;
    margin-top: -45px;
}

.intro .block {
    background: url('./bg-block.jpg') no-repeat scroll 0% 0% transparent;
    width: 1006px;
    height: 420px;
    margin: 0px -3px 39px;
    text-align: center;
}

.intro .photo {
    position: absolute;
    left: -76px;
    top: 0px;
}

.decoration-01 {
    position: absolute;
    right: 24px;
    top: 161px;
}

.intro .info-box {
    width: 280px;
    margin: 0px auto;
    padding: 17px 0px 0px;
    color: rgb(28, 28, 28);
    font: italic 18px/18px Georgia, "Times New Roman", Times, serif;
}

.intro .info-box p {
    margin: 0px 0px 10px;
}

.intro .info-box img {
    vertical-align: top;
    margin: 0px 0px 5px;
}

.panel {
    background: url('./bg-panel.png') no-repeat scroll 0% 0% transparent;
    width: 883px;
    height: 86px;
    padding: 25px 27px 0px 30px;
    position: absolute;
    left: 30px;
    bottom: -49px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

.panel .text {
    width: 184px;
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    float: left;
}

.panel .text span {
    display: block;
    margin: -5px 0px 0px;
    font-size: 30px;
    line-height: 30px;
}

.panel .price {
    width: 149px;
    float: left;
    text-align: center;
    margin-left: 69px!important;
    font-size: 29px;
    line-height: 45px;
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    /* margin-right: 20px; */
    padding: 8px 0 0 0!important;
    text-decoration: line-through;
}

.panel .discount {
    width: 80px;
    text-align: center;
    padding: 12px 0 0;
    float: left;
    font-size: 31px;
    line-height: 36px;
    color: #7b143e;
}

.panel strike {
    margin-left: 14px;
    padding: 12px 0 0;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ee4192;
    float: left;
    text-decoration: none;
    width: 160px;
    text-align: center;
}

.panel .link-order {
    background: url('./bg-link-order2.png') no-repeat scroll 0% 0% transparent;
    width: 217px;
    height: 56px;
    float: right;
    margin: 5px 0px 0px;
    padding: 1px 0px 5px;
    font-size: 36px;
    line-height: 50px;
    color: rgb(142, 51, 88);
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgb(255, 233, 171);
    text-align: center;
}

.info-container {
    overflow: hidden;
    padding: 44px 0px 41px;
    background: url('./bg-info-container.jpg') no-repeat scroll 50% 0px transparent;
}

.info-container h2 {
    font: 40px/44px 'Roboto Condensed', Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0px 0px 53px;
    text-align: center;
}

.info-container .holder {
    overflow: hidden;
}

.info-container .list {
    width: 510px;
    float: left;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-size: 19px;
    line-height: 22px;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.info-container .list li {
    background: url('./bullet-01.png') no-repeat scroll 1px 4px transparent;
    padding: 0px 0px 28px 31px;
}

.info-container .list.alt {
    width: 469px;
    float: right;
}

.step-block {
    background: url('./bg-step-block.png') no-repeat scroll 0% 0% transparent;
    width: 1000px;
    height: 464px;
    margin: 0px -3px 34px;
    padding: 42px 3px;
}

.step-block .heading {
    overflow: hidden;
    margin: 0px 30px 25px;
    padding: 0px 0px 27px;
    border-bottom: 1px solid rgb(238, 65, 146);
    text-align: center;
    font: 19px/22px 'Roboto Condensed', Arial, Helvetica, sans-serif;
    color: rgb(215, 44, 124);
}

.step-block .heading p {
    margin: 0px;
}

.step-block .heading h2 {
    font-size: 40px;
    line-height: 44px;
    color: rgb(147, 24, 82);
    margin: 0px;
    text-transform: uppercase;
    font-weight: normal;
}

.step-list {
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    font: 16px/25px "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(38, 38, 38);
}

.step-list li {
    display: inline-block;
    vertical-align: top;
    width: 213px;
    padding: 0px 16px;
}

.step-list strong {
    display: block;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    font-style: italic;
    color: rgb(147, 24, 82);
    padding: 0px 0px 3px;
}

.step-list img {
    vertical-align: top;
    margin: 0px 0px 5px;
}

.step-list p {
    margin: 0px;
}

.about-box {
    margin: 0px 0px 41px;
    overflow: hidden;
    font: 16px/25px "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(243, 188, 210);
}

.about-box h2 {
    font: 40px/50px 'Roboto Condensed', Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0px 0px 39px;
    text-align: center;
}

.about-box .wrap {
    overflow: hidden;
    padding: 0px 30px 0px;
    position: relative;
    background: url('./bg-about-box.jpg') no-repeat scroll 50% 100% transparent;
}

.about-box .holder {
    width: 350px;
    float: left;
}

.about-box .photo {
    position: absolute;
    left: 323px;
}

.about-box p {
    margin: 0px 0px 25px;
}

.about-box .text-holder {
    font: italic 18px/25px Georgia, "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
}

.about-box .text-box {
    overflow: hidden;
    padding: 0px 70px 0px 0px;
}

.about-box .frame {
    width: 274px;
    padding: 0px 20px 0px 0px;
    float: right;
}

.about-box .frame h3 {
    display: block;
    font: italic bold 18px/25px Georgia, "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    margin: 0px 0px 10px;
}

.about-box .img-holder {
    overflow: hidden;
    margin: -13px 0px 20px -12px;
}

.about-box .img-holder img {
    vertical-align: top;
}

.description {
    background: url('./bg-description.jpg') no-repeat scroll 0% 0% transparent;
    padding: 33px 34px;
    height: 67px;
    overflow: hidden;
    font: 16px/25px "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(237, 146, 183);
}

.description .text {
    float: left;
    padding: 0px 14px 0px 0px;
}

.description strong {
    display: block;
    color: rgb(255, 255, 255);
    font: italic bold 18px/25px Georgia, "Times New Roman", Times, serif;
}

.description span {
    display: block;
}

.description img {
    float: left;
    margin: 3px 0px 0px;
}

.reviews-block {
    width: 100%;
}

.reviews-block:after {
    content: "";
    display: block;
    clear: both;
}

.reviews-block h2 {
    font: 40px/50px 'Roboto Condensed', Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0px 0px 35px;
    text-align: center;
}

.reviews-block .box {
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255);
    padding: 24px 30px 32px;
    background: url('./bg-post.png') repeat-y scroll 0% 0% rgb(255, 255, 255);
    border-radius: 15px;
    margin: 0px 0px 30px;
    box-shadow: 0px 1px 4px rgba(50, 13, 28, 0.75);
    font-style: italic;
}

.reviews-block .img-holder {
    width: 130px;
    float: left;
    text-align: center;
    font: 16px/20px "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(177, 130, 149);
    margin: 5px 40px 0px 0px;
}

.reviews-block .img-holder img {
    vertical-align: top;
    margin: 0px 0px 19px;
}

.reviews-block .img-holder strong {
    color: rgb(72, 39, 52);
    display: block;
}

.reviews-block .holder {
    overflow: hidden;
}

.reviews-block p {
    margin: 0px;
}

.order-block {
    overflow: hidden;
    background: none repeat scroll 0% 0% rgb(93, 27, 54);
    border-radius: 15px;
    padding: 40px 30px;
    height: 502px;
    position: relative;
}

.decoration-02 {
    background: url('./pack.png') no-repeat scroll 0% 0% transparent;
    width: 257px;
    height: 448px;
    position: absolute;
    left: 362px;
    bottom: 56px;
}

.price-block {
    background: url('./bg-price-block.png') no-repeat scroll 0% 0% transparent;
    width: 365px;
    margin: 74px 0px 0px;
    padding: 34px 85px 0px 0px;
    height: 357px;
    float: left;
    text-align: center;
}

.price-block h3 {
    font: 20px/30px 'Roboto Condensed', Arial, Helvetica, sans-serif;
    color: rgb(255, 138, 186);
    text-transform: uppercase;
    margin: 0px 0px 13px;
}

.price-block h3 span {
    display: block;
    margin: -5px 0px 0px;
    font-size: 30px;
    line-height: 40px;
    color: rgb(255, 255, 255);
}

.price-block .price {
    display: block;
    background: url('./bg-price.png') no-repeat scroll 0% 0% transparent;
    width: 254px;
    height: 50px;
    margin: 0px auto 14px;
    font: 46px/50px 'Roboto Condensed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgb(122, 0, 57);
    text-align: center;
}

.old-price {
    padding: 0px 0px 13px;
    display: block;
    text-align: center;
    font: 15px/20px 'Roboto Condensed', Arial, Helvetica, sans-serif;
    color: rgb(255, 138, 186);
    text-transform: uppercase;
}

.product_old_price {
    text-decoration: line-through;
}

.old-price strike {
    display: block;
    font-size: 25px;
    line-height: 32px;
}

.timer-wrap {
    width: 240px;
    margin: 0px auto;
    padding: 0px 0px 0px 12px;
    overflow: hidden;
    font: italic 17px/25px Georgia, "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
}

.timer-wrap p {
    margin: 0px 0px 12px;
}

.timer {
    overflow: hidden;
    text-align: center;
}

.timer-desc {
    width: 100%;
    overflow: hidden;
}

.timer-desc div.t {
    display: block;
    float: left;
    width: 64px;
    text-align: center;
    margin: 0px 0px 0px 21px;
    font: italic 12px/16px Georgia, "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
}

.timer-desc div.t:first-child {
    margin: 0px;
}

.order-form {
    width: 450px;
    float: right;
}

.order-form h3 {
    font: 40px/50px 'Roboto Condensed', Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0px 0px 24px;
    text-align: right;
    padding: 0px 37px 0px 0px;
}

.order-form .box {
    background: none repeat scroll 0% 0% rgb(246, 240, 242);
    border-radius: 5px;
    padding: 55px 31px 65px 0px;
    overflow: hidden;
}

.order-form .frame {
    width: 312px;
    float: right;
}

.order-form .row {
    overflow: hidden;
    padding: 0px 0px 14px;
}

.order-form label {
    float: left;
    font: italic 18px/25px Georgia, "Times New Roman", Times, serif;
}

.order-form select {
    width: 312px;
    font: 16px/20px "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(83, 16, 43);
}

.order-form .holder {
    overflow: hidden;
    padding: 0px 0px 8px 3px;
}

.order-form .info {
    font: italic 12px/16px Georgia, "Times New Roman", Times, serif;
    color: rgb(167, 130, 145);
    float: right;
    margin: 4px 0px 0px;
}

.order-form .text {
    background: url('./bg-text.png') no-repeat scroll 0% 0% transparent;
    width: 312px;
    height: 32px;
    overflow: hidden;
}

.order-form .text input, .order-form .text select {
    background: none repeat scroll 0% 0% transparent;
    border: medium none;
    width: 100%;
    height: 32px;
    font: 16px/32px "Trebuchet MS", Helvetica, sans-serif;
    padding: 0px 11px;
    float: left;
    color: rgb(83, 16, 43);
}

.order-form .block {
    margin: 0px -5px 0px -23px;
    padding: 30px 0px 0px;
}

select {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: radio-container;
    appearance: none;
}

.timer>span {
    text-transform: uppercase;
    font-style: normal;
    display: inline-block;
    margin: 0 2px;
}

.timer>span span {
    display: inline-block;
    background: #fff;
    color: #7a0039;
    font-size: 30px;
    border-radius: 6px;
    width: 35px;
    margin: 0 1px;
    height: 35px;
    line-height: 35px;
    font-family: "Roboto Condensed", sans-serif;
}

select::-ms-expand {
    display: none;
}

.order-form dl {
    width: 290px;
    white-space: nowrap;
    margin: -2px 0px 0px;
    float: left;
    font: italic 18px/25px Georgia, "Times New Roman", Times, serif;
    color: rgb(199, 119, 152);
}

.order-form dl dt {
    width: 200px;
    float: left;
    text-align: right;
    clear: both;
    padding: 0px 3px 0px 0px;
}

.order-form dl dd {
    color: rgb(255, 255, 255);
    float: left;
    margin: 0px;
}

.btn-search {
    border: medium none;
    background: url('./btn-order.png');
    width: 171px;
    height: 50px;
    line-height: 50px;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    overflow: hidden;
    float: right;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border-radius: 20px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.btn-search:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#footer {
    overflow: hidden;
    padding: 30px 0px;
    font: 12px/20px "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(190, 104, 139);
    text-align: center;
}

#footer p {
    margin: 0px;
}

#footer address {
    font-style: normal;
}

.jcf-hidden {
    display: block ! important;
    position: absolute ! important;
    left: -9999px ! important;
}

.select-area {
    background: url('./bg-select.png') no-repeat scroll 0% 0% transparent;
    height: 32px;
    position: relative;
    overflow: hidden;
    cursor: default;
    float: left;
    font: 16px/32px "Trebuchet MS", Helvetica, sans-serif;
}

.select-area .center {
    white-space: nowrap;
    padding: 0px 11px;
}

/* ::::: http://c.rosgrudi.com/css/timer.css ::::: */
#timer {
    position: relative;
}

.cntSeparator {
    font-size: 1px;
    color: rgb(0, 0, 0);
    height: 100%;
    padding: 0px 10px 0px 4px;
    margin: 0px;
    background: url('./separator-01.png') no-repeat scroll 3px 10px transparent;
}

.jcf-unselectable {
    -moz-user-select: none;
}

.prod {
    position: absolute;
    width: 290px;
    left: 320px;
    top: 0;
}

form select {
    background: url("./sel.png") no-repeat 295px 15px !important;
}

