body {
  color: rgba(0, 0, 0, .74);
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
}

a {
  color: #bf3a30;
  text-decoration: none;
}

a:hover {
  color: #bf3a30;
  text-decoration: none;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

.navigation-link {
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: Montserrat, sans-serif;
  color: #5d5d5d;
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.navigation-link:hover {
  color: #333;
}

.navigation-link.w--current {
  color: #333;
  font-weight: 700;
}

.navigation-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 40px;

  border-bottom: 1px solid #000;
  background-color: hsla(0, 0%, 100%, .6);
  text-transform: uppercase;
}

.navigation-menu {
  margin-top: 3px;
}

.vor-store {
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  font-family: Montserrat, sans-serif;
  font-size: 33px;
  line-height: 36px;
  font-weight: 400;
}

.social-icon-link {
  margin-right: 2px;
  margin-left: 2px;
  padding: 3px;
  opacity: 0.87;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-icon-link:hover {
  opacity: 0.3;
}

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.footer-text {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #bbb;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-column {
  height: 100%;
  padding: 5px 10px;
  border-bottom: 1px solid #000;
  text-align: center;
}

.product-column.last {
  display: none;
}

.product-title {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.product-description {
  font-family: Roboto, sans-serif;
}

.product-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px 25px;
  border: 2px solid #3b99d9;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #3b99d9;
}

.product-button:hover {
  background-color: #3b99d9;
  color: #edeff2;
}

.product-section {
  margin-top: 116px;
}

.product-review {
  font-family: Montserrat, sans-serif;
  color: #e64c40;
  font-size: 14px;
  text-decoration: underline;
}

.product-row {
  position: relative;
}

.product-block {
  display: block;
  height: 320px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 5px 5px;
}

.error {
  position: relative;
  top: 50%;
  padding-top: 150px;
  padding-bottom: 150px;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
}

.product-page-container {
  padding-top: 35px;
  padding-bottom: 35px;
}

.pp-column-left {
  text-align: center;
}

.pp-image {
  height: 215px;
}

.pp-heading {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.pp-paragraph {
  font-family: Roboto, sans-serif;
}

.pp-price {
  padding-top: 15px;
  font-family: Montserrat, sans-serif;
  color: #f8c740;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-align: right;
}

.pp-form {
  padding-top: 20px;
}

.pp-order-text {
  padding-top: 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000006, 0.6000000000000006);
  -ms-transform: scale(0.6000000000000006, 0.6000000000000006);
  transform: scale(0.6000000000000006, 0.6000000000000006);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media (max-width: 991px) {
  .navigation-link {
    padding: 9px 0px;
    color: #ecf0f1;
    text-align: center;
  }
  .navigation-link:hover {
    color: #fff;
  }
  .hamburger-button {
    padding: 7px;
  }
  .hamburger-button.w--open {
    background-color: #000;
  }
  .navigation-menu {
    margin-top: 0px;
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: #000;
  }
  .product-section {
    margin-top: 118px;
  }
}

@media (max-width: 767px) {
  .navigation-bar {
    z-index: 1000;
    padding-top: 10px;

  }
  .hamburger-button {
    padding: 10px;
  }
  .vor-store {
    margin-top: 5px;
    font-size: 28px;
  }
  .footer {
    padding-top: 31px;
    padding-bottom: 31px;
  }
  .product-column {
    border-bottom: 1px none #000;
  }
  .product-section {
    margin-top: 64px;
  }
  .product-block {
    border-bottom: 1px solid #000;
  }
}

@media (max-width: 479px) {
  .product-block.big {
    height: 390px;
  }
  .error {
    font-size: 18px;
  }
}

