.transitionmyl{-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;-webkit-transition:all 0.5s ease-out;}
.containerz{min-width:320px;width:320px;margin:0 auto;overflow:hidden;}
.hidden-window *{box-sizing:border-box;}
.hidden-window{top:0;left:0;width:100%;display:none;min-height:100%;background:#f2f6f7;font-family:'Open Sans';font-family:'Roboto', sans-serif;z-index:10000;}
.hidden-window *{-moz-box-sizing:border-box;box-sizing:border-box;}
.js_scrollForm p{margin:0;}
.totalpriceForm{font-size:22px;color:#e70116;padding-bottom:10px;}
.js_total_price{font-size:28px;font-weight:700;}
select,
input,
textarea{font-family:"Roboto", sans-serif !important;}
.h-w__header{color:#ffdd2e;font-size:33px;font-weight:700;text-align:center;line-height:51px;}
.h-w__header span{display:inline-block;*zoom:1;_display:inline;padding-left:40px;padding-top:15px;color:#e80116;}
.dtable{display:table;width:100%;}
.dtable-cell{display:table-cell;vertical-align:middle;}
.dtr{display:table-row;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.zarrr{position:absolute;top:50%;right:-6px;}
.zarrrLeft{position:absolute;top:50%;left:-6px;}
.w-h__right .zGarant{background:#ffffff;color:#000;font-size:18px;padding:25px 20px 35px;margin-bottom:20px;}
.w-h__right .zGarant .zHeader{font-size:23px;text-align:center;color:#dc4f79;font-weight:700;text-transform:uppercase;}
.w-h__right .zGarant li{list-style:none;padding-left:30px;background:url("./zli.png") 0 50% no-repeat;margin-top:25px;}
.w-h__right .zGarant b{font-size:20px;}
.w-h__right form{background:#ffdc2e;background:-moz-linear-gradient(top, #ffdc2e 0%, #fdbb01 100%);background:-webkit-linear-gradient(top, #ffdc2e 0%, #fdbb01 100%);background:linear-gradient(to bottom, #ffdc2e 0%, #fdbb01 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc2e', endColorstr='#fdbb01', GradientType=0);padding:28px 30px 14px;}
.w-h__right form input,
.w-h__right form select,
.w-h__right form textarea{width:100%;background-color:#fff;color:#000 !important;height:31px;font-size:16px;border:1px solid #d5dde9;}
.w-h__right form .zbtn{width:250px;margin:0 auto;background:#ff061d;background:-moz-linear-gradient(top, #ff061d 1%, #b80011 100%);background:-webkit-linear-gradient(top, #ff061d 1%, #b80011 100%);background:linear-gradient(to bottom, #ff061d 1%, #b80011 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff061d', endColorstr='#b80011', GradientType=0);height:55px;border:1px solid #eb6672;position:relative;color:#fff;font-size:22px;font-weight:700;text-align:center;line-height:55px;text-transform:uppercase;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
.w-h__right form .zbtn:hover,
.w-h__right form .zbtn:active{cursor:pointer;background:#b80011;background:-moz-linear-gradient(top, #b80011 0%, #ff061d 99%);background:-webkit-linear-gradient(top, #b80011 0%, #ff061d 99%);background:linear-gradient(to bottom, #b80011 0%, #ff061d 99%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b80011', endColorstr='#ff061d', GradientType=0);}
.w-h__right form .inp{background:#fff;border:1px solid #d5dde9;padding:0 15px;color:#000 !important;font-family:'Open Sans';font-size:16px;height:31px;margin:0 auto 10px;}
.w-h__right form textarea{height:auto;resize:none;height:125px;padding:15px;margin-bottom:10px;}
.w-h__right-row1{margin-bottom:15px;margin-top:20px;}
.w-h__right-row1 .zHeader{background-color:#8fbc00;padding:15px;color:#fff;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;font-size:24px;text-align:center;line-height:1;}
.w-h__right-row1 .zHeader b{font-weight:700;font-size:22px;text-transform:uppercase;}
.w-h__right-row1 .zContent{padding:10px 5px 5px;}
.w-h__right-row1 .dtable{color:#000;font-size:16px;line-height:1;font-weight:700;text-transform:uppercase;margin-bottom:10px;}
.w-h__right-row1 .dtable .dtable-cell{vertical-align:top;width:33%;position:relative;}
.w-h__right-row1 .dtable span{color:#fff;background-color:#7eb263;}
.w-h__right-row1 .text-right{padding-right:18px;width:40%;}
.w-h__right-row1 .text-right img{max-width:100%;}
.formHeader{font-size:18px;color:#000;text-transform:uppercase;text-align:center;padding-bottom:10px;}
.formHeader span{color:#e70116;font-size:23px;}
.zItem{background:#f7f8f8;margin:0 3px;position:relative;color:#000;padding:10px 10px;border:2px solid #93d8fa;margin-bottom:20px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding-bottom:40px;}
.zItem.list{padding-bottom:10px;}
.zItem .zstick{width:145px;height:145px;position:absolute;top:-5px;left:-5px;}
.zItem .buttonMy{position:absolute;width:250px;margin:0 auto;background:#ffdc2d;background:-moz-linear-gradient(top, #ffdc2d 0%, #f39b01 100%);background:-webkit-linear-gradient(top, #ffdc2d 0%, #f39b01 100%);background:linear-gradient(to bottom, #ffdc2d 0%, #f39b01 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc2d', endColorstr='#f39b01', GradientType=0);height:45px;color:#000;font-size:22px;font-weight:700;text-align:center;line-height:45px;text-transform:uppercase;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;bottom:-15px;left:50%;margin-left:-125px;}
.zItem .buttonMy:hover,
.zItem .buttonMy:active{cursor:pointer;background:#f39b01;background:-moz-linear-gradient(top, #f39b01 0%, #ffdc2d 100%);background:-webkit-linear-gradient(top, #f39b01 0%, #ffdc2d 100%);background:linear-gradient(to bottom, #f39b01 0%, #ffdc2d 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f39b01', endColorstr='#ffdc2d', GradientType=0);border-top-right-radius:20px;border-bottom-left-radius:20px;}
.zItem .zHeader{font-size:18px;text-align:center;white-space:nowrap;}
.zItem .zHeader b{font-size:36px;}
.side-right{padding-left:136px;position:relative;backface-visibility:hidden;height:150px;}
.ssimgabs{position:absolute;width:130px;height:auto;top:5px;left:5px;text-align:center;}
.ssimgabs img{max-width:125px;height:auto;max-height:110px;}
.side-right .zItem .zHeader{white-space:normal;}
.zItem.active{border:6px solid red;}
.zItem .pack_descr{padding:5px 40px;text-align:center;font-size:16px;}
.zItem .dtable .red{color:red;}
.zItem .dtable-cell{vertical-align:bottom;position:relative;}
.zItem .pack_old_price{position:absolute;top:0;left:0;color:#000;font-size:18px;}
.zItem .pack_old_price i{position:absolute;top:9px;width:100%;height:1px;background:#e70116;transform:rotate(-28deg);}
.js_pack_price{font-weight:700;font-size:38px;line-height:1;color:#e70116;text-align:center;}
.currencycell{color:#e70116;font-size:18px;text-align:left;}
.zplus{font-size:14px;text-align:right;padding-right:5px;color:#f3af42;font-weight:700;background:url(./zplus1.png) 0 0 no-repeat;width:146px;height:43px;line-height:55px;}
.zplus.sec{background:url(./zplus2.png) 0 0 no-repeat;color:#f3af42;}
.logo > p{display:none;}
.pana{text-align:center;}
.select-block .selecttext{font-size:28px;font-weight:700;color:#000;padding:0 10px;}
.select-block input,
.select-block select,
.select-block textarea{width:70%;display:block;margin:10px auto;background-color:#fff;color:#000 !important;height:31px;font-size:16px;border:1px solid #d5dde9;}
.bx-wrapper{position:relative;margin:0 auto;padding:0;*zoom:1;}
.bx-wrapper .bx-viewport{-webkit-transform:translatez(0);-moz-transform:translatez(0);-ms-transform:translatez(0);-o-transform:translatez(0);transform:translatez(0);}
#bx-pager a{width:24px;display:inline-block;*zoom:1;_display:inline;height:24px;background:#47c4eb;border-radius:12px;color:#fff!important;font-size:18px;text-align:center;line-height:24px;font-weight:700;margin-bottom:15px;text-decoration:none;margin-right:3px;}
#bx-pager a.active{background:#f3af42;}
.giftmobile{font-size:13px;white-space:nowrap;background:#f7f8f8;color:#e70116;position:absolute;font-weight:700;top:91px;left:74px;}
.dib{zoom:1;display:-moz-inline-box;-moz-box-orient:vertical;display:inline-block;_display:inline;*display:inline;vertical-align:top;}
.bx-wrapper .bx-prev{left:10px;background:url(./controls.png) no-repeat 0 -32px;}
.bx-wrapper .bx-next{right:10px;background:url(./controls.png) no-repeat -43px -32px;}
.bx-wrapper .bx-prev:hover{background-position:0 0;}
.bx-wrapper .bx-next:hover{background-position:-43px 0;}
.bx-wrapper .bx-controls-direction a{position:absolute;bottom:25%;margin-top:-16px;outline:0;width:32px;height:32px;text-indent:-9999px;z-index:9999;}
.bx-wrapper .bx-controls-direction a.disabled{display:none;}
.header_sub{color:#FFDD2E;text-align:center;margin-bottom:15px;font-size:20px;}
.header_new{height:99px;background-color:#65900b;}
.header_new .dtable-cell{height:99px;}
.new-header_goji{text-align:center;margin-bottom:10px;background:#664f82;
background:-moz-linear-gradient(top, #664f82 0%, #5f487c 18%, #4b3f65 57%, #453c5d 84%, #423b5a 100%);
background:-webkit-linear-gradient(top, #664f82 0%,#5f487c 18%,#4b3f65 57%,#453c5d 84%,#423b5a 100%);background:linear-gradient(to bottom, #664f82 0%,#5f487c 18%,#4b3f65 57%,#453c5d 84%,#423b5a 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#664f82', endColorstr='#423b5a',GradientType=0);padding:20px 0;}
#bx-pager{text-align:center;}
