<div class="footer-text"><a href="policy.html"> Privacy policy</a>  | <a href="terms.html">Terms of Use </a>| <a href="https://www.facebook.com/supershop24online/">Find us on Facebook </a> <br>© 2016 Super-shop24.com </div>
