@font-face {
    font-family: 'GOTHIC';
    src: url('//st.acstnst.com/content/Fungalor_PL1/mobile/fonts/GOTHIC.WOFF') format('woff');
}

@font-face {
    font-family: 'GOTHICB';
    src: url('//st.acstnst.com/content/Fungalor_PL1/mobile/fonts/GOTHICB.WOFF') format('woff');
}

@font-face {
    font-family: 'SOURCESANSPRO-BLACK';
    src: url('//st.acstnst.com/content/Fungalor_PL1/mobile/fonts/SOURCESANSPRO-BLACK.WOFF') format('woff');
}

@font-face {
    font-family: 'SOURCESANSPRO-BOLD';
    src: url('//st.acstnst.com/content/Fungalor_PL1/mobile/fonts/SOURCESANSPRO-BOLD.WOFF') format('woff');
}

@font-face {
    font-family: 'SOURCESANSPRO-EXTRALIGHT';
    src: url('//st.acstnst.com/content/Fungalor_PL1/mobile/fonts/SOURCESANSPRO-EXTRALIGHT.WOFF') format('woff');
}

@font-face {
    font-family: 'SOURCESANSPRO-LIGHT';
    src: url('//st.acstnst.com/content/Fungalor_PL1/mobile/fonts/SOURCESANSPRO-LIGHT.WOFF') format('woff');
}

@font-face {
    font-family: 'SOURCESANSPRO-REGULAR';
    src: url('//st.acstnst.com/content/Fungalor_PL1/mobile/fonts/SOURCESANSPRO-REGULAR.WOFF') format('woff');
}

@font-face {
    font-family: 'SOURCESANSPRO-SEMIBOLD';
    src: url('//st.acstnst.com/content/Fungalor_PL1/mobile/fonts/SOURCESANSPRO-SEMIBOLD.WOFF') format('woff');
}

body {
    color: white;
    font-family: 'GOTHIC';
    text-transform: uppercase;
    font-size: 100%;
    position: relative;
    line-height: 1;
    text-align: center;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    clear: both;
    height: 100%;
}

header, footer {
    height: 100%;
}

ul li {
    list-style: none;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
}

input[type=submit]:hover, button:hover {
    background: transparent;
    -webkit-box-shadow: inset 0px 0px 0px 1px #F8F8FD;
    -moz-box-shadow: inset 0px 0px 0px 1px #F8F8FD;
    box-shadow: inset 0px 0px 0px 1px #F8F8FD;
    color: #db601b;
    transition: ease-in-out 0.2s;
}

.button:hover {
    background: #9c62a2;
    -webkit-box-shadow: inset 0px 0px 0px 1px #F8F8FD;
    -moz-box-shadow: inset 0px 0px 0px 1px #F8F8FD;
    box-shadow: inset 0px 0px 0px 1px #F8F8FD;
    color: #F8F8FD;
    transition: ease-in-out 0.2s;
}

h1 {
    font-size: 27px;
    font-family: 'SOURCESANSPRO-BLACK';
    background: #a24e83;
    margin-top: 9.6em;
    padding: 5px 19px;
    text-align: right;
}

h2 {
    font-size: 1.75em;
    padding: 35px 0;
    font-weight: 100;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.32em;
    color: #d45b6d;
    font-size: 1.6em;
    font-family: 'GOTHICB';
    margin: 1em;
    margin-bottom: .3em;
}

h5 {
    font-size: 1.1em;
    color: #5b5856;
    font-family: 'GOTHIC';
    font-weight: 100;
}

h6 {
    font-size: 1.3em;
    color: #974c82;
    text-transform: none;
    text-align: right;
    margin: 15px 5px 0 0;
    font-weight: 100;
}

p {
    text-transform: none;
    font-size: .9em;
    margin: 0 12px;
    line-height: 14px;
}

article {
    padding: 10px 0;
    clear: both;
}

button, input[type=submit], input[type=button], input[type=search], .button {
    cursor: pointer;
}

input, button, .button, select {
    border: none;
    background: transparent;
    color: white;
}

input, button:focus, .button {
    outline: none;
}

input[type=text], select {
    display: block;
    padding: .47em 2.61em;
    text-align: left;
    font-size: .9em;
    border: 1px solid #a0909b;
    width: 100%;
    margin-bottom: .75em;
}

input[type=text]:nth-child(4) {
    margin-bottom: 24px;
}

input[type=submit], .button {
    display: block;
    margin: auto;
    padding: .62em 0.4em;
    border-radius: 30px;
    font-size: 1em;
    background: #db601b;
    font-family: 'GOTHIC';
    font-weight: 100;
    margin-bottom: 2em;
}

.button {
    width: 240px;
    height: 43px;
    position: absolute;
    bottom: -80px;
    left: 10.8%;
    text-transform: none;
    font-size: 17px;
    z-index: 11;
}

/*RELATIVE*/
.main_container, nav, li, .row, .price b, form, li_before {
    position: relative;
}

/*CONTAINERS*/
.main_container {
    width: 320px;
    margin: auto;
}

.effects_wrapp {
    width: 909px;
    margin: auto;
}

.row {
    margin: 0;
}

.col_2 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.col_3 {
    width: 32%;
    display: inline-block;
    vertical-align: top;
}

.col_4 {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}

/*FLOATS*/
.left_float {
    float: left;
}

.right_float {
    float: right;
}

.text_l {
    text-align: left;
}

.text_r {
    text-align: right;
}

.pull_bottom {
    display: inline-block;
    vertical-align: bottom;
}

/*HEADER*/
header {
    background: #eeece8;
    /* Old browsers */
    background: -moz-linear-gradient(top, #eeece8 0%, #ffffff 50%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeece8 0%,#ffffff 50%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeece8 0%,#ffffff 50%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeece8', endColorstr='#ffffff',GradientType=0 );
    /* IE6-9 */
}

.container_gradient {
    background: url('./back_01.png') no-repeat top center;
}

.warning {
    background: rgba(72, 9, 48, 0.81);
    font-size: .75em;
    color: #d497c5;
    text-align: justify;
    padding: 7px 0;
}

.warning b {
    color: #ed7a49;
    font-family: 'GOTHICB';
    text-transform: uppercase;
}

.logo {
    position: absolute;
    left: 5.9em;
    top: -14.8em;
}

/*FORM-HEADER*/
form {
    width: 280px;
    padding-top: 39px;
    margin: auto;
    margin-top: 7em;
}

form:after {
    content: url(./arr-bot_06.png);
    position: absolute;
    right: 8em;
    top: -0.1em;
}

.price, .inputs {
    padding: 39px;
    font-family: 'GOTHIC';
    position: relative;
}

.price {
    background: rgba(199, 62, 0, 0.73);
    padding: 15px;
}

.inputs {
    background: rgba(112, 11, 87, 0.75);
    padding: 15px;
}

.price span:first-child {
    font-size: 28px;
    font-weight: 100;
    margin-left: 10px;
}

.price b {
    font-family: 'GOTHICB';
}

.price span:nth-child(2) {
    font-size: 1.8em;
    font-family: 'GOTHIC';
    color: #331a2a;
    text-transform: none;
    position: absolute;
    padding-left: 32px;
    top: 19px;
    right: 0.6em;
}

.price span:nth-child(2):before {
    content: 'old price';
    font-size: .8rem;
    font-family: 'GOTHIC';
    font-weight: 100;
    position: absolute;
    top: -11px;
    right: 0;
}

.inputs p {
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
    padding-bottom: 15px;
}

.inputs p span {
    font-size: 1.5rem;
    font-family: 'GOTHICB';
}

.inputs_wrapper {
    padding: 1.68em 0;
}

/*HEADER-LI-ROW-FORM*/
.header_ul {
    margin: 2em;
    margin-top: 6em;
}

.header_ul:before {
    content: url('./fungalor.png');
    position: absolute;
    z-index: 99999999;
    top: 2em;
    right: 0;
}

.header_ul li {
    padding: 1.41em 3.93em 1.26em .66em;
    font-size: .83em;
    vertical-align: top;
    text-transform: none;
    text-align: left;
    margin-bottom: 1em;
    padding-bottom: 1.6em;
    position: relative;
    z-index: 888888;
}

.header_ul li:first-child {
    background: #d35b6d;
}

.header_ul li:first-child:before {
    background: #D35B6D url(./arrow-white_03.png) no-repeat 25%;
}

.header_ul li:nth-child(2) {
    background: #b25f93;
    padding: 23px 0 17px 13px;
}

.header_ul li:nth-child(2):before {
    background: #b25f93 url(./arrow-white_03.png) no-repeat 25%;
}

.header_ul li:nth-child(3) {
    background: #2680a0;
}

.header_ul li:nth-child(3):before {
    background: #2680a0 url(./arrow-white_03.png) no-repeat 25%;
}

.header_ul li:before {
    content: '';
    width: 66px;
    height: 66px;
    position: absolute;
    left: -2.37em;
    top: 0em;
    z-index: -111111;
    border-radius: 50%;
}

.li_before {
    color: #b25f93;
    font-size: 1em;
    font-style: italic;
    text-align: left;
    text-transform: none;
    padding: 35px 29px;
    font-family: 'GOTHICB';
    font-weight: 100;
}

.li_before li {
    margin-bottom: 1.5em;
}

.li_before li:before {
    content: url('./icons_11.png');
    position: absolute;
    left: -3.2em;
}

/*MYCO*/
.myco {
    background: url('./back-leg_02.png') no-repeat top center;
    padding-bottom: 16px;
}

.myco p {
    color: #ffcc82;
    line-height: 25px;
    padding-bottom: 10px;
    margin: 0 10px;
}

.myco b {
    text-transform: uppercase;
}

/*EFFECT*/
/*MYCO AFTER IMG*/
.effect ul {
    padding-top: 4em;
}

.effect .main_container:before {
    content: url('./back_05.png');
    position: absolute;
    right: -120px;
    top: -73px;
    z-index: -1111111;
}

.effect .main_container:after {
    content: url('./back_07.png');
    position: absolute;
    left: -7.5em;
    bottom: -2px;
}

.effect h2 {
    color: #5b5856;
    padding: 41px 0 21px 10px;
    font-size: -0.5em;
    line-height: 35px;
    text-align: left;
}

.effect h2 span {
    font-family: 'GOTHICB';
    color: #9c62a2;
}

.effect li {
    line-height: 16px;
    color: #5b5856;
    font-weight: 100;
    text-transform: none;
    text-align: left;
    padding-bottom: 42px;
    font-size: .8em;
    width: 70%;
    padding-bottom: 72px;
    margin: 0 10px;
}

.effect li::after {
    content: 'Climbazole';
    width: 184px;
    height: 43px;
    background: #9c62a2;
    position: absolute;
    left: 2em;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    top: -3.8em;
    text-align: center;
    padding-top: 12px;
    color: #fff;
    font-size: 1.2em;
}

.effect li:nth-child(2):after {
    content: 'Farnesol';
}

.effect li:nth-child(3):after {
    content: 'Vitamina E';
}

.effect li:nth-child(4):after {
    content: 'Aceites esenciales';
    font-size: 1.12em;
}

.effect li:before {
    content: '1';
    width: 37px;
    height: 44px;
    background: #f9f9f9;
    color: #9c62a2;
    position: absolute;
    left: 0;
    top: -4.6em;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    text-align: center;
    padding-top: 11px;
}

.effect li:nth-child(2):before {
    content: '2';
    top: -4.66em;
}

.effect li:nth-child(3):before {
    content: '3';
    top: -4.66em;
}

.effect li:nth-child(4):before {
    content: '4';
    top: -4.25em;
}

/*REMOVING*/
.removing {
    background: url('./back-rem_02.png') no-repeat center top;
    padding-bottom: 4.1em;
}

.removing h2 {
    font-size: 1.3em;
}

.removing p {
    color: #efbcf2;
    font-size: .87em;
    padding: 39px 0 4px;
}

.removing p:nth-child(odd) {
    padding-left: 9em;
    text-align: left;
}

.removing p:nth-child(even) {
    padding-right: 9em;
    text-align: right;
}

.removing p:nth-child(6) {
    padding-top: 30px;
    padding-bottom: 18px;
}

.removing .button {
    bottom: -6.7em;
    left: 11.3%;
    font-size: 18px;
    padding: 0;
    line-height: 43px;
}

/*COMMENT*/
.comment {
    background: #26688A url('./back-com_03.png') no-repeat top center;
    padding-top: 45px;
    text-align: left;
    padding-bottom: 1.5em;
}

.comment h3 {
    background: #157aa2;
    padding: 13px;
    margin-bottom: 20px;
    font-weight: 100;
    text-align: center;
}

.comment h3 span {
    color: #07688f;
    font-family: 'GOTHICB';
}

.comment h3:nth-child(3) {
    background: none;
    padding: 16px 0;
    margin: 0;
    border-bottom: 2px solid rgba(152, 204, 229, 0.52);
}

.rev {
    line-height: 18px;
    text-align: justify;
    margin: 0 12px;
}

.com {
    width: 67%;
    display: inline-block;
    vertical-align: top;
}

.user_name {
    color: #07688f;
    font-weight: 100;
    padding: 17px 0;
}

.user_name span {
    color: white;
    font-family: 'GOTHICB';
}

.user_com {
    font-size: .87em;
    text-transform: none;
}

.col_3 div {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10em;
}

.image {
    width: 31%;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
}

.expert {
    width: 66%;
}

.comment row {
    margin-top: 1em;
}

.btn-n {
    -webkit-appearance: none;
}

/*FOOTER*/
footer {
    background: #f2f2f3;
    padding-top: 50px;
}

footer form {
    margin-top: -30px;
}

footer form:before {
    content: url('./back_11.png');
    top: -20px;
    left: -8.7em;
    position: absolute;
}

footer h1 {
    margin: 0;
    margin-left: 3.7em;
    margin-right: 10em;
    padding: 5px 26px;
    text-align: left;
}

.main {
    width: 100%;
    overflow: hidden;
    min-width: 320px;
}

footer h1:nth-child(2) {
    margin-top: 5px;
    margin-right: 9em;
}

footer h6 {
    text-align: left;
    margin: 1em 0 0 10em;
}

footer .warning {
    margin-top: 15em;
}

.textin {
    background: url("./li-icons_10.png")no-repeat center top;
    width: 196px;
    height: 123px;
    color: #45A0C7;
    font-size: 22px;
    text-align: left;
    margin: 0 auto;
    padding: 32px 0 0 20px;
}

.textin span:nth-child(2) {
    padding: 0 0 0 20px;
    color: #ffffff;
    font-size: 15px;
    display: block;
}

.textin span:nth-child(3) {
    padding: 0 0 0 40px;
    color: #974C9F;
    font-size: 25px;
}

footer .price {
    padding: 20px;
    background: #E06521;
}

footer .price span:first-child {
    margin-left: 0;
    text-align: left;
    display: block;
}

footer .price span:first-child:before {
    top: 49px;
}
