html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym,
address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i,
center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
    margin:  0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}


html, body {
    text-align:left;
    font-size:15px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}




.hide {
    display:none;
}



h1.new {
    position:absolute;
    top:100px;
    left:50%;
    padding:0px;
    width:980px;
    margin:0px 0px 0px -490px;
    height:355px;
    overflow:hidden;
    text-indent:-1000em;
    background:transparent url(../images/baner-f-b.jpg) center top no-repeat;
    z-index: 1;
}



p#www {
    position:absolute;
    top:30px;
    left:50%;
    padding:0px;
    margin:0px 0px 0px -490px;
    width:203px;
    height:59px;
    overflow:hidden;
    background:transparent url(../images/LOGO.png) left top no-repeat;
    text-indent:-1000em;
}


p#www a {
    position:absolute;
    top:0px;
    left:0px;
    padding:0px;
    margin:0px 0 0 0px;
    width:203px;
    height:59px;
    display:block;
    overflow:hidden;
    text-indent:-1000em;
    background:transparent url(../images/LOGO.png) left top no-repeat;
    z-index: 1;
}

.clear{
    clear: both;
}

.cfa { overflow: visible !important; position: relative; padding-top: 1px; }
.cfa:after { content: ""; display: table; clear: both; }

.pojemnik {
    overflow: hidden;
    width: 100%;
}

div.zawartosc {
    margin: 0pt auto 10px;
    overflow: hidden;

    text-align: left;
    width: 979px;

}
.zawartosc2{
    width:100%;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );

}

.lewo {
    float: left;
}

.prawo {
    float: right;
}

.srodek {
    text-align: center;
}
@media screen and (max-width: 480px) {
    h2{text-align:center}
.mobile-hide{
    display:none
}
 .txttest{
     display: inline-block; width: 100%; margin-left:5%; vertical-align: top; font-size: 16px;
 }
}
select {
    background-image: url(images/select.png);
    background-position: 93% 50%;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.form input, .form select, .main button {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #616161;
    padding: 10px 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    margin-bottom: 10px;
}
.main button {
    position: relative;
    background: #fe7aa8;
    background: -moz-linear-gradient(top, #fe7aa8 0%, #f6161e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe7aa8), color-stop(100%, #f6161e));
    background: -webkit-linear-gradient(top, #fe7aa8 0%, #f6161e 100%);
    background: -o-linear-gradient(top, #fe7aa8 0%, #f6161e 100%);
    background: -ms-linear-gradient(top, #fe7aa8 0%, #f6161e 100%);
    background: linear-gradient(to bottom, #fe7aa8 0%, #f6161e 100%);
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 #ffa9b6, 0 5px 12px 0 rgba(0, 0, 0, .7);
    border: 1px solid #fa4863;
    letter-spacing: 2px;
    margin: 0;
}
.form {
    background: rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 6px rgba(0, 0, 0, .08);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 70px 55px;
    display: table;
    width: 480px;
    height: 450px;
    text-align: center;
    position: relative;
    z-index: 10;
}
.form select {
    padding-right: 55px;
}
.form form {
    display: table-cell;
    vertical-align: middle;
}
.form input, .form select, .main button {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #616161;
    padding: 10px 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    margin-bottom: 10px;
}