.hidden-window {
	color:#6b4462;
  	background:#fff;
}
.hidden-window .h-w-header{
	background: url(//st.acstnst.com/content/second/design_beauty_1/imagesSec/beauty_1/head_bg.png) #fae2d6;
}
.hidden-window .h-w-header .h-w-header-text{
	height:126px;
	padding:0;
	margin-bottom:35px;
}
.hidden-window .h-w-header .h-w-header-text:before{
	display:none;
}
.hidden-window .h-w-header .h-w-header-text span{
	font-style:italic;
	color:#fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.75);
}
.hidden-window .h-w-header .h-w-header-text span b{
	color:#e6461d;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block,
.hidden-window .h-w-main .h-w-left .bx-bx>li,
.hidden-window .h-w-main .h-w-decor-block{
	-webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block{
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 1px #fae2d6;
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 1px #fae2d6;
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 1px #fae2d6;
}
.hidden-window .h-w-main .h-w-left .bx-bx>li[data-value="3"] .h-w-block {
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 3px #e6461d;
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 3px #e6461d;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 3px #e6461d;
}
.hidden-window .h-w-main .h-w-left .bx-bx>li.active .h-w-block{
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 3px rgba(230,70,29,.5);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 3px rgba(230,70,29,.5);
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 3px rgba(230,70,29,.5);
}
.hidden-window .h-w-main .h-w-left .bx-bx>li[data-value="3"].active .h-w-block {
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 5px #e6461d;
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 5px #e6461d;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 5px #e6461d;
}
.hidden-window .h-w-main .h-w-left .bx-bx>li.active .h-w-block .h-w-check{
	-webkit-box-shadow:0 0 0 3px #d5dde9, inset 4px 4px 4px 0px rgba(213,221,233,0.25);
	-moz-box-shadow:0 0 0 3px #d5dde9, inset 4px 4px 4px 0px rgba(213,221,233,0.25);
	box-shadow:0 0 0 3px #d5dde9, inset 4px 4px 4px 0px rgba(213,221,233,0.25);
}
.hidden-window .h-w-main .h-w-left .bx-bx>li[data-value="3"] .h-w-block:before {
    background: #e6461d;
    color: #fff;
}
.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block .h-w-check:before{
	color:#000;
}
.hidden-window .h-w-main .h-w-left .bx-bx>li.active .h-w-block .h-w-check:before{
	color:#000;
}
.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block .h-w-item .h-w-item-img>span{
	background:#fff;
	border-color:#e6461d;
	-webkit-box-shadow:inset 0 0 15px 0px rgba(215,70,122,.25);
	-moz-box-shadow:inset 0 0 15px 0px rgba(215,70,122,.25);
	box-shadow:inset 0 0 15px 0px rgba(215,70,122,.25);
}
.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block .h-w-item .h-w-item-img>span font{
	color:#fff;
	background:#e6461d;
	font-style:italic;
	font-size:20px;
	-webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
	padding:3px 5px;
}
.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block .h-w-price p{
	text-align:center;
  	font-size:22px;
}
.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block .h-w-price p span{
	background: #a8bb3b;
    color: #fff;
	position:static;
	display:table;
	margin:15px auto 0;
	padding:2px 10px;
    font-size: 20px;
	-webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
	-webkit-box-shadow:0 0 6px 0 #A8BB3B;
	-moz-box-shadow:0 0 6px 0 #A8BB3B;
	box-shadow:0 0 6px 0 #A8BB3B;
}
.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block .h-w-price p span:before {
    display: inline-block;
    font-size: 34px;
    font-weight: 700; 
	margin-right:5px;
	margin-top:-15px;
	text-shadow: 
		-0   -2px 5px #A8BB3B,
		 0   -2px 5px #A8BB3B,
		-0    2px 5px #A8BB3B,
		 0    2px 5px #A8BB3B,
		-2px -0   5px #A8BB3B,
		 2px -0   5px #A8BB3B,
		-2px  0   5px #A8BB3B,
		 2px  0   5px #A8BB3B,
		-1px -2px 5px #A8BB3B,
		 1px -2px 5px #A8BB3B,
		-1px  2px 5px #A8BB3B,
		 1px  2px 5px #A8BB3B,
		-2px -1px 5px #A8BB3B,
		 2px -1px 5px #A8BB3B,
		-2px  1px 5px #A8BB3B,
		 2px  1px 5px #A8BB3B,
		-2px -2px 5px #A8BB3B,
		 2px -2px 5px #A8BB3B,
		-2px  2px 5px #A8BB3B,
		 2px  2px 5px #A8BB3B,
		-2px -2px 5px #A8BB3B,
		 2px -2px 5px #A8BB3B,
		-2px  2px 5px #A8BB3B,
		 2px  2px 5px #A8BB3B;
}
.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block .h-w-price ul li span:nth-of-type(1) {
    color: #899099;
}
.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block .h-w-price .h-w-total span:nth-of-type(1) {
    color: #6b4462;
}
.hidden-window .h-w-main .h-w-payment,
.hidden-window .h-w-main .h-w-right .h-w-guarantee{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border:1px solid #fae2d6;
}
.hidden-window .h-w-main .h-w-right .h-w-guarantee{
	padding:0;
}
.hidden-window .h-w-main .h-w-payment p,
.hidden-window .h-w-main .h-w-right .h-w-guarantee p{
	background: #b2c931;
	-webkit-border-radius:0 50px 50px 0; 
    -moz-border-radius:0 50px 50px 0; 
    border-radius:0 50px 50px 0; 
	color:#fff;
	font-style:italic;
	margin:10px 10px 10px 0;
}
.hidden-window .h-w-main .h-w-payment ul{
	padding-top:0;
	padding-bottom:0;
}
.hidden-window .h-w-main .h-w-payment ul li{
	position:relative;
	padding-top:10px;
	padding-bottom:10px;
	height:80px;
}
.hidden-window .h-w-main .h-w-payment ul li:not(:last-child):after{
	content:'';
	position:absolute;
	bottom:-5px;
	left:-25px;
	right:-25px;
	border-bottom:1px solid #fae2d6;
}
.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block .h-w-price .h-w-total span {
    border-top: 1px solid #d5dde9;
}
.hidden-window .h-w-main.h-w-payment p{
	color:#fff;
}
.hidden-window .h-w-main .h-w-right .h-w-honesty{
	-webkit-box-shadow:0 0 0 5px #684260, inset 0 0 0 2px #684260;
	-moz-box-shadow:0 0 0 5px #684260, inset 0 0 0 2px #684260;
	box-shadow:0 0 0 5px #684260, inset 0 0 0 2px #684260;
	color:#684260;
}
.hidden-window .h-w-main .h-w-payment ul li:before{
	background:none;
	color:#da5245;
	padding:3px;
	font-size:54px;
}
.hidden-window .h-w-main .h-w-right .h-w-honesty svg{
	fill:#fff;
}
.hidden-window .h-w-main .h-w-right .h-w-form{
	background: url(//st.acstnst.com/content/second/design_beauty_1/imagesSec/beauty_1/head_bg.png) #fae2d6;
}
.hidden-window .h-w-main .h-w-right .h-w-form p,
.hidden-window .h-w-main .h-w-right .h-w-form p b {
    color: #e6461d;
}
.hidden-window .h-w-main .h-w-right .h-w-form p b {
	font-style:italic;
}
.hidden-window .h-w-select,
.hidden-window .h-w-main .h-w-right .h-w-form input,
.hidden-window .h-w-main .h-w-right .h-w-form textarea{
	background:#fff !important;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}
.hidden-window .h-w-main .h-w-right .h-w-form  button{
	background: #f5201d;
	background: -moz-linear-gradient(top, #f5201d 0%, #ca1c16 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #f5201d), color-stop(100%, #ca1c16));
	background: -webkit-linear-gradient(top, #f5201d 0%, #ca1c16 100%);
	background: -o-linear-gradient(top, #f5201d 0%, #ca1c16 100%);
	background: -ms-linear-gradient(top, #f5201d 0%, #ca1c16 100%);
	background: linear-gradient(to bottom, #f5201d 0%, #ca1c16 100%);
	border:none;
	color:#fff;
	-webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.hidden-window .h-w-main .h-w-right .h-w-form  button:before{
	display:none;
}
.hidden-window .h-w-main .h-w-right .h-w-form .h-w-text-total{
	color:#684260;
}
.hidden-window .h-w-main .h-w-right .h-w-form .h-w-text-total small{
	color:#684260;
}
.hidden-window .h-w-main .h-w-right .h-w-form .h-w-text-total font{
	color:#e6461d;
}
.hidden-window .h-w-main .h-w-right .h-w-guarantee p{
	color:#fff;
	font-style:italic;
	padding: 10px 25px;
	text-align: center;
    font-size:24px;
}
.hidden-window .h-w-main .h-w-right .h-w-guarantee ul{
	padding:10px 20px 20px;
}
.hidden-window .h-w-main .h-w-right .h-w-guarantee ul li:before{
	color:#b2c931;
}
.hidden-window .h-w-select:before,
.h-w-vis-mob.h-w-select select option{
	color:#000;
}
.hidden-window .h-w-select,
.hidden-window .h-w-main .h-w-right .h-w-form input,
.hidden-window .h-w-main .h-w-right .h-w-form textarea{
	-webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;	
}
@media screen and (max-width: 991px) {
	.hidden-window .h-w-main .h-w-payment ul li:not(:last-child):after {
		display:none;
	}
	.hidden-window .h-w-main .h-w-left .bx-bx>li.active .h-w-block{
		-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 1px #fae2d6;
		-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 1px #fae2d6;
		box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 1px #fae2d6;
	}
	.hidden-window .h-w-main .h-w-left .bx-bx>li[data-value="3"].active .h-w-block {
		-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 3px #e6461d;
		-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 3px #e6461d;
		box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25),inset 0 0 0 3px #e6461d;
	}

	.h-w-vis-mob.h-w-select{
		-webkit-box-shadow:0px 0 3px 0px #A8BB3B;
		-moz-box-shadow: 0px 0 3px 0px #A8BB3B;
		box-shadow: 0px 0 3px 1px #A8BB3B;
	}
	.h-w-vis-mob.h-w-select select,
	.h-w-vis-mob.h-w-select:before{

	}
}
@media screen and (max-width: 767px) {
	.hidden-window .h-w-header .h-w-header-text {
		height:80px;
		margin-bottom:0;
	}
	.hidden-window .h-w-main .h-w-payment ul li {
		padding-top: 70px;
		height:auto;
	}
	.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block .h-w-price p span:before{
		font-size: 18px;	
	}
	.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block .h-w-price p span {
		font-size: 16px;
		padding:2px 5px;
		margin-top:3px;
	}
	.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block .h-w-price ul li.h-w-new-price span {
		color:#6b4462;
	}
	.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block .h-w-price ul li.h-w-new-price span:nth-last-of-type(1) {
		color:#000;
	}
	.hidden-window .h-w-main .h-w-left .bx-bx>li .h-w-block .h-w-price .h-w-total span {
		border-top:none;
	}
}