

#pedido h3:after{

    font-size: 0.4em;
    display:block;	position:absolute;		top:-14px;	left: 10px;



    line-height: 1.2;
    color: #fff;
    font-weight: bold;
    text-align: center;

    font-family: "Lato";
    padding: 30px 15px 0;
    width: 125px;
    height:119px;


}


.index-free{ display:inline-block; width:75%; text-align:right; color:#A8C4EC; }
.index-free span{ margin-right:2%; }

#try{background: #8959A5;
    width: 100%;    text-align: center;
    color: #fff;
    font-size: 0.9em;
    padding: 0.3% 0; }
a{ text-decoration:none; }

#top-box .col2 p{
    font-size:15px
}
#top-box .pani_dr{
    right:-168px
}
.white_bg{
    background:rgba(255,255,255,0.4) ;
}
.price_1{
    font-size: 25px;

    text-align: right;
    width:290px
}
.eco_img{
    padding-top: 100px;z-index: 9999;margin-left:-40px
}
@media screen and (max-width: 700px) {
    .mobile-hide{
        padding-top:0px!important;
        padding-bottom:0px!important;
        display:none
    }
    .eco_img{
        padding-top: 0px;z-index: 9999;margin-left:0px
    }
}

.navbar{
    margin-bottom:0px;
}

.navbar-default{
    background-color: #fff;
    border-color: #fff;
}
.navbar-brand{
    font-size:24px;
    color:#fa4863 !important;
}

.container-fluid{
    padding-right:0px;
    padding-left:0px;
}

.block_1 {

    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%), -moz-linear-gradient(top, #f0bfb7 0%, #a0c340 100%);
    background: -webkit-gradient(linear,left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,1)), color-stop(70%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0))), -webkit-gradient(linear,left top, left bottom, color-stop(0%, #f0bfb7), color-stop(100%, #a0c340));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%), -webkit-linear-gradient(top, #f0bfb7 0%, #a0c340 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%), -o-linear-gradient(top, #f0bfb7 0%, #a0c340 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%), -ms-linear-gradient(top, #f0bfb7 0%, #a0c340 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%), linear-gradient(to bottom, #f0bfb7 0%, #a0c340 100%);

}

.logo {
    position: relative;
    display: table;
    margin-left: auto;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 100px;
    font-weight: 300;
    color: #fa4863;
    letter-spacing: -5px;
    text-transform: uppercase;
    -webkit-background-size: 100% 4px;
    -moz-background-size: 100% 4px;
    background-size: 100% 4px;
    background-repeat: no-repeat;
    background-image: -moz-linear-gradient(left, #63a703 15%, #fa4862 85%), -moz-linear-gradient(left, #63a703 15%, #fa4862 85%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, #63a703), color-stop(85%, #fa4862)), -webkit-gradient(linear, left top, right top, color-stop(15%, #63a703), color-stop(85%, #fa4862));
    background-image: -webkit-linear-gradient(left, #63a703 15%, #fa4862 85%), -webkit-linear-gradient(left, #63a703 15%, #fa4862 85%);
    background-image: -o-linear-gradient(left, #63a703 15%, #fa4862 85%), -o-linear-gradient(left, #63a703 15%, #fa4862 85%);
    background-image: -ms-linear-gradient(left, #63a703 15%, #fa4862 85%), -ms-linear-gradient(left, #63a703 15%, #fa4862 85%);
    background-image: linear-gradient(to right, #63a703 15%, #fa4862 85%), linear-gradient(to right, #63a703 15%, #fa4862 85%);
    background-position: 0 0, 0 100%;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    border-radius: 65px;
    padding: 0 30px 15px;
    line-height: 1;

}

.logo:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    -webkit-border-radius: 65px 0 0 65px;
    -moz-border-radius: 65px 0 0 65px;
    border-radius: 65px 0 0 65px;
    border: 4px solid #64a703;
    border-right: none;
}

.logo:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    height: 100%;
    -webkit-border-radius: 0 65px 65px 0;
    -moz-border-radius: 0 65px 65px 0;
    border-radius: 0 65px 65px 0;
    border: 4px solid #fa4863;
    border-left: none;
}

.logo b {
    color: #64a703;
    font-weight: 700;
}
.block_1 .title p  {

    padding-right: 15px;
    font-size: 60px;
    color: #fa4863;
    line-height: .75;
text-align:right;
    letter-spacing: 2px;
}
.h3{
    text-align: center;
    font-size: 25px;
    color: #fa4863;
    border: 1px solid #8eb81e;
    border-width: 1px 0;
    padding: 10px 0;
    margin-bottom: 20px;
}

.block_1 ul{

    width: 100%;
    z-index: 10;
    position: relative;
}
.block_1 ul li {
    font-size: 20px;
    font-weight: 700;
    color: #8eb81e;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fa4863;
    text-transform: uppercase;
}
.block_1 ul li:before {
    content: '';
    background: url('../images/chek.png');
    width: 43px;
    height: 35px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: -43px;
}

.block_32 ul{

    width: 100%;
    z-index: 10;
    position: relative;
}
.block_32 ul li {
    font-size: 20px;
    font-weight: 700;
    color: #8eb81e;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fa4863;
    text-transform: uppercase;
}
.block_32 ul li:before {
    content: '';
    background: url('../images/chek.png');
    width: 43px;
    height: 35px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: -43px;
}


.order {
    position: relative;
    background: #fe7aa8;
    background: -moz-linear-gradient(top, #fe7aa8 0%, #f6161e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe7aa8), color-stop(100%, #f6161e));
    background: -webkit-linear-gradient(top, #fe7aa8 0%, #f6161e 100%);
    background: -o-linear-gradient(top, #fe7aa8 0%, #f6161e 100%);
    background: -ms-linear-gradient(top, #fe7aa8 0%, #f6161e 100%);
    background: linear-gradient(to bottom, #fe7aa8 0%, #f6161e 100%);
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 #ffa9b6, 0 5px 12px 0 rgba(0, 0, 0, .7);
    border: 1px solid #fa4863;
    letter-spacing: 2px;
    margin: 0;
}

.order span {
    position: relative;
    z-index: 2;
}

.order:before {
    content: '';
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    background: #f6161e;
    background: -moz-linear-gradient(top, #f6161e 0%, #fe7aa8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6161e), color-stop(100%, #fe7aa8));
    background: -webkit-linear-gradient(top, #f6161e 0%, #fe7aa8 100%);
    background: -o-linear-gradient(top, #f6161e 0%, #fe7aa8 100%);
    background: -ms-linear-gradient(top, #f6161e 0%, #fe7aa8 100%);
    background: linear-gradient(to bottom, #f6161e 0%, #fe7aa8 100%);
    box-shadow: inset 0 1px 0 0 #ffa9b6;
    border: 1px solid #fa4863;
    opacity: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    z-index: 1;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.order:hover:before {

}

#faq h3{
    text-align: center;
    color: #39709b;
    font-size: 48px;
    border: 1px solid #8eb81e;
    border-width: 1px 0;
    padding: 10px 23px;
    margin-bottom: 15px;
}
#faq {
    padding-top: 100px;
    background: #a1ecf7;
    /* background: url(images/form.png)-50px right no-repeat, -moz-linear-gradient(45deg, #a1ecf7 0%, #faffed 40%, #faffed 60%, #a6eef7 100%); */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #a1ecf7), color-stop(40%, #faffed), color-stop(60%, #faffed), color-stop(100%, #a6eef7));
    background: -webkit-linear-gradient(45deg, #a1ecf7 0%, #faffed 40%, #faffed 60%, #a6eef7 100%);
    background: -o-linear-gradient(45deg, #a1ecf7 0%, #faffed 40%, #faffed 60%, #a6eef7 100%);
    background: -ms-linear-gradient(45deg, #a1ecf7 0%, #faffed 40%, #faffed 60%, #a6eef7 100%);
    /* background: url(images/form.png)95% -100px no-repeat, linear-gradient(45deg, #a1ecf7 0%, #faffed 40%, #faffed 60%, #a6eef7 100%); */
    padding-bottom: 50px;
}
.box-2{
    background: url('../images/block_3_bg.jpg') center top;
    padding: 10px 0px ;
    z-index: 9;

}.block_12{
     padding-top: 10px;
     background: -moz-linear-gradient(top, #fdfdfd 0%, #ffffff 71%, #e4eec9 100%);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(71%, #ffffff), color-stop(100%, #e4eec9));
     background: -webkit-linear-gradient(top, #fdfdfd 0%, #ffffff 71%, #e4eec9 100%);
     background: -o-linear-gradient(top, #fdfdfd 0%, #ffffff 71%, #e4eec9 100%);
     background: -ms-linear-gradient(top, #fdfdfd 0%, #ffffff 71%, #e4eec9 100%);
     background: linear-gradient(to bottom,#fdfdfd 0%, #ffffff 71%, #e4eec9 100%);
     z-index: 2;
 }

#pedido { background: linear-gradient(#fafafa, #e4eec9); border: solid 1px #ebf0f4; ;    z-index: 99999; }