//  Overwrites on foundation CSS
.top-bar ,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
	background: $black none repeat scroll 0 0;
}
.top-bar-section .has-dropdown > a::after {
	border: none;
}
