

// Global CSS
* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
	color: $colordark;
	background-color: $bgcolor;
	font-family: $fontmedium;
	font-size: 12px;
	line-height: 14px;

	&.no-header-footer {
		background-color: #fff;

		#wrapper-content {
			margin-bottom: 0;
		}
	}
}

table a {
    color: $colorblue !important;
}

table a:hover {
    color: $colorpeach !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $fontmedium;
}

hr {
	border: 0 none;
	border-bottom: 1px solid $bgcolorhover;
	margin: 40px 0 20px;
	clear: both;
}
label small {
	color: $colorpeach;
	font-size: 10px;
	margin-left: 10px;
}
button, .button {
	font-family: $fontmedium;
}
p {
	font-size: 12px;
}
textarea {
	font-size: 12px;
}

.peach {
	color: $colorpeach;
}
.dark {
	color: $colordark;
}
.light {
	color: $colorblue; // $colorlight;
}

.gray{
  color:$gray;
}

.req-span {
	padding-left: 10px;
}
.flux-panel {
	font-size:12px;
	padding: 30px 20px 20px;
	border-bottom: 2px solid #f6fafc;

	&.noborder {
		border: 0 none;
	}
}
.button.info, .button.info {
	color: #fff;
}

// Alignments
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.flaot-none {
	float: none;
}
.clear {
    clear: both;
}

// padding
.pad-10 {
	padding: 10px;
}
.pad-0-10 {
	padding: 0 10px;
}

// butons
.button {
	color: #fff;
	border-radius: 2px;    
	height: auto;
    line-height: auto;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
	font-size: 12px;
	font-family: $fontbold;
	text-transform: uppercase;

	&.fluxbtn-sm {
    	padding-top: 2px !important;
    	padding-bottom: 2px !important;
	}
	
	// &.flux-peach {
		background-color: $colorpeach;
		&:hover {
			background-color: $colorpeach-hover;
		}
	// }
	&.secondary {
		background-color: $colorblue;
		&:hover {
			background-color: $colorblue-hover;
		}
	}
}
button.secondary, .button.secondary {
	color: #fff !important;
}
.btn-gray {
    background-color: $gray;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
.stats-button {
    background-color: $colorblue;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    margin: 0 5px;
    padding: 10px 25px;
}

.stats-button.disabled {
    background-color: $disabledBackgroundColor !important;
    color: $disabledTextColor !important;
}

#your-link-page .button {
    height: 37px;
}


// inputs
select{
 	line-height: 14px !important;
  	-webkit-appearance: none;
  	-moz-appearance: none;
    background: url('../images/arrow-down.png') no-repeat calc(100% - 15px) !important;
}

select,
.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single {
	background: #f6fafc;
    border-radius: 3px;
    border: 1px solid #d2dadf;
    box-shadow: none;
	color: #667c8a;
    font-family: $fontmedium;
    font-size: 12px;
    padding: 4px 28px 4px 10px;
    height: auto;
    width: auto;
    line-height: 28px;

    -webkit-appearance:default;

    &:after {
	    background-color: transparent;
	    background-image: url("../images/icon/dropdown-arrow-down.png");
	    background-position: 0 0;
	    background-repeat: no-repeat;
	    content: " ";
	    height: 6px;
	    position: absolute;
	    right: 15px;
	    top: 45%;
	    width: 8px;
    }
}
select,
.stats-groupids-combobox {	
    padding: 9px 28px 9px 10px;
    &:after {
	    background-color: transparent;
	    background-image: url("../images/icon/dropdown-arrow-down.png");
	    background-position: 0 0;
	    background-repeat: no-repeat;
	    content: " ";
	    height: 6px;
	    position: absolute;
	    right: 15px;
	    top: 45%;
	    width: 8px;
    }
}
.chosen-container-single {
	.chosen-single {
		span {
		    display: block;
		    margin: 0;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		}
		div b {
			background: none;
			display: none;
		}
	}
	.chosen-search {
	    margin: 0;
	    padding: 5px 0;
	    position: relative;
	    white-space: nowrap;
	    z-index: 1010;
	    background-color: #f8f8f8;

	    input[type="text"] {
			border: none;
			border-radius: none;
			color: #aab3b9;
		    font-family: $fontmedium;
			box-shadow: none;
		}
	}
}
.chosen-container {
	.chosen-drop {
		border-color: #d2dadf;
	}
	.chosen-results {
	    color: #667c8a;
	    margin: 0;
	    max-height: 240px;
	    overflow-x: hidden;
	    overflow-y: auto;
	    padding: 0;
	    position: relative;

	    li {
			font-size: 12px;
	    }
	    li.highlighted {
	    	background-image: none;
	    	background-color: #64b0e2;
	    }
	}
}
.chosen-container-active {
	&.chosen-with-drop {
		.chosen-single {
		    background-image: none;
		    background-color: #fff;
		    background-repeat: no-repeat;
			box-shadow: none;
			border-color: #d2dadf;
			span {
				color: #a4a8ac
			}
		}
	}
}
.chosen-container-multi .chosen-choices {
	li.search-choice {
		color: #fff;
		background: $colorblue;
	    border: medium none;
	    box-shadow: none;
	    font-size: 12px;
	    font-family: $fontmedium;
	    padding: 8px 10px 8px 32px;

	    .search-choice-close {
	    	background: transparent url('../images/close-white-sm.png?v=2') center center no-repeat !important;
	    	left: 10px;
		    right: auto;
		    top: 8px;

		    &:hover {
		    	background-position: 0 0;
		    }
	    }
	}

	li.search-field input[type="text"] {
	    border-radius: 3px;
	    border: 0 none;
	    box-shadow: none;
		color: $placeholdercolor;
	    font-family: $fontmedium;
	    font-size: 12px;
	}
}
.dataTables_processing {
	color: $placeholdercolor;
    float: left;
    margin: 11px;
}


input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
input[type="color"], 
textarea {
	color: #667c8a;
	background-color: transparent;
    border-radius: 4px;
    border: 1px solid #d2dadf;
	color: #667c8a;
    font-family: $fontmedium;
    font-size: 12px;
    padding: 10px 28px 10px 10px;
    height: auto;
    box-shadow: none;
    &:focus {
    	box-shadow: 0 0 10px rgba(1, 2, 2, 0.1);
    	border: 1px solid #d2dadf;
    	background-color: transparent;
    }
	&[disabled] {
   		border-radius: 4px !important;
		background-color: #d2dadf !important;
	}
}
input.stats-text-input {
    font-family: $fontmedium;
    border-radius: 3px;
    display: inline;
    font-size: 13px;
    line-height: 28px;
    margin: 0 5px;
    overflow: auto;
    padding: 4px 15px;
    width: 200px;
}
.unknown-label
{
    font-family: $fontmedium;
    color: #555;
    font-size: 11px;
    margin-left: 6px;
}

.unknown-label.disabled
{
    color: #AAA;
}

input.unknown-value + label
{
    vertical-align: middle !important;
}

.unknown-value-cb-block
{
/*    position: relative;
    top: 12px;*/
}

span.general-values-column div.chosen-container
{
}

span.general-values-column input.input-value
{
    background-color: #F6FAFC;
}

.time-based-values-column, .time-based-values-column select, .time-based-values-column input
{
    float: left !important;
    margin-right: 5px;
}

// icon oversrite changes
.ion-ios-compose-outline,
.ion-ios-folder-outline,
.ion-ios-flame-outline,
.ion-ios-copy-outline,
.ion-trash-b {
    width: 22px;
    display: inline;
    height: 22px;
    margin: 0 3px 0 4px;

	&:before {
		content: " " !important;
		padding: 6px !important;
	}
}
.ion-ios-copy-outline {
    	background: transparent url('../images/icon/copy-icon.png?v=b') center center no-repeat !important;

	&:hover {
		background-image: url('../images/icon/copy-icon-hover.png') !important;
	}
}
.ion-ios-flame-outline {
    	background: transparent url('../images/icon/heatmap-icon.png?v=2') center center no-repeat !important;

	&:hover {
		background-image: url('../images/icon/heatmap-icon-hover.png') !important;
	}
}
.ion-ios-compose-outline {
	background: transparent url('../images/icon/edit-icon.png?v=2') center center no-repeat !important;

	&:hover {
		background-image: url('../images/icon/edit-icon-hover.png') !important;
	}
}
.ion-ios-folder-outline {
	background: transparent url('../images/icon/folder-icon.png?v=2') center 3px no-repeat !important;

	&:hover {
		background-image: url('../images/icon/folder-icon-hover.png') !important;
	}
}
.ion-trash-b {
	background: transparent url('../images/icon/trash-icon.png?v=2') center 4px no-repeat !important;

	&:hover {
		background-image: url('../images/icon/trash-icon-hover.png') !important;
	}
}


// switch button
.switch input:checked + label,
.switch label {
	background-color: #d9e2e8;
	border-radius: 2px;
}
.switch.tiny label,
.switch.big label {
    height: 31px;
    width: 74px;

	&:after {
	    background: #b1c0ca url('../images/icon/icon-switch.png') right center no-repeat;
	    height: 18px;
	    left:46px;
	    top: 7px;
	    width: 22px;
	}
}
.switch.tiny input:checked + label::after, 
.switch.big input:checked + label::after {
	left: 7px; //46px
	background: #64b0e2 url('../images/icon/icon-switch.png') left center no-repeat;
}

// accordion
.accordion .accordion-navigation.active > a, 
.accordion .accordion-navigation > a, 
.accordion dd.active > a
.accordion dd > a {
    font-family: $fontmedium;
	background-color: $bgcolor;

	&:hover {
		background-color: $bgcolorhover;
	}
}

// footer
#footerBar {
	color: $colordark;
	padding: 20px;
}

// Modals
#Modal-Message {
	padding: 20px;
}
.modal-title-label {
	font-size: 18px;
	color: $titlecolor;
	font-family: $fontbold;
	padding: 34px 0 30px 40px;
}
#Modal-Long-Action {
	padding: 20px;
}
#uploadBlock {
	padding: 20px;
}
.close-icon.bClose > img {
    display: none;
}

// Title Headers
.page-title h5 {
    font-family: $fontbold;
    color: $titlecolor;
    float: left;
    font-family: "FFClanWebProWideBold";
    font-size: 19px;    
    line-height: 40px;
    margin: 20px 0 10px;

    a {
	    margin-left: 20px;
	}
}

// pagination
ul.pagination li.current a, ul.pagination li.current button {
	background-color: $colorblue !important;
}

// Data Table
table.dataTable {
    
    $rowsFontSize: 13.8px;
    $rowsFontColor: $colorStats;

    background: none;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 1px 0 8px 0 rgba(0,0,0,0.1);
    float: left;
    margin: 20px 0 10px !important;
    padding-top: 0 !important;
    font-size: $rowsFontSize !important;

	thead {
		background: $lightbg !important;
                
		.sorting, .sorting:hover,
		.sorting_asc, .sorting_asc:hover,
		.sorting_desc, .sorting_desc:hover {
			background: $lightbg url("../images/arrow-default.png") no-repeat scroll right 38px;
			text-align: center;
		}
		.sorting_desc, .sorting_desc:hover {
			background: $lightbg url("../images/arrow-down.png") no-repeat scroll right 38px;
		}
		.sorting_asc, .sorting_asc:hover {
			background: $lightbg url("../images/arrow-up.png") no-repeat scroll right 38px;
                }
                
                span.column-search-filter
                {
                    input
                    {
                        margin: 0;
                        padding: 6px !important;
                        width: 100%;
                        height: 100%;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        background-color: white;
                        border: 1px solid #e2eaef;
                    }
                }
	}
	tr {            
            height: 40px;
            font-weight: normal;
                                    
		th {
			color: $colordark;
			padding: 28px 8px !important;
			font-family: $fontwide;
                        font-weight: normal;
                        
			background: $lightbg;

			.has-tip {
				color: $colordark;
				border: 0 none;
				font-family: $fontwide;
                                font-weight: normal;
			}
			&.sorting_disabled select {
			    margin: 0;
			}
		}
		td.group-item-expander {
			color: $colordark;
                        line-height: $rowsFontSize;
		}
		td:not(.group-item-expander) {
			color: $rowsFontColor;
			padding: 0 8px !important;
		}
                td.light {
                    color: #a8bbc7;
                }
		&.even, 
		&.alt, 
		&:nth-of-type(2n) {
			background: $lightbg;
		} 
                &.odd {
                    background: white;
                }
		td.group {
			cursor: pointer;
			background-color: $bgcolor !important;
			border-bottom: 1px solid #fff;
		}
		&:hover td.expanded-group,
		&:hover td.collapsed-group {
		    background-color: $bgcolorhover !important;
		}
	}

	tbody tr {
	    td:first-child {
		    overflow: hidden;
		    position: relative;
	    }

                &:hover {
                    background-color: $bgHoveredRow !important;
                }
            
		&:hover td:first-child::after {
		    background-color: #ff8062;
		    bottom: 0;
		    content: " ";
		    left: 0;
		    position: absolute;
		    top: 0;
		    width: 2px;
		    z-index: 9;
		}                
	}


	tfoot {
		background: $lightbg;

		tr th,
		tr td {
			color: $colordark;
		}
	}

    select{
      padding: 9px 9px 9px 10px !important;
    }
}

.dataTables_length {
	position: absolute;
	bottom: 0;
	left: 18px;
}



.table-slickgrid 
{
    background: none;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 1px 0 8px 0 rgba(0,0,0,0.1);
    float: left;
    margin: 20px 0 10px !important;
    padding-top: 0;
    font-size: 13.8px !important;

	.slick-row {
		color: $colorStats;
		
		&.even {
		    background-color: #fff;
		}
		&.odd {
		    background-color: $lightbg;
		}
		&.stats-negative {
		    color: #9b7676 !important;
		}

		&.stats-positive {
		    color: #72a562 !important;
		}
                
                a {
                    color: $colorblue !important;
                }

                a:hover {
                    color: $colorpeach !important;
                }                
	}
	.fixheader,
	.ui-state-default, 
	.ui-widget-content .ui-state-default, 
	.ui-widget-header .ui-state-default {
		color: $colordark;
		font-family: $fontwide;
		font-weight: normal;
		background: $lightbg;

		.has-tip {
			color: $colordark;
			border: 0 none;
			font-family: $fontwide;
			font-weight: normal;
		}
	}
	.slick-headerrow-columns {
	    height: 40px;
	}
	.slick-headerrow-column input {
            padding: 8px 4px;
	}
	.slick-cell {
            font-family: $fontmedium;
            font-weight: normal;

            .drilldown-url {
                position: relative;
                top: -2px;
            }
	}

	.ui-widget-content.slick-row {
		/*position: relative;*/
		overflow: hidden;

                &:not(.slick-last-row):not(.new-row):hover {
                    background-color: $bgHoveredRow !important;
                }
                
		&:hover:not(.slick-last-row):not(.new-row)::after {
		    background-color: #ff8062;
		    bottom: 0;
		    content: " ";
		    left: 0;
		    position: absolute;
		    top: 0;
		    width: 2px;
		    z-index: 9;
		}
	}

	.slick-header-column {
		position: relative;
                text-align: center;
                vertical-align: middle;
                height: 40px;
                line-height: 40px;
                padding-top: 20px !important;
                font-weight: bold;

		.slick-column-name {
		    text-align: center;
		    //width: 100%;
		}
		.slick-resizable-handle {
                    display: block;
		}
		.slick-sort-indicator {

                    cursor: pointer;                    
                    
                    display: inline-block; 
                    margin-left: 4px;
                    
                    width: 8px;
                    height: 11px;

                    background: $lightbg url("../images/arrow-default.png") no-repeat;
                    text-align: center;

                    &.slick-sort-indicator-desc {
                            background: $lightbg url("../images/arrow-down.png") no-repeat;
                    }
                    &.slick-sort-indicator-asc {
                            background: $lightbg url("../images/arrow-up.png") no-repeat;
                    }

/*			position: absolute;
			top: 0;
			right: 0;
			margin-top: 30px;
			margin-right: 2px;
			width: 8px;
			height: 11px;
			background: rgba(0, 0, 0, 0) url("../images/arrow-default.png") repeat scroll 0 0;

			&.slick-sort-indicator-desc {
				background: rgba(0, 0, 0, 0) url("../images/arrow-down.png") repeat scroll 0 0;
			}
			&.slick-sort-indicator-asc {
				background: rgba(0, 0, 0, 0) url("../images/arrow-up.png") repeat scroll 0 0;
			}*/
		}
	}
}


.funnelflux-container 
{
    background: #fff;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 1px 0 8px 0 rgba(0,0,0,0.1);
    margin: 20px 0 10px !important;
    padding-top: 0;
    font-size: 14px !important;
    width: 100%;
    clear: both;
    display: block;

    &.hasmarginbottom {
    	margin-bottom: 30px !important;
    }

	.funnelflux-header {
	    background: $lightbg;
	    padding: 20px 25px;

	    h5 {
			color: $titlecolor;
			font-family: $fontbold;
	    }
	}
    .funnelflux-content {
    	padding: 20px;
    }
}



// Traffic source page
#trafficSource-settings-form,
#affiliateNetwork-settings-form,
#page-settings-form {
	h5 {
            font-family: $fontmedium;
            font-size: 16px;
	}
	label {
            color: $colordark;
            font-family: $fontmedium;
            font-size: 12px;	
            line-height: 24px;	
	}
	input, select {
            display: block;
	}

        .button {
            height: 34px;
        }
        
        .button.postfix{
            line-height: 20px;
        }
        
        #input-user-password-button {
            height: 37px;
            border-top: 1px solid white;
        }
        
	// Tracking Page
	.tracking-token {
            position: relative;

            .tracking-fields-remove {
                position: absolute;
                right: -10px;
                top: 9px;
            }
	}
	.tracking-fields-label {
            color: $colordark;
            padding-bottom: 8px;
	}
	.tracking-fields-add {
            color: $colorblue;
	    float: left;
	    padding: 8px 0;	
	}	

	// Flux offer and landing page
	.list-add-button {
            //line-height: 20px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
            margin-left: 2px;
	}
	.flux-fields-remove {
	    position: absolute;
	    right: 10px;
	    top: 10px;
	}
	.flux-fields-remove2 {
	    position: absolute;
	    right: -40px;
	    top: 10px;
	}
	.panel {
            background-color: $lightbg;
            border-radius: 0 0 3px 3px;
            border: 0 none;
            border-bottom: 1px dashed $darkborder;
	}
}

#stats-quickview {
    .DTTT_container,
    .ColVis
    {
        float: right;
        margin: 10px 0 0 0 !important;

        button.DTTT_button, 
        button.ColVis_Button,
        div.DTTT_button, 
        a.DTTT_button {
            background: $gray !important;
            border-radius: 3px;
            border: 0 none;
            box-shadow: none;
            color: #fff;
            cursor: pointer;
            margin: 0 5px;
            padding: 11px 10px;
            text-align: center;
            width: auto;
            height: 35px;

            span {
                color: #fff;
            }
            &[disabled] {
                    background-color: $lightgray !important;
            }
        }
    }
}


// Drill Down Reports Design
#drill-down,
#drill-down-tree,
#funnelStatsHeader,
#funnel-setting-page {
	.statsToolbar {
		position: relative;
	}

	.stats-toolbar-refresh-button.refresh-btn {
	    float: left;
	    margin: 22px 20px 0 30px;
	    font-family: $fontmedium;
	    font-size: 14px;
	    font-weight: normal;
	    color: $colorblue;
	    line-height: 31px;
	    cursor: pointer;

	    img.refresh-ico {
	    	margin-right: 3px;
	    }
	}

   .stats-toolbar-refresh-button.apply {
    color: $colorpeach !important;
   }
	.save-stat-filter {
		position: absolute;
	    right: 15px;
	    top: 0;
		z-index: 2;

		#view-selector {
		    float: right;
		    margin: 0 5px;
		    width: 200px;
		}
		.btn-gray {    
			float: right;
	    	margin: 0 5px;
	    	padding: 11px 10px;
		    text-align: center;
		    width: 68px;

			&[disabled] {
				background-color: $lightgray !important;
			}
			&:hover,
			&:focus {
				color: #fff;
			}
		}
	}
	.DTTT_container,
	.ColVis,
	.export {
		float: right;
		margin: 0 !important;

		button.DTTT_button, 
		button.ColVis_Button,
		div.DTTT_button, 
		a.DTTT_button {
		    background: $gray !important;
		    border-radius: 3px;
		    border: 0 none;
		    box-shadow: none;
		    color: #fff;
		    cursor: pointer;
			margin: 0 5px;
			padding: 11px 10px;
		    text-align: center;
		    width: 68px;
		    height: 35px;

		    span {
		    	color: #fff;
		    }
			&[disabled] {
				background-color: $lightgray !important;
			}
		}
	}
	.DTTT_container {
	    position: absolute !important;
	    right: 0;
	    top: 118px;
	}
}

#drill-down
{
	#stats-column-for-dateandsearch {
		.stats-block {
	    	position: absolute;
		    right: 15px;
		    top: -52px;
		}
		#stats-toolbar-search-input {
		    position: absolute;
		    right: 390px;
		    top: 102px;
		}
	}
	.ColVis_MasterButton {
	    background: $gray !important;
	    border: 0 none;
	    border-radius: 3px;
	    box-shadow: none;
	    cursor: pointer;
	    float: right;
	    height: auto;
	    padding: 12px;
	    position: absolute;
	    right: 238px;
	    text-align: center;
	    top: 119px;
	    width: 144px !important;

	    span {
	    	color: #fff;
	    }
	}
	.ColVis_collection {
		left: auto !important;
		right: 214px !important;
    	top: 238px !important;
	}
}

#drill-down-tree 
{
	.ColVis_MasterButton {
	    float: right;
	    left: -155px;
	    position: absolute;
	    top: 0;
	    width: 144px !important;
	}
	#stats-column-for-dateandsearch {
		.stats-block {
	    	position: absolute;
		    right: 15px;
		    top: -52px;


		}
	}
	.statsTableBuilderTable {
	    clear: both;
	    float: left;
	    width: 100%;
	}
	#Colvis_MasterPopup {
		position: absolute;
    	right: 218px;
	}
}

#funnelStatsHeader,
#funnel-setting-page  {

	.ColVis_MasterButton {
	    background: $gray !important;
	    border: 0 none;
	    border-radius: 3px;
	    box-shadow: none;
	    cursor: pointer;
	    float: right;
	    height: auto;
	    padding: 12px;
	    position: absolute;
	    right: 0;
	    text-align: center;
	    top: 3px;
	    width: 144px !important;

	    span {
	    	color: #fff;
	    }
	}

	.DTTT_container {
	    position: absolute !important;
	    right: 160px;
	    top: 2px;
	}
}

#funnel-setting-page {
	.stats-toolbar-refresh-button {
		margin: 0 20px 10px 14px !important;
	}
	.stats-button {
		margin: 3px 5px !important;
	}

	#stats-daterange-timezone-container,
	#stats-toolbar-search-input {
		margin: 2px 5px !important;
	}
	.ColVis_MasterButton,
	.DTTT_container {
		top: 95px;
	}
}


// Pages LIst
#pages-list 
{
	.flux-btn-container {
	    float: left;
	    margin: 20px 20px 0 40px;

	    .btn-flux {
		    float: left;
		    margin: 0;
		    padding: 11px 35px !important;
	    }
	}

	.bulk-export-container,
	.dataTables_processing {
	    float: left;
	    line-height: 35px;
	    margin: 20px 5px 0;
	}

	.bulk-export-container {
		.btn-bulk {
		    float: left;
		    margin: 0 5px;
		    padding: 11px 35px !important;
		}
	}
	.dataTables_filter {
	    float: right;
	    margin: 20px 0 5px;

		#daterangepicker-container {
		    float: right;
		    margin: 7px 16px 5px 5px;

		    .stats-button {
		    	margin: 0;
		    	padding: 10px 25px 10px;
		    }
		}

		input {
			margin-left: 5px;
		}
	}

	.DTTT_container {
		margin: 20px 0 5px 20px;

		.DTTT_button {
		    background: $gray !important;
		    border: 0 none;
		    border-radius: 3px;
		    box-shadow: none;
		    cursor: pointer;
		    float: right;
		    height: auto;
		    padding: 11px;
		    text-align: center;
		    width: 85px;

		    span {
		    	color: #fff;
		    }
		}
	}
}

// Your Links
#your-link-page {
	#input-url,
	#input-action-url,
	#input-postback-url,
	#input-iframe-code,
	#input-pixel-url,
	#input-pixel-code,
	#input-cb-secret-key,
	#input-cb-url
	{
            border-radius: 4px 0 0 4px !important;
	}
	#url-copy-button,
        #qrcode-button-popup,
	#action-url-copy-button,
	#postback-url-copy-button,
	#iframe-code-copy-button,
	#pixel-url-copy-button,
	#pixel-code-copy-button,
	#cb-secret-key-copy-button,
	#cb-url-copy-button
	{
            border-radius: 0 4px 4px 0;    
            margin-left: -4px !important;
	    padding-bottom: 3px !important;
	    padding-top: 4px !important;
	}
	.btn-plus {
	    float: left;
	    font-size: 20px;
	    height: 38px;
	    left: -7px;
	    line-height: 25px;
	    position: relative;
	    top: 21px;
	    width: 80px;
	}
}
#stored-links {
	label
	{
            font-family: 'FFClanWebProWideBold';
            color: #667c8a;
	}
        small.error
        {
            font-family: 'FFClanWebProWideMedium';
            margin-left: 0px;
        }
	.slick-cell {
		text-align: left;
	}
	.flux-btn-container {
		float: left;
		margin: 20px 20px 0 40px;

		.btn-flux {
			float: left;
			margin: 0;
			padding: 11px 35px !important;
		}
	}

        #table-stored-link {
            select,
            .chosen-container-multi .chosen-choices,
            .chosen-container-single .chosen-single {
                border: 0px transparent;
                background: transparent;

                &:after {
                        background: transparent;
                }
            }
        }        
}

// User Settings
#user-page,
#section-block-filter-edit
{
	.flux-btn-container-inner {
	    float: left;
	    margin: 25px 25px 0;
	}

	#input-user-password {
		border-radius: 4px 0 0 4px !important;
	}
	#input-user-password-button {
		border-radius: 0 4px 4px 0;    
		margin-left: -4px !important;
	    padding-bottom: 5px !important;
	    padding-top: 9px !important;
	}
}

// Campaigns
#campaign-list,
#stats-quickview,
#traffic-souce-list,
#offer-souce-list,
#funnel-list,
#campaign-settings-form,
#funnel-settings-form
{
    .formatted-date {
        font-size: 80%;
    }
    
	.flux-btn-container {
	    float: left;
	    margin: 18px 20px 0 40px;

	    .btn-flux {
		    float: left;
		    margin: 0;
		    padding: 11px 35px !important;

		    &#save-button-then-new {
		    	margin-left: 5px;
		    }
	    }
	}

	.flux-btn-container-inner {
	    float: right;
	    margin: 18px 0 18px 20px;

	    .btn-flux {
		    float: left;
		    margin: 0;
		    padding: 11px 35px !important;


		    &#save-button-then-new {
		    	margin-right: 15px;
		    }
	    }
	}

	.back-button {
	    float: left;
	    margin: 18px 20px 0 0px;
            padding: 11px 35px !important;
	}
        
	.stats-button {
	    float: left;
	    margin-top: 20px;
	}

	.dataTables_processing {
	    float: left;
	    line-height: 35px;
	    margin: 20px 5px 0;
	}

	div.dataTables_filter label {
	    float: right;
	    margin: 20px 0;

	    input {
	    	margin-left: 8px;
	    }
	}
}

// Reset Page
#reset-stats-page 
{
	.reset-filter {
		select, input {
          width: 240px;
          margin: 0 8px 10px 0;
          height: 35px;
          line-height: 16px !important;
		}
	}
}

// Heat Maps

// Tabs

.tabs dd > a, .tabs .tab-title > a {
  outline: none;
  display: block;
  background-color: $lightgray;
  color: #555;
  padding: 6px 10px;
  font-family: $fontmedium;
  font-size: 13px;
}

.tabs .tab-title.active > a {
    background-color: $colorblue;
    color: #ffffff;
}

.tabs-content {
  padding: 6px 10px;
  border: 1px dashed $lightgray;
}

// Misc

.icon-help {
    
    cursor: pointer;
    opacity: 0.5;
    filter:alpha(opacity=50);
    
    &:hover {
        opacity: 1;
        filter:alpha(opacity=100);
    }
}

.grow-on-hover { 
    transition: all .1s ease-in-out; 
    
    &:hover {
        transform: scale(1.1);
    }
}

.overwrite-cost-fields-remove  {
    position: absolute;
    right: -24px;
    top: 9px;
}

textarea#textaera-universal-code {
    white-space: pre;
    word-wrap: normal;
    overflow-x: scroll;
}

.stats-quickview-top-buttons {
    margin-left: 14px;    

    .tracking-fields-group,
    .country-select-group
    {
        margin-top: 20px;

        .classCountrySelect,
        .classTrackingField {
            min-width: 250px;
        }

        .refresh-btn {
            position: relative;
            top: 0px;
            left: 10px;
            font-family: $fontmedium;
            font-size: 14px;
            font-weight: normal;
            color: $colorblue;
            cursor: pointer;

            img.refresh-ico {
                margin-right: 3px;
            }
        }
    }
}

.button-group {
    $selected-color: $orange;
    $selected-color-disabled: $lightorange;
    
    white-space: nowrap;
    margin-bottom: 8px;

    input[data-toggle] {
      display: none;
    }

    input[data-toggle]:checked + label,
    input[data-toggle]:checked + label:active {
      background-color: $selected-color;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 
                  0 1px 2px rgba(0, 0, 0, 0.05);
    }
    
    label {
        white-space: nowrap;
        font-family: $fontwide;
        font-size: 75%;
        padding-left: 14px;
        padding-right: 18px;
        margin: 0;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }

    input[disabled] + label {
        color: $disabledTextColor !important;
        background-color: $disabledBackgroundColor !important;
    }

    input[disabled]:checked + label {
        color: #fff !important;
        background-color: $selected-color-disabled !important;
    }
    
    &.toggle {
      li:not(first-child) {
        margin: 0 -0.9rem;
      }
    }
}

.traffic-source-templates-select,
.offer-source-templates-select {
    float: right;
    width: 250px;
    min-width: 250px;
}

.live-stats-logo {
    background-image: url(../images/liveStats.png);
    background-repeat: no-repeat;
    width: 74px;
    height: 75px;
    margin-left: 14px;
}

.live-stats-loader {
    display: inline;
    position: absolute;
    top: 12px;
    left: 34px;
    z-index: 1000;
}

#quickview-filtering 
{
    margin-top: 20px;
    
    #table-loader-section 
    {
        float: left;
        margin: 0px 10px 10px 10px;
    }
}

#funnelDiagram {
    
    #funnel-quickview-stats {
        
        #quickview-filtering {
            
            margin-top: 0px;
            
            .stats-button {
                margin-top: 0px;
            }
            
            .page-title h5 {
                line-height: 40px;
                margin: 0;
            }
            
        }
    }
}

select.auto-bulk-actions-select, 
select.bulk-slick-action-select
{
    min-width: auto;
    width: auto;
    background-color: #f6fafc !important;
    background-image: url("../images/icon/dropdown-arrow-down.png");
    background-position: 95% center;
    background-repeat: no-repeat;
    color:#6F7F8B;
    padding: 8px 16px 8px 6px;
    margin-right: 10px;
    border-color: #d2dadf;
    border-radius: 2px;
}

select.auto-bulk-actions-select:disabled,
select.bulk-slick-action-select:disabled
{
    opacity: 0.5;
    filter:alpha(opacity=50);
}

select.auto-bulk-actions-select:not(:disabled),
select.select.bulk-slick-action-select:not(:disabled)
{
    opacity: 1;
    filter:alpha(opacity=100);
}

.messages-list {
    
    .dataTable {
        
        width: 100% !important;
        max-width: 100% !important;
        table-layout:fixed;
        
        td {
            
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            
            a {
                
                font-family: arial !important;
                font-weight: normal !important;
                color: #888 !important;

                &.title, &.sender, &.date {
                    color: #444 !important;

                    &.unread {
                        font-family: 'FFClanWebProWideBold' !important;
                    }
                }
            }
        }
    }
}

.message-view, .message-view p {
    
    .panel {
        margin-bottom: 8px;
    }
    
    font-family: 'FFClanWebProWideMedium' !important;
    font-size: 13px;
    color: #666;
    line-height: 20px;
    
    #input-message-date {
        text-align: right;
    }
}

img.conversion-path-ellipsis {
    cursor: pointer;
    opacity: 0.3;
    filter:alpha(opacity=30);
}

img.conversion-path-ellipsis-tooltip-arrow {
    width: 11px;
    height: 9px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.doc-section, .doc-section p, .doc-section ul li {
    font-family: $fontmedium;
    font-size: 14px;
    line-height: 22px;
}

#command-palette {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #282c34;
  z-index: 100;
  max-width: 600px;
  box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.5);
  border-radius: 0 0 5px 5px;
  transition: all .3s ease-out;
}
#command-palette.animating {
  display: block;
}
#command-palette.on {
  display: block;
  visibility: visible;
  opacity: 1;
}
#command-palette > .inner {
  padding: 10px;
}

#command-palette > .inner > form {
  padding-top: 5px;
}

#command-palette #command-palette-search {
  background-color:#181a1f;
  border: none;
  color:rgba(255,255,255,.65);
}

#command-palette > .inner > ul {
  border: 1px solid #181a1f;
  border-top: none;
  margin: 0;
  padding: 0;
  max-height: 500px;
  overflow: auto;
}

#command-palette > .inner > ul > li {
  background-color: rgba(255,255,255,0.025);
  border-top: 1px solid #181a1f;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding:15px 20px;
  position: relative;
  min-height: 49px;
  &.active,
  &:hover {
    background-color: rgba(255,255,255,0.1);
  }
  &.list-message {
    display: none;
  }
}
#command-palette > .inner > ul > li:after {
  content: " ";
  clear: both;
  float: none;
  display: block;
}
#command-palette > .inner > ul > li + li {
}
#command-palette > .inner > ul > li > .description {
  color: #888;
}
#command-palette > .inner > ul > li > .description strong {
  color: #fff;
  font-weight: normal;
}
#command-palette > .inner > ul > li > .shortcut {
  border-radius: 4px;
  border: 1px solid rgba(255,255,255, 0.15);
  background-color: rgba(255,255,255, 0.05);
  color: #fff;
  padding: 5px 10px;
  position: absolute;
  right: 20px;
  top: 10px;
}

.modal-link-page {
  max-width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.input-group {
  display: table;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.input-group > input {
  float: left;
  display: table-cell;
  border-radius: 4px 0 0 4px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.input-group > input + .button {
  display: table-cell;
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
