// HEADER
.flux-nav {
	background: $black;
	max-height: $nav-height;

	nav.top-bar {
		// LOGO
		ul.title-area {
			li { 
				margin: 0;
				padding: 0; 
				float: left;
			}
			.logo {    
				float: left;
				margin: 0;
				padding: 0;
				line-height: $nav-height;
                position: relative;
				a {
				    margin: 0;
				    padding: 0;
					line-height: $nav-height;
				}
				img {
				    border: 0 none;
				    margin: 0;
				    padding: 0;
				}
			}
		}
		
		// MAIN NAVIGATION
		section.top-bar-section {
			ul.flux-nav-left,
			ul.flux-nav-right {
				li {
					a {
						font-size: 11px;
						line-height: $nav-height;
						text-transform: uppercase;
						background-color: $black;
						padding: 0 26px;
						font-family: $fontmedium;
						font-weight: normal;
						font-style: normal;

						// HEADER ICONS
						i.flux-icon {
							float: left;
							margin: auto 6px auto 0;
						}
						i.flux-icon.flux-icon-monitor {
							background: url('../images/icon/monitor-icon.png') no-repeat 0 0;
							width: 24px;
							height: 21px;
							margin-top: 30px;
						}
						i.flux-icon.flux-icon-campaign {
							background: url('../images/icon/campain-icon.png') no-repeat 0 0;
							width: 24px;
							height: 24px;
							margin-top: 26px;
						}
						i.flux-icon.flux-icon-graph {
							background: url('../images/icon/graph-icon.png') no-repeat 0 0;
							width: 24px;
							height: 24px;
							margin-top: 26px;
						}
						i.flux-icon.flux-icon-source {
							background: url('../images/icon/source-icon.png') no-repeat 0 0;
							width: 22px;
							height: 24px;
							margin-top: 26px;
						}
						i.flux-icon.flux-icon-offer {
							background: url('../images/icon/offer-icon.png') no-repeat 0 0;
							width: 24px;
							height: 24px;
							margin-top: 26px;
						}
						i.flux-icon.flux-icon-lander {
							background: url('../images/icon/lander-icon.png') no-repeat 0 0;
							width: 24px;
							height: 21px;
							margin-top: 26px;
						}
						i.flux-icon.flux-icon-link {
							background: url('../images/icon/link-icon.png') no-repeat 0 0;
							width: 24px;
							height: 24px;
							margin-top: 26px;
						}
						i.flux-icon.flux-icon-database {
							background: url('../images/icon/database-icon.png') no-repeat 0 0;
							width: 26px;
							height: 26px;
							margin-top: 26px;
						}
						i.flux-icon.flux-icon-gear {
							background: url('../images/icon/gear-icon.png') no-repeat 0 0;
							width: 26px;
							height: 26px;
							margin-top: 26px;
						}
						i.flux-icon.flux-icon-support {
							background: url('../images/icon/support-icon.png') no-repeat 0 0;
							width: 24px;
							height: 24px;
							margin-top: 26px;
						}
						i.flux-icon.flux-icon-avatar {
							background: no-repeat 0 0;
						    height: 40px;
						    width: 40px;
						    margin-top: 11px;
						}
					}
					&:hover,
					&.active {
						> a {
							background-color:  $black;
							color: $orange;
							i.flux-icon-monitor { background-position: 0 -21px; }
							i.flux-icon-campaign { background-position: 0 -24px; }
							i.flux-icon-graph { background-position: 0 -24px; }
							i.flux-icon-source { background-position: 0 -24px; }
							i.flux-icon-offer { background-position: 0 -24px; }
							i.flux-icon-lander { background-position: 0 -21px; }
							i.flux-icon-link { background-position: 0 -24px; }
							i.flux-icon-database { background-position: 0 -26px; }
							i.flux-icon-gear { background-position: 0 -26px; }
							i.flux-icon-support { background-position: 0 -24px; }

							&:hover {
								background-color:  $black;
								color: $orange;
							}
						}
					}
					&.has-dropdown {
						> a {
							background: url('../images/icon/dropdown-arrow.png') no-repeat;
							background-position: 94% 50%;
							padding-right: 25px !important;
						}
						&:hover,
						&.active {
							> a {
								background-image: url('../images/icon/dropdown-arrow-hover.png');
							}
						}
						ul.dropdown {
							border-top: 5px solid $orange;
							border-bottom: 5px solid $black-sub;
							border-radius: 0 0 4px 4px;

							li > a:not(.button),
							li > a.active {
								background-color:  $black-sub;
								line-height: 48px;
							}
						}
					}
				}
			}
			ul.flux-nav-right {
				li {					
					&.has-dropdown {
						> a {
							background: none;
							padding: 0 10px 0 16px !important;
						}
						&:hover,
						&.active {
							> a {
								background: none;
							}
						}
						ul.dropdown {
							border-top: 5px solid $orange;
							border-bottom: 5px solid $black-sub;
							border-radius: 0 0 4px 4px;

							li > a:not(.button),
							li > a.active {
								background-color:  $black-sub;
								line-height: 48px;
							}
						}
					}
				}
			}
		}

	} // end of nav
} // end of header


@media (max-width: 1440px) {
  .flux-nav-left li a{
    padding: 0 10px !important;
  }
}

@media (max-width: 1240px) {
  .flux-nav-left li a{
    font-size:9px !important;
    padding: 0 8px !important;
  }
}

@media (max-width: 1125px) {
  #drill-down .DTTT_container, #drill-down-tree .DTTT_container {
    position: absolute !important;
    right: 0;
    top: 160px;
  }

  .save-stat-filter{
    select{
      margin-top: 10px !important;
    }
  }
}

@media (max-width: 1120px) {
  .flux-nav-left > li
  {
    padding: 0 12px;

    &.has-dropdown{
      a{
        background-position: 94% 75% !important;
        padding-right: 18px !important;
        padding-left: 0px !important;
      }
    }

    > a{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      font-size:9px !important;
      padding: 38px 0 2px 0 !important;
      position: relative;
      text-align: center;
      line-height: 40px !important;
      padding-left: 10px;


      .flux-nav-icon{

        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        top:20px;

        .flux-icon{

          margin: 0 !important;
          display: block;
          position: relative;
          width: 100% !important;
          -ms-background-position-x: center !important;
          background-position-x: center !important;
        }
      }
     }
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 980px) {
	.flux-nav-left > li {
	    padding: 0 8px;
	}
}

@media (max-width: 924px) {
	.flux-nav {
		max-height: none;

		nav.top-bar {
			ul.title-area .logo a {
			    line-height: 40px;
			}
			.toggle-topbar a {
				margin-top: 6px;
				color: $bgcolor;
			}

			section.top-bar-section 
			{
				// Left Section
				ul.flux-nav-left 
				{
				    padding: 0 0 20px;

				    li a {
				    	font-size: 13px !important;
				    	padding:0 0 0 20px !important;
				    	text-align: left;
					}
					> li > a {
					    border-top: 1px solid #373a3b;
					    box-sizing: border-box;
					    line-height: 40px !important;
					    position: relative;

					    .flux-nav-icon {
						    display: inline;
						    float: left;
						    left: -12px;
						    position: relative;
						    top: 8px;
						    width: 24px;
						}
					}
				}

				// Right Section
				ul.flux-nav-right 
				{
				    float: right;
				    margin-top: 50px;
				    width: 200px;

				    > li {
					    float: left;
					}

					a {
						line-height: 50px;

						i.flux-icon.flux-icon-gear,
						i.flux-icon.flux-icon-support {
							margin-top: 8px;
						}
						i.flux-icon.flux-icon-avatar {
							margin-top: -10px;
						}
					}
				}
				
			} // section.top-bar-section 

		} // nav.top-bar

	} // .flux-nav



}
