// Header Colors
$black : #323637;
$black-sub : #3b4041;
$orange : #ff8062;
$lightorange : #ffc0a2;
$gray : #7e909c;
$lightgray : #c3cdd4;
$placeholdercolor : #a4a8ab;
$nav-height : 80px;
$disabledBackgroundColor : lightgray;
$disabledTextColor : #a8a8a8;


// Font Family
$fontwide : 'FFClanWebProWideNews'; // FFClanWebProWideNews';
$fontbold : 'FFClanWebProWideBold'; // 'FFClanWebProWideBold';
$fontmedium : 'FFClanWebProWideMedium'; // 'FFClanWebProWideMedium';

// Button Colors
$colorpeach : #ff8062;
$colorpeach-hover : #eb6b4c;
$colorblue : #64b0e2;
$colorblue-hover : #519ed1;
$colordark : #667c8a;
$colordark2 : #869cab;
$colorlight : #a6bdcc;
$colorStats: #728c9d;

// Background
$titlecolor : #474c4d;
$bgcolor : #eaf0f4;
$bgcolorhover : #ccdae4;
$lightbg : #f6fafc;
$darkborder : #d2dadf;
$bgHoveredRow : #edf1f3;