#funnelDiagramContainer
{    
    font-family: FFClanWebProWideMedium;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12.5px;
    
    position:relative; 
    height:500px; 
    //float: left;
}

.ep {
/*  position:absolute;
  left: 42%;  
  bottom: -6px;
  width:13px;
  height:13px;
  background-color: #ffeab1;
  cursor:pointer;
  border-radius:6.5px;
  -moz-border-radius:6.5px;
    z-index:150;
  */
  
    position:absolute;
    left: 42%;
    bottom: -6px;
    cursor:pointer;

    -moz-border-radius: 13px/13px;
    -webkit-border-radius: 13px 13px;
    border-radius: 13px/13px;
    border:solid 6px #ffeab1;
    background-color: #000;
    width:13px;
    height:13px;
  
/*  box-shadow: 0px 0px 2px black;
  -webkit-transition:-webkit-box-shadow 0.25s ease-in;
  -moz-transition:-moz-box-shadow 0.25s ease-in;
  transition:box-shadow 0.25s ease-in;*/
}

.ep:hover {
  box-shadow: 0px 0px 10px #89a;
}

.nodeBackground
{
    position: absolute; 
    left: 0px; 
    top: 0px; 
    padding: 0px; 
    margin: 0px; 
    width: 100%; 
    height: 100%;
}

/** DISABLE TEXT SELECTION (SET ON BODY WHEN DRAGGING IS OCCURRING) **/
._jsPlumb_drag_select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funnelDiagramBackground
{
    background-color: #323637;
}

.funnelDiagramNode
{
    background-color: transparent; //#323637;
    //border:1px dashed #424647;
}

#funnelDiagramNodesSidebar
{
  background-color: #b3e0ff;
  float: right;
}

.funnelRotator
{
    border-radius:110px;
    -moz-border-radius:110px;
    border:0px;
    
    min-width:80px;
    min-height:80px;
}

.funnelRotator .nodeBackground
{
    background-image: url("../../../images/icons/funnel-diagram/node-rotator.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; 
}

.funnelRoot
{
    border-radius:110px;
    -moz-border-radius:110px;
    border:2px solid #f57c5f;

    min-width:90px;
    min-height:90px;

    color: #f57c5f;
}

.funnelRoot .nodeBackground
{
    background-image: url("../../../images/icons/funnel-diagram/node-root.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 22px;
}

.funnelRoot span
{
    position: relative;
    top: 47px;
}

.funnelFluxPage {  
  padding: 10px;
  padding-bottom: 40px;
  min-width: 80px;
  max-width: 250px;
    
  //border:1px solid #2e6f9a;
  //border-radius:8px;
  //-moz-border-radius:8px;
  //font-size:14px;
}

.funnelFluxPage span
{
    position: relative;
    top: 35px;
    word-wrap: break-word;
}


.funnelFluxPageLander {  
   
    color: #b1eaff;
}

.funnelFluxPageLander .nodeBackground
{
    background-image: url("../../../images/icons/funnel-diagram/node-lander.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 10px; 
}

.funnelFluxPageOffer {  
    
    color: #b1ffb3;
}

.funnelFluxPageOffer .nodeBackground
{
    background-image: url("../../../images/icons/funnel-diagram/node-offer.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 10px; 
    
}

.funnelExternalUrl
{  
    padding: 10px;
    padding-bottom: 40px;
    min-width: 80px;
    max-width: 250px;

    color: #eaeaea;    
}

.funnelExternalUrl span
{
    position: relative;
    top: 35px;
    word-wrap: break-word;
}

.funnelExternalUrl .nodeBackground
{    
    background-image: url("../../../images/icons/funnel-diagram/128-link.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 50% 10px; 
}

.funnelCodeExecutor
{
    padding: 10px;
    padding-bottom: 40px;
    min-width: 80px;
    max-width: 150px;
    
    color: #aaaabb;
}

.funnelCodeExecutor span
{
    position: relative;
    top: 35px;
    word-wrap: break-word;
}

.funnelCodeExecutorPHP {  
    background-image: url("../../../images/icons/funnel-diagram/node-php.png?v=2");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 10px; 
}

.funnelCodeExecutorJS {  
    background-image: url("../../../images/icons/funnel-diagram/node-js.png?v=2");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 10px; 
}

.funnelCondition {
    
    padding: 10px;
    padding-bottom: 40px;
    min-width: 80px;
    max-width: 150px;
    
    color: #ebacd1;
}

.funnelCondition span
{
    position: relative;
    top: 30px;
    word-wrap: break-word;
}

.funnelCondition .nodeBackground
{    
    background-image: url("../../../images/icons/funnel-diagram/node-condition.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 10px; 
}


.archived {
  opacity:0.4;
  filter:alpha(opacity=40);  
}

.active {
  opacity:0.9;
  filter:alpha(opacity=90);
}

.w {  
  position:absolute;
  z-index:4;
/*  box-shadow: 2px 2px 19px #b0b0b0;
  -o-box-shadow: 2px 2px 19px #b0b0b0;
  -webkit-box-shadow: 2px 2px 19px #b0b0b0;
  -moz-box-shadow: 2px 2px 19px #b0b0b0;*/
  cursor:move;
  -webkit-transition:background-color 0.25s ease-in;
  -moz-transition:background-color 0.25s ease-in;
  transition:background-color 0.25s ease-in;  
  text-align: center;
}

/*.w:hover {
  //background-color: #5c96bc;
  //color:white;
  
  box-shadow: 2px 2px 19px #000;
  -o-box-shadow: 2px 2px 19px #000;
  -webkit-box-shadow: 2px 2px 19px #000;
  -moz-box-shadow: 2px 2px 19px #000;
  -webkit-transition:background-color 0.15s ease-in;
  -moz-transition:background-color 0.15s ease-in;
  transition:background-color 0.15s ease-in;    
}*/

/*.dragHover
{
  box-shadow: 2px 2px 19px #000;
  -o-box-shadow: 2px 2px 19px #000;
  -webkit-box-shadow: 2px 2px 19px #000;
  -moz-box-shadow: 2px 2px 19px #000;
  -webkit-transition:background-color 0.15s ease-in;
  -moz-transition:background-color 0.15s ease-in;
  transition:background-color 0.15s ease-in;        
}*/

.dragHover, .w:hover, .aLabel._jsPlumb_hover, .aLabelError._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
/*  background-color:#1e8151;
  color:white;*/

  border: 1px dashed #5c6365;
  box-shadow: 8px 8px 8px #222;
  -o-box-shadow: 8px 8px 8px #222;
  -webkit-box-shadow: 8px 8px 8px #222;
  -moz-box-shadow: 8px 8px 8px #222;
  -webkit-transition:-webkit-box-shadow 0.15s ease-in;
  -moz-transition:-moz-box-shadow 0.15s ease-in;
  transition:box-shadow 0.15s ease-in;
}

.aLabel {
  z-index: 6;
  font-size: 90%;
  background-color: #4c5355;
  color: #acbfc3;
  opacity:0.9;
  filter:alpha(opacity=90);
  padding: 6px;
  border-radius:1.5em;
  border:0px;
  cursor:pointer;
  -webkit-transition:background-color 0.25s ease-in;
  -moz-transition:background-color 0.25s ease-in;
  transition:background-color 0.25s ease-in;
}

.aLabelError {
  z-index: 6;
  font-size: 90%;
  background-color:red;
  color: white;
  font-weight: bold;
  opacity:0.8;
  filter:alpha(opacity=80);
  padding:0.3em;        
  border-radius:1.5em;
  border:2px solid #346789;
  cursor:pointer;
  -webkit-transition:background-color 0.25s ease-in;
  -moz-transition:background-color 0.25s ease-in;
  transition:background-color 0.25s ease-in;
}

.connection-action, .connection-code-done
{
    font-size: 80%;
}

.connection-rotator-percent
{
    color: #e9ebac;
}

.connection-condition-yes
{
    color: #b1ffb3;
}

.connection-condition-no
{
    color: #f57c5f;
}

._jsPlumb_endpoint {
  z-index: 3;
}

._jsPlumb_connector {
    color: #4c5355;
    z-index: 2;
}

path { 
  cursor:pointer; 
}

.node-inline-stats
{
    z-index: 1001;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 2px;
    
    background-color:rgba(0, 0, 0, 0.8);    // Changed in heatmapsController.php
}

/*.node-inline-stats:hover p {
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    filter: blur(8px);
}*/

.node-inline-stats p
{
    z-index: 1002;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
        
    font-family: "Arial";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    
    color: white;   // Changed in heatmapsController.php
}

.node-inline-stats p .title
{
    position: absolute;
    top: 14px;
    left: 14px;
}

.node-inline-stats p .subtitle
{
    font-size: 9.5px;
    
    position: absolute;
    top: 29px;
    left: 14px;
    
    opacity: 0.6;
    filter:alpha(opacity=60);
}

.node-inline-stats p .metric1-name
{
    font-size: 12.5px;

    position: absolute;
    top: 51px;
    left: 14px;
}

.node-inline-stats p .metric1-value
{
    font-size: 12px;

    position: absolute;
    top: 51px;
    right: 9px;
}

.node-inline-stats p .metric2-name
{
    font-size: 12.5px;

    position: absolute;
    top: 70px;
    left: 14px;
}

.node-inline-stats p .metric2-value
{
    font-size: 12px;

    position: absolute;
    top: 70px;
    right: 9px;
}

.node-inline-stats p .metric3-name
{
    font-size: 12.5px;

    position: absolute;
    top: 90px;
    left: 14px;
}

.node-inline-stats p .metric3-value
{
    font-size: 12px;

    position: absolute;
    top: 90px;
    right: 9px;
}

.node-inline-stats p .expand-icon
{
    position: absolute;
    top: 14px;
    right: 9px;
    
    width: 13px;
    height: 13px;

    cursor: pointer;
}

#full-metrics-modal
{
    position: relative;
    
    width: 540px;
    height: 438px;
    border-radius: 2px;
    background-color: rgba(44, 52, 53, 0.9);    
    
    font-family: "Arial";
    color: rgba(255,255,255, 0.9);
}

#full-metrics-modal .link-icon
{
    position: absolute;
    top: 31px;
    left: 36px;

    width: 24px;
    height: 24px;

    cursor: pointer;
}

#full-metrics-modal .close-icon
{
    position: absolute;
    top: 32px;
    right: 31px;

    width: 24px;
    height: 24px;

    cursor: pointer;
}

#full-metrics-modal .title
{
    position: absolute;
    top: 33px;
    left: 78px;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 15.5px;
}

#full-metrics-modal .title .id
{
}

#full-metrics-modal .subtitle
{
    position: absolute;
    top: 52px;
    left: 79px;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    
    opacity: 0.6;
    filter:alpha(opacity=60);
}

#full-metrics-modal .metrics
{
    font-weight: bold;
}

#full-metrics-modal .metrics .emphasis, #full-metrics-modal .metrics.emphasis
{
    color: #4fc4f4;
}

#full-metrics-modal .metrics.metrics-name
{
    font-size: 13.1px;
    position: absolute;
    left: 37px;
}

#full-metrics-modal .metrics.metrics-value
{
    font-size: 13.5px;
    position: absolute;
    left: 422px;
}

#full-metrics-modal .metrics.views
{
    top: 106px;
}

#full-metrics-modal .metrics.unique-views
{
    top: 137px;
}

#full-metrics-modal .metrics.flow
{
    top: 168px;
}

#full-metrics-modal .metrics.direct-revenue
{
    top: 199px;
}

#full-metrics-modal .metrics.direct-conversions
{
    top: 230px;
}

#full-metrics-modal .metrics.direct-epv
{
    top: 261px;
}

#full-metrics-modal .metrics.lifetime-revenue
{
    top: 292px;
}

#full-metrics-modal .metrics.lifetime-conversions
{
    top: 323px;
}

#full-metrics-modal .metrics.lifetime-epv
{
    top: 354px;
}

