@charset "UTF-8";html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;height:100%;}
body{margin:0;position:relative;min-height:100%;line-height:1.42857143;}
article, footer, header, section{display:block;}
a{background:transparent;text-decoration:none;color:inherit;}
a:active, a:hover{outline:0;text-decoration:none;}
abbr[title]{border-bottom:1px dotted;}
h1{font-size:2em;margin:0.67em 0;}
small{font-size:80%;}
img{border:0;max-width:100%;height:auto;}
table{border-collapse:collapse;border-spacing:0;}
ul{margin:0;padding:0;list-style:none;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.pull-right{float:right !important;top:421px;right:-246px;position:relative;font-size:13px;width:301px;color:white;font-style:italic;}
.pull-left{float:left !important;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.container{margin:0 auto;}
body{font-size:14px;color:black;min-width:1005px;font-family:'Open Sans', arial, helvitica, tahoma, sans-serif;}
h2{margin:0;text-transform:uppercase;padding:7px 0;font-size:40px;font-weight:900;}
h3{font-weight:normal;font-size:36px;text-transform:uppercase;margin:0;padding:7px 0;text-align:center;}
h4{font-weight:normal;margin:0;padding:7px 0;font-size:30px;text-transform:uppercase;}
h5{margin:0;padding:7px 0;font-weight:600;font-size:16px;text-transform:uppercase;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color:#808080;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{color:#808080;}
input::placeholder, textarea::placeholder{color:#808080;}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder{color:transparent;}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder{color:transparent;}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder{color:transparent;}
input:focus::placeholder, textarea:focus::placeholder{color:transparent;}
p{margin-top:0;}
.text-red{color:#e30000;}
.text-orange{color:#398439;}
.text-yellow{color:#f8b03e;}
.bg-orange{display:inline-block;background:#cc1d00;color:#fff;padding:0 5px;}
.bg-white{background:#fff;color:#000;padding:0 5px;}
.header .container{width:1005px;}
.col{width:37%;float:left;text-align:left;}
.col img{display:block;margin-top:-8px;width:160px;}
.col:first-child{width:63%;}
.col h2{line-height:1;overflow:hidden;font-weight:bold;font-size:31px;}
.col h3{line-height:1;text-align:left;overflow:hidden;}
strong{font-weight:800;}
input{height:40px;}
textarea{resize:none;}
input, textarea{cursor:auto !important;background:#fff;padding:12px 10px;display:block;width:100%;border:none;border-radius:0;}
input:focus, textarea:focus{outline:none;}
h2 + h3{font-size:30px;padding:0;}
.container{width:960px;}
.header{padding:20px 0;background:url(../images/img_banner1.jpg) 50% -2px no-repeat;background-size: cover;}
.header img{float:left;margin-right:-82px;position:relative;}
.btn {
    border: none;
    position: relative;
    display: inline-block;
    font-size: 21px;
    background: green;
    font-weight: 600;
    color: #fff;
    outline: none;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    text-align: center;
    min-width: 205px;
    padding: 8px 20px;
    -webkit-box-shadow: #9b1600 0 7px 0;
    box-shadow: #154F11 0 7px 0;
    cursor: pointer;
}
.btn:hover{background:#1FAC10;}
*[class*=ico-]{display:inline-block;vertical-align:middle;}
.ico-horse{width:142px;height:71px;background:url(../images/horse.png) no-repeat;}
.ico-benz{width:77px;height:77px;background:url(../images/benz.png) no-repeat;}
.ico-lists{width:142px;height:77px;background:url(../images/list.png) no-repeat;}
.ico-bis{width:63px;height:81px;background:url(../images/list_special.png) no-repeat;}
.bg-inverse{background:#1f1e1c;color:#fff;}
.list-ico{width:100%;text-align:center;overflow:hidden;}
.list-ico li{width:23%;padding:0 20px;display:inline-block;}
.list-ico li i{margin-bottom:10px;}
.list-ico li p{margin:0;color:white;font-size:16px;}
table{width:100%;font-weight:600;}
table tr td{width:1%;text-align:center;padding:10px;}
.eTimer{padding-bottom:5px !important;min-width:290px;}
.bg1{background:#F1F1F1;}
.bg2{background:url(../images/bg2.jpg) 50% 0 no-repeat;overflow:auto;background-size:cover;}
.bg4{color:#fff;background:url(../images/bg4.jpg) 50% 0 no-repeat;background-size: cover;}
.row-grey{background:#f7f1e7;}
.tovar{padding:0 !important;width:600px;}
.tovar h4{margin-top:-11px;padding:0;}
article{font-size:16px;padding-left:25px;}
article img.pull-left{margin-right:20px;}
article .btn{margin:40px 0;}
.main{overflow:hidden;}
.main > .row{padding:20px 0;}
.list{font-size:18px;padding:10px 0;font-weight:600;position:relative;}
.list:before{content:"";display:block;position:absolute;background:url(../images/img_article3.jpg) no-repeat;width:745px;height:352px;top:55px;right:-270px;}
.list li{display:inline-block;vertical-align:middle;width:500px;position:relative;padding-left:60px;margin:25px 0;}
.list li *[class*=ico-]{display:table-cell;}
.list li *[class*=ico-]:before{background:url(../images/solcial-ico.png) no-repeat;display:inline-block;content:"";vertical-align:middle;}
.icon-circle{position:absolute;left:0;top:50%;margin-top:-25px;text-align:center;display:table;float:left;vertical-align:middle;width:50px;height:50px;background:#000;border-radius:100%;}
.bg-img{text-align:center;position:relative;margin-bottom:60px;margin-top:71px;}
.bg-img .btn{position:relative;z-index:2;}
.bg-img:before{content:"";display:block;position:absolute;z-index:0;left:40%;right:40%;top:-100px;bottom:0;width:202px;height:186px;background:url(../images/bold.png) no-repeat;}
.ico-plane:before{width:33px;height:30px;background-position:0 0;}
.ico-service:before{width:33px;height:33px;margin-top:-4px;background-position:0 -77px !important;}
.ico-watch:before{width:28px;height:30px;background-position:-5px -173px !important;margin-top:-3px;}
.ico-bisines_d:before{width:26px;height:32px;background-position:-4px -261px !important;}
.ico-clock:before{width:27px;height:28px;background-position:-6px -340px !important;margin-left:4px;}
.ico-sun:before{width:27px;height:27px;background-position:-5px -432px !important;}
.ico-payment:before{width:37px;height:32px;background-position:0 -511px !important;}
.row-thumb{margin:0 -15px;}
.col-3{float:left;width:33.33%;padding:0 15px;}
.thumbnail{background:#ffd24a;width:100%;margin-bottom:35px;text-align:center;}
.thumbnail .name{display:block;text-align:left;font-size:18px;font-weight:600;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.thumbnail .img{display:block;width:100%;margin:4px 0;}
.thumbnail > .row{position:relative;padding:0 20px;}
.thumbnail > .row:after{content:"";z-index:10;position:absolute;left:50%;margin-left:-8px;display:block !important;width:0;height:0;border-left:9px solid transparent;border-top:18px solid #ffd24a;border-right:9px solid transparent;}
.thumbnail .percents span{font-size:55px;display:inline-block;margin-left:10px;line-height:1;text-align:left;}
.thumbnail .percents span:first-child{margin-left:0;}
.thumbnail .percents span small{display:block;line-height:1;font-size:12px;color:#000;font-weight:600;margin-top:5px;text-transform:uppercase;margin-left:14px;}
.percents{}
.slash{display:inline-block;margin:0 2px;color:black;}
.text-comment{padding:5px 0px;background:#373737;overflow:hidden;color:#fff;text-align:left;position:relative;text-align:center;}
.text-comment p{margin:0;line-height:1.25;padding:10px 19px;}
.text-comment:before{content:open-quote;display:block;position:absolute;left:0px;font-size:48px;top:-10px;}
.text-comment:after{content:close-quote;display:block;position:absolute;right:10px;font-size:48px;bottom:-30px;}
.thumb{text-align:center;overflow:hidden;margin-left:-95px;margin-top:37px;}
.thumb li{margin-left:95px;margin-bottom:30px;float:left;width:250px;}
.thumb li .img{width:100%;height:145px;display:block;}
.box-rezult:before{content:"";display:block;}
.box-rezult:after{content:"";display:block;clear:both;}
.box-record{float:left;width:514px;margin-right:60px;padding-left:20px;margin-top:70px;}
.box-record h3{font-size:32px;line-height:1.1;font-weight:600;text-align:left;margin-bottom:17px;}
.form-inverse{width:385px;overflow:hidden;background:#000;text-align:center;}
.form-inverse h3{font-size:30px;font-weight:800;}
.form-inverse input{padding-left:30px;font-size:12px;color:#808080;margin:0 auto;width:70%;}
.row.bg4{padding-bottom:0;padding-top:0;}
.footer{background:#000;font-size:12px;padding:25px 0 20px;color:#fff;background:url(../images/bg_footer.png) repeat;}
.ui-menu .ui-menu-item:hover{font-weight:normal;}
.ui-selectmenu-button span.ui-icon:before{content:"";display:block;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-top:8px solid #fff;}
.form-purchase input::-webkit-input-placeholder, .form-purchase textarea::-webkit-input-placeholder{color:#1b1b1b;}
.form-purchase input:-ms-input-placeholder, .form-purchase textarea:-ms-input-placeholder{color:#1b1b1b;}
.form-purchase input::placeholder, .form-purchase textarea::placeholder{color:#1b1b1b;}
.form-purchase input:focus::-moz-placeholder, .form-purchase textarea:focus::-moz-placeholder{color:transparent;}
.form-purchase input:focus::-webkit-input-placeholder, .form-purchase textarea:focus::-webkit-input-placeholder{color:transparent;}
.form-purchase input:focus:-ms-input-placeholder, .form-purchase textarea:focus:-ms-input-placeholder{color:transparent;}
.form-purchase input:focus::placeholder, .form-purchase textarea:focus::placeholder{color:transparent;}
.countdown_box{overflow:auto;padding:10px 0;text-align:center;}
.order-countdown-hours, .order-countdown-minutes, .order-countdown-seconds{display:inline-block;margin:1px;text-align:center;font-family:Arial;font-size:35px;color:white;padding:6px 10px;background:#1f1e1c;border:0px solid white;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;-webkit-box-shadow:inset 0px 0px 0px 0px rgba(0, 0, 0, 0.5);-moz-box-shadow:inset 0px 0px 0px 0px rgba(0, 0, 0, 0.5);box-shadow:inset 0px 0px 0px 0px rgba(0, 0, 0, 0.5);}
#popWindow{position:fixed;right:10px;bottom:10px;max-width:220px;padding:20px;background:rgba(69, 67, 67, 0.77);font-size:16px;opacity:0;color:white;line-height:1;z-index: 9999;}
#popWindow b{font-size:16px;color:white; font-weight: normal;}
#popWindow i{font-size:16px;color:white;font-weight: normal;}
#popWindow span{font-size:16px;color:white;font-weight: normal;}
.rushOrder{background:green;display:block;border:none;overflow:hidden;cursor:pointer;color:#ffffff;font-size:24px;font-weight:700;font-family:Arial, Helvetica, sans-serif;text-align:center;padding:12px 34px;display:inline-block;text-align:center;border-radius:3px;margin:0 auto;border:1px solid #565656;text-shadow:2px 2px 3px #000;background-color:red;}
.rushOrder:hover{color:#ffffff;text-decoration:none;background-color:#FF9000;border-color:#398439;}
.rushOrder .button:focus{background-color:#007095;}
#style_ib1{display:block;margin-right:auto;margin-left:auto;position:absolute;right:330px;}
#style_ib2{width:350px;margin-right:35px;}
#style_ib3{width:350px;margin-right:35px;}
.style_ib1{font-size:50px;}
.style_ib2{font-size:31px;font-weight:bold;}
.style_ib4{top:115px;left:715px;border-radius:13px;}
.style_ib5{top:117px;left:831px;border-radius:13px;}
.style_ib6{top:236px;position:relative;color:white;left:641px;font-size:10px;width:390px;}
.style_ib7{position:relative;top:27px;}
.style_ib8{bottom:24px;position:relative;}
.style_ib9{color:red;}
.style_ib10{float:right!important;position:relative;font-size:13px;width:301px;color:white;font-style:italic;}
.style_ib11{position:relative;}
.style_ib12{position:relative;font-size:10px;}
#style_ib4{top:269px;left:-62px;border-radius:13px;}
button#head_button_ord {
    margin-top: 360px;
    margin-left: 300px;
}