@charset "UTF-8";

.svg-defs-only 
{
  position: absolute;
  height: 0; width: 0;
  overflow: hidden;
  left: -100%;
}

.icon-trash
{
    background: url('../images/icon/trash-icon.png') no-repeat;
    display: inline-block;
    width: 14px;
    height: 16px;
    padding: 0;
    position: relative;
    top: 2px;
}

.icon-trash:hover
{
    background: url('../images/icon/trash-icon-hover.png') no-repeat;
}

#rights-settings-attribute .restricToCascadingGroupsGroupSelect
{
    min-width: 300px;
}

.ui-icon
{
    background-image: url('jquery-ui-icons-white.png');
    vertical-align: middle; 
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

#footerBar
{
    clear:both;
}

#stickyfooter
{
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 256;
}

#wrapper-content
{
    margin-bottom: 30px;
}


/*
 for bPopup library
*/
.bPopup
{
    background-color: #f6fafc;
    display: none;
    min-width: 50px;
    border-radius: 3px;
    padding: 10px 36px 0px 36px;
    /*background-color: #fff;*/
    /*display: none;*/
    /*min-width: 50px;*/
    /*border-radius: 3px;*/

    /*position: relative;*/
}
/*.bPopup h2*/
/*{*/
    /*position: absolute;*/
    /*display: inline-block;width:100%;*/
    /*background-color: #f6fafd;*/
    /*left: 0;*/
    /*top: 0;*/
    /*padding: 28px 36px 24px 36px;*/
    /*font-size: 14px;*/
    /*font-weight: bold;*/
/*}*/

.b-close, .bClose{
    /*border-radius: 7px 7px 7px 7px;*/
    /*box-shadow: none;*/
    /*font: bold 131% sans-serif;*/
    /*padding: 0 6px 2px;*/
    /*position: absolute;*/
    /*cursor: pointer;*/
    background: url('../images/close.png') no-repeat;
    right: -28px;
    top: 0px;
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    padding: 0;
}

.b-close:hover, .bClose:hover{
    background-color: transparent !important;
    background-image: url('../images/close-peach.png')
}

.b-close span, .bClose span{
    display: none;
}
/**
 For stats toolbar
*/

.stats-block
{
    display: inline-block;
    margin: 0px 4px 8px 4px;
}

.stats-block input.stats-text-input{
    position: relative;
    margin: 0 4px 0 0;
    line-height: 14px;
    height: 36px;

}

.stats-block select, .stats-block input{
    margin-bottom: 4px;
}

.stats-table-builder-options .chosen-choices,
.stats-table-builder-options .chosen-results
{
    font-size: 95%;
}



/*.stats-button.refresh
{
    background-color:#49e; 
}

.stats-button.apply
{
    background-color: salmon;
}*/

.stats-combobox
{
    width: 150px;
    height: 28px;
    margin: 0px 5px 0px 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 4px;
}

.stats-groups-combobox
{
    width: 200px;
    margin: 0px 1px 8px 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 4px;
    font-size: 90%;
}

.stats-groupids-combobox
{
    width: 200px;
    margin: auto 4px auto auto;
}

.hidden-element
{
    display: none;
}


input[data-toggle]
{
  display: none;
}

input[data-toggle]:not(:checked) + label,
input[data-toggle]:not(:checked) + label:active
{
    background-color: lightgray;
    color: gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active
{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

.button-group.toggle li:not(first-child)
{
  margin: 0 -0.9rem; 
}



.right {
    /*width: 250px !important;*/
}
.left {
    /*width: 565px !important;*/
}

@media only screen and (min-width: 40.063em) {
    .top-bar-section ul {
        /*max-width: 933px !important;*/
    }
}
.noUi-base
{
    width: 106.5%;
}

.notification-bubble
{
    display: none;
    top: 37px;
}
.notification-menu-item:hover .notification-bubble
{
    top: 35px;
}

.notification-bubble.inline
{
    top: 15px !important;
    left: 78px !important;
}

ul.accordion
{
    padding: 0;
    margin: 0;
}

ul.accordion .active
{
    opacity: 1;
}

.accordion-navigation > a:after {
  content: "↡";
  padding-right: 5px;
  float: left;
  font-size: 15px; }
.accordion-navigation.active > a:after {
  content: "↟"; }

.chosen-container-multi .chosen-choices li.search-choice.custom {
  color: blue;
}

td a {
    color: #5ea5d4;
}

td a:hover, a:hover
{
    color: #ff8062;
}

table.loadable-reports 
{
    table-layout: auto;
    width:100%;
}

table.loadable-reports td
{
    font-family: "FFClanWebProWideMedium" !important;
    font-size: 12px;
    color: #777;

    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.loadable-reports td.not-viewed
{
    font-weight: bold;
}

table.loadable-reports td:nth-child(1)
{
    width: 15%;
}

table.loadable-reports td:nth-child(2)
{
    width: 15%;
}

table.loadable-reports td:nth-child(3)
{
    width: 35%;
}

table.loadable-reports td:nth-child(4)
{
    width: 35%;
}

#offer-preview-button 
{
    margin-left: 10px !important;
    padding-left: 10px;
    padding-right: 10px;
}

div#funnelStatsTableContainer .ColVis_MasterButton
{
    margin-top: 8px !important;
}

span.undecorated-link
{
    text-decoration: none;
    display: inline-block;
}

select.status-select
{
    width: auto !important;
    margin: 0px 16px 0px 16px;
}

#Modal-Message
{
    max-width: 50%;
}
