/*
(c) FunnelFlux.com
*/
/*
    Created on : Jun 1, 2015, 10:56:09 AM
    Author     : Abu Junayd
*/

/*.dashboard
{
}

.dashboard-row
{
    margin: 16px 0px 16px 0px;
}

.dashboard-column-one-of-two-wrapper
{
    background-color: #ffffff;
    width: 100%;
    display: inline-block;
    position: relative;
}

.dashboard-column-one-of-two-wrapper:after
{
  padding-top: 56.25%;
   16:9 ratio
  display: block;
  content: '';
}

.dashboard-column-one-of-two
{
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
}

.dashboard .visits
{
    background-color: #53a4da;
}

.dashboard .clicks
{
    background-color: #53a4da;
}

.dashboard .conversions
{
    background-color: #53a4da;
}

.dashboard .spent
{
    background-color: #f19b60;
}

.dashboard .revenue
{
    background-color: #49cd81;
}

.dashboard .net
{
    background-color: #63b4ea;
}

.dashboard .roi
{
    background-color: #a693eb;
}

.dashboard .quick-view-container
{
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dashboard .quick-view-item
{
    margin: 5px 5px 5px 0px;
    border-radius: 3px;
    min-width: 125px;
    width: 13%;
    height: 105px;
    color: #fff;
}

.dashboard .quick-view-item .header
{
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    background: rgba(0,0,0,0.05);
    margin-bottom: 10px;
}

.dashboard .quick-view-item .details
{
    width: 100%;
    line-height: 20px;
}

.dashboard .quick-view-item .details .value
{
    font-size: 24px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,arial,sans-serif;
    font-weight: bold;
    text-align: center;
}

.dashboard .quick-view-item .details .history
{
    background: rgba(0,0,0,0.0);
    padding: 0px;
    margin: 10px 5% 20px 5%;
    width: 90%;
    height: 35px;
}

.dashboard table.stats-table
{
    padding-top: 0;
    margin: 0;
    border: 0px;
    background: transparent;
}

.dashboard table.stats-table th
{
    font-size: 80%;
    text-align: center;
}

.dashboard table.stats-table td
{
    font-size: 85%;
    height: 26px;
    text-align: center;
}*/


.dashboard
{
    background: #E9EFF3;
    width:100%;
    overflow: hidden;
}

.dashboard-row
{
    padding: 10px 0px 10px 0px;
}

.dashboard-row.top-metrics
{
    background-color: #ffffff;
}

.dashboard .visits
{
    background-color: transparent;
}

.dashboard .clicks
{
    background-color: transparent;
}

.dashboard .conversions
{
    background-color: transparent;
}

.dashboard .spent
{
    background-color: transparent;
}

.dashboard .revenue
{
    background-color: transparent;
}

.dashboard .net
{
    background-color: transparent;
}

.dashboard .roi
{
    background-color: transparent;
}

.dashboard .roi .value
{
    //margin-top: 2px !important;
}

.dashboard .quick-view-container
{
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dashboard .quick-view-item
{
    padding-top: 6px;
    margin: 5px 15px 5px 0px;
    border-radius: 3px;
    min-width: 80px;
    width: auto;
    height: 55px;
    color: #fff;
}

.dashboard .quick-view-item .header
{
    height: 25px;
    text-align: center;
    background-color: transparent;
    line-height: 25px;
    margin-bottom: 0px;

    color: #aec1c4;
    font-family: 'FFClanWebProWideMedium';
    font-size: 13.5px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
}

.dashboard .quick-view-item .details
{
    width: 100%;
    line-height: 20px;
}

.dashboard .quick-view-item .details .value
{
    color: #687477;
    font-family: 'FFClanWebProWideBold';
    //font-weight: bold;
    text-align: left;
    font-size: 17px;
    text-align: left;
}

.stats-button {
    background-color: transparent;
    font-family: 'FFClanWebProWideMedium';
    font-size: 12px;
    color: #6bf;
    padding:0;
}

/*    select:hover {
    background-color: transparent;
    border-color: transparent;
}

select {
    background-color: transparent;
    border-color: transparent;
    background-image: none;
    padding: 0;
    color: #93A3A5;
}*/

.column, .columns {
    padding-left: 0;
    padding-right: 0;
}

.flux-nav {
    padding-left: 15px;
    padding-right: 15px;    
}

input {
    background-color: #FF6D4B;
    border-color: transparent;
}
label {
    font-size: 10px;
    color: #758082;
    font-weight: bold;
}

.odometer-inside {
    /*width:40px;*/
}

.quote-of-the-day {
    max-width: 80%;
    float: right;
}

.selectDashboard
{
    min-width: 180px;
    width: 180px;
    background-color: #f6fafc !important;
    background-image: url("../images/icon/dropdown-arrow-down.png");
    background-position: 95% center;
    background-repeat: no-repeat;
    color:#9FAFBB;
    padding: 8px 6px 8px 6px;
    margin-right: 10px;
    border-color: #d2dadf;
    border-radius: 2px;
}

.selectDashboard:hover {
    background-color: #F5F9FB;
    border-color: inherit;
}

.selectDashboard.chosen-container
{
    padding: 0;
    margin: 0;
}

.selectDashboard.chosen-container li.search-choice
{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background: #b4c1c8 !important;
}

.logarithmicScale
{
    white-space: nowrap;
    padding: 10px;
}

.logarithmicScale input[type="checkbox"] + label
{
    vertical-align: middle !important;
}

.logarithmicScale span.scaleLabel
{
    font-family: 'FFClanWebProWideMedium';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    color: #9ea5ab;
}

#stats-daterange-period-container {
    padding-top: 10px;
    display:block;
    width:auto;
}

#stats_daterange_timezone_select_chosen .chosen-single
{
    background-color: transparent;
    border: transparent;
    left: 5px;
    top: -5px;
    padding: 0px;
    margin: 0px;
    line-height: 18px;
    color: #93A3A5 !important;
}

#stats_daterange_timezone_select_chosen a.chosen-single::after
{
    background-image: none !important;
}

.chosen-drop
{
    width: 200px !important;
}

/* Grid stack widgets */

.grid-stack {
    background: #E9EFF3;
}

.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    background-color: white;
}

.row-grid-stack
{
    padding-top: 0px !important;
}

.widget-menu-item-container
{
    float: right;
    padding-right: 16px;
}

.widget-menu-item
{
    cursor: pointer;
    padding: 0px 0px 0px 7px;
    z-index: 1000;
    opacity: 0.3;
    filter:alpha(opacity=30);
}

.widget-menu-item:hover
{
    opacity: 1;
    filter:alpha(opacity=100);
}

.ion-trash-b {display:none;}
.ion-ios-redo {display:none;}
.ion-ios-folder-outline {display:none;}
.ion-ios-copy-outline {display:none;}

table.dashboard-table {
    /*padding: 0px;*/
    border: 0px transparent;
    /*width: 100%;*/
    border-spacing: 0;
    border-collapse: collapse;
}

table.dashboard-table tr th, table.dashboard-table tr td {
    padding-left: 28px;
    padding-right: 0px;
}

table.dashboard-table i
{
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 2px;
    left: -2px;
}

.widget-table-title {
    color: #667c8a;
    font-size: 15.5px;
    font-weight: normal;
    font-family:"FFClanWebProWideNews";
    padding: 16px 0 12px 0;
    white-space: nowrap;
}

.widget-table-header {
    color: #869cab !important;
    font-size: 12.5px;
    font-family: "FFClanWebProWideMedium" !important;
    padding: 16px 0 12px 0;
    text-align:center;
    white-space: nowrap;
}

.widget-table-row {

}

.widget-table-row-updates {
    max-width: 100px;
    text-align: left;
}

.widget-table-row td {
    color: #869cab;
    font-size: 12.5px;
    font-family: "FFClanWebProWideMedium";
    padding: 6px 0 7px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align:center;
}

.widget-table-row td:nth-child(1) {
    width: 80%;
    max-width: 100px;
    text-align: left;
}

.widget-table-row td:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
}

.dashboard-row-table {
    font-size: 11px;
}

table.dashboard-table tr:nth-child(even) {
    background: #f6fafc;
}

table.dashboard-table tr:nth-child(odd) {
    background: #FFF;
}

.icon-block-sample {
    width: 100%;
    height: 128px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-position: center center;
}

table.table-latest-updates {
    background: transparent;
    padding: 16px;
}

table.table-latest-updates tr:nth-child(even) {
    background: transparent;
}

table.table-latest-updates tr:nth-child(odd) {
    background: transparent;
}

.videoWrapper
{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    margin: 25px 0px 0px 0px;
    height: 0;
}

.videoWrapper iframe 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding-left: 15px;
    margin: 0;
    //margin-left: 6px;
    //margin-top: 30px;
}

.optionDelete-widget
{
    background-color: #98a5ae !important;
    height: 32px !important;
    font-size: 12px !important;
    border-radius: 3px;
    padding-top: 5px !important;
    opacity: 0.98;
    filter:alpha(opacity=98);
}

.row-add-widget
{
    padding-bottom: 0px !important;
}

.option-add-widget
{
    background-color: #98a5ae !important;
    width: 199px;
    font-size: 12px;
}

.menu-add-widget
{
    float: right;
    width: auto;
    height: 29px;
    background-color: #64b0e2;
    border-radius: 4px;
    right: 22px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 7px;
    margin: 0px 9px 0px 0px;
    cursor: pointer;
}

.menu-add-widget img
{
    width: 16px;
    height: 16px;
}

.menu-add-widget span
{
    font-family: FFClanWebProWideMedium;
    //font-size: 9.5px;
    color: white;
    margin-left: 4px;
    position: relative;
    top: 1px;
}

.menu-add-widget-read-only {
    background-color: #b4c1c8;
    cursor: default;
}

.dropdown-menu {

    border: 0px solid transparent;
    border: 1px solid transparent;
    box-shadow: 0 6px 12px transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.customize-menu-context {
    height: 40px !important;
    width: 145px !important;
    background: transparent !important;
    border: 1px solid transparent !important;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2) !important;
    color: white !important;
}
.customize-image-context {
    width: 13px !important;
    height: 17px !important;
    left: 5px !important;
    top: 11px !important;
    margin-left: 6px;
}
.iw-cm-menu {
    background: transparent !important;
}
.iw-contextMenu {
    -webkit-box-shadow: 1px 1px 2px transparent !important;
    border: 1px solid transparent !important;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
a:active, a:hover {
    outline: 0;
}
.row {
    max-width: 100% !important;
}
.row .row {
    margin-left: 0.0625rem !important;
    max-width: 100% !important;
}

.access-log
{
    width:25%;
    padding-left: 10px;
}

.widget-table-access-log
{
    background-color: #EEF6FB;
    font-weight: bold;

}



.widget-table-access-log-row td {
    color: #869cab;
    font-size: 12.5px;
    font-family: "FFClanWebProWideMedium";
    padding: 6px 0 7px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align:center;
}

.widget-table-access-log-row td:nth-child(1) {
    max-width: 100px;
    text-align: left;
    width: 38%;
    padding-left: 26px;
}

.widget-table-access-log-row td:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
}

#curve_chart {
    height: 415px;
}

.chartWithOverlay {
    position: relative;
    width: 100%;

}
.chartOverlay {
    pointer-events: none;
    background: none !important;
    width: auto;
    height: 200px;
    position: absolute;
    top: 14px;   /* chartArea top  */
    left: 100px; /* chartArea left */
}

.chartOverlay .legend {
    display: inline;
    font-family: 'FFClanWebProWideNews';
    font-weight: normal;
    font-size: 12.5px;
    text-transform: uppercase;
}

.chartOverlay #entrances.legend {
    color: #64b0e2;
}

.chartOverlay #clicks.legend {
    color: #4e95c4;
    padding-left: 10px;
    padding-right: 27px;
}

.chartOverlay #conversions.legend {
    color: #85c7b3;
    padding-left: 27px;
}

.chartOverlay #revenue.legend {
    color: #33da99;
    padding-left: 10px;
    padding-right: 27px;
}

.chartOverlay #cost.legend {
    color: #ff8a6e;
    padding-left: 27px;
}

.chartOverlay #roi.legend {
    color: #f8bd69;
    padding-left: 10px;
}

#dashboard-graph-row
{
    background: #E9EFF3;
}

#graph
{
    margin-top: 32px;
    padding-left: 80px;
}

#remove-graph-wrapper
{
    position: relative;
}

#remove-graph
{
    position: absolute;
    top: 0px;
    right: 8px;
    background: url(../images/delete.png) center center no-repeat ;
    background-size: 19px;
    width: 19px;
    height: 19px;
    cursor: pointer;

    opacity: 0.5;
    filter:alpha(opacity=50);
}

#remove-graph:hover
{
    opacity: 1;
    filter:alpha(opacity=100);
}

/* Slickgrid widgets */

.slick-header .slick-header-columns .slick-header-column {
    height: auto;
    line-height: 0px;
    font-weight: normal;
    color: #869cab !important;
}

.table-slickgrid {
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.1);
}

.table-slickgrid .ui-state-default {
    background: white;
}

.slick-cell {
    border-right: 0px dashed transparent;
    text-align: center;
    color: #869cab;
}

.slick-cell.r0 {
  padding-left: 22px;
}

.slick-resizable-handle {
    border-right: 0px dashed transparent;
}

.slick-pager .slick-pager-status {
    color: darkgray;
    font-size: 9px;
    padding-left: 28px;
}

.slick-pager .slick-pager-settings {
    padding-right: 16px;
}

.new-row {
    display: none;
}

.slick-pager-status {
    float : left;
}

.grid-canvas {
    //margin-left: -15px;
}

.slick-header-columns {
    //margin-left: 15px;
}

.slick_header_Name {
    text-align: left !important;
}

.slick_header_Name .slick-column-name {
    margin-left: 28px !important;
    padding: 0px 0px 0px 0px !important;
}

.dashboard-table-slick
{
    padding: 0px !important;
    font-size: 12.5px !important;
    margin-top: 0px !important;
}

.table-slickgrid .slick-header-column {
    padding: 20px 0px 0px 0px !important;
    line-height: 34px !important;
    height: 35px !important;
    font-weight: normal !important;
}

.slick-column-name {
    padding: 0px;
}

.slick-sort-indicator
{
    visibility: hidden;
}

.slick-sort-indicator.slick-sort-indicator-desc {
    visibility: visible;
}
    
.slick-sort-indicator.slick-sort-indicator-asc {
    visibility: visible;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: 1 !important;
    filter:alpha(opacity=100) !important;   
}

.grid-stack-item > .ui-icon.ui-resizable-handle.ui-icon-gripsmall-diagonal-se.ui-resizable-se {
  background-image: none !important;
}