/*
.top-bar {
    height: 62px;
    background: #333;
}

.top-bar-section ul li {
    background: #333;
    height: 62px;
}

.top-bar-section ul li > a {
    width: auto;
    height: 62px;
    color: #008CBA;
}

.top-bar.expanded .title-area {
    background: #333;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color:  #D14321;
}

.top-bar-section .has-dropdown > a:after {
    margin-right: 0px;
}

.top-bar .toggle-topbar.menu-icon a {
    color: #008CBA;
}

.top-bar-section ul li:hover:not(.has-form) > a {
    background-color: #D14321;
    background: #D14321;
}

.top-bar-section ul li.active > a {
    background: #D14321;
    color: #FFFFFF;
}

.top-bar-section .has-dropdown > a:after {
    border-color: #333 #333 #333 #333;

}
*/

.step {
    color: transparent;
}

@media only screen and (min-width: 925px) {
    /*
    .top-bar {
        background: #333;
        margin-bottom: 16px;
        height: 62px;
    }

    .top-bar-section li.hover > a:not(.button) {
        background-color: #D14321;
    }

    .top-bar-section li:not(.has-form) a:not(.button) {
        background: transparent;
        color: #dce8ff;
    }

    .top-bar-section li:not(.has-form) a:not(.button):hover {
        background-color:  #D14321;
    }
    .top-bar-section li.active:not(.has-form) a:not(.button) {
        background: #D14321;
    }
    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        background: #D14321;
    }
    .top-bar-section .has-dropdown > a:after {
        top: 62px;
        border: #333;
    }
    .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        color: #dce8ff;
        background: #333;
        height: 48px;
    }
    .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
        background: #D14321;
    }
    .top-bar-section .has-dropdown > a {
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }

    .top-bar-section .left li .dropdown {
        top: 62px;
    }

    .top-bar-section .right li .dropdown {
        top: 62px;
    }

    .top-bar-section .dropdown li {
        width: 100%;
        height: 38px;
        border: 0px;
        border-right-style: hidden;
    }

    #iconSubmenu
    {
        display: block;
        text-align: center;
        top: -12px;
        height: 12px;
        color: #f16341;
        background-color: #45454E;
    }

    .step {
        color: #dce8ff;
    }
    */

}
#iconTitle
{
    display: block;
    padding-top: 5px;
    text-align: center;
}



.roundedImage{
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
    top: 8px;
    position: relative;
}

.borderMenu
{
    border: 0px;
    border-right-style: inset;
}

/*FireFox*/
@-moz-document url-prefix() {
    .borderMenu {
        border-right-width: 0px;
    }
}

/* For IE*/
@media screen\0 {
    .borderMenu
    {
        border-right-width: 0px;
        border-right-color: #333;
    }

    .top-bar-section .has-dropdown > a:after {
        /*border-color: #dce8ff transparent transparent transparent;*/
        top: 62px;
        border: #333;
    }
}


.top-bar .name {
    border: 0px;
    border-right-style: hidden;
}