@font-face {
  font-family: 'FFClanWebProWideMedium';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FFClanWebProWideNews';
  src: url("../fonts/montserrat-semibold-webfont.eot");
  src: url("../fonts/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-semibold-webfont.woff") format("woff"), url("../fonts/montserrat-semibold-webfont.ttf") format("truetype"), url("../fonts/montserrat-semibold-webfont.svg#montserratsemi_bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FFClanWebProWideBold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }
.top-bar,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
  background: #323637 none repeat scroll 0 0; }

.top-bar-section .has-dropdown > a::after {
  border: none; }

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  color: #667c8a;
  background-color: #eaf0f4;
  font-family: "FFClanWebProWideMedium";
  font-size: 12px;
  line-height: 14px; }
  body.no-header-footer {
    background-color: #fff; }
    body.no-header-footer #wrapper-content {
      margin-bottom: 0; }

table a {
  color: #64b0e2 !important; }

table a:hover {
  color: #ff8062 !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "FFClanWebProWideMedium"; }

hr {
  border: 0 none;
  border-bottom: 1px solid #ccdae4;
  margin: 40px 0 20px;
  clear: both; }

label small {
  color: #ff8062;
  font-size: 10px;
  margin-left: 10px; }

button, .button {
  font-family: "FFClanWebProWideMedium"; }

p {
  font-size: 12px; }

textarea {
  font-size: 12px; }

.peach {
  color: #ff8062; }

.dark {
  color: #667c8a; }

.light {
  color: #64b0e2; }

.gray {
  color: #7e909c; }

.req-span {
  padding-left: 10px; }

.flux-panel {
  font-size: 12px;
  padding: 30px 20px 20px;
  border-bottom: 2px solid #f6fafc; }
  .flux-panel.noborder {
    border: 0 none; }

.button.info, .button.info {
  color: #fff; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.flaot-none {
  float: none; }

.clear {
  clear: both; }

.pad-10 {
  padding: 10px; }

.pad-0-10 {
  padding: 0 10px; }

.button {
  color: #fff;
  border-radius: 2px;
  height: auto;
  line-height: auto;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  font-size: 12px;
  font-family: "FFClanWebProWideBold";
  text-transform: uppercase;
  background-color: #ff8062; }
  .button.fluxbtn-sm {
    padding-top: 2px !important;
    padding-bottom: 2px !important; }
  .button:hover {
    background-color: #eb6b4c; }
  .button.secondary {
    background-color: #64b0e2; }
    .button.secondary:hover {
      background-color: #519ed1; }

button.secondary, .button.secondary {
  color: #fff !important; }

.btn-gray {
  background-color: #7e909c;
  border-radius: 3px;
  color: #fff;
  cursor: pointer; }

.stats-button {
  background-color: #64b0e2;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  margin: 0 5px;
  padding: 10px 25px; }

.stats-button.disabled {
  background-color: lightgray !important;
  color: #a8a8a8 !important; }

#your-link-page .button {
  height: 37px; }

select {
  line-height: 14px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../images/arrow-down.png") no-repeat calc(100% - 15px) !important; }

select,
.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single {
  background: #f6fafc;
  border-radius: 3px;
  border: 1px solid #d2dadf;
  box-shadow: none;
  color: #667c8a;
  font-family: "FFClanWebProWideMedium";
  font-size: 12px;
  padding: 4px 28px 4px 10px;
  height: auto;
  width: auto;
  line-height: 28px;
  -webkit-appearance: default; }
  select:after,
  .chosen-container-multi .chosen-choices:after,
  .chosen-container-single .chosen-single:after {
    background-color: transparent;
    background-image: url("../images/icon/dropdown-arrow-down.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: " ";
    height: 6px;
    position: absolute;
    right: 15px;
    top: 45%;
    width: 8px; }

select,
.stats-groupids-combobox {
  padding: 9px 28px 9px 10px; }
  select:after,
  .stats-groupids-combobox:after {
    background-color: transparent;
    background-image: url("../images/icon/dropdown-arrow-down.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: " ";
    height: 6px;
    position: absolute;
    right: 15px;
    top: 45%;
    width: 8px; }

.chosen-container-single .chosen-single span {
  display: block;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.chosen-container-single .chosen-single div b {
  background: none;
  display: none; }
.chosen-container-single .chosen-search {
  margin: 0;
  padding: 5px 0;
  position: relative;
  white-space: nowrap;
  z-index: 1010;
  background-color: #f8f8f8; }
  .chosen-container-single .chosen-search input[type="text"] {
    border: none;
    border-radius: none;
    color: #aab3b9;
    font-family: "FFClanWebProWideMedium";
    box-shadow: none; }

.chosen-container .chosen-drop {
  border-color: #d2dadf; }
.chosen-container .chosen-results {
  color: #667c8a;
  margin: 0;
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: relative; }
  .chosen-container .chosen-results li {
    font-size: 12px; }
  .chosen-container .chosen-results li.highlighted {
    background-image: none;
    background-color: #64b0e2; }

.chosen-container-active.chosen-with-drop .chosen-single {
  background-image: none;
  background-color: #fff;
  background-repeat: no-repeat;
  box-shadow: none;
  border-color: #d2dadf; }
  .chosen-container-active.chosen-with-drop .chosen-single span {
    color: #a4a8ac; }

.chosen-container-multi .chosen-choices li.search-choice {
  color: #fff;
  background: #64b0e2;
  border: medium none;
  box-shadow: none;
  font-size: 12px;
  font-family: "FFClanWebProWideMedium";
  padding: 8px 10px 8px 32px; }
  .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background: transparent url("../images/close-white-sm.png?v=2") center center no-repeat !important;
    left: 10px;
    right: auto;
    top: 8px; }
    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
      background-position: 0 0; }
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  border-radius: 3px;
  border: 0 none;
  box-shadow: none;
  color: #a4a8ab;
  font-family: "FFClanWebProWideMedium";
  font-size: 12px; }

.dataTables_processing {
  color: #a4a8ab;
  float: left;
  margin: 11px; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  color: #667c8a;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #d2dadf;
  color: #667c8a;
  font-family: "FFClanWebProWideMedium";
  font-size: 12px;
  padding: 10px 28px 10px 10px;
  height: auto;
  box-shadow: none; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    box-shadow: 0 0 10px rgba(1, 2, 2, 0.1);
    border: 1px solid #d2dadf;
    background-color: transparent; }
  input[type="text"][disabled],
  input[type="password"][disabled],
  input[type="date"][disabled],
  input[type="datetime"][disabled],
  input[type="datetime-local"][disabled],
  input[type="month"][disabled],
  input[type="week"][disabled],
  input[type="email"][disabled],
  input[type="number"][disabled],
  input[type="search"][disabled],
  input[type="tel"][disabled],
  input[type="time"][disabled],
  input[type="url"][disabled],
  input[type="color"][disabled],
  textarea[disabled] {
    border-radius: 4px !important;
    background-color: #d2dadf !important; }

input.stats-text-input {
  font-family: "FFClanWebProWideMedium";
  border-radius: 3px;
  display: inline;
  font-size: 13px;
  line-height: 28px;
  margin: 0 5px;
  overflow: auto;
  padding: 4px 15px;
  width: 200px; }

.unknown-label {
  font-family: "FFClanWebProWideMedium";
  color: #555;
  font-size: 11px;
  margin-left: 6px; }

.unknown-label.disabled {
  color: #AAA; }

input.unknown-value + label {
  vertical-align: middle !important; }

.unknown-value-cb-block {
  /*    position: relative;
      top: 12px;*/ }

span.general-values-column input.input-value {
  background-color: #F6FAFC; }

.time-based-values-column, .time-based-values-column select, .time-based-values-column input {
  float: left !important;
  margin-right: 5px; }

.ion-ios-compose-outline,
.ion-ios-folder-outline,
.ion-ios-flame-outline,
.ion-ios-copy-outline,
.ion-trash-b {
  width: 22px;
  display: inline;
  height: 22px;
  margin: 0 3px 0 4px; }
  .ion-ios-compose-outline:before,
  .ion-ios-folder-outline:before,
  .ion-ios-flame-outline:before,
  .ion-ios-copy-outline:before,
  .ion-trash-b:before {
    content: " " !important;
    padding: 6px !important; }

.ion-ios-copy-outline {
  background: transparent url("../images/icon/copy-icon.png?v=b") center center no-repeat !important; }
  .ion-ios-copy-outline:hover {
    background-image: url("../images/icon/copy-icon-hover.png") !important; }

.ion-ios-flame-outline {
  background: transparent url("../images/icon/heatmap-icon.png?v=2") center center no-repeat !important; }
  .ion-ios-flame-outline:hover {
    background-image: url("../images/icon/heatmap-icon-hover.png") !important; }

.ion-ios-compose-outline {
  background: transparent url("../images/icon/edit-icon.png?v=2") center center no-repeat !important; }
  .ion-ios-compose-outline:hover {
    background-image: url("../images/icon/edit-icon-hover.png") !important; }

.ion-ios-folder-outline {
  background: transparent url("../images/icon/folder-icon.png?v=2") center 3px no-repeat !important; }
  .ion-ios-folder-outline:hover {
    background-image: url("../images/icon/folder-icon-hover.png") !important; }

.ion-trash-b {
  background: transparent url("../images/icon/trash-icon.png?v=2") center 4px no-repeat !important; }
  .ion-trash-b:hover {
    background-image: url("../images/icon/trash-icon-hover.png") !important; }

.switch input:checked + label,
.switch label {
  background-color: #d9e2e8;
  border-radius: 2px; }

.switch.tiny label,
.switch.big label {
  height: 31px;
  width: 74px; }
  .switch.tiny label:after,
  .switch.big label:after {
    background: #b1c0ca url("../images/icon/icon-switch.png") right center no-repeat;
    height: 18px;
    left: 46px;
    top: 7px;
    width: 22px; }

.switch.tiny input:checked + label::after,
.switch.big input:checked + label::after {
  left: 7px;
  background: #64b0e2 url("../images/icon/icon-switch.png") left center no-repeat; }

.accordion .accordion-navigation.active > a,
.accordion .accordion-navigation > a,
.accordion dd.active > a
.accordion dd > a {
  font-family: "FFClanWebProWideMedium";
  background-color: #eaf0f4; }
  .accordion .accordion-navigation.active > a:hover,
  .accordion .accordion-navigation > a:hover,
  .accordion dd.active > a
  .accordion dd > a:hover {
    background-color: #ccdae4; }

#footerBar {
  color: #667c8a;
  padding: 20px; }

#Modal-Message {
  padding: 20px; }

.modal-title-label {
  font-size: 18px;
  color: #474c4d;
  font-family: "FFClanWebProWideBold";
  padding: 34px 0 30px 40px; }

#Modal-Long-Action {
  padding: 20px; }

#uploadBlock {
  padding: 20px; }

.close-icon.bClose > img {
  display: none; }

.page-title h5 {
  font-family: "FFClanWebProWideBold";
  color: #474c4d;
  float: left;
  font-family: "FFClanWebProWideBold";
  font-size: 19px;
  line-height: 40px;
  margin: 20px 0 10px; }
  .page-title h5 a {
    margin-left: 20px; }

ul.pagination li.current a, ul.pagination li.current button {
  background-color: #64b0e2 !important; }

table.dataTable {
  background: none;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.1);
  float: left;
  margin: 20px 0 10px !important;
  padding-top: 0 !important;
  font-size: 13.8px !important; }
  table.dataTable thead {
    background: #f6fafc !important; }
    table.dataTable thead .sorting, table.dataTable thead .sorting:hover,
    table.dataTable thead .sorting_asc, table.dataTable thead .sorting_asc:hover,
    table.dataTable thead .sorting_desc, table.dataTable thead .sorting_desc:hover {
      background: #f6fafc url("../images/arrow-default.png") no-repeat scroll right 38px;
      text-align: center; }
    table.dataTable thead .sorting_desc, table.dataTable thead .sorting_desc:hover {
      background: #f6fafc url("../images/arrow-down.png") no-repeat scroll right 38px; }
    table.dataTable thead .sorting_asc, table.dataTable thead .sorting_asc:hover {
      background: #f6fafc url("../images/arrow-up.png") no-repeat scroll right 38px; }
    table.dataTable thead span.column-search-filter input {
      margin: 0;
      padding: 6px !important;
      width: 100%;
      height: 100%;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: white;
      border: 1px solid #e2eaef; }
  table.dataTable tr {
    height: 40px;
    font-weight: normal; }
    table.dataTable tr th {
      color: #667c8a;
      padding: 28px 8px !important;
      font-family: "FFClanWebProWideNews";
      font-weight: normal;
      background: #f6fafc; }
      table.dataTable tr th .has-tip {
        color: #667c8a;
        border: 0 none;
        font-family: "FFClanWebProWideNews";
        font-weight: normal; }
      table.dataTable tr th.sorting_disabled select {
        margin: 0; }
    table.dataTable tr td.group-item-expander {
      color: #667c8a;
      line-height: 13.8px; }
    table.dataTable tr td:not(.group-item-expander) {
      color: #728c9d;
      padding: 0 8px !important; }
    table.dataTable tr td.light {
      color: #a8bbc7; }
    table.dataTable tr.even, table.dataTable tr.alt, table.dataTable tr:nth-of-type(2n) {
      background: #f6fafc; }
    table.dataTable tr.odd {
      background: white; }
    table.dataTable tr td.group {
      cursor: pointer;
      background-color: #eaf0f4 !important;
      border-bottom: 1px solid #fff; }
    table.dataTable tr:hover td.expanded-group, table.dataTable tr:hover td.collapsed-group {
      background-color: #ccdae4 !important; }
  table.dataTable tbody tr td:first-child {
    overflow: hidden;
    position: relative; }
  table.dataTable tbody tr:hover {
    background-color: #edf1f3 !important; }
  table.dataTable tbody tr:hover td:first-child::after {
    background-color: #ff8062;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 9; }
  table.dataTable tfoot {
    background: #f6fafc; }
    table.dataTable tfoot tr th,
    table.dataTable tfoot tr td {
      color: #667c8a; }
  table.dataTable select {
    padding: 9px 9px 9px 10px !important; }

.dataTables_length {
  position: absolute;
  bottom: 0;
  left: 18px; }

.table-slickgrid {
  background: none;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.1);
  float: left;
  margin: 20px 0 10px !important;
  padding-top: 0;
  font-size: 13.8px !important; }
  .table-slickgrid .slick-row {
    color: #728c9d; }
    .table-slickgrid .slick-row.even {
      background-color: #fff; }
    .table-slickgrid .slick-row.odd {
      background-color: #f6fafc; }
    .table-slickgrid .slick-row.stats-negative {
      color: #9b7676 !important; }
    .table-slickgrid .slick-row.stats-positive {
      color: #72a562 !important; }
    .table-slickgrid .slick-row a {
      color: #64b0e2 !important; }
    .table-slickgrid .slick-row a:hover {
      color: #ff8062 !important; }
  .table-slickgrid .fixheader,
  .table-slickgrid .ui-state-default,
  .table-slickgrid .ui-widget-content .ui-state-default,
  .table-slickgrid .ui-widget-header .ui-state-default {
    color: #667c8a;
    font-family: "FFClanWebProWideNews";
    font-weight: normal;
    background: #f6fafc; }
    .table-slickgrid .fixheader .has-tip,
    .table-slickgrid .ui-state-default .has-tip,
    .table-slickgrid .ui-widget-content .ui-state-default .has-tip,
    .table-slickgrid .ui-widget-header .ui-state-default .has-tip {
      color: #667c8a;
      border: 0 none;
      font-family: "FFClanWebProWideNews";
      font-weight: normal; }
  .table-slickgrid .slick-headerrow-columns {
    height: 40px; }
  .table-slickgrid .slick-headerrow-column input {
    padding: 8px 4px; }
  .table-slickgrid .slick-cell {
    font-family: "FFClanWebProWideMedium";
    font-weight: normal; }
    .table-slickgrid .slick-cell .drilldown-url {
      position: relative;
      top: -2px; }
  .table-slickgrid .ui-widget-content.slick-row {
    /*position: relative;*/
    overflow: hidden; }
    .table-slickgrid .ui-widget-content.slick-row:not(.slick-last-row):not(.new-row):hover {
      background-color: #edf1f3 !important; }
    .table-slickgrid .ui-widget-content.slick-row:hover:not(.slick-last-row):not(.new-row)::after {
      background-color: #ff8062;
      bottom: 0;
      content: " ";
      left: 0;
      position: absolute;
      top: 0;
      width: 2px;
      z-index: 9; }
  .table-slickgrid .slick-header-column {
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    padding-top: 20px !important;
    font-weight: bold; }
    .table-slickgrid .slick-header-column .slick-column-name {
      text-align: center; }
    .table-slickgrid .slick-header-column .slick-resizable-handle {
      display: block; }
    .table-slickgrid .slick-header-column .slick-sort-indicator {
      cursor: pointer;
      display: inline-block;
      margin-left: 4px;
      width: 8px;
      height: 11px;
      background: #f6fafc url("../images/arrow-default.png") no-repeat;
      text-align: center;
      /*			position: absolute;
      			top: 0;
      			right: 0;
      			margin-top: 30px;
      			margin-right: 2px;
      			width: 8px;
      			height: 11px;
      			background: rgba(0, 0, 0, 0) url("../images/arrow-default.png") repeat scroll 0 0;
      
      			&.slick-sort-indicator-desc {
      				background: rgba(0, 0, 0, 0) url("../images/arrow-down.png") repeat scroll 0 0;
      			}
      			&.slick-sort-indicator-asc {
      				background: rgba(0, 0, 0, 0) url("../images/arrow-up.png") repeat scroll 0 0;
      			}*/ }
      .table-slickgrid .slick-header-column .slick-sort-indicator.slick-sort-indicator-desc {
        background: #f6fafc url("../images/arrow-down.png") no-repeat; }
      .table-slickgrid .slick-header-column .slick-sort-indicator.slick-sort-indicator-asc {
        background: #f6fafc url("../images/arrow-up.png") no-repeat; }

.funnelflux-container {
  background: #fff;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.1);
  margin: 20px 0 10px !important;
  padding-top: 0;
  font-size: 14px !important;
  width: 100%;
  clear: both;
  display: block; }
  .funnelflux-container.hasmarginbottom {
    margin-bottom: 30px !important; }
  .funnelflux-container .funnelflux-header {
    background: #f6fafc;
    padding: 20px 25px; }
    .funnelflux-container .funnelflux-header h5 {
      color: #474c4d;
      font-family: "FFClanWebProWideBold"; }
  .funnelflux-container .funnelflux-content {
    padding: 20px; }

#trafficSource-settings-form h5,
#affiliateNetwork-settings-form h5,
#page-settings-form h5 {
  font-family: "FFClanWebProWideMedium";
  font-size: 16px; }
#trafficSource-settings-form label,
#affiliateNetwork-settings-form label,
#page-settings-form label {
  color: #667c8a;
  font-family: "FFClanWebProWideMedium";
  font-size: 12px;
  line-height: 24px; }
#trafficSource-settings-form input, #trafficSource-settings-form select,
#affiliateNetwork-settings-form input,
#affiliateNetwork-settings-form select,
#page-settings-form input,
#page-settings-form select {
  display: block; }
#trafficSource-settings-form .button,
#affiliateNetwork-settings-form .button,
#page-settings-form .button {
  height: 34px; }
#trafficSource-settings-form .button.postfix,
#affiliateNetwork-settings-form .button.postfix,
#page-settings-form .button.postfix {
  line-height: 20px; }
#trafficSource-settings-form #input-user-password-button,
#affiliateNetwork-settings-form #input-user-password-button,
#page-settings-form #input-user-password-button {
  height: 37px;
  border-top: 1px solid white; }
#trafficSource-settings-form .tracking-token,
#affiliateNetwork-settings-form .tracking-token,
#page-settings-form .tracking-token {
  position: relative; }
  #trafficSource-settings-form .tracking-token .tracking-fields-remove,
  #affiliateNetwork-settings-form .tracking-token .tracking-fields-remove,
  #page-settings-form .tracking-token .tracking-fields-remove {
    position: absolute;
    right: -10px;
    top: 9px; }
#trafficSource-settings-form .tracking-fields-label,
#affiliateNetwork-settings-form .tracking-fields-label,
#page-settings-form .tracking-fields-label {
  color: #667c8a;
  padding-bottom: 8px; }
#trafficSource-settings-form .tracking-fields-add,
#affiliateNetwork-settings-form .tracking-fields-add,
#page-settings-form .tracking-fields-add {
  color: #64b0e2;
  float: left;
  padding: 8px 0; }
#trafficSource-settings-form .list-add-button,
#affiliateNetwork-settings-form .list-add-button,
#page-settings-form .list-add-button {
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: 2px; }
#trafficSource-settings-form .flux-fields-remove,
#affiliateNetwork-settings-form .flux-fields-remove,
#page-settings-form .flux-fields-remove {
  position: absolute;
  right: 10px;
  top: 10px; }
#trafficSource-settings-form .flux-fields-remove2,
#affiliateNetwork-settings-form .flux-fields-remove2,
#page-settings-form .flux-fields-remove2 {
  position: absolute;
  right: -40px;
  top: 10px; }
#trafficSource-settings-form .panel,
#affiliateNetwork-settings-form .panel,
#page-settings-form .panel {
  background-color: #f6fafc;
  border-radius: 0 0 3px 3px;
  border: 0 none;
  border-bottom: 1px dashed #d2dadf; }

#stats-quickview .DTTT_container,
#stats-quickview .ColVis {
  float: right;
  margin: 10px 0 0 0 !important; }
  #stats-quickview .DTTT_container button.DTTT_button,
  #stats-quickview .DTTT_container button.ColVis_Button,
  #stats-quickview .DTTT_container div.DTTT_button,
  #stats-quickview .DTTT_container a.DTTT_button,
  #stats-quickview .ColVis button.DTTT_button,
  #stats-quickview .ColVis button.ColVis_Button,
  #stats-quickview .ColVis div.DTTT_button,
  #stats-quickview .ColVis a.DTTT_button {
    background: #7e909c !important;
    border-radius: 3px;
    border: 0 none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
    padding: 11px 10px;
    text-align: center;
    width: auto;
    height: 35px; }
    #stats-quickview .DTTT_container button.DTTT_button span,
    #stats-quickview .DTTT_container button.ColVis_Button span,
    #stats-quickview .DTTT_container div.DTTT_button span,
    #stats-quickview .DTTT_container a.DTTT_button span,
    #stats-quickview .ColVis button.DTTT_button span,
    #stats-quickview .ColVis button.ColVis_Button span,
    #stats-quickview .ColVis div.DTTT_button span,
    #stats-quickview .ColVis a.DTTT_button span {
      color: #fff; }
    #stats-quickview .DTTT_container button.DTTT_button[disabled],
    #stats-quickview .DTTT_container button.ColVis_Button[disabled],
    #stats-quickview .DTTT_container div.DTTT_button[disabled],
    #stats-quickview .DTTT_container a.DTTT_button[disabled],
    #stats-quickview .ColVis button.DTTT_button[disabled],
    #stats-quickview .ColVis button.ColVis_Button[disabled],
    #stats-quickview .ColVis div.DTTT_button[disabled],
    #stats-quickview .ColVis a.DTTT_button[disabled] {
      background-color: #c3cdd4 !important; }

#drill-down .statsToolbar,
#drill-down-tree .statsToolbar,
#funnelStatsHeader .statsToolbar,
#funnel-setting-page .statsToolbar {
  position: relative; }
#drill-down .stats-toolbar-refresh-button.refresh-btn,
#drill-down-tree .stats-toolbar-refresh-button.refresh-btn,
#funnelStatsHeader .stats-toolbar-refresh-button.refresh-btn,
#funnel-setting-page .stats-toolbar-refresh-button.refresh-btn {
  float: left;
  margin: 22px 20px 0 30px;
  font-family: "FFClanWebProWideMedium";
  font-size: 14px;
  font-weight: normal;
  color: #64b0e2;
  line-height: 31px;
  cursor: pointer; }
  #drill-down .stats-toolbar-refresh-button.refresh-btn img.refresh-ico,
  #drill-down-tree .stats-toolbar-refresh-button.refresh-btn img.refresh-ico,
  #funnelStatsHeader .stats-toolbar-refresh-button.refresh-btn img.refresh-ico,
  #funnel-setting-page .stats-toolbar-refresh-button.refresh-btn img.refresh-ico {
    margin-right: 3px; }
#drill-down .stats-toolbar-refresh-button.apply,
#drill-down-tree .stats-toolbar-refresh-button.apply,
#funnelStatsHeader .stats-toolbar-refresh-button.apply,
#funnel-setting-page .stats-toolbar-refresh-button.apply {
  color: #ff8062 !important; }
#drill-down .save-stat-filter,
#drill-down-tree .save-stat-filter,
#funnelStatsHeader .save-stat-filter,
#funnel-setting-page .save-stat-filter {
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 2; }
  #drill-down .save-stat-filter #view-selector,
  #drill-down-tree .save-stat-filter #view-selector,
  #funnelStatsHeader .save-stat-filter #view-selector,
  #funnel-setting-page .save-stat-filter #view-selector {
    float: right;
    margin: 0 5px;
    width: 200px; }
  #drill-down .save-stat-filter .btn-gray,
  #drill-down-tree .save-stat-filter .btn-gray,
  #funnelStatsHeader .save-stat-filter .btn-gray,
  #funnel-setting-page .save-stat-filter .btn-gray {
    float: right;
    margin: 0 5px;
    padding: 11px 10px;
    text-align: center;
    width: 68px; }
    #drill-down .save-stat-filter .btn-gray[disabled],
    #drill-down-tree .save-stat-filter .btn-gray[disabled],
    #funnelStatsHeader .save-stat-filter .btn-gray[disabled],
    #funnel-setting-page .save-stat-filter .btn-gray[disabled] {
      background-color: #c3cdd4 !important; }
    #drill-down .save-stat-filter .btn-gray:hover, #drill-down .save-stat-filter .btn-gray:focus,
    #drill-down-tree .save-stat-filter .btn-gray:hover,
    #drill-down-tree .save-stat-filter .btn-gray:focus,
    #funnelStatsHeader .save-stat-filter .btn-gray:hover,
    #funnelStatsHeader .save-stat-filter .btn-gray:focus,
    #funnel-setting-page .save-stat-filter .btn-gray:hover,
    #funnel-setting-page .save-stat-filter .btn-gray:focus {
      color: #fff; }
#drill-down .DTTT_container,
#drill-down .ColVis,
#drill-down .export,
#drill-down-tree .DTTT_container,
#drill-down-tree .ColVis,
#drill-down-tree .export,
#funnelStatsHeader .DTTT_container,
#funnelStatsHeader .ColVis,
#funnelStatsHeader .export,
#funnel-setting-page .DTTT_container,
#funnel-setting-page .ColVis,
#funnel-setting-page .export {
  float: right;
  margin: 0 !important; }
  #drill-down .DTTT_container button.DTTT_button,
  #drill-down .DTTT_container button.ColVis_Button,
  #drill-down .DTTT_container div.DTTT_button,
  #drill-down .DTTT_container a.DTTT_button,
  #drill-down .ColVis button.DTTT_button,
  #drill-down .ColVis button.ColVis_Button,
  #drill-down .ColVis div.DTTT_button,
  #drill-down .ColVis a.DTTT_button,
  #drill-down .export button.DTTT_button,
  #drill-down .export button.ColVis_Button,
  #drill-down .export div.DTTT_button,
  #drill-down .export a.DTTT_button,
  #drill-down-tree .DTTT_container button.DTTT_button,
  #drill-down-tree .DTTT_container button.ColVis_Button,
  #drill-down-tree .DTTT_container div.DTTT_button,
  #drill-down-tree .DTTT_container a.DTTT_button,
  #drill-down-tree .ColVis button.DTTT_button,
  #drill-down-tree .ColVis button.ColVis_Button,
  #drill-down-tree .ColVis div.DTTT_button,
  #drill-down-tree .ColVis a.DTTT_button,
  #drill-down-tree .export button.DTTT_button,
  #drill-down-tree .export button.ColVis_Button,
  #drill-down-tree .export div.DTTT_button,
  #drill-down-tree .export a.DTTT_button,
  #funnelStatsHeader .DTTT_container button.DTTT_button,
  #funnelStatsHeader .DTTT_container button.ColVis_Button,
  #funnelStatsHeader .DTTT_container div.DTTT_button,
  #funnelStatsHeader .DTTT_container a.DTTT_button,
  #funnelStatsHeader .ColVis button.DTTT_button,
  #funnelStatsHeader .ColVis button.ColVis_Button,
  #funnelStatsHeader .ColVis div.DTTT_button,
  #funnelStatsHeader .ColVis a.DTTT_button,
  #funnelStatsHeader .export button.DTTT_button,
  #funnelStatsHeader .export button.ColVis_Button,
  #funnelStatsHeader .export div.DTTT_button,
  #funnelStatsHeader .export a.DTTT_button,
  #funnel-setting-page .DTTT_container button.DTTT_button,
  #funnel-setting-page .DTTT_container button.ColVis_Button,
  #funnel-setting-page .DTTT_container div.DTTT_button,
  #funnel-setting-page .DTTT_container a.DTTT_button,
  #funnel-setting-page .ColVis button.DTTT_button,
  #funnel-setting-page .ColVis button.ColVis_Button,
  #funnel-setting-page .ColVis div.DTTT_button,
  #funnel-setting-page .ColVis a.DTTT_button,
  #funnel-setting-page .export button.DTTT_button,
  #funnel-setting-page .export button.ColVis_Button,
  #funnel-setting-page .export div.DTTT_button,
  #funnel-setting-page .export a.DTTT_button {
    background: #7e909c !important;
    border-radius: 3px;
    border: 0 none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
    padding: 11px 10px;
    text-align: center;
    width: 68px;
    height: 35px; }
    #drill-down .DTTT_container button.DTTT_button span,
    #drill-down .DTTT_container button.ColVis_Button span,
    #drill-down .DTTT_container div.DTTT_button span,
    #drill-down .DTTT_container a.DTTT_button span,
    #drill-down .ColVis button.DTTT_button span,
    #drill-down .ColVis button.ColVis_Button span,
    #drill-down .ColVis div.DTTT_button span,
    #drill-down .ColVis a.DTTT_button span,
    #drill-down .export button.DTTT_button span,
    #drill-down .export button.ColVis_Button span,
    #drill-down .export div.DTTT_button span,
    #drill-down .export a.DTTT_button span,
    #drill-down-tree .DTTT_container button.DTTT_button span,
    #drill-down-tree .DTTT_container button.ColVis_Button span,
    #drill-down-tree .DTTT_container div.DTTT_button span,
    #drill-down-tree .DTTT_container a.DTTT_button span,
    #drill-down-tree .ColVis button.DTTT_button span,
    #drill-down-tree .ColVis button.ColVis_Button span,
    #drill-down-tree .ColVis div.DTTT_button span,
    #drill-down-tree .ColVis a.DTTT_button span,
    #drill-down-tree .export button.DTTT_button span,
    #drill-down-tree .export button.ColVis_Button span,
    #drill-down-tree .export div.DTTT_button span,
    #drill-down-tree .export a.DTTT_button span,
    #funnelStatsHeader .DTTT_container button.DTTT_button span,
    #funnelStatsHeader .DTTT_container button.ColVis_Button span,
    #funnelStatsHeader .DTTT_container div.DTTT_button span,
    #funnelStatsHeader .DTTT_container a.DTTT_button span,
    #funnelStatsHeader .ColVis button.DTTT_button span,
    #funnelStatsHeader .ColVis button.ColVis_Button span,
    #funnelStatsHeader .ColVis div.DTTT_button span,
    #funnelStatsHeader .ColVis a.DTTT_button span,
    #funnelStatsHeader .export button.DTTT_button span,
    #funnelStatsHeader .export button.ColVis_Button span,
    #funnelStatsHeader .export div.DTTT_button span,
    #funnelStatsHeader .export a.DTTT_button span,
    #funnel-setting-page .DTTT_container button.DTTT_button span,
    #funnel-setting-page .DTTT_container button.ColVis_Button span,
    #funnel-setting-page .DTTT_container div.DTTT_button span,
    #funnel-setting-page .DTTT_container a.DTTT_button span,
    #funnel-setting-page .ColVis button.DTTT_button span,
    #funnel-setting-page .ColVis button.ColVis_Button span,
    #funnel-setting-page .ColVis div.DTTT_button span,
    #funnel-setting-page .ColVis a.DTTT_button span,
    #funnel-setting-page .export button.DTTT_button span,
    #funnel-setting-page .export button.ColVis_Button span,
    #funnel-setting-page .export div.DTTT_button span,
    #funnel-setting-page .export a.DTTT_button span {
      color: #fff; }
    #drill-down .DTTT_container button.DTTT_button[disabled],
    #drill-down .DTTT_container button.ColVis_Button[disabled],
    #drill-down .DTTT_container div.DTTT_button[disabled],
    #drill-down .DTTT_container a.DTTT_button[disabled],
    #drill-down .ColVis button.DTTT_button[disabled],
    #drill-down .ColVis button.ColVis_Button[disabled],
    #drill-down .ColVis div.DTTT_button[disabled],
    #drill-down .ColVis a.DTTT_button[disabled],
    #drill-down .export button.DTTT_button[disabled],
    #drill-down .export button.ColVis_Button[disabled],
    #drill-down .export div.DTTT_button[disabled],
    #drill-down .export a.DTTT_button[disabled],
    #drill-down-tree .DTTT_container button.DTTT_button[disabled],
    #drill-down-tree .DTTT_container button.ColVis_Button[disabled],
    #drill-down-tree .DTTT_container div.DTTT_button[disabled],
    #drill-down-tree .DTTT_container a.DTTT_button[disabled],
    #drill-down-tree .ColVis button.DTTT_button[disabled],
    #drill-down-tree .ColVis button.ColVis_Button[disabled],
    #drill-down-tree .ColVis div.DTTT_button[disabled],
    #drill-down-tree .ColVis a.DTTT_button[disabled],
    #drill-down-tree .export button.DTTT_button[disabled],
    #drill-down-tree .export button.ColVis_Button[disabled],
    #drill-down-tree .export div.DTTT_button[disabled],
    #drill-down-tree .export a.DTTT_button[disabled],
    #funnelStatsHeader .DTTT_container button.DTTT_button[disabled],
    #funnelStatsHeader .DTTT_container button.ColVis_Button[disabled],
    #funnelStatsHeader .DTTT_container div.DTTT_button[disabled],
    #funnelStatsHeader .DTTT_container a.DTTT_button[disabled],
    #funnelStatsHeader .ColVis button.DTTT_button[disabled],
    #funnelStatsHeader .ColVis button.ColVis_Button[disabled],
    #funnelStatsHeader .ColVis div.DTTT_button[disabled],
    #funnelStatsHeader .ColVis a.DTTT_button[disabled],
    #funnelStatsHeader .export button.DTTT_button[disabled],
    #funnelStatsHeader .export button.ColVis_Button[disabled],
    #funnelStatsHeader .export div.DTTT_button[disabled],
    #funnelStatsHeader .export a.DTTT_button[disabled],
    #funnel-setting-page .DTTT_container button.DTTT_button[disabled],
    #funnel-setting-page .DTTT_container button.ColVis_Button[disabled],
    #funnel-setting-page .DTTT_container div.DTTT_button[disabled],
    #funnel-setting-page .DTTT_container a.DTTT_button[disabled],
    #funnel-setting-page .ColVis button.DTTT_button[disabled],
    #funnel-setting-page .ColVis button.ColVis_Button[disabled],
    #funnel-setting-page .ColVis div.DTTT_button[disabled],
    #funnel-setting-page .ColVis a.DTTT_button[disabled],
    #funnel-setting-page .export button.DTTT_button[disabled],
    #funnel-setting-page .export button.ColVis_Button[disabled],
    #funnel-setting-page .export div.DTTT_button[disabled],
    #funnel-setting-page .export a.DTTT_button[disabled] {
      background-color: #c3cdd4 !important; }
#drill-down .DTTT_container,
#drill-down-tree .DTTT_container,
#funnelStatsHeader .DTTT_container,
#funnel-setting-page .DTTT_container {
  position: absolute !important;
  right: 0;
  top: 118px; }

#drill-down #stats-column-for-dateandsearch .stats-block {
  position: absolute;
  right: 15px;
  top: -52px; }
#drill-down #stats-column-for-dateandsearch #stats-toolbar-search-input {
  position: absolute;
  right: 390px;
  top: 102px; }
#drill-down .ColVis_MasterButton {
  background: #7e909c !important;
  border: 0 none;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  float: right;
  height: auto;
  padding: 12px;
  position: absolute;
  right: 238px;
  text-align: center;
  top: 119px;
  width: 144px !important; }
  #drill-down .ColVis_MasterButton span {
    color: #fff; }
#drill-down .ColVis_collection {
  left: auto !important;
  right: 214px !important;
  top: 238px !important; }

#drill-down-tree .ColVis_MasterButton {
  float: right;
  left: -155px;
  position: absolute;
  top: 0;
  width: 144px !important; }
#drill-down-tree #stats-column-for-dateandsearch .stats-block {
  position: absolute;
  right: 15px;
  top: -52px; }
#drill-down-tree .statsTableBuilderTable {
  clear: both;
  float: left;
  width: 100%; }
#drill-down-tree #Colvis_MasterPopup {
  position: absolute;
  right: 218px; }

#funnelStatsHeader .ColVis_MasterButton,
#funnel-setting-page .ColVis_MasterButton {
  background: #7e909c !important;
  border: 0 none;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  float: right;
  height: auto;
  padding: 12px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 3px;
  width: 144px !important; }
  #funnelStatsHeader .ColVis_MasterButton span,
  #funnel-setting-page .ColVis_MasterButton span {
    color: #fff; }
#funnelStatsHeader .DTTT_container,
#funnel-setting-page .DTTT_container {
  position: absolute !important;
  right: 160px;
  top: 2px; }

#funnel-setting-page .stats-toolbar-refresh-button {
  margin: 0 20px 10px 14px !important; }
#funnel-setting-page .stats-button {
  margin: 3px 5px !important; }
#funnel-setting-page #stats-daterange-timezone-container,
#funnel-setting-page #stats-toolbar-search-input {
  margin: 2px 5px !important; }
#funnel-setting-page .ColVis_MasterButton,
#funnel-setting-page .DTTT_container {
  top: 95px; }

#pages-list .flux-btn-container {
  float: left;
  margin: 20px 20px 0 40px; }
  #pages-list .flux-btn-container .btn-flux {
    float: left;
    margin: 0;
    padding: 11px 35px !important; }
#pages-list .bulk-export-container,
#pages-list .dataTables_processing {
  float: left;
  line-height: 35px;
  margin: 20px 5px 0; }
#pages-list .bulk-export-container .btn-bulk {
  float: left;
  margin: 0 5px;
  padding: 11px 35px !important; }
#pages-list .dataTables_filter {
  float: right;
  margin: 20px 0 5px; }
  #pages-list .dataTables_filter #daterangepicker-container {
    float: right;
    margin: 7px 16px 5px 5px; }
    #pages-list .dataTables_filter #daterangepicker-container .stats-button {
      margin: 0;
      padding: 10px 25px 10px; }
  #pages-list .dataTables_filter input {
    margin-left: 5px; }
#pages-list .DTTT_container {
  margin: 20px 0 5px 20px; }
  #pages-list .DTTT_container .DTTT_button {
    background: #7e909c !important;
    border: 0 none;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    float: right;
    height: auto;
    padding: 11px;
    text-align: center;
    width: 85px; }
    #pages-list .DTTT_container .DTTT_button span {
      color: #fff; }

#your-link-page #input-url,
#your-link-page #input-action-url,
#your-link-page #input-postback-url,
#your-link-page #input-iframe-code,
#your-link-page #input-pixel-url,
#your-link-page #input-pixel-code,
#your-link-page #input-cb-secret-key,
#your-link-page #input-cb-url {
  border-radius: 4px 0 0 4px !important; }
#your-link-page #url-copy-button,
#your-link-page #qrcode-button-popup,
#your-link-page #action-url-copy-button,
#your-link-page #postback-url-copy-button,
#your-link-page #iframe-code-copy-button,
#your-link-page #pixel-url-copy-button,
#your-link-page #pixel-code-copy-button,
#your-link-page #cb-secret-key-copy-button,
#your-link-page #cb-url-copy-button {
  border-radius: 0 4px 4px 0;
  margin-left: -4px !important;
  padding-bottom: 3px !important;
  padding-top: 4px !important; }
#your-link-page .btn-plus {
  float: left;
  font-size: 20px;
  height: 38px;
  left: -7px;
  line-height: 25px;
  position: relative;
  top: 21px;
  width: 80px; }

#stored-links label {
  font-family: 'FFClanWebProWideBold';
  color: #667c8a; }
#stored-links small.error {
  font-family: 'FFClanWebProWideMedium';
  margin-left: 0px; }
#stored-links .slick-cell {
  text-align: left; }
#stored-links .flux-btn-container {
  float: left;
  margin: 20px 20px 0 40px; }
  #stored-links .flux-btn-container .btn-flux {
    float: left;
    margin: 0;
    padding: 11px 35px !important; }
#stored-links #table-stored-link select,
#stored-links #table-stored-link .chosen-container-multi .chosen-choices,
#stored-links #table-stored-link .chosen-container-single .chosen-single {
  border: 0px transparent;
  background: transparent; }
  #stored-links #table-stored-link select:after,
  #stored-links #table-stored-link .chosen-container-multi .chosen-choices:after,
  #stored-links #table-stored-link .chosen-container-single .chosen-single:after {
    background: transparent; }

#user-page .flux-btn-container-inner,
#section-block-filter-edit .flux-btn-container-inner {
  float: left;
  margin: 25px 25px 0; }
#user-page #input-user-password,
#section-block-filter-edit #input-user-password {
  border-radius: 4px 0 0 4px !important; }
#user-page #input-user-password-button,
#section-block-filter-edit #input-user-password-button {
  border-radius: 0 4px 4px 0;
  margin-left: -4px !important;
  padding-bottom: 5px !important;
  padding-top: 9px !important; }

#campaign-list .formatted-date,
#stats-quickview .formatted-date,
#traffic-souce-list .formatted-date,
#offer-souce-list .formatted-date,
#funnel-list .formatted-date,
#campaign-settings-form .formatted-date,
#funnel-settings-form .formatted-date {
  font-size: 80%; }
#campaign-list .flux-btn-container,
#stats-quickview .flux-btn-container,
#traffic-souce-list .flux-btn-container,
#offer-souce-list .flux-btn-container,
#funnel-list .flux-btn-container,
#campaign-settings-form .flux-btn-container,
#funnel-settings-form .flux-btn-container {
  float: left;
  margin: 18px 20px 0 40px; }
  #campaign-list .flux-btn-container .btn-flux,
  #stats-quickview .flux-btn-container .btn-flux,
  #traffic-souce-list .flux-btn-container .btn-flux,
  #offer-souce-list .flux-btn-container .btn-flux,
  #funnel-list .flux-btn-container .btn-flux,
  #campaign-settings-form .flux-btn-container .btn-flux,
  #funnel-settings-form .flux-btn-container .btn-flux {
    float: left;
    margin: 0;
    padding: 11px 35px !important; }
    #campaign-list .flux-btn-container .btn-flux#save-button-then-new,
    #stats-quickview .flux-btn-container .btn-flux#save-button-then-new,
    #traffic-souce-list .flux-btn-container .btn-flux#save-button-then-new,
    #offer-souce-list .flux-btn-container .btn-flux#save-button-then-new,
    #funnel-list .flux-btn-container .btn-flux#save-button-then-new,
    #campaign-settings-form .flux-btn-container .btn-flux#save-button-then-new,
    #funnel-settings-form .flux-btn-container .btn-flux#save-button-then-new {
      margin-left: 5px; }
#campaign-list .flux-btn-container-inner,
#stats-quickview .flux-btn-container-inner,
#traffic-souce-list .flux-btn-container-inner,
#offer-souce-list .flux-btn-container-inner,
#funnel-list .flux-btn-container-inner,
#campaign-settings-form .flux-btn-container-inner,
#funnel-settings-form .flux-btn-container-inner {
  float: right;
  margin: 18px 0 18px 20px; }
  #campaign-list .flux-btn-container-inner .btn-flux,
  #stats-quickview .flux-btn-container-inner .btn-flux,
  #traffic-souce-list .flux-btn-container-inner .btn-flux,
  #offer-souce-list .flux-btn-container-inner .btn-flux,
  #funnel-list .flux-btn-container-inner .btn-flux,
  #campaign-settings-form .flux-btn-container-inner .btn-flux,
  #funnel-settings-form .flux-btn-container-inner .btn-flux {
    float: left;
    margin: 0;
    padding: 11px 35px !important; }
    #campaign-list .flux-btn-container-inner .btn-flux#save-button-then-new,
    #stats-quickview .flux-btn-container-inner .btn-flux#save-button-then-new,
    #traffic-souce-list .flux-btn-container-inner .btn-flux#save-button-then-new,
    #offer-souce-list .flux-btn-container-inner .btn-flux#save-button-then-new,
    #funnel-list .flux-btn-container-inner .btn-flux#save-button-then-new,
    #campaign-settings-form .flux-btn-container-inner .btn-flux#save-button-then-new,
    #funnel-settings-form .flux-btn-container-inner .btn-flux#save-button-then-new {
      margin-right: 15px; }
#campaign-list .back-button,
#stats-quickview .back-button,
#traffic-souce-list .back-button,
#offer-souce-list .back-button,
#funnel-list .back-button,
#campaign-settings-form .back-button,
#funnel-settings-form .back-button {
  float: left;
  margin: 18px 20px 0 0px;
  padding: 11px 35px !important; }
#campaign-list .stats-button,
#stats-quickview .stats-button,
#traffic-souce-list .stats-button,
#offer-souce-list .stats-button,
#funnel-list .stats-button,
#campaign-settings-form .stats-button,
#funnel-settings-form .stats-button {
  float: left;
  margin-top: 20px; }
#campaign-list .dataTables_processing,
#stats-quickview .dataTables_processing,
#traffic-souce-list .dataTables_processing,
#offer-souce-list .dataTables_processing,
#funnel-list .dataTables_processing,
#campaign-settings-form .dataTables_processing,
#funnel-settings-form .dataTables_processing {
  float: left;
  line-height: 35px;
  margin: 20px 5px 0; }
#campaign-list div.dataTables_filter label,
#stats-quickview div.dataTables_filter label,
#traffic-souce-list div.dataTables_filter label,
#offer-souce-list div.dataTables_filter label,
#funnel-list div.dataTables_filter label,
#campaign-settings-form div.dataTables_filter label,
#funnel-settings-form div.dataTables_filter label {
  float: right;
  margin: 20px 0; }
  #campaign-list div.dataTables_filter label input,
  #stats-quickview div.dataTables_filter label input,
  #traffic-souce-list div.dataTables_filter label input,
  #offer-souce-list div.dataTables_filter label input,
  #funnel-list div.dataTables_filter label input,
  #campaign-settings-form div.dataTables_filter label input,
  #funnel-settings-form div.dataTables_filter label input {
    margin-left: 8px; }

#reset-stats-page .reset-filter select, #reset-stats-page .reset-filter input {
  width: 240px;
  margin: 0 8px 10px 0;
  height: 35px;
  line-height: 16px !important; }

.tabs dd > a, .tabs .tab-title > a {
  outline: none;
  display: block;
  background-color: #c3cdd4;
  color: #555;
  padding: 6px 10px;
  font-family: "FFClanWebProWideMedium";
  font-size: 13px; }

.tabs .tab-title.active > a {
  background-color: #64b0e2;
  color: #ffffff; }

.tabs-content {
  padding: 6px 10px;
  border: 1px dashed #c3cdd4; }

.icon-help {
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50); }
  .icon-help:hover {
    opacity: 1;
    filter: alpha(opacity=100); }

.grow-on-hover {
  transition: all .1s ease-in-out; }
  .grow-on-hover:hover {
    transform: scale(1.1); }

.overwrite-cost-fields-remove {
  position: absolute;
  right: -24px;
  top: 9px; }

textarea#textaera-universal-code {
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll; }

.stats-quickview-top-buttons {
  margin-left: 14px; }
  .stats-quickview-top-buttons .tracking-fields-group,
  .stats-quickview-top-buttons .country-select-group {
    margin-top: 20px; }
    .stats-quickview-top-buttons .tracking-fields-group .classCountrySelect,
    .stats-quickview-top-buttons .tracking-fields-group .classTrackingField,
    .stats-quickview-top-buttons .country-select-group .classCountrySelect,
    .stats-quickview-top-buttons .country-select-group .classTrackingField {
      min-width: 250px; }
    .stats-quickview-top-buttons .tracking-fields-group .refresh-btn,
    .stats-quickview-top-buttons .country-select-group .refresh-btn {
      position: relative;
      top: 0px;
      left: 10px;
      font-family: "FFClanWebProWideMedium";
      font-size: 14px;
      font-weight: normal;
      color: #64b0e2;
      cursor: pointer; }
      .stats-quickview-top-buttons .tracking-fields-group .refresh-btn img.refresh-ico,
      .stats-quickview-top-buttons .country-select-group .refresh-btn img.refresh-ico {
        margin-right: 3px; }

.button-group {
  white-space: nowrap;
  margin-bottom: 8px; }
  .button-group input[data-toggle] {
    display: none; }
  .button-group input[data-toggle]:checked + label,
  .button-group input[data-toggle]:checked + label:active {
    background-color: #ff8062;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }
  .button-group label {
    white-space: nowrap;
    font-family: "FFClanWebProWideNews";
    font-size: 75%;
    padding-left: 14px;
    padding-right: 18px;
    margin: 0;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important; }
  .button-group input[disabled] + label {
    color: #a8a8a8 !important;
    background-color: lightgray !important; }
  .button-group input[disabled]:checked + label {
    color: #fff !important;
    background-color: #ffc0a2 !important; }
  .button-group.toggle li:not(first-child) {
    margin: 0 -0.9rem; }

.traffic-source-templates-select,
.offer-source-templates-select {
  float: right;
  width: 250px;
  min-width: 250px; }

.live-stats-logo {
  background-image: url(../images/liveStats.png);
  background-repeat: no-repeat;
  width: 74px;
  height: 75px;
  margin-left: 14px; }

.live-stats-loader {
  display: inline;
  position: absolute;
  top: 12px;
  left: 34px;
  z-index: 1000; }

#quickview-filtering {
  margin-top: 20px; }
  #quickview-filtering #table-loader-section {
    float: left;
    margin: 0px 10px 10px 10px; }

#funnelDiagram #funnel-quickview-stats #quickview-filtering {
  margin-top: 0px; }
  #funnelDiagram #funnel-quickview-stats #quickview-filtering .stats-button {
    margin-top: 0px; }
  #funnelDiagram #funnel-quickview-stats #quickview-filtering .page-title h5 {
    line-height: 40px;
    margin: 0; }

select.auto-bulk-actions-select,
select.bulk-slick-action-select {
  min-width: auto;
  width: auto;
  background-color: #f6fafc !important;
  background-image: url("../images/icon/dropdown-arrow-down.png");
  background-position: 95% center;
  background-repeat: no-repeat;
  color: #6F7F8B;
  padding: 8px 16px 8px 6px;
  margin-right: 10px;
  border-color: #d2dadf;
  border-radius: 2px; }

select.auto-bulk-actions-select:disabled,
select.bulk-slick-action-select:disabled {
  opacity: 0.5;
  filter: alpha(opacity=50); }

select.auto-bulk-actions-select:not(:disabled),
select.select.bulk-slick-action-select:not(:disabled) {
  opacity: 1;
  filter: alpha(opacity=100); }

.messages-list .dataTable {
  width: 100% !important;
  max-width: 100% !important;
  table-layout: fixed; }
  .messages-list .dataTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .messages-list .dataTable td a {
      font-family: arial !important;
      font-weight: normal !important;
      color: #888 !important; }
      .messages-list .dataTable td a.title, .messages-list .dataTable td a.sender, .messages-list .dataTable td a.date {
        color: #444 !important; }
        .messages-list .dataTable td a.title.unread, .messages-list .dataTable td a.sender.unread, .messages-list .dataTable td a.date.unread {
          font-family: 'FFClanWebProWideBold' !important; }

.message-view, .message-view p {
  font-family: 'FFClanWebProWideMedium' !important;
  font-size: 13px;
  color: #666;
  line-height: 20px; }
  .message-view .panel, .message-view p .panel {
    margin-bottom: 8px; }
  .message-view #input-message-date, .message-view p #input-message-date {
    text-align: right; }

img.conversion-path-ellipsis {
  cursor: pointer;
  opacity: 0.3;
  filter: alpha(opacity=30); }

img.conversion-path-ellipsis-tooltip-arrow {
  width: 11px;
  height: 9px;
  margin-right: 5px;
  margin-bottom: 5px; }

.doc-section, .doc-section p, .doc-section ul li {
  font-family: "FFClanWebProWideMedium";
  font-size: 14px;
  line-height: 22px; }

#command-palette {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #282c34;
  z-index: 100;
  max-width: 600px;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
  transition: all .3s ease-out; }

#command-palette.animating {
  display: block; }

#command-palette.on {
  display: block;
  visibility: visible;
  opacity: 1; }

#command-palette > .inner {
  padding: 10px; }

#command-palette > .inner > form {
  padding-top: 5px; }

#command-palette #command-palette-search {
  background-color: #181a1f;
  border: none;
  color: rgba(255, 255, 255, 0.65); }

#command-palette > .inner > ul {
  border: 1px solid #181a1f;
  border-top: none;
  margin: 0;
  padding: 0;
  max-height: 500px;
  overflow: auto; }

#command-palette > .inner > ul > li {
  background-color: rgba(255, 255, 255, 0.025);
  border-top: 1px solid #181a1f;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 15px 20px;
  position: relative;
  min-height: 49px; }
  #command-palette > .inner > ul > li.active, #command-palette > .inner > ul > li:hover {
    background-color: rgba(255, 255, 255, 0.1); }
  #command-palette > .inner > ul > li.list-message {
    display: none; }

#command-palette > .inner > ul > li:after {
  content: " ";
  clear: both;
  float: none;
  display: block; }

#command-palette > .inner > ul > li > .description {
  color: #888; }

#command-palette > .inner > ul > li > .description strong {
  color: #fff;
  font-weight: normal; }

#command-palette > .inner > ul > li > .shortcut {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  padding: 5px 10px;
  position: absolute;
  right: 20px;
  top: 10px; }

.modal-link-page {
  max-width: 600px;
  padding-top: 20px;
  padding-bottom: 20px; }

.input-group {
  display: table;
  position: relative;
  width: 100%;
  margin-bottom: 10px; }

.input-group > input {
  float: left;
  display: table-cell;
  border-radius: 4px 0 0 4px;
  width: 100%;
  box-sizing: border-box;
  margin: 0; }

.input-group > input + .button {
  display: table-cell;
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; }

.flux-nav {
  background: #323637;
  max-height: 80px; }
  .flux-nav nav.top-bar ul.title-area li {
    margin: 0;
    padding: 0;
    float: left; }
  .flux-nav nav.top-bar ul.title-area .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 80px;
    position: relative; }
    .flux-nav nav.top-bar ul.title-area .logo a {
      margin: 0;
      padding: 0;
      line-height: 80px; }
    .flux-nav nav.top-bar ul.title-area .logo img {
      border: 0 none;
      margin: 0;
      padding: 0; }
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li a,
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li a {
    font-size: 11px;
    line-height: 80px;
    text-transform: uppercase;
    background-color: #323637;
    padding: 0 26px;
    font-family: "FFClanWebProWideMedium";
    font-weight: normal;
    font-style: normal; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li a i.flux-icon,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li a i.flux-icon {
      float: left;
      margin: auto 6px auto 0; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li a i.flux-icon.flux-icon-monitor,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li a i.flux-icon.flux-icon-monitor {
      background: url("../images/icon/monitor-icon.png") no-repeat 0 0;
      width: 24px;
      height: 21px;
      margin-top: 30px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li a i.flux-icon.flux-icon-campaign,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li a i.flux-icon.flux-icon-campaign {
      background: url("../images/icon/campain-icon.png") no-repeat 0 0;
      width: 24px;
      height: 24px;
      margin-top: 26px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li a i.flux-icon.flux-icon-graph,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li a i.flux-icon.flux-icon-graph {
      background: url("../images/icon/graph-icon.png") no-repeat 0 0;
      width: 24px;
      height: 24px;
      margin-top: 26px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li a i.flux-icon.flux-icon-source,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li a i.flux-icon.flux-icon-source {
      background: url("../images/icon/source-icon.png") no-repeat 0 0;
      width: 22px;
      height: 24px;
      margin-top: 26px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li a i.flux-icon.flux-icon-offer,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li a i.flux-icon.flux-icon-offer {
      background: url("../images/icon/offer-icon.png") no-repeat 0 0;
      width: 24px;
      height: 24px;
      margin-top: 26px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li a i.flux-icon.flux-icon-lander,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li a i.flux-icon.flux-icon-lander {
      background: url("../images/icon/lander-icon.png") no-repeat 0 0;
      width: 24px;
      height: 21px;
      margin-top: 26px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li a i.flux-icon.flux-icon-link,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li a i.flux-icon.flux-icon-link {
      background: url("../images/icon/link-icon.png") no-repeat 0 0;
      width: 24px;
      height: 24px;
      margin-top: 26px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li a i.flux-icon.flux-icon-database,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li a i.flux-icon.flux-icon-database {
      background: url("../images/icon/database-icon.png") no-repeat 0 0;
      width: 26px;
      height: 26px;
      margin-top: 26px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li a i.flux-icon.flux-icon-gear,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li a i.flux-icon.flux-icon-gear {
      background: url("../images/icon/gear-icon.png") no-repeat 0 0;
      width: 26px;
      height: 26px;
      margin-top: 26px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li a i.flux-icon.flux-icon-support,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li a i.flux-icon.flux-icon-support {
      background: url("../images/icon/support-icon.png") no-repeat 0 0;
      width: 24px;
      height: 24px;
      margin-top: 26px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li a i.flux-icon.flux-icon-avatar,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li a i.flux-icon.flux-icon-avatar {
      background: no-repeat 0 0;
      height: 40px;
      width: 40px;
      margin-top: 11px; }
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li:hover > a, .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.active > a,
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li:hover > a,
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.active > a {
    background-color: #323637;
    color: #ff8062; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li:hover > a i.flux-icon-monitor, .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.active > a i.flux-icon-monitor,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li:hover > a i.flux-icon-monitor,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.active > a i.flux-icon-monitor {
      background-position: 0 -21px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li:hover > a i.flux-icon-campaign, .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.active > a i.flux-icon-campaign,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li:hover > a i.flux-icon-campaign,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.active > a i.flux-icon-campaign {
      background-position: 0 -24px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li:hover > a i.flux-icon-graph, .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.active > a i.flux-icon-graph,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li:hover > a i.flux-icon-graph,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.active > a i.flux-icon-graph {
      background-position: 0 -24px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li:hover > a i.flux-icon-source, .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.active > a i.flux-icon-source,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li:hover > a i.flux-icon-source,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.active > a i.flux-icon-source {
      background-position: 0 -24px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li:hover > a i.flux-icon-offer, .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.active > a i.flux-icon-offer,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li:hover > a i.flux-icon-offer,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.active > a i.flux-icon-offer {
      background-position: 0 -24px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li:hover > a i.flux-icon-lander, .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.active > a i.flux-icon-lander,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li:hover > a i.flux-icon-lander,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.active > a i.flux-icon-lander {
      background-position: 0 -21px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li:hover > a i.flux-icon-link, .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.active > a i.flux-icon-link,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li:hover > a i.flux-icon-link,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.active > a i.flux-icon-link {
      background-position: 0 -24px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li:hover > a i.flux-icon-database, .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.active > a i.flux-icon-database,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li:hover > a i.flux-icon-database,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.active > a i.flux-icon-database {
      background-position: 0 -26px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li:hover > a i.flux-icon-gear, .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.active > a i.flux-icon-gear,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li:hover > a i.flux-icon-gear,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.active > a i.flux-icon-gear {
      background-position: 0 -26px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li:hover > a i.flux-icon-support, .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.active > a i.flux-icon-support,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li:hover > a i.flux-icon-support,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.active > a i.flux-icon-support {
      background-position: 0 -24px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li:hover > a:hover, .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.active > a:hover,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li:hover > a:hover,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.active > a:hover {
      background-color: #323637;
      color: #ff8062; }
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.has-dropdown > a,
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.has-dropdown > a {
    background: url("../images/icon/dropdown-arrow.png") no-repeat;
    background-position: 94% 50%;
    padding-right: 25px !important; }
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.has-dropdown:hover > a, .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.has-dropdown.active > a,
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.has-dropdown:hover > a,
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.has-dropdown.active > a {
    background-image: url("../images/icon/dropdown-arrow-hover.png"); }
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.has-dropdown ul.dropdown,
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.has-dropdown ul.dropdown {
    border-top: 5px solid #ff8062;
    border-bottom: 5px solid #3b4041;
    border-radius: 0 0 4px 4px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.has-dropdown ul.dropdown li > a:not(.button),
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li.has-dropdown ul.dropdown li > a.active,
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.has-dropdown ul.dropdown li > a:not(.button),
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.has-dropdown ul.dropdown li > a.active {
      background-color: #3b4041;
      line-height: 48px; }
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.has-dropdown > a {
    background: none;
    padding: 0 10px 0 16px !important; }
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.has-dropdown:hover > a, .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.has-dropdown.active > a {
    background: none; }
  .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.has-dropdown ul.dropdown {
    border-top: 5px solid #ff8062;
    border-bottom: 5px solid #3b4041;
    border-radius: 0 0 4px 4px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.has-dropdown ul.dropdown li > a:not(.button),
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right li.has-dropdown ul.dropdown li > a.active {
      background-color: #3b4041;
      line-height: 48px; }

@media (max-width: 1440px) {
  .flux-nav-left li a {
    padding: 0 10px !important; } }
@media (max-width: 1240px) {
  .flux-nav-left li a {
    font-size: 9px !important;
    padding: 0 8px !important; } }
@media (max-width: 1125px) {
  #drill-down .DTTT_container, #drill-down-tree .DTTT_container {
    position: absolute !important;
    right: 0;
    top: 160px; }

  .save-stat-filter select {
    margin-top: 10px !important; } }
@media (max-width: 1120px) {
  .flux-nav-left > li {
    padding: 0 12px; }
    .flux-nav-left > li.has-dropdown a {
      background-position: 94% 75% !important;
      padding-right: 18px !important;
      padding-left: 0px !important; }
    .flux-nav-left > li > a {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 9px !important;
      padding: 38px 0 2px 0 !important;
      position: relative;
      text-align: center;
      line-height: 40px !important;
      padding-left: 10px; }
      .flux-nav-left > li > a .flux-nav-icon {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        top: 20px; }
        .flux-nav-left > li > a .flux-nav-icon .flux-icon {
          margin: 0 !important;
          display: block;
          position: relative;
          width: 100% !important;
          -ms-background-position-x: center !important;
          background-position-x: center !important; } }
@media (max-width: 980px) {
  .flux-nav-left > li {
    padding: 0 8px; } }
@media (max-width: 924px) {
  .flux-nav {
    max-height: none; }
    .flux-nav nav.top-bar ul.title-area .logo a {
      line-height: 40px; }
    .flux-nav nav.top-bar .toggle-topbar a {
      margin-top: 6px;
      color: #eaf0f4; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left {
      padding: 0 0 20px; }
      .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left li a {
        font-size: 13px !important;
        padding: 0 0 0 20px !important;
        text-align: left; }
      .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left > li > a {
        border-top: 1px solid #373a3b;
        box-sizing: border-box;
        line-height: 40px !important;
        position: relative; }
        .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-left > li > a .flux-nav-icon {
          display: inline;
          float: left;
          left: -12px;
          position: relative;
          top: 8px;
          width: 24px; }
    .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right {
      float: right;
      margin-top: 50px;
      width: 200px; }
      .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right > li {
        float: left; }
      .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right a {
        line-height: 50px; }
        .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right a i.flux-icon.flux-icon-gear,
        .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right a i.flux-icon.flux-icon-support {
          margin-top: 8px; }
        .flux-nav nav.top-bar section.top-bar-section ul.flux-nav-right a i.flux-icon.flux-icon-avatar {
          margin-top: -10px; } }

/*# sourceMappingURL=funnelflux.css.map */
