/*
 *contextMenu.js v 1.1.2
 *Author: Sudhanshu Yadav
 *s-yadav.github.com
 *Copyright (c) 2013 Sudhanshu Yadav.
 *Dual licensed under the MIT and GPL licenses
 */
/*Context menu css */
.iw-contextMenu 
{
        font-family: "Arial";
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12.5px;
        
        // rgba alpha applies to text only, while opacity: applies to the whole element: see http://stackoverflow.com/a/10835846/3135599
        color: rgba(0, 0, 0, 0.5);

        padding: 2px 0px 0px 0px;
        
	border:0px;
	display:none;
	z-index:1000;
	/*overflow:auto;*/
}

.iw-cm-menu
{
	background:#3e4546;
        background: linear-gradient(45deg, #424a4b, #363d3e);
        
	color:#bdd3d8;
	margin:0px;
}

.iw-cm-menu li {
	list-style:none;
	padding:9px;
	padding-left:36px;
	padding-right:20px;
	border-bottom:0px;
	cursor:pointer;
	position:relative;
}
.iw-mOverlay{
	position:absolute; width:100%; height:100%; top:0px; left:0px;
	background:#FFF;
	opacity:.5;
	}
.iw-contextMenu li.iw-mDisable {
	opacity:.3;
}
.iw-mSelected {
	background-color:#f57c5f;
	color:#ffffff;
}
.iw-cm-arrow-right {
	width: 0; 
	height: 0; 
	border-top: 0px transparent;
	border-bottom: 0px transparent; 
	border-left:0px transparent; 
	position:absolute;
	right:3px;
	top:50%;
	margin-top:-3px;
}

.iw-mIcon{
	width:30px;
	height:30px;
	left:0px;
	top:0px;
	position:absolute;
}
        
.iw-mIcon-2{
	left:10px;
        top: -2px;
	position:absolute;
        
        width: 19px;
        height: 19px;
        margin-top: 6px;        
}        
        
.iw-mIcon-3{
	position: relative;
}                
/*context menu css end */

.icon-offers{
    background-image: url("../images/icons/funnel-diagram/128-offer.png");
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: center; 
    
/*    filter: url("#icon-inactive");
    -webkit-filter: url(#icon-inactive);*/
}

.icon-landers{
    background-image: url("../images/icons/funnel-diagram/128-lander.png");
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: center; 
    
/*    filter: url("#icon-inactive");
    -webkit-filter: url(#icon-inactive);*/
}

.icon-externalurl{
    background-image: url("../images/icons/funnel-diagram/128-link.png");
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: center; 
    
/*    filter: url("#icon-inactive");
    -webkit-filter: url(#icon-inactive);*/
}

.icon-rotator{
    background-image: url("../images/icons/funnel-diagram/128-rotator.png");
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: center; 
    
/*    filter: url("#icon-inactive");
    -webkit-filter: url(#icon-inactive);*/
}

.icon-condition{
    background-image: url("../images/icons/funnel-diagram/64-filter.png");
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: center; 
    
/*    filter: url("#icon-inactive");
    -webkit-filter: url(#icon-inactive);*/
}

.icon-js{
    background-image: url("../images/icons/funnel-diagram/128-js.png");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center; 
    
/*    filter: url("#icon-inactive");
    -webkit-filter: url(#icon-inactive);*/
}

.icon-php{
    background-image: url("../images/icons/funnel-diagram/128-php.png");
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: center; 
    
/*    filter: url("#icon-inactive");
    -webkit-filter: url(#icon-inactive);*/
}

.icon-arrow-right{
    background-image: url("../images/icons/funnel-diagram/48-arrow-right.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center; 
    
/*    filter: url("#icon-inactive");
    -webkit-filter: url(#icon-inactive);*/
}

.iw-mSelected .iw-mIcon-2 {
/*    filter: url("#icon-selected");
    -webkit-filter: url(#icon-selected);*/
}
