.login-wrapper{
    position: absolute;
    display: inline-block;
    height: 100%;
    width:100%;
    background-color: #323637;
    left: 0;
    top:0;
}

.login-wrapper .error{
    font-family: 'FFClanWebProWideNews' !important;
    font-size: 15px;
    color: #ff8062;
    position: relative;
    top: -16px;
}

.login-wrapper .login-form{
    position: relative;
    text-align: center;
    top: 10%;
}

.login-wrapper .login-form input[type="text"]{
    background: url('../images/icon/username-icon.png') no-repeat 15px 18px #252829;

}

.login-wrapper .login-form input[type="password"]{
    background: url('../images/icon/password-icon.png') no-repeat 15px 18px #252829;
}


.login-wrapper .login-form input[type="text"],
.login-wrapper .login-form input[type="password"]{

    font-family: 'FFClanWebProWideMedium' !important;
    font-size: 11.5px;
    color: #778386;
    border: none;
    padding: 20px 20px 20px 44px;
    /*text-transform: uppercase;*/
    max-width: 395px;
    margin: 0 auto;
    margin-bottom: 2px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
}

.login-wrapper .login-form input[type="text"]:focus,
.login-wrapper .login-form input[type="password"]:focus{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login-wrapper .login-form input[type="submit"]{
    border: 0;
    color: #fff;
    background-color: #ff8062;
    width: 100%;
    max-width: 395px;
    text-align: center;
    height: 54px;
    line-height: 54px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 4px;
    margin-top: 8px;;
    border-radius: 4px;
}

.login-wrapper .login-form input[type="submit"]:hover{
    background-color: #ee7052;
    cursor: pointer;
}

.login-wrapper .links-wrapper{    
    position: relative;
    display: inline-block;
    width:100%;
    max-width:395px;
    margin-top: 65px;
}

.login-wrapper .links-wrapper .forgot-password,
.login-wrapper .links-wrapper .sign-up
{
    font-family: 'FFClanWebProWideNews' !important;
    font-size: 10px;
    color: #575e60;
    
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;
}

.login-wrapper .links-wrapper a:hover{
    color:#95a2a5;
}

.ff-logo{
   position: relative;
   margin-bottom: 75px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #778386;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #778386;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #778386;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #778386;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #778386;
}

/* To remove chrome autofill background yellow color */
input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:active
{
    background: url('../images/user-icon.png') no-repeat 15px 15px #252829 !important;
}

input[type="password"]:-webkit-autofill,
input[type="password"]:-webkit-autofill:hover,
input[type="password"]:-webkit-autofill:focus,
input[type="password"]:-webkit-autofill:active 
{
    background: url('../images/password-icon.png') no-repeat 15px 18px #252829 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: #778386;
}