/*
(c) FunnelFlux.com
*/
/* 
    Created on : Oct 11, 2016, 6:57:56 AM
    Author     : hferradj
*/

.update-install-icon {
    width: 24px;
    height: 24px;
    
    opacity: 0.5;
    filter:alpha(opacity=50);    
}

.update-install-icon:hover {
    opacity: 1;
    filter:alpha(opacity=100);
}