table.dataTable tr td:nth-child(1):not(.group-item-expander), table.dataTable tr th:nth-child(1) {
    padding: 12px 0px 30px 30px !important;
}

.dataTables_length {
    top: 29px;
}

.ion-ios-compose-outline, .ion-ios-folder-outline, .ion-ios-flame-outline, .ion-ios-copy-outline, .ion-trash-b {
    margin: 0 0 0 0;
}

.chosen-container-multi .chosen-choices li.search-choice.custom {
    color: white;
}

#table-stored-link_filter {
    margin-top: 24px;
}

[class*="column"] + [class*="column"]:last-child {
    float: right;
}

.stats-button {
    float: right;
    height: 32px;
}

div.dataTables_filter input {
    height: 32px;
}

.button {
    font-size: 11px;

}