
body {
    font-family: 'Lato', serif!important;

}
.circle_block_1{
    background:rgba(150,0,0,0.08);
    border: 2px solid rgba(150,0,0,0.1);
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;
}

.berries{
    float:right;
    margin-top:-50px

}
.berries img{
    width:170px;
}

a.deco-none {
    color:#fff !important;
    text-decoration:none;

}

.bg-menu:hover {
    background-color:#0079C1;
    color:#FFFFFF;
}

.clickable {
    cursor:pointer;
}

.old_price{
    font-size:20px;
    text-decoration: line-through;
    margin:0 auto;
}
.new_price{

    font-weight:bold;
    font-size:32px;
    margin:0 auto;
}
.rabat{
    color:red;
    font-weight:bold;
    font-size:32px;

}

.block_1{
    font-size:16px;
}
.block_2{
    margin-top:50px;
    font-size:18px;
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;
}
.przypis{
    padding-top:20px;
    font-size:14px;
    font-style:italic;

}

.block_2 .row{
    margin-right:0px;
    margin-left:0px;
}
.block_3{
    background:rgba(200,0,0,0.1);
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;
    padding:20px 30px;
    border: 1px solid rgba(200,0,0,0.2);

}

.block_4{
    background: url('./images/bg-2.jpg') no-repeat top center;
    position: relative;
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.krok{
    font-weight:bold;

}
.text-krok{
    padding-bottom:10px;
}

.name_block_6{
    font-size:16px;
}

.block_8{
    background: url('./images/footer1.jpg') no-repeat top center;
    min-height:480px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.block_8 h2{
    color: #ecdedd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    position: relative;
    line-height: 43px;
}
.upper{
    text-transform: uppercase;
}
.bg_white{
    background:rgba(255,255,255,0.2);
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;
    border: 1px solid rgba(255,255,255,0.4)
}
.star_cena{
    color: #700000;
    font-size: 20px;
    margin-top: 26px;
    text-transform: none;
    width: 336px;
    line-height: 27px;
    font-weight: bold;
}
.new_cena{
    font-size: 30px;
    color: #a7b839;
    line-height: 50px;
    margin-top: 13px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.form_wrap input {
    background: transparent;
    font-size: 18px;
    color: rgba(0,0,0,0.5);
    border: 1px solid #ecdedd;
    width:75%;
    height: 37px;
    margin-bottom: 11px;
    margin-left:0px;
}
.form_wrap select{
    background: transparent;
    font-size: 18px;
    color: #ecdedd;
    border: 1px solid #ecdedd;
width:75%;
    height: 37px;
    margin-bottom: 11px;
    position: relative;


    list-style-type: none;
}
.form_wrap{
    /*background: url('./images/form_wrap.png') no-repeat top center;*/

    height: auto;
    text-transform: uppercase;
    padding-left: 23px;
    padding-top:20px;


}
.green_btn{
    background: url('./images/green-btn-3.png') no-repeat top center;
    width:100%;
    height: 60px;
    font-size: 25px;
    color: #788515;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 11px;
    margin-bottom: 10px;
}

.ac_footer {
    position: relative;
    top: 10px;
    height: 0;
    text-align: center;
    margin-bottom: 70px;
    color: #A12000;
}

.ac_footer a {
    color: #A12000;
}

@media (max-width: 801px) {
    .mobile_hide  {
        display:none;
    }
    .mobile_show  {
        display:block;
    }
    .block_4{
        background: rgba(140,0,0,0.4);
        position: relative;
        -webkit-border-radius:0%;
        -moz-border-radius:0%;
        border-radius:0%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .block_8{
        background: rgba(215,20,20,0.9);
        min-height:480px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

}
@media (min-width: 800px) {

    .mobile_show  {
        display:none;
    }
}

.btn-danger{
    color: #fff;
    background-color: #d9030E !important;
    border-color: #d43f3a
}