.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.lte8 .clearfix{overflow:hidden;zoom:1;}
.clear{clear:both;}
.dib{zoom:1;display:-moz-inline-box;-moz-box-orient:vertical;display:inline-block;_display:inline;*display:inline;vertical-align:top;}
.wrapper{min-height:100%;position:relative;}
.page-wrapper__inner{width:1000px;margin:0 auto;position:relative;height:100%;}
.bx-wrapper{position:relative;margin:0 auto;padding:0;*zoom:1;}
.containerz p{font-size:40px;color:#fff;margin:0;padding:0;}
input[type='text']{width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:10px;color:#fff;height:49px;line-height:normal;line-height:49px\0/;border:0;outline:none;margin-bottom:14px;font-size:18px;border:2px solid #fff;}
input.error{border-color:red;}

p.succes{color:#fff;font-size:24px;padding:20px 10px;line-height:30px;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;-webkit-transition:all 0.3s ease-out;}

.rew-wrapped{position:relative;}
.slide11 .s2-header{padding-top:50px;}
.rew-wrappp{border:2px solid #494949;padding:25px;width:470px;position:absolute;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-bottom:5px;}
.header-date{font-size:18px;font-family:'pf_agora_slab_probold';padding-bottom:24px;}
.rew-wrappp p{padding-bottom:20px;font-size:18px;line-height:1.2em;}
.rew-wrappp.r1{top:43px;left:0;}
.rew-wrappp.r2{top:43px;right:0;}
.rew-wrappp.r3{top:390px;left:0;}
.rew-wrappp.r4{top:390px;right:0;}
.new_pr_valid{color:#fff;font-size:20px;}
.new_pr_valid span{font-weight:700;}
.h-w__inner{color:#fff;}
.hidden-window menu, .hidden-window ol,.hidden-window ul{margin:0;padding:0;}
.cf:before, .cf:after{content:" ";display:table;}
.cf:after{clear:both;}
@-webkit-keyframes thumb{0%{-webkit-transform:scale(1);}
50%{-webkit-transform:scale(0.99);}
100%{-webkit-transform:scale(1);}
}
.js_scrollForm.active{-webkit-animation-name:thumb;-webkit-animation-duration:100ms;-webkit-transform-origin:50% 50%;-webkit-animation-iteration-count:6;-webkit-animation-timing-function:linear;}
.placeholder{color:#b3b3b3;font-size:13px;font-family:'Open Sans', sans-serif;}
:-moz-placeholder{color:#b3b3b3;font-size:13px;font-family:'Open Sans', sans-serif;}
::-webkit-input-placeholder{color:#b3b3b3;font-size:13px;font-family:'Open Sans', sans-serif;}
textarea::-moz-placeholder{color:#b3b3b3;font-size:13px;font-family:'Open Sans', sans-serif;}
textarea::-webkit-input-placeholder{color:#b3b3b3;font-size:13px;font-family:'Open Sans', sans-serif;}
:-ms-input-placeholder{color:#b3b3b3;font-size:13px;font-family:'Open Sans', sans-serif;}
.dib{zoom:1;display:-moz-inline-box;-moz-box-orient:vertical;display:inline-block;_display:inline;*display:inline;vertical-align:top;}
.transitionmyl{-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;-webkit-transition:all 0.5s ease-out;}
.transitionmyl1{-moz-transition:transform 0.5s ease-out;-o-transition:transform 0.5s ease-out;-webkit-transition:transform 0.5s ease-out;}
.containerz{max-width:1024px;position:relative;margin:10px auto;padding:0 15px;}
.hidden-window *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;line-height:1.1;}
.hidden-window{position:static;display:none;top:0;left:0;width:100%;min-height:100%;background:#f6e8df;font-family:'Open Sans';font-family:'Roboto', sans-serif;z-index:99;}
.hidden-window b{font-family:'Roboto', sans-serif;}
.hidden-window select, input, textarea{font-family:"Roboto", sans-serif !important;}
.h-w__header{color:#ffdd2e;font-size:50px;font-weight:700;text-align:center;line-height:140px;}
.totalpriceForm{font-size:22px;color:#000;}
.js_total_price{font-size:28px;font-weight:700;}
.h-w__header span{display:inline-block;*zoom:1;_display:inline;padding-left:77px;}
.dtable{display:table;width:100%;}
.dtable-cell{display:table-cell;vertical-align:middle;}
.dtr{display:table-row;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.w-h__left{margin-right:380px;margin-left:25px;}
.w-h__left .item{position:relative;background:#fff;border:2px solid #958a97;margin:0 4px 16px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:20px 15px;color:#000;min-height:340px;}
.w-h__left .item .zstick{background:url(./zstick.png) 0 0 no-repeat;width:145px;height:145px;position:absolute;z-index:9;top:-10px;left:-27px;}
.w-h__left .item.active{border:6px solid #958a97;margin:0 0px 16px;}
.w-h__left .item.hot{border:6px solid #ff6f05;}
.w-h__left .item .js_changer{position:absolute;width:31px;height:31px;top:120px;left:12px;z-index:9;background:url(./zchek.png) 0 -31px no-repeat;}
.w-h__left .item .js_changer:hover{cursor:pointer;}
.w-h__left .item .js_changer.active{background-position:0 0;}
.w-h__left .item .item__left{text-align:center;margin-right:275px;}
.w-h__left .item .item__left .img-wrapp{position:relative;padding-top:20px;}
.w-h__left .item .item__left .img-wrapp .gift{color:#e70116;font-size:12px;border-radius:3px;position:absolute;top:188px;left:167px;padding:3px;font-weight:700;}
.w-h__left .item .item__left .img-wrapp .gift.th{top:190px;left:180px;}
.w-h__left .item .item__left .zHeader{font-size:34px;font-weight:700;display:none;padding-top:15px;text-transform:none;color:#6fa100;padding-bottom:5px;box-sizing:border-box;}
.w-h__left .item .item__left .zHeader.sm{font-size:28px;}
.w-h__left .item .item__left .zHeader span{border-bottom:1px solid #d5dde9;}
.w-h__left .item .item__left text{font-size:14px;font-family:arial;font-weight:400;}
.w-h__left .item .zDiscount{border-radius:10px;background:#f7eeec;padding:8px;color:#000;margin-top:20px;position:absolute;bottom:20px;right:20px;width:280px;font-size:17px;text-align:center;font-weight:400;}
.w-h__left .item .zDiscount span{color:#e70116;text-transform:uppercase;}
.w-h__left .item .item__right{width:280px;float:right;}
.w-h__left .item .item__right .zHeader{font-size:26px;margin-bottom:40px;color:#6e3538;position:relative;}
.w-h__left .item .item__left .img-wrapp img{max-width:238px;max-height:182px;}
.w-h__left .item .item__right .zHeader .zplus{font-size:14px;text-align:left;padding-left:49px;color:#000;position:relative;top:-10px;font-weight:700;background:url(./zplus1.png) 0 0 no-repeat;padding-left:65px;padding-right:10px;height:43px;line-height:58px;}
.w-h__left .item .item__right .zHeader .zplus.sec{background:url(./zplus2.png) 0 0 no-repeat;}
.w-h__left .item .item__right .zHeader b{font-size:45px;}
.w-h__left .item .item__right .zHeader.sec{font-size:18px;}
.w-h__left .item .item__right .zHeader.sec b{font-size:30px;}
.w-h__left .item .item__right .zPrices{font-size:17px;color:#6f3639;position:relative;}
.w-h__left .item .item__right .zPrices .ellipsDiscount{background:#d80215;color:#fff;position:absolute;top:-43px;right:35px;-moz-transform:rotate(-8deg);-o-transform:rotate(-8deg);-webkit-transform:rotate(-8deg);transform:rotate(-8deg);text-align:center;padding:3px 9px;-webkit-border-radius:46px/22px;-moz-border-radius:46px/22px;border-radius:46px/33px;font-size:12px;}
.w-h__left .item .item__right .zPrices .ellipsDiscount span{font-weight:700;}
.w-h__left .item .item__right .zPrices .fst{font-size:14px;color:#6f3639;width:110px;}
.w-h__left .item .item__right .zPrices .fst .fs17{font-size:17px;}
.w-h__left .item .item__right .zPrices .text-left{text-align:left;padding-left:5px;}
.w-h__left .item .item__right .zPrices .zSep{height:1px;background:#d5dde9;margin:10px 0;}
.w-h__left .item .item__right .zPrices .prtotal{color:#e70116;padding-bottom:10px;}
.w-h__left .item .item__right .zPrices .prtotal b{font-size:27px;}
.padding-top10px{padding-top:10px;}
.old-pricedecoration{position:relative;}
.old-pricedecoration i{position:absolute;top:9px;width:100%;height:2px;background:#e70116;transform:rotate(-28deg);}
.old-pr-descr{color:#e70116;font-size:12px;line-height:10px !important;}
.w-h__right{float:right;width:333px;}
.w-h__right .printbg{background:url(./printbg.png) 0 0 no-repeat;width:290px;height:83px;margin:25px auto;text-align:center;color:#2181D3;font-size:30px;text-transform:uppercase;font-weight:700;line-height:83px;-moz-transform:rotate(-8deg);-o-transform:rotate(-8deg);-webkit-transform:rotate(-8deg);transform:rotate(-8deg);padding-left: 30px;}
.w-h__right .printbg span{color:#2181d3;}
.w-h__right .zGarant{background:#fff;border-radius:10px;color:#000;font-size:18px;padding:25px 20px 35px;margin-top:10px;margin-bottom:20px;}
.w-h__right .zGarant .zHeader{color:#6fa100;font-size:24px;text-align:center;font-weight:700;text-transform:uppercase;}
.w-h__right .zGarant li{list-style:none;padding-left:30px;background:url("./zli.png") 0 50% no-repeat;margin-top:25px;}
.w-h__right .zGarant b{font-size:20px;}
.w-h__right form{width:100%;background:#fde33b;background:-moz-linear-gradient(top, #fde33b 0%, #fde03b 14%, #fdd33b 22%, #fdbb3b 38%, #fdbc3b 59%, #fdbc3b 84%, #fdbb3b 100%);background:-webkit-linear-gradient(top, #fde33b 0%,#fde03b 14%,#fdd33b 22%,#fdbb3b 38%,#fdbc3b 59%,#fdbc3b 84%,#fdbb3b 100%);background:linear-gradient(to bottom, #fde33b 0%,#fde03b 14%,#fdd33b 22%,#fdbb3b 38%,#fdbc3b 59%,#fdbc3b 84%,#fdbb3b 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fde33b', endColorstr='#fdbb3b',GradientType=0);padding:28px 30px 14px;}
.w-h__right form .zbtn{width:250px;margin:0 auto;background:#f74d53;background:-moz-linear-gradient(top, #f74d53 0%, #f64d52 14%, #ef454b 38%, #e1373e 59%, #d83035 84%, #d83036 100%);background:-webkit-linear-gradient(top, #f74d53 0%,#f64d52 14%,#ef454b 38%,#e1373e 59%,#d83035 84%,#d83036 100%);background:linear-gradient(to bottom, #f74d53 0%,#f64d52 14%,#ef454b 38%,#e1373e 59%,#d83035 84%,#d83036 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f74d53', endColorstr='#d83036',GradientType=0);margin-top:10px;height:55px;border:1px solid #eb6672;position:relative;color:#fff;font-size:22px;font-weight:700;text-align:center;line-height:55px;text-transform:uppercase;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-shadow:0px 4px 10px 0px rgba(0,0,0,0.45);-moz-box-shadow:0px 4px 10px 0px rgba(0,0,0,0.45);box-shadow:0px 4px 10px 0px rgba(0,0,0,0.45);}
.w-h__right form .zbtn:hover, .w-h__right form .zbtn:active{transform:scale(1.1);-moz-transform:scale(1.1);-webkit-transform:translateZ(0) scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);cursor:pointer;border-top-right-radius:20px;border-bottom-left-radius:20px;}
.w-h__right form .inp{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;background:#fff;border:2px solid #d5dde9;padding:0 15px;color:#000 !important;font-family:'Open Sans';font-size:16px;height:48px;margin:0 auto 10px;display:block;width:100%;}
.w-h__right form textarea{height:auto;resize:none;height:125px;padding:15px;margin-bottom:10px;}
.w-h__right-row1 .zHeader{background-color:#6fa100;padding:15px;color:#fff;text-transform:uppercase;border-radius:10px;font-size:28px;text-align:center;margin-bottom:-15px;position:relative;}
.w-h__right-row1 .zHeader span{font-weight:bold;}
.w-h__right-row1 .zHeader b{font-weight:700;font-size:29px;text-transform:uppercase;}
.w-h__right-row1 .zContent{border-top-left-radius:10px;border-top-right-radius:10px;background:#fff;padding:30px 10px 5px;}
.w-h__right-row1 .zContent .text-right{position:relative;}
.w-h__right-row1 .zContent .text-right i{position:absolute;top:50%;left:0;}
.w-h__right-row1 .dtable{color:#000;font-size:22px;line-height:1;font-weight:700;text-transform:uppercase;margin-bottom:10px;}
.w-h__right-row1 .dtable span{color:#fff;background-color:#7eb263;}
.w-h__right-row1 .text-right{padding-right:18px;width:40%;}
.w-h__right-row1 .text-right img{max-width:100%;}
.formHeader{font-size:20px;text-align:center;padding-bottom:15px;color:#000;text-transform:uppercase;}
.formHeader span{font-weight:bold;text-transform:uppercase;color:#000;display:block;}
.ac_footer{background:#000!important;}
.js_ad_validate.error{border:2px solid red!important;}
.h-headerj{text-align:center;margin-bottom:15px;background:#664f82;background:-moz-linear-gradient(top, #664f82 0%, #5f487c 18%, #4b3f65 57%, #453c5d 84%, #423b5a 100%);background:-webkit-linear-gradient(top, #664f82 0%,#5f487c 18%,#4b3f65 57%,#453c5d 84%,#423b5a 100%);background:linear-gradient(to bottom, #664f82 0%,#5f487c 18%,#4b3f65 57%,#453c5d 84%,#423b5a 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#664f82', endColorstr='#423b5a',GradientType=0);padding:20px 0;}
.h-text{color:#fff;float:right;padding-top:15px;text-align:right;padding-right:10px;font-size:30px;line-height:1}
.h-text span{color:#e63c2e;text-transform:uppercase;font-size:45px;font-weight:bold;}
.choose_prod{padding-top:65px;}
::-webkit-input-placeholder{color:#000;}
::-moz-placeholder{color:#000;}
:-moz-placeholder{color:#000;}
:-ms-input-placeholder{color:#000;}
select{padding-left:10px;background:url("./customselect.png") #fff no-repeat 90% 50% !important;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand{display:none;}
.second-clips-header{text-align:center;    background: #8e3358 url(./bg-page.jpg) no-repeat 50% 0;padding:20px 0;color:#fff;text-transform:uppercase;font-size:30px;}
