﻿@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.out {
    transition: .7s ease-in;
    opacity: 0;
    position: relative;
}

.fade_in {
    opacity: 1;
}

.delay_3 {
    transition: .7s ease-in;
    transition-delay: .3s;
}

.delay_5 {
    transition-delay: .5s;
}

.delay_7 {
    transition-delay: .7s;
}

.delay_9 {
    transition-delay: .9s;
}


.form input[type=submit] {
    border: 1px solid;
    padding: 1.2em;
    border-radius: 94px;
    width: 258px;
    margin-top: 3em;
}

    .form input[type=submit]:hover {
        color: rgba(0, 0, 0, 0.52);
        background: white;
        font-weight: 700;
    }


/*HEADER*/

header ul a:hover {
    background: rgba(0, 0, 0, 0.52);
    color: white;
}

.collapse.in {
    display: block;
    font-size: 1.4em;
    text-transform: none;
}

.modal-content {
    width: 700px;
    margin: auto;
    border: 3px solid #dd7d00;
    box-shadow: 0 0 20px #B68F39;
    padding:30px;
}

.modal-dialog {
    margin:100px auto;
}

