body {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    font-size: 10px;
    line-height: 1;
    text-align: center;
}


/*=============== New styles ================*/

.twentytwenty-handle {
    top: 57%;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 0;
    background: #358482;
}

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
    width: 2px;
    opacity: .2;
    box-shadow: none;
    margin-left: 0;
}

.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before, .twentytwenty-overlay {
    display: none;
}

.opinion .main_container article p {
    line-height: 28px;
}


/*===========================================*/

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    clear: both;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header, footer {
    height: 100%;
}

ul li {
    list-style: none;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
}

input, button, .button {
    border: none;
    background: transparent;
}

input, button:focus, .button {
    outline: none;
}

button, input[type=submit], input[type=button], input[type=search], .button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    text-transform: none;
    font-size: 1.12em;
}

article {
    clear: both;
}


/*RELATIVE*/

.main_container, nav, li, form, .row, section {
    position: relative;
}


/*CONTAINERS*/

.main_container {
    width: 960px;
    margin: auto;
}

header, section {
    min-width: 960px;
}

main {
    min-width: 960px;
    overflow: hidden;
}

.col_2, .col_3, .col_4 {
    display: inline-block;
    vertical-align: top;
}

.col_2 {
    width: 49%;
}

.col_3 {
    width: 32%;
}

.col_4 {
    width: 24%;
}

.row {
    padding: 0;
    display: inline-block;
    width: 100%;
}


/*FLOATS*/

.left_float {
    float: left;
}

.right_float {
    float: right;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.pull_bottom {
    vertical-align: bottom;
}

.left_align {
    text-align: left;
}

input::-webkit-input-placeholder {
    color: #b3514d;
}

input::-moz-placeholder {
    color: #b3514d;
}


/* Firefox 19+ */

input:-moz-placeholder {
    color: #b3514d;
}


/* Firefox 18- */

input:-ms-input-placeholder {
    color: #b3514d;
}


/*timer*/

.clock_cols {
    background: #6b201f;
    padding: 0 8px;
    margin: 0 4px;
    font-size: 30px;
    color: white;
    display: inline-block;
    line-height: 40px;
}

.timer .cl {
    content: ':';
    display: inline-block;
    padding: 0 5px;
    background: none;
    color: #ffcc33;
    line-height: 40px;
    font-size: 30px;
}

.timer_delimiter:nth-child(2):after {
    left: 136px;
}


/*HEADER*/

header {
    background: #992e2d;
    padding: 15px 0;
}

.warning {
    color: white;
    font-size: 2.6em;
}

.warning p {
    font-size: 20px;
    position: relative;
    top: 11px;
}

.warning_ph {
    color: #ffcc33;
    line-height: 15px;
}

.logo {
    position: absolute;
    left: 0;
    top: -15px;
    z-index: 111;
}

#slider {
    position: relative;
}

#slider img {}

.twentytwenty-before {
	/* background: url('../img/back-before.jpg')no-repeat center top; */
    background: url('../img/back-before_2.png')no-repeat center top;
	height: 673px;
	background-size: auto 100%;
	background-color: rgba(76,217,211, 0.3);
}

.hidden {
    visibility: hidden;
}

.twentytwenty-after {
    background: url('../img/back-after.jpg')no-repeat center top;
    height: 673px;
    background-size: auto 100%;
}

.on_slider {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

h1 {
    font-size: 4.4em;
    color: black;
    padding: 15px 36px 15px 14%;
    text-align: right;
}

h2 {
    background: url('../img/back-header.png') no-repeat 84%;
    background-size: 85%;
    color: black;
    text-align: right;
    padding: 35px 34px;
    max-width: 400px;
    position: absolute;
    right: 0;
}

h2 span:nth-child(1) {
    font-size: 4.2rem;
    font-style: italic;
    text-transform: none;
    font-weight: 400;
}

h2 span:nth-child(2) {
    font-size: 3.6rem;
    color: white;
}

h2 span:nth-child(3) {
    font-size: 2.6rem;
    font-style: italic;
    text-transform: none;
    font-weight: 400;
}

h2 span:nth-child(4) {
    color: #ffcc33;
    font-size: 2.8rem;
    text-transform: none;
}

.header-list {
    position: absolute;
    width: 401px;
    padding: 0 50px;
    text-align: left;
}

.header-list li {
    position: relative;
    font-size: 1.6em;
    font-style: italic;
    margin: 30px 0;
    padding: 3px 20px 3px;
    text-transform: none;
    color: white;
    background: url('../img/header-li1.png') no-repeat;
    background-size: 100% 100%;
    width: 233px;
}

.header-list li:before {
    position: absolute;
    content: url('../img/check.png');
    left: -30px;
    top: 50%;
    margin-top: -14px;
}

.product {
    position: absolute;
    right: -9em;
    top: 28em;
}

.offected {
    color: black;
    padding-bottom: 40px;
}

.offected p {
    font-size: 1.8em;
    font-style: italic;
    padding: 0 3em;
    line-height: 35px;
}

.offected h3 {
    font-size: 3.6em;
    font-weight: 700;
    padding: 80px 60px 60px;
}

.offected h3 span {
    color: #d04f45;
}

.button {
    background: rgb(229, 74, 62);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(229, 74, 62, 1) 0%, rgba(184, 55, 44, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(229, 74, 62, 1) 0%, rgba(184, 55, 44, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(229, 74, 62, 1) 0%, rgba(184, 55, 44, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e54a3e', endColorstr='#b8372c', GradientType=0);
    padding: 22px 63px;
    border-radius: 8px;
    color: white;
    font-size: 2.2em;
    font-style: italic;
    text-transform: none;
    font-weight: 600;
    transition: .3s;
}

.button:hover {
    background: white;
    border: 1px solid rgba(184, 55, 44, 1);
    color: rgba(184, 55, 44, 1);
}

.components {
    background: url('../img/components-bg.jpg') no-repeat top center;
    color: black;
    padding: 55px 0;
}

.components .col-sm-4 {
    padding: 30px 10px;
}

.components .img-wrap {
    height: 240px;
}

.components .main_container {
    background: url('../img/components-block.png') no-repeat center 140%;
}

.components h4, .opinion h4, .customers h4 {
    font-size: 3.6em;
    font-weight: 700;
    padding-bottom: 45px;
}

.components h4 span {
    color: white;
}

.components h5, .customers h5 {
    font-size: 1.8em;
    font-weight: 700;
    padding: 23px;
    padding-bottom: 38px;
}

.components article p {
    font-size: 1.4em;
}

#last {
    padding: 0 58px 30px;
    font-size: 2.4rem;
    line-height: 36px;
}

#last span:nth-child(1) {
    color: #139d9a;
}

#last span:nth-child(2) {
    color: #ec4b3e;
}

#last span:nth-child(3) {
    color: white;
}

.opinion {
    background: url('../img/opinion-bg.jpg') no-repeat top center;
    padding: 50px 0;
    color: black;
}

.opinion p {
    font-size: 1.8em;
    line-height: 38px;
    padding: 17px 17px 17px 263px;
    text-align: left;
    font-style: italic;
}

.opinion article p:nth-child(2) {
    color: white;
}

.customers {
    padding: 50px 0;
}

.age {
    color: #974543;
    font-size: 1.8em;
    padding: 10px;
}

.history {
    text-align: justify;
    line-height: 25px;
    font-size: 1.4em;
    padding: 13px;
}

footer {
    background: url('../img/footer-bg.jpg') no-repeat top center;
}

footer form {
    float: right;
    width: 400px;
    padding: 45px 40px;
}

footer form p {
    color: black;
    font-size: 2em;
    line-height: 38px;
    margin: 0 0 25px;
}

footer form p span {
    font-size: 5rem;
    text-transform: uppercase;
}

form input[type=text], select {
    display: block;
    width: 100%;
    padding: 15px;
    background: white;
    border-radius: 5px;
    margin: 0 0 15px;
    font-size: 1.8em;
    color: #b3514d;
    border: 1px solid #A64C49;
    text-align: left;
    height: 52px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

select {
    background: url('../img/sel.png')no-repeat center right #fff;
}

select {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

form .button {
    background: rgb(255, 208, 66);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 208, 66, 1) 0%, rgba(255, 204, 51, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 208, 66, 1) 0%, rgba(255, 204, 51, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 208, 66, 1) 0%, rgba(255, 204, 51, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffd042', endColorstr='#ffcc33', GradientType=0);
    color: black;
    border: 1px solid rgb(255, 208, 66);
}

.prices {
    font-size: 20px;
    line-height: 1.5;
    text-transform: none;
    font-weight: normal;
    text-align: center;
    color: #111;
    margin: 0 0 20px;
}

.new {
    position: absolute;
    top: 143px;
    left: 230px;
    width: 160px;
    text-align: center;
    display: block;
    text-transform: none;
    font-size: 1.8em;
    color: white;
}

.new b {
    display: block;
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 50px;
}

.new b i {
    font-size: 40px;
    font-style: normal;
}

.standart {
    position: absolute;
    top: 155px;
    left: 390px;
    text-align: center;
    color: black;
    font-size: 20px;
    text-transform: none;
    width: 140px;
}

.standart s {
    font-size: 30px;
    display: block;
    font-weight: bold;
}
