
body {
    font-family: 'Lato', serif!important;
    font-size:16px !important;

}
p{
    font-size:16px;
}
h1{
    font-size:36px!important;
    font-weight: bold;
}

.no_padding{
    padding-right:0px !important;
    padding-left:0px !important;
}

.navbar-right{
    text-transform: uppercase;
}

.circle_block_1{
    /*background:rgba(150,0,0,0.08);
    border: 2px solid rgba(150,0,0,0.1);
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;*/
}

.top_block{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfa7b5+0,cebcc6+20,cac2cf+39,cdcdd9+100 */
    background: #bfa7b5; /* Old browsers */
    background: -moz-linear-gradient(top,  #bfa7b5 0%, #cebcc6 20%, #cac2cf 39%, #cdcdd9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #bfa7b5 0%,#cebcc6 20%,#cac2cf 39%,#cdcdd9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #bfa7b5 0%,#cebcc6 20%,#cac2cf 39%,#cdcdd9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfa7b5', endColorstr='#cdcdd9',GradientType=0 ); /* IE6-9 */

}
.block_form{
    background: url('../images/footer.png') !important;
}
.berries{
    float:right;
    margin-top:-50px

}
.berries img{
    width:170px;
}
.s__main form {
    width: 300px;
    float: left;
    display: block;
    position: relative;
    left: 150px;
}
select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow:'';
    -webkit-appearance:none;
    background: url(//st.acstnst.com/content/Black_Mask_PL1/img/arr-down.png) 96% 50% no-repeat rgba(0, 0, 0, 0.3) !important;
}

input[type="text"], .s__main input[type="tel"], select {
    background: rgba(0, 0, 0, 0.3);
    border: 3px solid #fff;
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-family: 'Roboto', arial, sans-serif;
    padding: 0 20px;
    font-size: 18px;
    color: #fff;
    margin: 10px 0 10px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.orderformcdn input[type="text"]::-webkit-input-placeholder {
    color: #fff;
}
.orderformcdn input[type="text"]::-moz-placeholder {
    color: #fff;
}
a.deco-none {
    color:#fff !important;
    text-decoration:none;

}

.bg-menu:hover {
    background-color:#0079C1;
    color:#FFFFFF;
}

.clickable {
    cursor:pointer;
}

.old_price{
    font-size:20px;
    padding-top:20px;
    text-decoration: line-through;
    margin:0 auto;
}
.new_price{
    padding-top:10px;
    font-weight:bold;
    font-size:36px;
    margin:0 auto;
}
.rabat{
    color:red;
    font-weight:bold;
    font-size:32px;

}

.good_offer{
    font-weight:bold;
    font-size:30px;
    padding-bottom:0px;
    margin-bottom:0px;

}


.price{
    padding-top:0px;

}

.block_1{
    font-size:16px;
    background: url('./images/bg-content-1.jpg') repeat center top;
}


.block_2{
    margin-top:50px;
    font-size:18px;
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;
}
.przypis{
    padding-top:20px;
    font-size:14px;
    font-style:italic;

}

.block_2 .row{
    margin-right:0px;
    margin-left:0px;
}
.block_3{
    background:rgba(200,0,0,0.1);
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;
    padding:20px 30px;
    border: 1px solid rgba(200,0,0,0.2);

}

.block_4{
    background: url('./images/bg-2.jpg') no-repeat top center;
    position: relative;
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.krok{
    font-weight:bold;

}
.text-krok{
    padding-bottom:10px;
}

.name_block_6{
    font-size:16px;
}

.block_8{
    background: url('./images/footer1.jpg') no-repeat top center;
    min-height:480px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.block_8 h2{
    color: #ecdedd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    position: relative;
    line-height: 43px;
}
.upper{
    text-transform: uppercase;
}
.item .name{
    font-size:20px;
    font-weight:bold;
    text-align: center;

}
.item.description{
    font-size:18px;

    text-align: center;
}

.bg_white{
    background:rgba(255,255,255,0.2);
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;
    border: 1px solid rgba(255,255,255,0.4)
}
.star_cena{
    color: #700000;
    font-size: 20px;
    margin-top: 26px;
    text-transform: none;
    width: 336px;
    line-height: 27px;
    font-weight: bold;
}
.new_cena{
    font-size: 30px;
    color: #a7b839;
    line-height: 50px;
    margin-top: 13px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.form_wrap input {
    background: transparent;
    font-size: 18px;
    color: rgba(0,0,0,0.5);
    border: 1px solid #ecdedd;
    width:75%;
    height: 37px;
    margin-bottom: 11px;
    margin-left:0px;
}
.form_wrap select{
    background: transparent;
    font-size: 18px;
    color: #ecdedd;
    border: 1px solid #ecdedd;
    width:75%;
    height: 37px;
    margin-bottom: 11px;
    position: relative;


    list-style-type: none;
}
.form_wrap {
    /*background: url('./images/form_wrap.png') no-repeat top center;*/

    height: auto;
    text-transform: uppercase;
    padding-left: 23px;
    padding-top: 20px;

}

.img_part_2{
    margin-top:40px;
    height:130px;
}

.button {
    width: 80%;
    height: 68px;
    line-height: 68px;
    display: block;
    font-family: 'Roboto', arial, sans-serif;
    text-align: center;
    font-size: 30px !important;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 20px;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.button:hover {
    transform: scale(1.1);
    text-decoration: none;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.button.green {
    background: #9AD43D;
    color: #fff !important;
    margin: auto;
}

.button.green:hover {
    background: #90C639;
}


.button.white {
    background: #fff;
    color: #FF4B4B;
    top:10px;
    position: relative;
    left:0px;
}
.s__main{
    overflow-x: hidden;
}
.button.white:hover {
    background: #FF4B4B;
    color: #fff;
}



.ac_footer {
    position: relative;
    top: 10px;
    height: 0;
    text-align: center;
    margin-bottom: 70px;
    color: #A12000;
}

.ac_footer a {
    color: #A12000;
}



.btn-danger{
    color: #fff;
    background-color: #d9030E !important;
    border-color: #d43f3a
}
.price-old--top{
    width: 33%;
}
.price-old--top{
    position: relative;

    color: #8b8b8b;
}
.price-new--top{
    color: #aed304;
}
.price-old--top,.price-new--top{
    display: inline-block;

    vertical-align: top;
}
.price-text--top{
    font-size: 12px;
    line-height: 18px;
    font-family: "RobotoRegularItalic", sans-serif;
    text-align: center;
}
.price-text--top{
    letter-spacing: -1px;
}
.price-x--top{
    margin: 10px 0 0 0;
    font-size: 30px;
    line-height: 28px;
    font-family: "RobotoBoldItalic", sans-serif;
    letter-spacing: -1px;
    text-align: center;
}
.section1-right-wrap{
    margin-bottom: 30px;
    padding-top: 25px;
    background: #323437;
    border: 2px solid #fed203;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.section1-right{
    float: none;

    margin-right: auto;
    margin-left: auto;
    margin-top: 10px !important;
}
.price-old--top:after{
    content: " ";
    position: absolute;
    bottom: -2px;
    left: 60px;
    width: 60px;
    height: 33px;
    background: url('./images/price-old.png') no-repeat 0 0;
}

.total-price {
    font-size: 28px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}

.purple_line{
    border-color: rgba(191,167,181,0.8);
    margin-bottom:0px;

}

.submit-form {
    width: 100%;
    margin-top: 5px;
    padding: 18px 0;
    font-size: 27px;
    line-height: 27px;
    font-family: "PTSansBold", sans-serif;
    color: #343639;
    text-transform: uppercase;
    background: #ffd203;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffd203 0%, #f5ae00 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd203), color-stop(100%, #f5ae00));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffd203 0%, #f5ae00 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffd203 0%, #f5ae00 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffd203 0%, #f5ae00 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffd203 0%, #f5ae00 100%);
    /* W3C */
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd203', endColorstr='#f5ae00', GradientType=0);
    /* IE6-9 */
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.submit-form:hover {
    background: #f5ae00;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f5ae00 0%, #ffd203 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5ae00), color-stop(100%, #ffd203));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5ae00 0%, #ffd203 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5ae00 0%, #ffd203 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5ae00 0%, #ffd203 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f5ae00 0%, #ffd203 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5ae00', endColorstr='#ffd203', GradientType=0);
    /* IE6-9 */
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.nav-container {
    background: #323437 !important;
}
.nav-container .container .navbar{
    background: #323437 !important;
}
.navbar{
    margin-bottom:0px!important;
    border: 0px !important;
}

.nav.navbar.navbar-default{
    border: 0px !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color:#fff!important;
    background-color: transparent;
}
.product-big_title{


    font-size: 20px;
    line-height: 28px;
    font-family: "RobotoBoldItalic", sans-serif;
    color: #ffd303;
    text-transform: uppercase;
}
.product-big_sale {
    position: absolute;

    top: -30px;
    right:2px;
    z-index: 4;
    width: 111px;
    height: 111px;
    padding-top: 28px;
    font-size: 11px;
    line-height: 22px;
    font-family: "RobotoBoldItalic", sans-serif;
    text-align: center;
    color: #323437;
    text-transform: uppercase;
    background: url('./images/bg-sale.png') no-repeat 0 0;
}

.product-big_sale > span {
    display: block;
    font-size: 34px;
    font-family: "RobotoBold", sans-serif;
    font-style: italic;
}
.block_21{
    padding-top: 10px;
    background: url('./images/bg-section3.jpg') repeat center top;
}

.symptoms_text {
    min-height: 43px;
    margin-bottom: 12px;
    padding-top: 3px;
    padding-left: 60px;
    font-size: 23px;
    line-height: 35px;
    color: #ffffff;
    background: url('./images/smile-img.png') no-repeat left center;
}
.symptoms{
    list-style-type: none ;
}

.opis{
    border-radius:10px;
    border: 1px solid #000;
    min-height:300px;
    padding:10px;
    background:rgba(255,255,255,1);
}

.img-circle {
    border-radius: 50%;
    width:140px;
    height:140px;
    margin-top:60px;
    margin-bottom:20px;
}


.opinie_name{

    font-weight:bold;
    margin:10px;
}



.opinie{
    background: url(../images/form.jpg);
    min-height:450px;
}

.opinie_opis{

    font-weight:normal;
    margin:10px;
}

.opis .adnotacja{
    margin:10px;
}

.last_panel{

    background: url('./images/bg-section12.jpg') repeat center top;
}

.bold{
    font-weight:bold;
}
.form-wrap {
    position: relative;
    padding: 18px 0 18px 25px;
    background: #323437;
    border: 2px solid #ffd200;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}



.form-top {
    padding: 10px;
}

.form-main {
    position: relative;
}



.label-form {
    padding-left: 10px;
    font-size: 15px;
    line-height: 16px;
    color: #ffffff;
}
.adnotacja{
    font-size:12px;


}
.block_22{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6ccb5+8,f4ddca+34,f6e2cf+99 */
    background: #e6ccb5; /* Old browsers */
    background: -moz-linear-gradient(top,  #e6ccb5 8%, #f4ddca 34%, #f6e2cf 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e6ccb5 8%,#f4ddca 34%,#f6e2cf 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e6ccb5 8%,#f4ddca 34%,#f6e2cf 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ccb5', endColorstr='#f6e2cf',GradientType=0 ); /* IE6-9 */

}

.input-form {
    width: 100%;
    height: 30px;
    margin: 5px 0;
    padding: 0 10px 0 10px;
    font-size: 15px;
    line-height: 16px;
    font-family: "RobotoRegular", sans-serif;
    color: #8b8b8b;
    background-color: #ffffff;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url('./images/sel2.png') 95% center no-repeat;
}



.price-old, .price-new {
    display: inline-block;
    vertical-align: top;
}
.price-old2 {
    display: inline-block;
    vertical-align: top;
}

.price-old {
    position: relative;

    color: #8b8b8b;
}
.price-old2 {
    position: relative;

    color: #8b8b8b;
}

.price-old:after {
    content: " ";
    position: absolute;
    bottom: 7px;
    left: 44px;
    width: 60px;
    height: 33px;
    background: url('./images/price-old.png') no-repeat 0 0;
}
.price-old2:after {
    content: " ";
    position: absolute;
    bottom: 15px;
    left: 25px;
    width: 60px;
    height: 33px;
    background: url('./images/price-old.png') no-repeat 0 0;
}

.price-new {
    color: #aed304;
}

.price-text {
    font-size: 20px;
    line-height: 21px;
    font-family: "RobotoRegularItalic", sans-serif;
}

.price-x {
    font-size: 40px;
    line-height: 48px;
    font-family: "RobotoBoldItalic", sans-serif;
    letter-spacing: -1px;
    text-align: left;
}

.currency-small {
    font-size: 25px;
}
.form_left--sh {
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
}

.form_left--sh-bottom {
    font-size: 16px;
    line-height: 18px;
    font-family: "RobotoRegularItalic", sans-serif;
    color: #ffffff;
}

.form_left--sh-top {
    position: absolute;
    top: -6px;
    left: 340px;
    display: none;
    width: 77px;
    height: 77px;
    padding-top: 16px;
    font-size: 22px;
    line-height: 24px;
    font-family: "RobotoBold", sans-serif;
    text-align: center;
    color: #323437;
    text-transform: uppercase;
    font-style: italic;

}

.form_left--sh-top > span {
    font-size: 14px;
}
.form_left--title {
    font-size: 20px;
    line-height: 28px;
    font-family: "RobotoBoldItalic", sans-serif;
    color: #ffd303;
    text-transform: uppercase;
}

.form_left--sale {
    position: absolute;
    top: -48px;
    left: 265px;
    width: 134px;
    height: 134px;
    padding-top: 32px;
    font-size: 14px;
    line-height: 27px;
    font-family: "RobotoBoldItalic", sans-serif;
    text-align: center;
    color: #323437;
    text-transform: uppercase;
    background: url('./images/bg-sale.png') no-repeat 0 0;
    background-size: 134px;
}

.form_left--sale > span {
    display: block;
    font-size: 40px;
    font-family: "RobotoBold", sans-serif;
    font-style: italic;
}

@media (max-width: 800px) {


    .button {
        width: 80%;
        height: 20%;
        line-height: 68px;
        display: block;
        font-family: 'Roboto', arial, sans-serif;
        text-align: center;
        font-size: 30px !important;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        border-bottom: 3px solid rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        border-radius: 2px;
        margin-top: 20px;
        -moz-transition: ease-out 0.5s;
        -o-transition: ease-out 0.5s;
        transition: ease-out 0.5s;
    }
    .center_right{
        text-align: center;
    }
    .center_left{
        text-align: center;
    }


    .mobile_hide  {
        display:none;
    }
    .mobile_show  {
        display:block;
    }

    .form-wrap:before {
        content: " ";



    }
    .text_on_text{
        text-align: right;
        margin-top:0px;left:0px
    }

}
@media (min-width: 801px) {
.max_700{
    max-width:700px;
}

    .center_right{
        text-align: right;
    }
    .center_left{
        text-align: left;
    }

    .mobile_show  {
        display:none;
    }
    .text_on_text{
        text-align: right;margin-top:-80px;left:-30px
    }
}
